[2019-10-11 08:52] ibc commented on #82
`mediasoup@0.8.0`?

Sorry, no support for that super old version.

[2019-10-11 09:03] funnywwh commented on #82
my version is 3

[2019-10-11 09:04] ibc commented on #82
I'm afraid it's `mediasoup@0.8.0` as clearly shown  in the log above. Please check that.

[2019-10-11 09:06] funnywwh commented on #82
root@winger:~/mediasoup/mediasoup-demo/server# npm i --save mediasoup

sh: 1: node: Permission denied

make: Entering directory '/root/mediasoup/mediasoup-demo/server/node_modules/mediasoup/worker'
/usr/bin/python2 ./scripts/configure.py -R mediasoup-worker
['-R', 'mediasoup-worker', '/root/mediasoup/mediasoup-demo/server/node_modules/mediasoup/worker/mediasoup-worker.gyp', '--depth=.', '-f', 'mak

[2019-10-11 09:09] ibc commented on #82
We wrote documentation for something: https://mediasoup.org/documentation/v3/mediasoup/installation/#linux-osx-and-any-nix-system

[2019-10-15 16:15] ibc opened #335 "Chrome does not honor all NACK requests"
### Scenario

- Latest Chrome or Canary sending simulcast VP8 video launched via terminal with WebRTC logs enabled.
- Upload packet lost: 5%
- Chrome as video consumer.

In mediasoup lots of logs as follows:

[code]

In sender Chrome (WebRTC logs):

[code]

If `MID` RTP header extension is NOT negotiated then the issue does not happen. Well, there are some "max retries" logs in mediasoup, but send

[2019-10-15 17:20] ibc commented on #335
So it seems that recent versions of Chrome do not send the MID extension for all packets but just for the initial ones. However, all RTX packets include the MID header while, as told in the libwebrtc issue by a libwebrtc folk, it's expected that they should not have it, so here the buffer allocation issue:

https://bugs.chromium.org/p/webrtc/issues/detail?id=11031#c5

[2019-10-16 08:47] ibc commented on #335
libwebrtc will fix the issue. In the meanwhile we can avoid it by sending Receiver Reports for RTX. WIP in [rtx-stream](https://github.com/versatica/mediasoup/tree/rtx-stream) branch (mostly working).

[2019-10-16 10:54] ibc commented on #335
Branch merged in devel, so fixed. Will eventually merged to v3 when devel is ready (so we'll close this issue).

[2019-10-17 01:59] ambyjkl opened #336 "Direct C++ API"
## Feature Request
Rather than having to configure the server through Node.js, it would be nice to have a direct C++ API to do the same. That way users can avoid pulling in Node.js as a dependency if they don't want to.

Perhaps the first step towards this would be to pull in the npm dependencies into the C++ layer if possible. I guess in the long term, having everthing implemented in C++ would be

[2019-10-17 09:07] ibc commented on #336
This is not gonna happen (at least in the short and medium term) as it would mean LOT of work for us. The `mediasoup/lib` folder has lot of JavaScript code that is required to make mediasoup work, manage C++ worker subprocesses, properly negotiate media codecs and RTCP, etc. The JS layer of mediasoup is much more than just an “API” to manage the C++ subprocesses.

I will close this issue since I w

[2019-10-17 09:07] #336 closed, assigned to nobody

[2019-10-17 09:07] ambyjkl commented on #336
Oh I see. I went merely by the 90.7% C++ on the repo, but 8.7% JS is indeed a lot must agree; it definitely is an incredible amount of work. This is definitely more of a stretch goal imho, maybe something for v5, but something I would definitely love see happen. Maybe if I have time to spare I can be a part of it :)

[2019-10-17 18:10] ibc commented on #333
Definitely no way to reproduce the crash in our test environment.

[2019-10-17 22:23] ibc commented on #333
"Good" news. I can reproduce the error 100% of times in our test environment in Linux (using the mediasoup-demo app by connecting 4 peers with `&forceTcp=true`). After a few seconds it crashes.

We'll be able to handle this hopefully...

[2019-10-17 23:16] ibc commented on #333
OK, super confirmed that the calling `onDone()` is causing a crash in `handles/TcpConnection.cpp` here:

[code]

By removing those `onDone()` calls, it does not crash for me. **However**, mediasoup v3 branch does NOT have those `onDone()` so this is just a separate problem.

[2019-10-18 13:10] ibc commented on #333
Ok, so the error above just happens when using `uv_udp_try_send()` or `uv_tcp_try_write()`, obviously due to a bad usage of the `onSend` lamdba.

[2019-10-18 13:34] ibc commented on #333
And here the thing:

[code]

=>

[code]

The address of `onSend` does NOT match!

[2019-10-18 13:38] ibc commented on #333
Hoever this looks better! (note the `const` everywhere):

[code]

[2019-10-18 15:13] ibc commented on #333
"ondone-crash" branch reproducing the issue has been pushed:

https://github.com/versatica/mediasoup/commit/703ad0c55a3ddd0813bc59aa66e91e8e0dc478cf

[2019-10-18 15:39] ibc commented on #333
So @jmillan, we should assume that we cannot create a `std::function` in local scope, pass it by reference to other functions (this is ok since now it's a `const`) and then store its pointer in a struct and call it time later. I mean, the lambda function keeps the scope in which it was created, ok, however the problem here is the scope of the lambda function itself!

So, what about if we use a `un

[2019-10-19 00:23] ibc commented on #333
Good news. This is done and tested in #337 (merged into "devel"). @jmillan please take a look to it. Note that sometimes we invoke `onDone(false)` in XxxxxTransport so we must  `delete onDone` there. Definitely it would be better with a unique pointer.

Also, by forcing `TcpConnection` to use `uv_tcp_write()` (by commenting the call to `uv_tcp_try_write()` I've got this amazing coredump:

[code]

[2019-10-22 09:06] ibc commented on #333
I think the issue could be related to C++ struct alignment. A new [tcp-crash-wip](https://github.com/versatica/mediasoup/tree/tcp-crash-wip) branch has been created with a different approach (use `new` instead of `malloc()`). Let's see.

[2019-10-23 01:24] ibc commented on #333
@jmillan, as you can see in the latest [coredump](https://mediasoup.discourse.group/t/error-worker-worker-process-died-unexpectedly/268/84?u=ibc) (which uses the [tcp-crash-wip](https://github.com/versatica/mediasoup/tree/tcp-crash-wip) branch so there is no `std::malloc()` in `TcpConnection.cpp`):

[code]

It happens in [malloc.c](https://fossies.org/linux/glibc/malloc/malloc.c). And here some li

[2019-10-23 05:19] mkhahani commented on #333
Users can check their bandwidth usage via the app which is fetched by calling `getStats()` over the transport in the server side. `getStats()` can also be invoked by developer over producer/consumer manually via the browser console. So there is no regular call for `getStats()` and I've never used `dump()`.

[2019-10-23 07:37] jmillan commented on #333
@mkhahani,

Having reached this point I think running mediasoup under [valgrind](http://valgrind.org/) will be really meaningful.

You just need to  install `valgrind` and tell mediasoup to use it. This is how to:

* Use [tcp-crash-wip](https://github.com/versatica/mediasoup/tree/tcp-crash-wip) branch, the same you are using now.
* Start mediasoup with this environment variables:

[code]

Once the

[2019-10-23 10:38] ibc commented on #333
Running the demo in Docker in local with valgrind, using two peers with TCP (`uv_try_xxx` enabled):

[code]

[code]

[2019-10-23 11:27] ibc commented on #333
Ok, have run mediasoup-demo with the "tcp-crash-wip" branch in Docker with valgrind. TCP and UDP peers with `DISABLE_UV_TRY` defined. Full valgrind log:

<details>

[code]

</details>

[2019-10-23 14:17] mkhahani commented on #333
Regarding valgrind is there any overhead concerns?

mediasoup is started by the app, so is this enough to set the environment variables before running the app?

[2019-10-23 14:59] ibc commented on #333
Yes, It adds some overhead. Not sure how much.

Yes, just set those envs before running the app (ensure you do git pull and make before).

[2019-10-23 20:24] ibc commented on #333
Got mediasoup + valgrind working in OSX Mojave:

[code]

Then in the mediasoup-demo `server/` folder:

[code]

Here the output (same scenario as above in Linux):

<details>

[code]

</details>

[2019-10-24 05:19] mkhahani commented on #333
valgrind is setup and running.

[2019-10-24 12:36] ibc commented on #333
Thanks. You updated the `tcp-crash-wip` branch before, right?

[2019-10-24 15:00] mkhahani commented on #333
Yes I did update and make.

[2019-10-24 15:02] ibc commented on #333
Ok, you should see a `mediasoup_valgrind_xxxxxxx.log` file in `/tmp`. Just attach it here (and also the coredump) when it crashes. And hopefully it won't crash with the latest commit in that branch.

[2019-10-24 18:55] mkhahani commented on #333
I hope so.

[2019-10-25 10:13] jmillan commented on #328
Looks really promising @micaelgallego, thanks for your efforts!

[2019-10-25 10:15] jmillan commented on #328
Anything we can do to help with this please let us know.

[2019-10-25 13:53] ibc commented on #333
No crashes yet?

[2019-10-25 14:46] ibc commented on #333
Ok. If it does not crash in a week, report here and then re-run without valgrind, please.

[2019-10-25 22:09] micaelgallego commented on #328
I'm sorry but right now I'm very busy with other stuff to dedicate time to push it forward.

You can pick the code from my repository and put it on your repository. It is possible that you found small type issues when you start using typings definitions, but I think that it is mostly finished.

[2019-10-27 02:56] mkhahani commented on #333
There is a new core dump but no valgrind log in `/tmp`. 😟

[2019-10-27 06:37] jmillan commented on #333
The valgrind output file is defined in the `MEDIASOUP_VALGRIND_OPTIONS` env variable we indicated. What value did you set there?

[2019-10-27 07:37] mkhahani commented on #333
I used exactly the same values you mentioned and even tested and made sure they are available in my app. I can try again but I think some thing is missing.

[2019-10-27 14:22] ibc commented on #333
To be perfectly clear, you should see the `mediasoup_valgrind_xxxxxxx.log` file **immediately** after you run mediasoup with valgrind, and not just after it crashes.

AFAIR you use `pm2`. I don't know how it can affect. Probably you must set the `MEDIASOUP_XXXXX` envs within the `env` object of `ecosystem.config.js` (pm2 settings). So, please add them as follows into that file:

[code]

and then r

[2019-10-27 14:27] ibc commented on #328
Don't worry, @micaelgallego. You did already a super valuable work. We'll come to TS soon starting with your code and will add you to [Acknowledgements](https://mediasoup.org/about/#acknowledgements) when done :)

[2019-10-27 15:27] micaelgallego commented on #328
Thank you @ibc, I promise I will back when I have a bit more time to contribute to amazing Mediasoup project

[2019-10-27 15:54] mkhahani commented on #333
Good point, I'll try again.

[2019-10-27 22:12] ibc commented on #103
Ok, let's close this "issue". A `TODO` has been added in the related code.

[2019-10-27 22:12] #103 closed

[2019-10-29 03:44] mkhahani commented on #333
I figured out that using `pm2 stop/start process` does not update the environment variables but `pm2 delete process` and starting the process again does. So using `export` in the terminal is enough.

However after running the app, although the valgrind log is created but I'm getting the following error:
[code]
I tried with and without `MEDIASOUP_VALGRIND_BIN` export with no luck. OTOH running `val

[2019-10-29 13:16] ibc commented on #328
Mostly done in the [typescript](https://github.com/versatica/mediasoup/tree/typescript) branch.

Just wondering if the mediasoup package should also `export` those TS interfaces via API. For instance, `transport.produce()` require a [ProducerOptions](https://mediasoup.org/documentation/v3/mediasoup/api/#ProducerOptions) object as documented in the API. Should mediasoup also export the [ProducerOpt

[2019-10-29 13:26] micaelgallego commented on #328
Yes... you should export interfaces because app developers will use them in their own code.

Client apps implemented in TypeScript will need such interface to define local variables with it. Client apps implemented with JavaScript will take advantage of JavaScript support in VSCode that uses typings from libraries to help developers during development.

Using export is the way to go for exporting

[2019-10-29 13:43] ibc commented on #328
Thanks. What I understand is that JS app developers do not need anything else since they cannot created typed variables (and VSCode will already verify function arguments when using the mediasoup API since mediasoup does provide type definitions), so this is just about TS app developers, am I right?

And if so, is it enough my solution above? Or should mediasoup export a specific 'types' object wi

[2019-10-29 13:46] ibc commented on #328
To clarify:

Is it ok?

[code]

or better do this?

[code]

[2019-10-29 14:32] CodingDive commented on #328
I like top level exports the most but I also like your second example
of destructering from dedicated mediaSoupTypes. Both abstract the
folder dictionary of mediasoup.

import { ProducerOptions } from 'mediasoup';

On Tue, Oct 29, 2019, 14:46 Iñaki Baz Castillo <notifications@github.com>
wrote:

[2019-10-29 16:16] micaelgallego commented on #328
I like more
[code]
because it is like other TypeScript libraries do. For example, in Angular is usual to see imports like this:
[code]

[2019-10-29 16:34] ibc commented on #328
Thanks guys. Finally we'll go for:

[code]

because:

* This way we don't have to collect and export anything else in the code.
* For pure JS apps it makes no sense that a dependency exports "TypeScript objects".

We'll add the exact `import` path for each interface in the API documentation of the mediasoup website, within each already existing `Dictionary` and `Enum`.

:)

[2019-10-29 16:39] ibc commented on #328
So this is done and merged into "devel" branch. We'd may expose some other interfaces in the next days (such as those in the [TypeScript work](https://github.com/micaelgallego/mediasoup-app/blob/master/customTypings/mediasoup.d.ts) of @micaelgallego), but we'll directly work on "devel" branch.

[2019-10-29 16:57] micaelgallego commented on #328
Cool!! Feel free to use my sample application in https://github.com/micaelgallego/mediasoup-app to show how a mediasoup application can be implemented in TypeScript.

[2019-10-29 17:43] ibc opened #339 "Issue in "devel" branch due to @dr.amaton/run-script-os dep"
Reported in the corresponding project:

* https://github.com/kawatzaki/dr.amaton-run-script-os/issues/1

We need this issue fixed (or a workaround) before we can merge mediasoup "devel" branch into "v3".

[2019-10-29 19:46] ibc opened #340 "Consider new npm-scripts.js usage"
In "devel" branch there is now a `npm-scripts.js` Node script to manage "scripts" in `package.json` in a more friendly way. It also replaces the `worker/win-tasks.js`.

@haiyangwu may you please take a look to it and let me know you think about it? Thanks a lot.

[2019-10-29 19:48] ibc commented on #333
The same happens to me in OSX because `valgrind` is at `/usr/local/bin` instead of `/usr/bin`.

Have you tried with `export MEDIASOUP_VALGRIND_BIN=/usr/local/bin/valgrind`?

[2019-10-29 20:06] ibc commented on #328
I'm using mediasoup v3 "devel" branch (with TypeScript definitions) in an already TS app and, even with VS Code, I don't see the TS types when doing "hover" or "click" into a mediasoup method or when typing method parameters.

My app `tsconfig.json` is as follows:

[code]

According to the [compilerOptions "types" field doc](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html#types-typ

[2019-10-29 21:14] ibc commented on #340
BTW @haiyangwyu, is this necessary (in `win-tasks.js` or in my `npm-tasks.js` that replaces it)?

[code]

Note that this script is executed via `npm run` so NPM puts `./node_modules/.bin` into the `PATH`. So why do we need to reference those binaries in `./node_modules/.bin`?

[2019-10-29 22:14] micaelgallego commented on #328
Well... frankly I'm not know all details, but it depends how you "link" your app with the library.

If you have all the code in the same project, all is working. But if you have TS code in two projects, then you should "link" them without using "types" in your tsconfig.json.

For example, we have OpenVidu-browser library implemented in TS and some tutorials also in TS using it. Take a look to sour

[2019-10-29 22:49] ibc commented on #328
From what I see, the library must indicate a "types" field in its `package.json` that must point to a `index.d.ts` which references all the exposed TS types.

I'm terribly lost here. I've tried `"types": "build/index.d.ts"` and it does not work.

[2019-10-29 22:59] micaelgallego commented on #328
If mediasoup is implemented in TS, that it is not needed (I think).

If mediasoup is implemented in JS, I think you need that.

[2019-10-29 23:05] ibc commented on #339
Fixed by using `"postinstall": "run-script-os --no-arguments"`.

[2019-10-29 23:05] #339 closed, assigned to nobody

[2019-10-29 23:15] ibc commented on #328
I'm using mediasoup "devel" which is entirely written in TS.

* `*.ts` files are is in [lib](https://github.com/versatica/mediasoup/tree/devel/lib) folder.
* Compiled `*.js` files are placed in [build](https://github.com/versatica/mediasoup/tree/devel/build) folder.
* The `build` folder also contains `*.d.ts` declarations and `*.d.ts.map` files.
* [package.json](https://github.com/versatica/medias

[2019-10-29 23:26] micaelgallego commented on #328
Maybe your import have to be different.

Please take a look how the [import in my sample](https://github.com/micaelgallego/mediasoup-app/blob/master/server.ts#L9) app is

[code]

[2019-10-29 23:39] ibc commented on #328
I cannot import `Worker`, `Router`, etc from 'mediasoup'  since the main file of mediasoup does not export them, but factory methods:

* `mediasoup.createWorker(settings: WorkerSettings): Promise<Worker>`
* `worker.createRouter(options: RouterOptions): Promise<Router>`
* etc etc

The problem is that I do not even get definitions for `mediasoup.createWorker()`.

I've read https://www.typescriptlang

[2019-10-29 23:49] micaelgallego commented on #328
As we can see in our [openvidu-browser package.json](https://github.com/OpenVidu/openvidu/blob/master/openvidu-browser/package.json#L41),

To build openvidu-browser library we use this command:

[code]

and our [index.ts](https://github.com/OpenVidu/openvidu/blob/master/openvidu-browser/src/index.ts) file basically exports all we want to be accessible from apps:

[code]
As I see in your [index.ts

[2019-10-30 00:02] ibc commented on #328
I don't understand. My `index.ts` file does export things. For example, it exports [createWorker()](https://github.com/versatica/mediasoup/blob/devel/lib/index.ts#L31).

And `createWorker()` returns a `Promise<Worker>`, and `Worker` is imported in `index.ts`, and so on. However, I'm not even talking about `Worker` but just about `createWorker()` which does obviously exist in `lib/index.ts` and its

[2019-10-30 00:09] micaelgallego commented on #328
I don't know then...

Can you export Worker? As worker is needed to anyone using createWorker, maybe, as Worker is not exported, then createWorker can not be used (I'm just imaging... no idea).

I can ask tomorrow to @pabloFuente, the main OpenVidu developer, to take a look to devel branch in Mediasoup to try to simulate what we do in OpenVidu and find the issue you have...

[2019-10-30 00:11] ibc commented on #328
oppps WAIT!

It's working in the mediasoup-demo project (which is not written in TS):

<img width="1381" alt="Screenshot 2019-10-30 at 1 09 02" src="https://user-images.githubusercontent.com/16191/67818554-f0f11e80-fab1-11e9-80f8-b06fd173a628.png">

And now I see that, in my other project (the one in TS), VS Code shows `mediasoup.Server(any?): any`, which is the mediasoup v2 API !!!?¿?¿ (but that'

[2019-10-30 00:15] micaelgallego commented on #328
Jajajaj... JavaScript tooling in VSCode is looking at the right file. But for some reason, TS project has something wrong... try to export Worker type to see if it helps

[2019-10-30 00:19] ibc commented on #328
No, it does not take **anything** from `build/index.d.ts`.  It's indeed something wrong within the TS  project which, somehow, still assumes the previos mediasoup v2 package (even if `package.json` and `package-lock.json` point to mediasoup v3, and `node_modules/mediasoup` is also v3.

RARE.

[2019-10-30 00:21] ibc commented on #328
OKKOKOKOKOKOKOKO

maybe the presence in the TS project of a file called `src/common/mediasoup.d.ts` (which defines some v2 API) does **NOT** help...................................

[2019-10-30 00:23] micaelgallego commented on #328
What game are you trying to play?? :joy:

[2019-10-30 00:36] ibc commented on #328
I've learnt a lot to make this work since it was impossible to make it work with that file in the code. I'll think about that in the future when I remember these 2-3 hours.

[2019-10-30 01:23] haiyangwu commented on #340
Just a copy of `GULP = ../node_modules/.bin/gulp`  from [Makefile](https://github.com/versatica/mediasoup/blob/v3/worker/Makefile).

 Anyway, use `GULP = process.env.GULP || 'gulp'` seems better.

[2019-10-30 01:34] haiyangwu commented on #340
The new branch [npm-scripts](https://github.com/versatica/mediasoup/tree/npm-scripts) looks clean and simpler. I'll take a deep look at it tonight. 🤓

[2019-10-30 01:45] mkhahani commented on #333
For me it is at `/usr/bin/valgrind` but running `export MEDIASOUP_VALGRIND_BIN=/usr/bin/valgrind` does not help. I tried with and without PM2 and the same error.

[2019-10-30 09:01] ibc commented on #340
Yep, but that's because we want to be able to run `make` within the `worker/` folder without calling any `npm run` script .)

So I'll simplify it, thanks for confirming.

And yes, please, let me know if the *npm-scripts* branch works fine for you in Windows.

[2019-10-30 09:06] ibc commented on #333
May be the problem is that you are launching N workers (more than 1) and all them try to generate the same log file. @jmillan thoughts? How could we create different log files for each mediasoup-worker process?

BTW @mkhahani, as a workaround do not set `--log-file=/tmp/mediasoup_valgrind_`date +%s`.log` into `MEDIASOUP_VALGRIND_OPTIONS`, so it will log to mediasoup stderr among all other mediasou

[2019-10-30 09:07] ibc commented on #340
BTW, even if it works now in `devel` branch with `--no-arguments` in `run-os-scripts`, I'd still want to check how the `nmp-scripts` branch works since I think it's simpler.

[2019-10-30 09:17] ibc commented on #333
NOTE: Now I see this when setting `MEDIASOUP_VALGRIND_BIN`:

[code]

so may be this is wrong (and yes, the log file is generated).

[2019-10-30 10:07] ibc commented on #328
I've having problems trying to export more TS interfaces. For instance, `lib/types.ts` exports many interfaces such as `RtpParameters`. However if I export them directly from `lib/index.ts`, then they they are not visible in VS Code:

* lib/types.ts:

[code]

* lib/index.ts:

[code]

or better:

[code]

Anyway `mediasoup.Foo` is not visible in VS Code... :(

[2019-10-30 13:31] mkhahani commented on #333
It tested on a similar server using 16 workers without any problem! But okay I'll test single worker on my production server tonight.

[2019-10-30 13:37] ibc commented on #328
Ok, so after some modifications and attempts this is how it's gonna work:

* `src` has now TS code.
* `lib` has not compiled JS code (and TS definitions in `.d.ts` files).
* The non public mediasoup API (i.e. the `Worker`, `Router`, etc classes) must be imported by the external app using `import Xxxxx from 'mediasoup/lib/Xxxxx`.

Example:

[code]

I hope it looks good enough.

[2019-10-30 13:45] ibc commented on #328
And it's done in "devel" branch.

[2019-10-30 13:46] ibc commented on #340
BTW I've merged "npm-scripts" branch into "devel" branch, so please better test the "devel" branch in Windows (I've also removed the "npm-scripts" branch). Thanks!

[2019-10-30 13:47] ibc commented on #340
If there is something wrong, please report here. I'll close this issue for now since, in theory, everything should work in "devel" branch in Windows.

[2019-10-30 13:47] #340 closed, assigned to ibc

[2019-10-30 14:54] micaelgallego commented on #328
Have you considered using more "plain" imports?

These imports look a bit ugly IMHO:
[code]

But it is your child and you can do whatever you want ;)

[2019-10-30 15:10] ibc commented on #328
Honestly I don't want to export within the main mediasoup module classes that the user should not use with "new".

I'll add the proper TS type import line in the documentation website in each class and dictionary and enum, isn't that enough?

I really want to separate imports of real API and imports of TS types.

[2019-10-30 15:18] micaelgallego commented on #328
As nothing prevents you from using `new` in Worker regardless how you import it, there is no real protection.

And... as it is very likely you want to declare Worker variable or parameter somewhere, you have to look to documentation for every type you want to use. Or... you can use autoimport features in Visual Studio Code to create such ugly imports.

But if you prefer it, go ahead. Thank you ver

[2019-10-30 15:46] haiyangwu commented on #340
@ibc Yes, the `npm-scripts.js` is better and the "devel" branch worked in Windows.

Use these code below to support `lint:node` in Windows.
[code]

[2019-10-30 16:10] ibc commented on #328
Let's discuss this behind some beers in two weeks.

[2019-10-30 16:14] ibc commented on #340
Thanks, can we use [cross-env](https://www.npmjs.com/package/cross-env) instead (so common code for Unix and Windows)?

[code]

Pushed to "devel" branch BTW, so just test it :)

[2019-10-30 16:16] micaelgallego commented on #328
:beers:

[2019-10-30 16:52] haiyangwu commented on #340
` cross-env` seems a better solution which deals with more scenario. I'll test it and give u feedback ASAP, but tomorrow, I just closed the remote TeamViewer connection with my windows. 🙃

[2019-10-30 17:09] ibc commented on #328
Let's reopen this for a while until everything is super confirmed.

[2019-10-30 21:49] artushin opened #341 "Relax the strict restriction of knowing the packet origin on plain transports"
## Feature Request

Is there a reason to do the compare on https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/PlainRtpTransport.cpp#L605 for plain transports? I would imagine all use cases for plain transports are securely within a private network and having that check forces the user to have to port allocate on both the rtp sender and receiver and then communicate both ports to mediaso

[2019-10-30 23:03] ibc commented on #341
That's not true.

1. You first create the `PlainRtpTransport` in mediasoup server with your desired listen IP.
2. It will get a random port (and optionally also a RTCP port).
3. You read those listening ports via `transport.tuple.localPort` and `transport.rtcpTuple.localPort`.
4. You communicate the IP and port(s) of the mediasoup server transport to your RTP remote endpoint.
5. Then you run the r

[2019-10-30 23:03] #341 closed, assigned to nobody

[2019-10-31 14:36] haiyangwu commented on #340
@ibc Confirmed, `cross-env` works in Windows.

[2019-10-31 14:43] ibc commented on #340
Fantastic. More closer than ever to 3.3.0 with transport-cc support, Windows support and Typescript :)

[2019-10-31 22:47] ibc commented on #328
I hope we can close this now: https://github.com/versatica/mediasoup/commit/85f1a1d62fe77c8d67d098a35db7679ce184a1a6?ts=2

:)

[2019-10-31 22:47] #328 closed, assigned to ibc, jmillan

[2019-11-01 08:23] micaelgallego commented on #328
You rock man!!

[2019-11-02 05:26] mkhahani commented on #333
You were right, by a single worker there is no error. But it's not about log. Even if I do not set `--log-file` it fails for more than one worker. I'm afraid I just can't risk on production by running one worker only.

[2019-11-06 03:26] mkhahani commented on #333
@ibc I don't know much about valgrind. Isn't there a way to get it to work for more than one worker? It crashes almost every day.

[2019-11-06 06:35] ibc commented on #333
Honestly I'm as newbie as you when it comes to Valgrind :(

Well, that's what we need, a crash when Valgrind is running, so we can have both the coredump and the valgrind log. Is it possible?

[2019-11-06 08:27] mkhahani commented on #333
Okay I investigated further and made some tests on valgrind.

First of all, in Linux, valgrind options must be separated by space not `|` otherwise you get `valgrind: Unknown option` error. So the right command would be:
[code]

I also discovered that running valgrind + more than one mediasoup worker is buggy. As you see in the logs, in the second worker constructor, the mediasoup executable has n

[2019-11-06 21:49] ibc commented on #333
Yes, sorry. We changed it in mediasoup "devel" branch and also in the mediasoup-demo, so `MEDIASOUP_VALGRIND_OPTIONS` no longer needs to use `|` but common space to separate options.

I see, however that seems to be a bug in valgrind, am I right?

No. When `MEDIASOUP_USE_VALGRIND` env is set, mediasoup runs **each** mediasoup-worker C++ subprocess with Valgrind, so no need at all for `--trace-chil

[2019-11-07 03:27] mkhahani commented on #333
I don't know. Actually in the second constructor, the valgrind executable has been passed rather than mediasoup so I'm suspicious to mediasoup.

Any where in the `--log-file` pattern:
[code]

So the log filename would be some thing like this:
[code]

[2019-11-07 19:13] ibc commented on #333
Yes, it was a bug in mediasoup. Fixed now in "devel" branch. N workers with valgrind can be created now.

Thanks for the info.

[2019-11-08 02:41] mkhahani commented on #333
I'm still on the "tcp-crash-wip" branch. Should I checkout the "devel" branch for the core dump?

[2019-11-08 02:57] ibc commented on #333
Absolutely. Please use devel branch.

[2019-11-10 15:05] mkhahani commented on #333
Valgrind is very CPU-intensive and I see a noticeable increase in the server load (4x or more for running of 16 workers).

OTOH we've received several feedbacks from our customers complaining about lag in audio specially when they are sharing the screen. I'm not sure if it is about valgrind or latest changes in the devel branch but it has negative impact on our service quality.

And no core dump y

[2019-11-12 03:29] mkhahani commented on #333
Unfortunately I had to disable valgrind 😞. It has BIG overhead and should not be used in production.

[2019-11-12 15:48] ibc commented on #333
Definitely valgrind is not something for running in production, but something to check memory allocation/deallocation issues. The problem here is that we cannot reproduce your issue (neither in OSX nor in Linux). So thanks for the test.

It's unclear to me why you got no crash with valgrind. May be the latest changes in "devel" branch fixed the issue. No idea honestly. Have you got any new crash u

[2019-11-12 17:32] mkhahani commented on #333
Yes I got one today. I can submit if is useful.

I guess it happens under heavy load and perhaps valgrind is preventing mediasoup to act as expected.

As I mentioned before we need a tool for doing stress tests. One idea is to run N number of ffmpeg or gstreamer processes as consumers on the same server that mediasoup is running or other servers to simulate real conditions. What do you think?

[2019-11-12 17:38] ibc commented on #333
Yes please.

I don't think how high load can produce wrong memory allocation/deallocation issues.

Yep, that would be nice.

[2019-11-13 05:36] mkhahani commented on #333
Here's the core dump. I wonder why do I get gdb mismatch warning while I've not updated mediasoup after the crash.
[code]

I'll try to work on it.

[2019-11-13 10:41] ibc commented on #333
Because the binary this time was not `mediasoup-worker` but `valgrind`. Anyway, please tell me that you saved the valgrind log file when the codedump above happened...

[2019-11-13 12:38] mkhahani commented on #333
No way, the core dump has been created one day after I disabled valgrind. And no, there is no valgrind log except those created initially when running mediasoup.

[2019-11-13 16:58] ibc commented on #333
Well, just those must exist, yes.

[2019-11-14 15:33] fuzzit-dev[bot] opened #342 "[FUZZIT] Crash at fuzzing target mediasoup"
A new crash was discovered for fuzzing target mediasoup.
Here is a snippet of the log:
[code]

More details can be found [here](https://app.fuzzit.dev/orgs/versatica-gh/targets/mediasoup/A6IVyNr5nL0LabY0FJ5p)

Cheers,
Fuzzit Bot

[2019-11-14 15:34] ibc commented on #342
Actually this is not a real bug but an artificially generated crash to test how [Fuzzit](https://fuzzit.dev/) behaves :)

See #343

[2019-11-14 15:34] #342 closed, assigned to nobody

[2019-11-14 15:36] ibc opened #343 "Integrate with Fuzzit"
* https://fuzzit.dev/

I already tested it by manually uploading a failing mediasoup fuzzer binary, and here the result: https://github.com/versatica/mediasoup/issues/342

So next step would be automate it via Travis-CI. Must read the docs and so on.

[2019-11-18 11:43] ibc opened #344 "Write our own bandwidth estimator"
**UPDATE: Work in progress**

Instead of depending in libwebrtc and its GCC implementation, we may move to BBR. However, we should then also replace the libwebrtc "probation" logic with our own one.

Spec and docs about BBR:

* [draft-cardwell-iccrg-bbr-congestion-control](https://tools.ietf.org/html/draft-cardwell-iccrg-bbr-congestion-control)
* [BBR: Congestion-Based Congestion Control](https://

[2019-11-18 17:01] EyalSi opened #345 "[Windows] Parent project GUID not found in "mediasoup-worker" project dependency section"
Hi,

I'm getting the following error when trying to compile mediasoup.

- Operating system: Windows 10
- Node version: v10.11.0
- npm version: 6.5.0
- gcc/clang version:
- visual studio: 2017
- mediasoup version: 3.3.2

Installed:
Visual studio 2017 with Windows SDK
trying to execute:
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe" ./worker/mediasoup-wo

[2019-11-18 17:06] ibc commented on #345
@haiyangwu can you help here, please?

[2019-11-18 17:24] ibc opened #346 "New consumer.setPriority() API"
Working on [devel](https://github.com/versatica/mediasoup/tree/devel) branch.

* A new `consumer.setPriority(N)` API is provided for the app to decide which Consumers should be prioritized when distributing available outgoing bitrate.
* `XxxxxConsumer::UseAvailableBitrate()` has been removed. Instead, just `XxxxxConsumer::IncreaseLayer()` is used, by taking into account the priority given by the a

[2019-11-19 00:57] ibc commented on #333
Did you upgrade to 3.3.0? any new crash?

[2019-11-19 01:28] haiyangwu commented on #345
@ibc I'll handle this. @EyalSi According to [this](https://stackoverflow.com/a/37598456/2085408), It seems the project is missing and out the link of `mediasoup-worker.sln`, please use Visual Studio to open the `mediasoup-worker.sln` and take a quick check.

[2019-11-19 05:02] mkhahani commented on #333
Yep, just updated to 3.3.2 today. I'll inform you in case of any crash.

BTW it would be helpful to have the changes of new versions (major versions at least) in the releases page.

[2019-11-19 08:57] ibc opened #347 "[Windows] Support for Visual Studio 2019"
Here a fork of mediasoup adding support for VS 2019. It seems that gyp is not doing it correctly so this fork modified gyp files:

* https://github.com/aoslee/mediasoup/commit/1fa405557fec87296f6bd28f4a10f1e9940b2118

Does it make sense? If so, we should send a PR to gyp project in Google Source Code:

* https://bugs.chromium.org/p/gyp/issues

Related issue in GYP project:

* https://github.com/no

[2019-11-19 09:03] ibc commented on #333
Do you mean [this](https://github.com/versatica/mediasoup/blob/v3/CHANGELOG.md)?

[2019-11-19 09:11] mkhahani commented on #333
Yeah but I was looking for it in the [releases page](https://github.com/versatica/mediasoup/releases).

[2019-11-19 09:23] ibc commented on #333
I consider GitHub a centralized repository. I don't want to depend on GitHub specifics for project related documentation of releases.

[2019-11-19 09:33] mkhahani commented on #333
Your're right but people usually come to this page to see the stable releases of the project and showing a list of some numbers makes no sense IMO.

[2019-11-19 09:39] ibc commented on #333
Honestly too busy to spend double time writing release notes in two different places. [Look](https://github.com/libuv/libuv), a project with 13.9k stars in GitHub that also exposes the changelog into a file rather than filling GitHub custom stuff.

[2019-11-19 11:03] EyalSi commented on #345
@haiyangwu THANKS for the help. it seems like a different error/problem. looked at the sln file, but it looks ok (to me...) and even builds fine in visual studio - not sure how to continue from here.

[2019-11-19 18:13] haiyangwu commented on #345
Confirmed, it's a bug. But I haven't found the exact reason and it broke from which commit. I'll follow and fix this bug.

@EyalSi you can merge my [quick-fix-commit](https://github.com/haiyangwu/mediasoup/commit/86b09a8112b5fc3e50dc5ba5a9bdf96d7cabecac) to continue.

[2019-11-19 21:52] ibc commented on #346
So done in 3.3.3.

[2019-11-19 21:52] #346 closed, assigned to ibc, jmillan

[2019-11-19 22:53] ibc commented on #306
Confirmed that this is fixed in Chrome 78.0.3904.97 (OSX), so eventually we should uncomment [this block](https://github.com/versatica/mediasoup/blob/3.3.3/worker/src/RTC/Codecs/H264.cpp#L203). However, we must be sure that it would not affect older libwebrtc based devices.

[2019-11-19 22:56] ibc commented on #331
So applied in mediasoup 3.3.0.

[2019-11-19 22:56] #331 closed, assigned to ibc

[2019-11-19 22:57] ibc commented on #177
So applied in mediasoup 3.3.0. We can close it.

BTW we have not done this:

However I don't think is really important...

[2019-11-19 22:57] #177 closed

[2019-11-20 01:17] mkhahani commented on #333
Two core dumps within a day (v3.3.2):

<details>

[code]

[code]

</details>

[2019-11-20 12:00] ibc commented on #333
So it's clear that this is no longer a problem related to TCP. The first last coredump in your last comment clearly happened while processing a RTP packet received via UDP.

[2019-11-20 12:03] haiyangwu commented on #347
* [aoslee@1fa4055](https://github.com/aoslee/mediasoup/commit/1fa405557fec87296f6bd28f4a10f1e9940b2118) this commit makes sense and made it work to generate Visual Studio 2019 Project Struct.

* [gyp@eb296f67da](https://chromium.googlesource.com/external/gyp/+/eb296f67da078ec01f5e3a9ea9cdc6d26d680161%5E%21/) This is the similar code from gyp project in Google Source Code.

@ibc In my opinion, merg

[2019-11-20 12:11] ibc commented on #333
Hard to me to figure out why the `malloc` "corrupted size vs. prev_size" happens to you. We just use C `malloc` in a single line. Below all calls to C `malloc()`, `memcpy()` and `memmove()` in the `mediasoup/worker/src` and `mediasoup/worker/include` folders:

### `malloc()`

<details>

[code]

</details>

### `memcpy()`

<details>

[code]

</details>

### `memmove()`

<details>

[code]

</details

[2019-11-20 12:18] ibc commented on #333
@mkhahani, the "problem" here is that, finally, we didn't get any valgrind log from you. Valgrind intercepts calls to `malloc()` so it may happen that it "avoids" the crash (not sure about this). The thing is that we were supposed to get a valgrind.log corresponding to the crashes `mediasoup-worker` subprocess.

Just to re-clarify: When you run mediasoup with valgrind it will generate as many valg

[2019-11-20 12:28] ibc commented on #347
Thanks. However, honestly I wouldn't like to have a modified version of `gyp` within mediasoup. I just want to run `./scripts/get-dep.sh gyp` (being in `mediasoup/worker/` folder) from time to time without having to worry about re-applying local changes again and again.

In the past we had a problem in `gyp` due to issues with Python3:

* https://bugs.chromium.org/p/gyp/issues/detail?id=36#c59

@s

[2019-11-20 12:47] haiyangwu commented on #347
Agree and it makes sense. 😏

[2019-11-20 15:11] mkhahani commented on #333
Correct.

It's a **dedicated Xeon E5620 server** with 16 CPUs and 128 GB memory running an **Ubuntu 16.04.6 LTS** with no virtualization (e.g. Docker) . The GCC version is **5.5.0 20171010**.

Honestly I very like to help to solve the problem and I, as a developer, am ready to do what ever that is needed and helps to find the issue. But I (as a member of our company) should also be careful about o

[2019-11-20 15:33] haiyangwu commented on #345
After dozens of trials, Found that`Python3` will trigger this bug but `Python2` is ok.  I'll continue this task tomorrow.

@EyalSi would you please try to use `Python2` and verify on your environment.

[2019-11-20 15:37] ibc commented on #333
Thanks, we do understand the effort of doing that in production, so thanks for that. Indeed we'd need a better way to test the whole thing, specially under heavy load (still I don't understand how there can be malloc related issues with heavy load, obviously it's not a problem due to lack of memory).

For now, please comment again that block in DtlsTransport.cpp destructor and tell us after some d

[2019-11-20 16:07] ibc commented on #347
Hi, somehow I've changed a bit my mind. Once there is a PR in gyp project, I'm open to modify the gyp source code in mediasoup and wait for gyp to adopt the PR. The same applies to the other Windows related project (in case it has any relationship with gyp).

[2019-11-21 03:26] mkhahani commented on #333
[The links](https://mediasoup.discourse.group/t/error-worker-worker-process-died-unexpectedly/268/34) are no valid any more and I'm not sure what lines should be commented.

[2019-11-21 13:06] ibc commented on #333
All this block:

https://github.com/versatica/mediasoup/blob/3.3.3/worker/src/RTC/DtlsTransport.cpp#L676

[code]

[2019-11-24 14:53] EyalSi commented on #345
@haiyangwu THANKS! Yes, it is working with python2 on windows!

[2019-11-24 14:54] ibc commented on #345
So, is this an issue in gyp or where?

[2019-11-24 17:28] haiyangwu commented on #345
It's just in gyp. [A fix commit](https://github.com/haiyangwu/mediasoup/commit/9ab0d62d9cf4726943452da0f1f9547c49d100ff) was just pushed to my forked repo.  But I'm not quite sure about it.

@ibc Cloud you please follow the clue blew and review for me? Does it make sense?

* From [the doc of IO in Python2](https://docs.python.org/2/library/io.html)
`newline controls how universal newlines works (i

[2019-11-24 20:47] ibc commented on #345
Thanks. It makes sense. However I have no idea about Python. Did you send a PR or patch to GYP project? I want to avoid having a customized version of gyp in mediasoup (I want to be able to update `gyp` at any time without having to apply local patches):

https://bugs.chromium.org/p/gyp/issues/list

[2019-11-25 02:42] mkhahani commented on #333
A new core dump has been created (v3.3.2)

<details>

[code]

</details>

[2019-11-25 10:01] jmillan commented on #333
Hi @mkhahani,

Was there no log at all when you run mediasoup with valgrind? Even if there was no crash, could you please put here the logs that were generated by valgrind?

[2019-11-25 11:04] jmillan commented on #333
@mkhahani,

We have fixed a bug related to IPv6 and another one potentially affecting IPv4 too. Please upgrade to latest mediasoup version and let us know any new.

[2019-11-25 12:03] mkhahani commented on #333
Hi @jmillan

Yes I've not removed them yet. There are 16 valgrind log files created by 16 mediasoup workers and I'm sending the biggest one. BTW these are for the **devel** branch if I'm not mistaken.

<details>

[code]

</details>

Okay.

[2019-11-25 12:27] ibc commented on #333
Definitely this may not be so good:

[code]

This is how it works (maybe there is a bug here):

* libuv TCP server announces a new TCP connection attempt in `::TcpServer::OnUvConnection()`.
* There a `::TcpConnection* connection = nullptr` is created and passed by double reference to the children class (`RTC::TcpServer::UserOnTcpConnectionAlloc()`).
* The `RTC::TcpServer` class allocates a `RTC::T

[2019-11-25 14:49] jmillan commented on #333
@mkhahani,

Apart from what you provided, do you happen to also have the corresponding mediasoup logs?

[2019-11-25 14:59] mkhahani commented on #333
Yep I have a combination of app+mediasoup logs created by PM2 but it would be hard to find the exact corresponding logs. Should I rely on the **change time** of the valgrind log file to find the relevant mediasoup logs on that time?

[2019-11-25 15:22] jmillan commented on #333
I would be somehow happy for now if I could get the mediasoup logs related to the valgrind output you pasted here earlier today.

[2019-11-25 15:57] mkhahani commented on #333
I'm afraid now I'm checking I see that the old logs have been removed by the PM2 log rotate 😕.

[2019-11-25 16:20] ibc commented on #333
More similar valgrind TCP related logs:

<details>

[code]

</details>

[2019-11-25 18:37] ibc commented on #333
Well, let's reopen :)

[2019-11-25 18:40] ibc commented on #333
Ok, good news! We have found an error that matches all the valgrind error logs above and explains the crash in high load scenarios (when the TCP buffers get overload and so on).

This is the commit that should fix it:

https://github.com/versatica/mediasoup/commit/49824baf102ab6d2b01e5bca565c29b8ac0fec22

Tested with valgrind on Linux and the logs no longer happen.

@mkhahani **please** use the me

[2019-11-25 22:37] ibc commented on #333
Well, it's released in mediasoup 3.3.5. We are pretty sure this was the cause of the crash and cannot reproduce the corresponding valgrinds logs anymore. Let's fix the issue. Please comment once you have experimented with it. And thanks for the report and all info you provided.

[2019-11-25 22:37] #333 closed, assigned to ibc, jmillan

[2019-11-26 01:42] haiyangwu commented on #345
@ibc  I'll send a PR or patch and update a brief here when done.

[2019-11-26 05:21] mkhahani commented on #333
Good job! 👍 👍

[2019-11-26 09:18] ibc commented on #345
Thanks.

[2019-11-26 09:18] #335 closed, assigned to ibc, jmillan

[2019-11-26 11:42] jmillan commented on #333
@mkhahani,

I'm curious about the logs you're getting [here](https://github.com/versatica/mediasoup/blob/v3/worker/src/handles/TcpConnection.cpp#L235).

After you confirm everything is working properly I would like to ask you to uncomment and set `MS_LOG_DEV_LEVEL` to `2` (at the top of that level) and paste here few of log entries.

Thanks

[2019-11-26 13:43] ibc commented on #333
I got it by running mediasoup with valgrind in our demo server and adding 4-5 video producers to get high CPU usage (due to valgrind):

[code]

Here the peer is closing the web so it has closed the WebSocket and also its PeerConnection (so it sends a DTLS close alert). The DTLS stuff is not important here, it **never** closes the server side `WebRtcTransport` not the `TcpConnection`.

Relevant:

[

[2019-11-26 13:46] jmillan commented on #333
Makes total sense

[2019-11-28 01:32] ibc opened #348 "Crash in SctpTransport due to unset this->socket"
* mediasoup 3.3.5

In `SctpAssociation.cpp`:

* `this->socket` is set in `TransportConnected()` method, which is called when the transport has been connected (which depends on the type of transport).
* However, when a `DataConsumer` is created, `HandleDataConsumer()` is called.
* `HandleDataConsumer()` calls to `AddOutgoingStreams()`, which uses `this->socket`.
* However `this->socket` may be stil

[2019-11-28 02:00] #348 closed, assigned to ibc, jmillan

[2019-12-01 17:33] haiyangwu commented on #345
@ibc It has been a busy week. Just now, the [issue](https://bugs.chromium.org/p/gyp/issues/detail?id=556) with a patch was sent.

For now,  [doc about installation on Windows](https://mediasoup.org/documentation/v3/mediasoup/installation/#windows) should change a bit.

[code]

[2019-12-01 20:49] ibc commented on #345
Thanks, doc updated and deployed.

Please @EyalSi, @jmillan, star the [issue](https://bugs.chromium.org/p/gyp/issues/detail?id=556) in Chromium GYP.

Let's keep this issue open until the issue in GYP is fixed.

[2019-12-09 00:59] ibc commented on #333
@mkhahani, we got no more feedback about this. I assume there are no more crashes, right?

[2019-12-09 01:44] mkhahani commented on #333
Yes, no crash after the update :)

[2019-12-11 12:13] j1elo opened #350 "FIR requests should not require the "media source" SSRC"
### Your environment

- mediasoup version: master

### Issue description

Incoming RTCP FIR requests are rejected by [these lines](https://github.com/versatica/mediasoup/blob/e8b7d7533ae8b61c4ca4985dde87001d45cf7f27/worker/src/RTC/Transport.cpp#L1662-L1664), because the `RTCP-PSFB media source SSRC` field value is 0.

It is correct that FIR packets have a media source = 0, because the actual media

[2019-12-11 12:23] ibc commented on #350
Given [this](https://github.com/versatica/mediasoup/blob/e8b7d7533ae8b61c4ca4985dde87001d45cf7f27/worker/src/RTC/Transport.cpp#L1662) and given that, indeed, FIR packets do have items inside, we should check the `ssrc` in the item rather than the `media ssrc` in the FIR packet's common header.

Not sure if a FIR packet can contain 0, 1 or N FIR items inside... Can we assume just one? Anyway we sho

[2019-12-11 12:44] j1elo commented on #350
I believe there could be more N FIR items.

If it serves as a reference, GStreamer seems to do similar, but not exactly what you mentioned: in [rtp_session_process_fir](https://gitlab.freedesktop.org/gstreamer/gst-plugins-good/blob/b44d37a3387398a134140a4caa64919e95f7f7e3/gst/rtpmanager/rtpsession.c#L2754), they look at each FIR items' media SSRCs, searching for a corresponding source, then reques

[2019-12-11 12:48] j1elo commented on #350
Relevant doc: [RFC 5104 4.3.1. Full Intra Request (FIR)](https://tools.ietf.org/html/rfc5104#section-4.3.1)

[2019-12-11 14:34] ibc commented on #350
I confirm this is a bug. I've removed PLI support and tested with Firefox (since Chrome insists on sending PLI even if PLI was negotiated in the SDPs). Those are the logs in mediasoup due to FIRs sent by Firefox (note that I've added `feedback->Dump()` in Transport.cpp to dump the packet):

[code]

And, of course, 152968870 is the SSRC of the Consumer for Firefox. So indeed mediasoup should check

[2019-12-11 14:36] ibc commented on #350
BTW this is funny because we have a hack in mediasoup to make old versions of gstreamer happy:

[code]

[2019-12-11 14:57] #350 closed, assigned to jmillan

[2019-12-11 14:59] ibc commented on #350
Released in 3.4.3. Thanks!

[2019-12-11 15:12] j1elo commented on #350
I believe that hack is what came out of this conversation: https://mediasoup.discourse.group/t/broadcasting-a-vp8-rtp-stream-from-gstreamer/93

I read it yesterday; didn't mention it because it didn't seem to be related, although very close.

**Related to that conversation, and only tangential to this issue**:

In that conversation you and jmillan seemed to be convinced that mediasoup should be se

[2019-12-11 15:20] ibc commented on #350
IMHO the RFC is far from good regarding "media SSRC" and "sender SSRC". Such a text in the spec comes from the days in which RTP was assumed for 1:1 single audio bidirectional communication.

Being pragmatic, the "ssrc" of an endpoint which is NOT sending any RTP stream (but just RTCP) is completely useless and does not make any sense. We don't need it for anything and if you are not sending any R

[2019-12-11 15:29] ibc commented on #350
For instance, this is a FIR sent by Firefox to mediasoup:

[code]

1. It has a single item with `ssrc: 152968870`, which is the SSRC of the RTP stream that Firefox is receiving and for which it wants a key frame.
2. The common header has `sender ssrc : 1825801961`, being "1825801961" a random SSRC that nobody knows about and was just placed there by Firefox to satisfy the ugly text in RFC 3550.

[2019-12-11 15:34] jmillan commented on #350
@ibc is right. Sender SSRC of a mediasoup producer stream is non existent. Is not negotiated and it is represented in RTCP packets as `0`. Others (like FF in this case) may simply invent it.

https://tools.ietf.org/html/rfc4585#section-6.1 clearly defines sender and media SSRCs.

[2019-12-11 16:24] j1elo commented on #350
That was exactly what I had in mind when writing my other message:

Implying that every peer, even one that only sends RTCP and no RTP, has a SSRC. I guess `0` is just as valid SSRC as any other value, though. But it doesn't **have** to be 0.

What it is used for, that depends on what the sender part does. mediasoup doesn't have any use for it but I guess an RTP gateway or proxy might benefit from

[2019-12-12 10:45] vishnusadanandan opened #351 "sequence number removed from the NACK list due to max retries"
## Bug Report

RTC::NackGenerator::GetNackBatch() | sequence number removed from the NACK list due to max retries

### Your environment

- Operating system: Linux
- Node version: v12.13.1
- npm version: 6.12.1
- gcc/clang version:
- mediasoup version: 3.7
- mediasoup-client version: 3.3.3

### Issue description
I got above error while i am connecting from a web client

[2019-12-12 10:49] ibc commented on #351
So you open a **bug** report just to get clarification about what log means, right?

Sorry, it does not work that way.

[2019-12-12 10:49] #351 closed, assigned to nobody

[2019-12-18 10:33] yangpeiyong commented on #344
Does BBR support UDP?

[2019-12-18 21:49] ibc opened #352 "Enable SRTP and RTX/NACK and PipeTransport (and SRTP in PlainTransport)"
When connecting two `PipeTransports` running in `Routers` in different hosts (so the network link may generate packet lost and may need RTP encryption for security), we may wish to have RTX/NACK and SRTP enabled:

#### RTX/NACK

Enable RTX and NACK for RTP retransmission.

#### SRTP

Useful to protect the RTP and RTCP traffic if both Routers are located in different hosts.

[2019-12-18 22:18] ibc commented on #344
It's implemented in QUIC, so yes.

[2019-12-19 09:41] yangpeiyong commented on #232
Could we cache keyframe data, and send them to consumer directly when receive PLI/FIR? So that we don't need to send PLI/FIR to producer.

[2019-12-19 11:03] ibc commented on #232
That's not how RTP video works.

[2019-12-24 16:45] EyalSi opened #353 "[Windows] Build failed on 3.4.6 (working on 3.4.4)"
Hi,

On windows 10, Python 2.7.15,  the build is failing with version 3.4.6, but succeed with 3.4.4
The error we get - "error C2059: syntax error: ')'" - multiple times...

Please let us know if more information is required.
EyalS

[2019-12-24 16:47] ibc commented on #353
Please, try to identify where such a error exactly happens.

[2019-12-24 17:01] EyalSi commented on #353
thought you will anyhow run the build on windows... ;)

error C2146: syntax error: missing ')' before identifier 'PRIx64' it happens in ...\mediasoup\worker\deps\libsrtp\libsrtp.vcxproj

[2019-12-24 17:53] ibc commented on #353
I don't have any Windows machine. I'd really ask people using mediasoup in Windows that, if you encounter a bug, please try to spot the issue as much as possible. I just cannot do it.

Regarding the error, no idea. Indeed I updated libsrtp yesterday to 2.3.0. However the only I changed in `libsrtp.gyp` is [this](https://github.com/versatica/mediasoup/commit/74cbc37783f5bcd710d846038563e14b625f053e

[2019-12-24 17:56] ibc commented on #353
I've reported the issue in libsrtp here:

* https://github.com/cisco/libsrtp/issues/475

Please, comment on that issue by clarifying which Visual Studio version you are using.

[2019-12-24 19:01] ibc commented on #353
BTW help @haiyangwu, is there something that can be done to make VS support `PRIx64`?

[2019-12-26 03:37] haiyangwu commented on #353
VS already supports `PRIx64`,  and I add the snap code in our `main.cpp `, compile ok.
[code]

But .. for `libsrtp` Should add `#include <inttypes.h>` into it .

[2019-12-26 07:45] MichaelShu3333 opened #354 "Can support 422 color space webcam?"
I use 422 color space webcam capture video,  but i found it is a little fuzzy, wheather mediasoup support 422 color space webcam  capture video？

[2019-12-26 09:16] ibc commented on #354
You did read where to make questions in the issue template you removed, right?

[2019-12-26 09:16] #354 closed, assigned to nobody

[2019-12-26 12:35] ibc commented on #353
Thanks, @haiyangwu! So it seems that libsrtp already includes `<inttypes.h>` when make or cmake is used (somehow):

[code]

Since in mediasoup we use our own `worker/deps/libsrtp/libsrtp.gyp`, I assume we should define `HAVE_INTTYPES_H` into it **also** when in Windows, right? Right now we are not defining tons of macros when in Windows:

* https://github.com/versatica/mediasoup/blob/v3/worker/dep

[2019-12-26 12:44] ibc commented on #353
IMHO we should check the new `BUILD.gn` that Chromium uses for libsrtp:

* https://chromium.googlesource.com/chromium/deps/libsrtp/+/master/BUILD.gn

[2019-12-26 13:46] ibc commented on #353
Done in branch [issue-353](https://github.com/versatica/mediasoup/tree/issue-353). Relevant commit:

* https://github.com/versatica/mediasoup/commit/e53b4102030e46257686644544d982b8871b6092?ts=2

May you check it guys?

BTW: @haiyangwu is [this](https://github.com/versatica/mediasoup/commit/e53b4102030e46257686644544d982b8871b6092?ts=2#diff-4b28609e9309f6337d95f3683c624121L11) still true in VS? Ot

[2019-12-26 14:20] zoharith opened #355 "AWS EC2 fails when using more than 20 workers"
Hi,

We are trying to open 36 workers and getting the following error.
We have a machine with 36 vCPU, hopping each worker will consume a different CPU.
Is that the correct usage?

Error: port bind failed too many times [udp:127.0.0.1, attempt:21]
    at Channel._processMessage (/home/ec2-user/streaming-server/node_modules/mediasoup/lib/Channel.js:220:37)
    at Socket.Channel._consumerSocket.on (

[2019-12-26 14:33] ibc commented on #355
Please. Usage questions in the support forum, not here.

[2019-12-26 14:33] #355 closed, assigned to nobody

[2019-12-26 14:36] zoharith opened #356 "AWS EC2 fail when open more then 20 workers"
Hi,
We are trying to open 36 workers and getting the following error.
We have a machine with 36 vCPU, hopping each worker will consume a different CPU.
Is that the correct usage?

Error: port bind failed too many times [udp:127.0.0.1, attempt:21]
at Channel._processMessage (/home/ec2-user/streaming-server/node_modules/mediasoup/lib/Channel.js:220:37)
at Socket.Channel._consumerSocket.on (/home/ec2

[2019-12-26 14:40] #356 closed, assigned to nobody

[2019-12-26 16:40] ibc commented on #347
Hi, any progress on this? Has been the issue reported to GYP project?

NOTE: https://gyp.gsrc.io/docs/Hacking.md

[2019-12-26 17:08] ibc commented on #347
Ok, I've created the CL:

* https://chromium-review.googlesource.com/c/external/gyp/+/1982599

Please comment on it if possible. Note that, if any developer asks me, I won't be able to explain anything (I've just copied the change above, I cannot test in Windows and never used MSV).

[2019-12-26 17:17] ibc commented on #347
I've pushing a new branch `issue-347` with the above exact commit:

* https://github.com/versatica/mediasoup/commit/d739ef6d8a210a1cf2adefa7ce0f23b0f67c891f

I'd like that the CL uploaded to GYP project is approved (so we don't need to manage our "own" GYP source code). Anyway, if you guys confirm that the branch is ok, I'll merge into `v3`.

[2019-12-26 17:19] ibc commented on #345
Hi guys, the GYP developers do not seem to be very active. Since you have a working patch, can you instead upload a CL to GYP? It's easy:

* https://gyp.gsrc.io/docs/Hacking.md

[2019-12-26 17:52] EyalSi commented on #353
Tested branch issue-353. build is successful and the server is starting.
THANKS!

[2019-12-26 18:06] ibc commented on #353
Great, published in mediasoup 3.4.8.

[2019-12-26 18:06] #353 closed, assigned to nobody

[2019-12-26 18:08] ibc commented on #347
**UPDATE:** I've merged (and then deleted) the `issue-347` into `v3` and released in mediasoup 3.4.8.

Let's keep this issue open to remember that, in theory, we are waiting got GYP to accept the CL, so we don't have to manage our own modified GYP sources:

* https://chromium-review.googlesource.com/c/external/gyp/+/1982599

[2020-01-06 18:58] ibc commented on #352
We also have to enable RTX on PipeTransports for scenarios in which a PipeTransport interconnects two workers in different hosts with potential packet loss.

[2020-01-07 07:44] Ivaka opened #357 "Mediasoup worker crash (libwebrtc uint64_t/int64_t conversion related)"
## Bug Report
Mediasoup worker dies unexpectedly

### Your environment

- Operating system: Alpine Linux v3.11
- Node version: v12.14.0
- npm version: 6.13.4
- gcc/clang version: gcc 9.2.0
- mediasoup version: v3.4.5
- mediasoup-client version: 3.3.12

### Issue description

Occasionally we observe a worker dying on our production servers. This is what we see in the logs:

[code]

The browser vers

[2020-01-07 11:35] ibc commented on #357
So I understand you have both Chrome and Firefox sending and receiving video with simulcast, right?

[2020-01-07 12:21] Ivaka commented on #357
Yes, this is the case. We also support Safari >12.1

[2020-01-10 00:07] ibc commented on #357
We are too busy and cannot fix the issue yet. As a terrible workaround you can modify this file:

`worker/deps/libwebrtc/libwebrtc/modules/remote_bitrate_estimator/inter_arrival.cc`

Before line 146 add:

[code]

[2020-01-22 08:17] wangtuanjie opened #358 "duplicate OnNackGeneratorNackRequired"
https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/NackGenerator.cpp#L302

[2020-01-22 17:25] #358 closed, assigned to nobody

[2020-01-22 17:25] ibc commented on #358
Thanks! fixed in v3 branch.

[2020-02-13 07:28] ibc opened #359 "Drop gyp, move to CMake"
Rationale:

* Nobody is maintaining `gyp`.
* `libuv` is dropping `gyp`.
* We (mediasoup authors) have to provide and maintain our own `xxx.gyp` for `libsrtp`, `usrsctp` and more deps we use, while those libraries do support `CMake` out of the box.
* There is `gyp` issues in Windows that nobody fixes (even if reported in `gyp` project) and affect mediasoup (see #345 and #347).

So let's move to `CM

[2020-02-13 07:28] ibc commented on #347
Just decided to drop gyp and move to CMake. See #359.

[2020-02-13 07:29] ibc commented on #345
Just decided to drop gyp and move to CMake. See #359.

[2020-02-13 08:36] saghul commented on #359
Current worker deps:

|Name|CMake support upstream?|
|--|--|
|catch| ✅ |
|getopt| ✅ |
|json| ✅ |
|lcov| 🚫 |
|libsrtp| ✅ |
|libuv| ✅ |
|libwebrtc| 🚫  |
|netstring| 🚫  |
|openssl| 🚫 |
|usrsctp| ✅ |

Out of these, I'd say OpenSSL is the trickiest one. An option would be to move to BoringSSL, which does support CMake out of the box. The rest are pretty small and writing CMakefiles for them should be t

[2020-02-13 08:56] ibc commented on #359
Wow, thanks! BTW:

* `lcov` is not really used in mediasoup (I mean, it's not built).
* Regarding `libwebrtc` we only use a subset of files so it shouldn't be hard to make a `CMakelists.txt` for it (wait, it depends on `abseil-cpp` lib but it does provide `CMakelists.txt`).
* `netstring` is two files code :)
* `openssl`... wow, didn't know that... Moving to BoringSSL is an option, of course, but s

[2020-02-13 11:41] saghul commented on #359
It already has the necessary APIs for QUIC unlike OpenSSL (still in PR) so maybe it's a sign from, the future! 😎

[2020-02-14 11:29] ibc opened #360 "May need RTP MID extension when consuming"
From https://bugs.chromium.org/p/webrtc/issues/detail?id=10385#c9

This is not true for your SDP - you use 101 and 102 in both sections' a=rtpmap entries. Thus, you can't demux on MID (not present), and can't demux on PT (identical), and can't demux on SSRC (not known).

We must verify if this is true:

* https://tools.ietf.org/html/draft-ietf-mmusic-sdp-bundle-negotiation

[2020-02-14 11:56] ibc commented on #360
As I answered, I don't think he is right:

https://bugs.chromium.org/p/webrtc/issues/detail?id=10385#c10

[2020-02-17 02:07] ghafran opened #361 "Create producer in mediasoup router to broadcast video/audio files."
## Feature Request
Looking for a way to play audio and video files from server so clients can consume the file producer.

Is this possible with current architecture?

[2020-02-17 03:06] ibc commented on #361
Not here, please. Use the forum.

[2020-02-17 03:06] #361 closed, assigned to nobody

[2020-02-18 16:11] antoniom opened #362 "Worker produces a core dump on close"
## Bug Report
### Your environment
- Operating system: CentOS Linux release 7.6.1810 (Core)
- Node version: v10.19.0
- npm version: 6.13.4
- gcc/clang version:  8.3.1 20190311
- mediasoup version: 3.4.11
- mediasoup-client version: N/A

### Issue description
Worker produces a core dump when closes.

As per title, mediasoup worker is producing a core dump near `pthread_join` when calling `close()`.

[2020-02-18 16:19] antoniom commented on #362
Problem seems to be introduced in mediasoup 3.2.0 and onwards.
3.1.7 seems OK.

[2020-02-18 17:02] ibc commented on #362
It's obviously due to `usrsctp` (DataChannel) addition in 3.2.0. I cannot reproduce it in OSX and Debian.

May you try to install [usrsctp](https://github.com/sctplab/usrsctp/) C library in your CentOS and run the tests? I guess this is a bug in usrsctp in CentOS.

[2020-02-18 17:20] ibc commented on #362
This is, in your CentOS:

[code]

Then in a terminal run the server test program:

[code]

In another terminal:

[code]

And let's see what happens.

[2020-02-18 17:23] ibc commented on #362
Also, please run your crashing program (which is invalid as it is BTW) with `DEBUG=*`:

[code]

[2020-02-19 08:27] ibc commented on #362
I can reproduce the coredump in CentOS 7 using Docker in OSX.

[2020-02-19 09:42] antoniom commented on #362
Here is the console output of discard_server

[code]
and client output
[code]

it seems that no error is produced

[2020-02-19 09:51] ibc commented on #362
In the meanwhile I've reported it in `usrsctp` project:

* https://github.com/sctplab/usrsctp/issues/435

[2020-02-19 10:01] antoniom commented on #362
The problem seems to be located at `/usrsctplib/netinet/sctp_usrreq.c`

`pthread_join(SCTP_BASE_VAR(timer_thread), NULL);`
could be replaced by something like:
[code]

[2020-02-19 10:02] ibc commented on #362
Nice! can you please describe a bit more why?

[2020-02-19 10:08] ibc commented on #362
Confirmed that such a change makes usrsctp to not produce a SIGSEGV.

[2020-02-19 10:14] antoniom commented on #362
`usrsctp_init_nothreads` calls `sctp_init()` (in `usrsctplib/netinet/sctp_usrreq.c`) with `start_threads` = 0 as argument
therefore the following code in sctp_init()
[code]
does not initialize the timer_thread (correctly). This however should be taken into account before de-initializing.

[2020-02-19 10:16] ibc commented on #362
Thanks. Any idea of why it doesn't happen in OSX or Debian?

[2020-02-19 10:17] antoniom commented on #362
Nope, does not either happen in CentOS 8 and an old Ubuntu 14.04...

[2020-02-19 10:18] ibc commented on #362
Ok. Please use the issue-362 branch until we get a fix in usrsctp master branch, integrate it in mediasoup and make a new release. Will announce it here.

Thanks.

[2020-02-19 12:44] chvarlam commented on #362
alternatively you could use `usrsctp_init` and not `usrsctp_init_nothreads`. This will allow the timer_thread to be properly initialized.

[2020-02-19 13:06] ibc commented on #362
oh no, we do need `usrsctp_init_nothreads` so usrsctp does not launch its own threads.

[2020-02-19 21:20] ibc commented on #360
So finally it seems that MID exten is **mandatory** as per spec (and also `a=ssrc` with CNAME). Well, we should eventually enable MID exten for receivers.

[2020-02-20 12:29] ibc commented on #362
@chvarlam I've deleted the mediasoup branch "issue-362" and updated `usrctp` in mediasoup "v3" branch. It contains this [fix](https://github.com/sctplab/usrsctp/commit/5afa9bb664e9577520c00e00d50454e8b9b1043f) so the issue should be fixed.

Can you please confirm?

[2020-02-20 12:42] ibc commented on #362
Let's reopen it since, somehow, travis-ci is failing when using Node 8 and GCC 4.9:

https://travis-ci.com/versatica/mediasoup/jobs/289259710?utm_medium=notification&utm_source=email

[2020-02-20 12:53] ibc commented on #362
I can reproduce it in OSX, so there is something wrong.

[2020-02-20 12:55] ibc commented on #362
Let's continue in https://github.com/sctplab/usrsctp/issues/435, please.

[2020-02-20 13:11] ibc commented on #362
BTW I've reverted the commit because it crashes ALWAYS and I don't want that "v3" branches crashes. You can test `usrsctp` master branch in your local clone of mediasoup as follows:

[code]

[2020-02-20 17:58] ibc commented on #362
The [patch](https://github.com/sctplab/usrsctp/issues/435#issuecomment-589064742) provided by @tuexen seems to work. Waiting for him to merge into `usrsctp` master branch.

[2020-02-20 19:12] ibc commented on #362
Fixed in mediasoup 3.4.12

[2020-02-20 19:12] #362 closed, assigned to ibc, jmillan

[2020-02-26 21:56] ibc commented on #352
WIP!

Support for RTX and NACK into `PipeTransports` is done in the new "pipetransport-rtx" branch. Here the [commit](https://github.com/versatica/mediasoup/commit/af65f7a268a956de3279e10d1f323f63e8a2834f).

To enable it, just add `enableRtx: true` in `router.createPipeRouter(options)` in both `Routers` that are supposed to run in different hosts.

if anyone can try it I would appreciate it.

[2020-02-27 01:03] ibc commented on #352
And now the "pipetransport-srtp" branch has also **SRTP for PipeTransport** (in addition to RTX/NACK).

### We need testing!

If anyone wants to help, checkout the mediasoup "pipetransport-srtp" GIT branch and try the following (assuming that you already use `router.createPipeTransport()` API to communicate two `Routers` located in the same host or different hosts):

### Enable RTX in PipeTranspor

[2020-02-27 03:41] alex-outsourci commented on #352
That's awesome you added support of SRtp to PipeTransport, but @ibc do you plan to do the same for PlainRtpTransport?

[2020-02-27 11:02] ibc commented on #352
I've added SRTP to `PipeTransports` because I got some time and there were many users requesting it. Not unlimited time here. But [donations](https://mediasoup.org/sponsors/#become-a-sponsor) usually work.

[2020-02-28 01:35] ibc commented on #352
Some changes in `pipetransport-srtp` branch:

PipeTransport: use new `SrtpParameters`dictionary if `enableSrtp` is true:

- `pipeTransport.keySrtp` has been removed.
- added `pipeTransport.srtpParameters` which has:
  - `cryptoSuite` (always 'AES_CM_128_HMAC_SHA1_80')
  - `keyBase64`
- `pipeTransport.connect()` no longer requires remote `srtpKey` but remote `pipeTransport.srtpParameters`.

[2020-02-28 13:05] ibc opened #363 "CRash"
## Bug Report

**IMPORTANT:** We primarily use GitHub as an issue tracker. Just open an issue here if you have encountered a bug in mediasoup.

If you have questions or doubts about mediasoup or need support, please use the mediasoup Discourse Group instead:

If you got a crash in mediasoup, please try to provide a core dump into the issue report:

### Your environment

- Operating system:
- Node

[2020-02-28 13:05] ibc opened #364 "Crash using router.pipeToRouter()"
Playing with `pipeToRouter()` for a video producer. This is:

- Browser produces to Router1 => Producer1.
- Router1 consumes from Producer1 via a `pipeToRouter()` => PipeConsumer1.
- Calling `PipeConsumer1.dump()` crashes as follows.

I'm having problems with `pipeToRouter()` so, somehow, when using it the original Producer (associated to the sending browser) does not get any RTP stream! this is u

[2020-02-28 13:07] ibc commented on #364
I'm having problems with `pipeToRouter()` so, somehow, when using it the original Producer (associated to the sending browser) does not get any RTP stream! this is ugly and IMHO, due the lack of data, the `producer.dump()` method makes the generated JSON to be somehow invalid.

[2020-02-28 13:14] ibc commented on #364
- `pipeConsumer.getStats()` works.
- `pipeConsumer.dump()` crashes.

[code]

[2020-02-28 13:50] #364 closed, assigned to nobody

[2020-02-28 23:46] ibc opened #365 "Bug in IPv6 Ragel based parser"
- mediasoup version: 3.4.13

The IPv6 grammar and the parser (files `grammar.rl` and  ÌP.rl` in `worker/src/Utils/`) allows the following wrong IPv6: `::0:`

The problem is in the parser itself. After simplifying it as much as possible, here the problem:

[code]

The parser matches `::0` and then continues testing `::0:` (it matches) and then `::0:0` (it does not match). At this point the parser h

[2020-02-29 00:06] ibc commented on #365
Asked in Ragel mailing list: http://www.colm.net/pipermail/ragel-users/2020-February/003650.html

[2020-02-29 00:40] #365 closed, assigned to ibc

[2020-02-29 00:51] ibc commented on #352
"pipetransport-srtp" branch merged into "v3" branch and deleted. Will be released soon.

[2020-03-02 21:43] ibc commented on #352
So this is done (including SRTP in `PlainTransport`):

https://mediasoup.discourse.group/t/mediasoup-3-5-0-is-out-with-srtp-and-rtx-in-pipetransport-and-more/617

mediasoup 3.5.0 is out.

### NEWS

- ✅ `PipeTransport`: add support for SRTP and RTP retransmission (RTX + NACK).
- ✅ `PlainTransport`: Add support for SRTP. New "tuple" event.

---------

By enabling RTP retransmission and SRTP in `Pipe

[2020-03-02 21:43] #352 closed, assigned to ibc, jmillan

[2020-03-04 10:58] ibc commented on #360
@jmillan can you tale a look?

* https://github.com/versatica/mediasoup/compare/consumer-mid
* https://github.com/versatica/mediasoup-client/compare/consumer-mid

Adding a `packet->Dump()` before the packet is encrypted and sent to the remote consumer (at the very beginning of `Transport::::OnConsumerSendRtpPacket()`), it seems that the MID extension is properly set. Sure it is.

Now, the problem:

[2020-03-04 11:02] ibc commented on #360
In addition to this, I've tested by removing all `a=ssrc` lines in the remote SDP offer given to the PC. Chrome (Canary) should be able to demux received packets by matching the RTP MID value, but it fails. Explained here:

* https://bugs.chromium.org/p/webrtc/issues/detail?id=10385#c28

[2020-03-04 11:39] jmillan commented on #360
@ibc I see it fine

[2020-03-04 12:19] ibc commented on #360
And how to deal with the compatibility issue?

[2020-03-06 14:38] ibc commented on #360
Regarding the **Issue** explained above, the only good solution is require mediasoup-client >= 3.5.0 and the same for libmediasoupclient when released.

[2020-03-06 14:38] ibc commented on #360
So this is ready in `consumer-mid` branch. Will be merged into v3 once we have libmediasoupclient.

[2020-03-07 21:47] ibc commented on #357
So zero feedback about this. Closing the issue since we have never seen it. Reopen if you get more information.

[2020-03-10 11:56] ibc commented on #360
Done in mediasoup 3.5.2.

[2020-03-10 11:56] #360 closed, assigned to nobody

[2020-03-12 00:16] ibc opened #366 "C++: Remove inline methods"
We use too many `inline` methods, declared and **defined** in the corresponding `.hpp` files.

Using `inline` is not the panacea. In increases compilation time and executable size (the latter is not a big issue for us). But, overall, we have ended with many classes having half of their methods defined in the `.cpp` file and the other half in the `.htpp` file. And we cannot use `MS_XXXX` logging fu

[2020-03-12 00:43] ibc commented on #268
**IMPORTANT:**

Encrypted extension headers can be enabled in Chrome via the flag "Negotiation with encrypted header extensions for SRTP in WebRTC" in `chrome://flags`. If enabled, the SDP offer of Chrome looks as follows:

[code]

The `id` 0 means that an unused number should be assigned in the answer, so replying with `extmap:0` is invalid.

[2020-03-12 11:41] jmillan commented on #366
I find it OK moving inline methods defined in .hpp files into .cpp. Maybe one line getters could remain in .hpp files, just for the shake of readability?

[2020-03-12 11:43] ibc commented on #268
Some work is being done in mediasoup-client in the `encrypted-rtp-extensions` branch.

[2020-03-12 11:57] ibc commented on #366
Why is that "readability"? In other words, are these inline methods "getters"?

[code]

[2020-03-12 11:59] jmillan commented on #366
just this type:

[code]

But I have no strong opinion here, it's just cosmetic.

[2020-03-12 12:01] ibc commented on #366
We may even avoid the `inline` section in .hpp files and directly define the method in the method declaration within the `class` declaration.

[2020-03-12 12:02] jmillan commented on #366
yes

[2020-03-12 17:25] ibc opened #367 "Update DTLS ciphers"
Right now we are using ciphers as they were in an old version of Chrome/libwebrtc:

[code]

We should modernize it. Chrome's current ciphers are:

`"DEFAULT:!NULL:!aNULL:!SHA256:!SHA384:!aECDH:!AESGCM+AES256:!aPSK"`

More info:

* https://github.com/ssllabs/research/wiki/SSL-and-TLS-Deployment-Best-Practices

[2020-03-12 21:28] ibc commented on #367
Let's keep the issue open until verified.

[2020-03-12 21:37] fippo commented on #367
can confirm i've been using that cipher set for ages (~2016) without issues

[2020-03-12 21:37] ibc commented on #367
Thanks!

[2020-03-12 21:37] #367 closed, assigned to ibc, jmillan

[2020-03-20 13:07] jmillan opened #368 "Enhance RTCP SR RTP Timestamp accuracy"
As discussed [here](https://github.com/meetecho/janus-gateway/pull/2007), lets consider the highest RTP packet Timestamp instead of Sequence Number in order to assign **maxPacketTs** and **maxPacketMs** in [RtpStream](https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/RtpStream.cpp).

This covers the fact that multiple RTP packets may contain the same TS (and hence are related to the sa

[2020-03-20 13:10] jmillan commented on #368
Forget it, we already to that :-)

[2020-03-20 13:10] #368 closed, assigned to ibc, jmillan

[2020-03-27 20:18] elfring opened #370 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like in [the function “FeedbackItem::Serialize”](https://github.com/versatica/mediasoup/blob/4e4639319a928a990df1a85752dfbf8c262c32fb/worker/include/RTC/RTCP/FeedbackItem.hpp#L55 "Update candidate").

[2020-03-28 21:17] ibc commented on #370
Thanks. We'll eventually clean those C++ minor details. We don't need an open bug for this (already in our internal TODO).

Thanks.

[2020-03-28 21:17] #370 closed, assigned to nobody

[2020-03-29 09:13] elfring commented on #370
How do you think about to [use a development tool like “clang-tidy” for corresponding source code adjustments](https://clang.llvm.org/extra/clang-tidy/checks/readability-delete-null-pointer.html "Deletion of unnecessary null pointer checks")?

[2020-03-29 11:04] ibc commented on #370
We already use clang-tidy. Please read `Building.md` file.

If you have improvements for it (such as the option you reference) please provide a PR and will check it.

[2020-03-29 12:01] elfring commented on #370
:crystal_ball: Are you even going to increase the usage of smart pointers?

[2020-03-29 19:54] ibc commented on #370
Probably. But, why is that important? Do you see any leak or non freed pointer?

[2020-03-29 21:27] ibc commented on #366
Some work being done in `issue-366-remove-inline-methods` branch.

[2020-03-30 05:39] elfring commented on #370
Smart pointers can help to reduce relevant source code, can't they?

[2020-03-30 12:15] ruslanfraps commented on #27
Hello, is it implemented?
Can I mute other user?
I saw there is roomClient.muteMicro(), is there the same function for mute other peers exept of me?
Also i saw audioMuted which depend of state.me, i think that i can set this props for my needs, but may  be there is a better solution?
I mean mediasoup-demo

[2020-03-30 12:18] ibc commented on #27
This is a "call for feature requests" for mediasoup, and not for mediasoup-demo.

In mediasoup you can do all you asked above. No, I won't implement them in the demo. You can do  it in your application.

[2020-03-30 17:35] #366 closed, assigned to ibc, jmillan

[2020-03-31 11:48] penguinol opened #372 "Video lag after a long time"
It seems there is a bug in SeqManager:
Previous dropped packet will lead to video lag after a long time.

for example:
[code]
output:
in: 120. out: 112.
in: 121. out: 113.
in: 122. out: 114.
in: 123. out: 115.
in: 124. out: 116.
in: 125. out: 117.
in: 126. out: 118.
in: 127. out: 119.
in: 128. out: 120.
in: 129. out: 121.
**in: 130. out: 123.
in: 131. out: 125.
in: 132. out: 127.
in: 133. out: 129

[2020-03-31 12:06] ibc commented on #372
Thanks, we'll investigate this. BTW we have unit tests for this, can you please check them and say whether the should behave in a different way? or is just that those tests do not cover your scenario above?

https://github.com/versatica/mediasoup/blob/v3/worker/test/src/RTC/TestSeqManager.cpp

[2020-03-31 12:09] jmillan commented on #372
This makes a lot of sense, nice catch @penguinol

Yes please, it would be really nice if you could add a test that demonstrates this. It's quite clear that it fixes an existing bug.

[2020-03-31 12:18] ibc commented on #372
I'm creating a test for this in a separate branch, please wait.

[2020-03-31 12:34] ibc commented on #372
I've create a branch `issue-372` with a test for this. And I'm afraid it behaves correctly. This is, it behaves **exactly** as in your fixed test (but I did not change `SeqManager.cpp` code at all):

[code]

[2020-03-31 13:19] penguinol commented on #372
It's beacuse your test case is using SeqManager<uint16_t>, but mine is using SeqManager<uint8_t>.
The input shold be larger than 32768 with uint16_t.

[2020-03-31 13:38] penguinol commented on #372
{
			{   1,   1,   false, false },
			{   2,   0,   false, true  },
			{   3,   0,   false, true  },
			{   4,   0,   false, true  },
			{   5,   0,   false, true  },
			{   6,   0,   false, true  },
			{   7,   0,   false, true  },
			{   8,   0,   false, true  },
			{   9,   0,   false, true  },
			{   32768, 32760, false, false },
			{   32769, 32761, false, false },
			{   32770, 32762, false,

[2020-03-31 13:44] ibc commented on #372
I see. I've updated the branch so it now tests both cases. Indeed using `uint8_t` it fails. Two concerns:

1. Note that RTP seq numbers are `uint16_t` so this issue is not producing any lag. Agreed?
2. Do you know why the maths in `SeqManager.cpp` is wrong when using `uint8_t`? Where is the difference? we are using C++ templates and we are supposed to handle any input type.

[2020-03-31 13:47] ibc commented on #372
Indeed, using your code fixes the issue with `uint8_t`, but why?

[code]

[2020-03-31 13:50] penguinol commented on #372
`uint16_t` also has the problem.
Because we must let `this->dropped.erase(this->dropped.begin(), it);` really erase some items.
So input seqnum minus first dropped seqnum should larger than MaxValue/2
This problem occurs when we stay at a low layer for about 10~20 minutes.

[2020-03-31 13:51] ibc commented on #372
oh, I see now! In fact I've added you latest test (not yet pushed) and indeed it fails, and it works with your code. Will push it now.

[2020-03-31 14:05] ibc commented on #372
PR #373 created!

[2020-03-31 14:08] ibc commented on #372
merged in v3, will release a new version now.

[2020-03-31 14:13] #372 closed, assigned to nobody

[2020-03-31 14:16] ibc commented on #372
Released in 3.5.6. Thanks a lot @penguinol.

[2020-04-01 12:23] barry-ran commented on #359
[OpenSSL-CMake](https://github.com/pol51/OpenSSL-CMake)

[2020-04-01 13:29] ibc commented on #359
It's a 4 years old project.

[2020-04-04 06:52] litashg opened #374 "Errors during npm install"
9016 warn ws@7.2.3 requires a peer of bufferutil@^4.0.1 but none is installed. You must install peer dependencies yourself.
9017 warn ws@7.2.3 requires a peer of utf-8-validate@^5.0.2 but none is installed. You must install peer dependencies yourself.
9018 warn mediasoup_v3_example@0.8.0 No repository field.
9019 verbose stack Error: mediasoup@3.5.6 postinstall: `node npm-scripts.js postinstall`
9

[2020-04-04 07:09] ibc commented on #374
Oh, you ignored the bug report template. Closed.

[2020-04-04 07:09] #374 closed, assigned to nobody

[2020-04-05 09:31] holmbuar commented on #359
Please correct me if I am interrupting or misunderstanding, this is just a friendly attempt to contribute. I copied this from the BoringSSL Git [1]:

[1]: https://boringssl.googlesource.com/boringssl/

[2020-04-06 07:04] geongun20 commented on #357
I also observed this issue.

**Your environment**
Operating system: Ubuntu 18.04 LTS
Node version: 10.19.0
npm version: 6.13.4
gcc/clang version: gcc 7.5.0
mediasoup version: 3.5.5
mediasoup-client version: 3.5.5
**Issue description**
In my producion server, we observed under logs. worker died and client can't access this worker.
2020-04-05T11:23:54: 2020-04-05T11:23:54.458Z mediasoup:ERROR:Worker

[2020-04-06 07:18] geongun20 commented on #357
I also observed this issue.

### Your environment
Operating system: Ubuntu 18.04 LTS
Node version: 10.19.0
npm version: 6.13.4
gcc/clang version: gcc 7.5.0
mediasoup version: 3.5.5
mediasoup-client version: 3.5.5
### Issue description
In my producion server, we observed under logs. worker died and client can't access this worker.
[code]
It occures very rarely but it happens more often recently.
++

[2020-04-06 07:44] geongun20 commented on #357
I observed this crash last week for the first time in a few months, and yesterday it occurred again.
Recent changes include upgrading version of mediasoup-client from 3.3.14 to 3.5.4. Could it be a possible cause?

[2020-04-06 07:54] klausdk commented on #357
I also get random crashes. It happend in every version since 3.5.3. So right now I'm running 3.5.2 which seems stable.

[2020-04-06 07:56] ibc commented on #357
Which crash? Please, specify. Paste the crash log/message and if possible a coredump. If you don't specify it we cannot do anything.

[2020-04-06 08:02] geongun20 commented on #357
what version it is? mediasoup or mediasoup-client?

[2020-04-06 08:03] geongun20 commented on #357
What version is it? mediasoup or mediasoup-client?

[2020-04-06 08:05] klausdk commented on #357
Mediasoup (server)  version 3.5.6

09:05:49 Error: worker got "died" event Error: [pid:27100, code:null, signal:SIGABRT]
    at ChildProcess.<anonymous> (/website/site/chatserver/node_modules/mediasoup/lib/Worker.js:118:39)
    at ChildProcess.emit (events.js:311:20)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:275:12)
createConsumer() | transport.consume():InvalidStateErr

[2020-04-06 08:50] ibc commented on #357
@klausdk unfortunately your trace does not show the worker crash log, so we don't know why it happens. All the lines are just JS error trace (due to C++ worker being closed abruptly), they add no value to the report.

@geongun20, mediasoup-client is a client side. It can never be the responsible of a **crash** in C++ server side. I'll check the differences between 3.5.2 and 3.5.3.

Also, guys, ple

[2020-04-06 08:58] Ivaka commented on #357
@ibc
We've applied these patches to the following files:

[code]

[code]

And on several occasions logs with negative `packet_feedback.receive_time.ms()` and `arrival_time_ms` have appeared on our production environment. Of course when such values appear this leads to a worker crash because of the assert in `inter_arrival.cc`

[2020-04-06 09:22] ibc commented on #357
Super useful, @Ivaka. Thanks, will check.

BTW: have you been able to also add some `return whatever` if those conditions are met so the assertion/crash does not happen?

[2020-04-06 09:34] Ivaka commented on #357
We have the following patches in place to avoid the crash
[code]

Credit for this goes to @sspanak. If you find this useful we can prepare a PR

[2020-04-06 09:47] sspanak commented on #357
Sure, I can do that.

However, as I have never been part of `mediasoup` development team, I have just given my best, it's not that I am 100% sure this is the right fix. I may have only "cured" the symptoms. :slightly_smiling_face:

[2020-04-06 09:48] ibc commented on #357
Thanks. Even if that patch avoids the crash, we need to know its rationale and implications. For instance, what is the rationale behind these changes?

[code]

[2020-04-06 09:50] ibc commented on #357
BTW working in branch [issue-357](https://github.com/versatica/mediasoup/tree/issue-357) to handle this bug.

[2020-04-07 07:50] geongun20 commented on #357
I observed this crash again today. But I can't get any files in the /tmp/cores folder.
Is it possible?
Or it may have been my mistake.

[2020-04-07 12:06] ibc commented on #357
Here some diffs:

### libwebrtc

At the left the mediasoup version, at the right libwebrtc master branch version:

1. [inter_arrival.cc](https://www.diffchecker.com/8448IiWS) (no big differences)
2. `inter_arrival.h` (no differences)
3. [remote_bitrate_estimator_abs_send_time.cc](https://www.diffchecker.com/ghllDEzD) (no big differences)
4. [remote_bitrate_estimator_abs_send_time.h](https://www.di

[2020-04-07 12:06] ibc commented on #357
It's just impossible that 3.5.3 has a bug (related to this issue) and 3.5.3 does not:

https://github.com/versatica/mediasoup/compare/3.5.2...3.5.3

Are you using plain transports? or just WebRTC transports?

[2020-04-07 12:07] sspanak commented on #357
Well, in short, the patch does what @ibc advised. It does "return whatever". As a matter of fact, I have even tried to guess what should be the correct return value.

And In more details, it is a bit longer.

So, the only thing I new when I started was, that `InterArrival::BelongsToBurst` crashes and it was obviously because of negative "complete time" (see the error messages posted by @Ivaka). Du

[2020-04-07 12:12] ibc commented on #357
Thanks @sspanak, very useful info. Will work on this these days and notify here.

[2020-04-07 12:12] sspanak commented on #357
As for the version, if I remember correcly, we saw the same with all 3.4.x version that we tried, right? It is definitely not a regression in 3.5.3. @Ivaka , correct me if I am wrong.

[2020-04-07 12:39] ibc commented on #357
https://mediasoup.org/support/#crashes-in-mediasoup-get-a-core-dump

[2020-04-08 10:49] chamikara1998 opened #375 "Npm install not working"
Mediasoup npm install failed. Tried on Mac OS X Mojave and centos system. both failed.
I also updated python => python 3
gcc => 9.1
make => GNU Make 3.82

This is the result of centos 7.0

`Traceback (most recent call last):
  File "./scripts/configure.py", line 111, in <module>
    run_gyp(gyp_args)
  File "./scripts/configure.py", line 49, in run_gyp
    rc = gyp.main(args)
  File "./deps/gyp/py

[2020-04-08 10:52] ibc commented on #375
No, there is no "Docker image for mediasoup" because mediasoup is a library, not a standalone server.

Please paste versions. Why did you not honor the issue bug template? Closing issue. Open a new one by honoring the versions requested in the issue template.

[2020-04-08 10:52] #375 closed, assigned to nobody

[2020-04-08 10:55] chamikara1998 commented on #375
@ibc what do you mean by versions

[2020-04-08 11:13] chamikara1998 opened #376 "Npm install Failed - [Errno 2] No such file or directory [CentOs]"
Npm installed failed in Digital Ocean Droplet

`Traceback (most recent call last):
  File "./scripts/configure.py", line 83, in <module>
    (major, minor), is_clang = compiler_version()
  File "./scripts/configure.py", line 36, in compiler_version
    proc = subprocess.Popen(CC.split() + ['--version'], stdout=subprocess.PIPE)
  File "/usr/lib64/python2.7/subprocess.py", line 711, in __init__

[2020-04-08 11:16] ibc commented on #376
Do a git clone of mediasoup (not mediasoup-demo) into a different folder. Enter into mediasoup/worker folder, run make and paste the output here.

[2020-04-08 11:36] chamikara1998 commented on #376
Traceback (most recent call last):
  File "./scripts/configure.py", line 87, in <module>
    raise RuntimeError('gcc <= 4.8 not supported, please upgrade your gcc')
RuntimeError: gcc <= 4.8 not supported, please upgrade your gcc
make: *** [default] Error 1

[2020-04-08 11:38] chamikara1998 commented on #376
Then I tried

CC=gcc-9.1 make

output

Traceback (most recent call last):
  File "./scripts/configure.py", line 83, in <module>
    (major, minor), is_clang = compiler_version()
  File "./scripts/configure.py", line 36, in compiler_version
    proc = subprocess.Popen(CC.split() + ['--version'], stdout=subprocess.PIPE)
  File "/usr/lib64/python2.7/subprocess.py", line 711, in __init__
    errread,

[2020-04-08 11:38] ibc commented on #376
Now you see your problem.

https://mediasoup.org/documentation/v3/mediasoup/installation/#linux-osx-and-any-nix-system

[2020-04-08 11:38] #376 closed, assigned to nobody

[2020-04-08 11:44] ibc commented on #376
Try with Python 2.

[2020-04-08 11:47] chamikara1998 commented on #376
Hello IBC Problem Solved.

Problem with GCC Version

`sudo yum install devtoolset-9-toolchain`
`scl enable devtoolset-9 bash`

This fixed issue. Anyway thank you so much.

[2020-04-08 15:08] jmillan commented on #357
The problem seems to be that mediasoup is providing libwebrtc deps with negative time values, which is not expected by libwebrtc.

How do we provide provide such negative values? Because we were simply doing a `static_cast<int64_t>(DepLibUV::GetTimeMs())` Such static cast would produce negative values when the value of `DepLibUV::GetTimeMs()` exceeds the maximum representable number in int64_t typ

[2020-04-09 04:56] keroxp opened #378 "Upload prebuilt mediasoup-worker by github actions"
Hi, We're using mediasoup for our product. This is awesome!

On installing from npm, building mediasoup-worker (in postinstall) is quite heavy, especially when building docker image. I found that `MEDIASOUP_WORKER_BIN` is useful for speed up of building by specifying prebuilt worker binary.

So how about uploading mediasoup-worker binary to github release on tagged?  puppeteer downloads chromium b

[2020-04-09 08:06] ysf465639310 opened #379 "A Docker image for mediasoup-demo"
## Feature Request
Here are image address  https://hub.docker.com/r/ysf465639310/mediasoup-demo-cloud

[2020-04-09 11:10] ibc commented on #357
mediasoup 3.5.7 released with the fix. Thanks a lot guys for your help!

[2020-04-09 11:16] ibc commented on #379
I appreciate it but please, use the mediasoup public forum to announce it: https://mediasoup.discourse.group/

[2020-04-09 11:16] #379 closed, assigned to nobody

[2020-04-09 11:18] ibc commented on #378
mediasoup must build many C/C++ deps (openssl, libuv, usrsctp, etc) so we cannot create a magic static binary that works in all platforms (all Linux/BSD distributions and versions and OSX).

[2020-04-09 11:18] #378 closed, assigned to nobody

[2020-04-09 11:22] ibc opened #381 "Add support for multichannel OPUS"
It seems that we may need to just add support for OPUS codecs with MIME type `audio/multiopus` and read the number of channels (4, 6, etc) from `codec.channels` as usual.

We also need to do it in mediasoup-client and libmediasoupclient.

References:

* [Surround Sound (5.1 and 7.1) in lib#webrtc and Chrome](https://webrtcbydralex.com/index.php/2020/04/08/surround-sound-5-1-and-7-1-in-libwebrtc-an

[2020-04-09 13:31] sspanak commented on #357
Excellent news! We are going to upgrade to 3.5.7 soon and run stability tests on our own.

[2020-04-09 13:40] ibc commented on #357
Great, please confirm here when done.

[2020-04-10 11:42] barry-ran commented on #359
[openssl-cmake](https://github.com/janbar/openssl-cmake)

[2020-04-14 07:09] geongun20 commented on #357
We updated mediasoup version to 3.5.7, but worker still dies very rarely. Here is a core dump.
[core_dump_log.txt](https://github.com/versatica/mediasoup/files/4473627/core_dump_log.txt)
[core.mediasoup-worke.sig6.4673.zip](https://github.com/versatica/mediasoup/files/4473670/core.mediasoup-worke.sig6.4673.zip)

### Environment
Operating system: Ubuntu 18.04 LTS
Node version: 10.20.0
npm version:

[2020-04-14 07:44] jmillan commented on #357
Thanks for the info @geongun20,

[2020-04-14 08:43] jmillan commented on #357
I'm investigating this core, will report the findings later.

[2020-04-14 08:48] geongun20 commented on #357
@jmillan Thanks for your help! I hope you fix this terrible bug soon.

[2020-04-14 10:55] ibc commented on #357
So the crash happens in `inter_arrival.cc` in `InterArrival::BelongsToBurst()`:

[code]

Such a `current_timestamp_group_.complete_time_ms` is set above in `InterArrival::ComputeDeltas()`:

[code]

which is called by `delay_based_bwe.cc` in `DelayBasedBwe::IncomingPacketFeedback()` as follows:

[code]

Here we are using `libwebrtc`'s TCC feedback objects. Just a reminder that we "convert" or pure

[2020-04-14 11:22] jmillan commented on #357
This returns an `int32_t` which has been converted to  positive [here](https://github.com/versatica/mediasoup/blob/e19350fc523ac3faef15cb3f53c2683ea1b89ea0/worker/src/RTC/RTCP/FeedbackRtpTransport.cpp#L36)

[2020-04-14 11:24] ibc commented on #357
Right...

[2020-04-14 11:25] jmillan commented on #357
I propose adding this log. I'm quite sure this will point us to the right place

[code]

[2020-04-14 11:26] jmillan commented on #357
As far as I see there is where we are screwing and setting a negative timestamp.

[2020-04-14 11:30] ibc commented on #357
@geongun20 @sspanak can you please apply the above diff on top of mediasoup 3.5.7 and rebuild it?

[2020-04-14 12:11] ibc commented on #357
Just one more thing:

[code]

`current_timestamp_group_ = TimestampGroup();` makes it have these initial values:

[code]

and such a `InterArrival::Reset()` is called in `inter_arrival.cc` (in two places).

[2020-04-14 12:14] sspanak commented on #357
@ibc, we have not yet upgraded, we don't have capacity for that at the moment.

Either way, I don't think logging the above would help. If you see the core dump, the negative value in `BelongsToBurst` is `-674201172`, which has been `-674201173000` before division (sign was preserved). This value can be traced way back to `worker/src/RTC/Transport.cpp`, line 1818, where it was the value of some `r

[2020-04-14 12:20] ibc commented on #357
I assume you mean `receivedAtMs` (instead of `receive_time`), right? If so, `receivedAtMs` is in theory guaranteed to be positive because it's calculated taking into account this (in `FeedbackRtpTransport.cpp`:

[code]

I "think" it should be always positive.

We need to figure out why this happens. Of course that just logging will not fix the issue, but we need to understand why/where the bug hap

[2020-04-14 12:29] ibc commented on #357
@jmillan I see that our `PacketResult` in `FeedbackRtpTransportPacket` has `int32_t receivedAtMs{ 0 };`. However, in libwebrtc there is also a `PacketResult` class (in `network_types.h`) which has `Timestamp receive_time = Timestamp::PlusInfinity();`. Such a `Timestamp` is defined in `timestamp.h` and AFAIS it may hold a `int64_t` (while we use `int32_t` in our `PacketResult`).

However our `packe

[2020-04-14 12:33] sspanak commented on #357
I saw this on line 327 of the core dump file:
[code]
I haven't dug too deep, nor I have looked at `FeedbackRtpTransport.cpp`, so I am not sure if `receive_time` is the same as `receivedAtMs`.

[2020-04-14 12:34] ibc commented on #357
BTW by looking at the coredump, it's clear that it's originated upon receipt of a transport-cc feedback:

`this->rtpTransportControllerSend->OnTransportFeedback(*feedback);`

[2020-04-14 12:36] ibc commented on #357
Created a new branch [issue-357](https://github.com/versatica/mediasoup/tree/issue-357) with the above log (and a few more). Let's work on this branch.

[2020-04-15 08:18] ibc opened #383 "Support End-to-End Encryption with WebRTC Insertable Streams"
We should wait for AV1 Generic dependency descriptor and SFrame to be both sync’ed.

**Specs:**

* [draft-omara-sframe](https://tools.ietf.org/html/draft-omara-sframe)
* [RTP Payload Format For AV1](https://aomediacodec.github.io/av1-rtp-spec/), includes the [Dependency Descriptor RTP Header Extension](https://aomediacodec.github.io/av1-rtp-spec/#dependency-descriptor-rtp-header-extension) definit

[2020-04-16 13:17] ibc opened #384 "Upgrade to libuv 1.36.0 (must add our own GYP file)"
libuv has removed GYP support in 1.36.0. FXXK.

We need 1.36.0 to merge our pending [libuv-recvmmsg](https://github.com/versatica/mediasoup/tree/libuv-recvmmsg) branch. So we need to provide our own `libuv.gyp` file. This means:

* Move libuv repo from `worker/deps/libuv/` to `worker/deps/libuv/libuv`.
* Add our own `worker/deps/libuv/libuv.gyp`.
* Redo `mediasoup-worker.gyp`.
* etc.

[2020-04-17 19:15] bilicio opened #385 "freeze on safari mobile ios 13.2"
## Bug Report

**IMPORTANT:** We primarily use GitHub as an issue tracker. Just open an issue here if you have encountered a bug in mediasoup.

If you have questions or doubts about mediasoup or need support, please use the mediasoup Discourse Group instead:

https://mediasoup.discourse.group

If you got a crash in mediasoup, please try to provide a core dump into the issue report:

https://medias

[2020-04-17 19:36] ibc commented on #385
Thanks for ignoring the whole issue template.

[2020-04-17 19:36] #385 closed, assigned to nobody

[2020-04-17 20:51] davedoesdev commented on #383
How does this relate to https://tools.ietf.org/html/draft-ietf-perc-double-12 ?

[2020-04-17 20:58] ibc commented on #383
What is the exact question?

[2020-04-17 21:03] davedoesdev commented on #383
Are insertable streams an implementation of the "PERC: SRTP Double Encryption Procedures" spec?

[2020-04-17 21:19] davedoesdev commented on #383
Ah I see you already answered this https://mediasoup.discourse.group/t/e2eme-with-sframes-in-chrome/762

[2020-04-18 14:25] mkhahani commented on #357
Hey guys. Sorry I've not being involved for a long time. busy days 😥
I just upgraded to v3.5.7 and workers keep crashing. Let me know if I can help.

[2020-04-18 14:41] ibc commented on #357
Which crash? Just saying "it crashes" is useless for us.

[2020-04-18 15:47] mkhahani commented on #357
<details><summary>Here's one of the core dumps:</summary>

[code]
</details>

[2020-04-19 12:37] ibc commented on #357
In that core dump I see:

[code]

This is, `webrtc::InterArrival::NewTimestampGroup()` receives `arrival_time_ms=-406733760`.

@jmillan does that ring any bell?

[2020-04-19 16:11] ibc commented on #357
@mkhahani please use the `issue-357` and, if a crash happens again, paste the logs here. Such a branch will help due to added logs.

[2020-04-19 18:38] mkhahani commented on #357
Okay sure.

[2020-04-19 19:12] #384 closed, assigned to ibc, jmillan

[2020-04-19 21:01] ibc commented on #357
@jmillan some suspecting things I see:

### 1. Incoming RTP packet

[code]

`nowMs` is obtained via `DepLibUV::GetTimeMs()`. However, in `remote_bitrate_estimator_abs_send_time.cc`:

[code]

So basically we are passing a `uint64_t` value which later is used as if it was `int64_t`.

### 2. Outgoing Packet

Also, more. In `Transport.cpp`:

[code]

However in `TransportCongestionControlClient.cpp`:

[2020-04-19 21:16] ibc commented on #357
* Regarding **1. Incoming Packet** above, I've done this: https://github.com/versatica/mediasoup/commit/d8b4a92953d8b8104d1aef48259f3187a19d7579

* Regarding **2. Outgoing Packet** above, I've seen (and fixed) some bugs: https://github.com/versatica/mediasoup/commit/8ab389b4ee224d433b23045e62d1e96d52c24be6

[2020-04-19 21:29] ibc commented on #357
@sspanak @mkhahani I'm 99% sure that branch `issue-357` should fix the crash. [Here](https://github.com/versatica/mediasoup/compare/v3...issue-357) the differences.

Can you deploy it and try?

[2020-04-20 01:36] mkhahani commented on #357
Switched to branch issue-357 with your latest commit. I'll update you.

[2020-04-20 06:58] mkhahani commented on #357
<details><summary>new core dump</summary>

[code]
</details>

[2020-04-20 07:03] mkhahani commented on #357
BTW there was [an issue with audio that had been fixed](https://mediasoup.discourse.group/t/no-audio-is-heard-but-rtp-data-is-received/566/22?u=mkh) in v3.5.2 but it has appeared again after update to 3.5.7. Is there possibility that v3.5.7 does not include that fix?

[2020-04-20 07:47] ibc commented on #357
But where is the logs? This is just the core dump, we added logs and you have just pasted the core dump.

No, nothing has changed that may affect that. But PLEASE, not here, let's not add noise into this critical issue.

[2020-04-20 08:11] jmillan commented on #357
@mkhahani,

Do you seen [this error](https://github.com/versatica/mediasoup/blob/issue-357/worker/deps/libwebrtc/libwebrtc/modules/congestion_controller/rtp/transport_feedback_adapter.cc#L225) before the crash?

[2020-04-20 08:16] mkhahani commented on #357
Should I look for a particular log message?

Sorry, I guess that's some thing related to the latest chrome update. Will report in another topic.

[2020-04-20 08:18] mkhahani commented on #357
Yes I see:

[code]

[2020-04-20 08:19] ibc commented on #357
This does not look good:

[code]

* `arrival_time_ms=-180058205`: this is negative, and it's read from `DelayBasedBwe::IncomingPacketFeedback()` in `delay_based_bwe.cc` line 148 as follows:

[code]

* This means that `packet_feedback.receive_time.ms()` returns -180058205. Such a `packet_feedback` is a `webrtc::PacketResult` (defined in `network_types.h`) and his `receive_time` member is declared a

[2020-04-20 08:32] mkhahani commented on #357
Sorry for the noise 😬, this message is new to me. Am I doing some thing wrong?

[code]

[2020-04-20 08:33] ibc commented on #357
That's ok and expected. You will see that log even when things work fine.

(deleting to not have noise in this issue).

[2020-04-20 10:32] geongun20 commented on #357
Sorry to late. I will update to branch issue-357 today, and keep watching the crash occures again!

[2020-04-20 10:34] ibc commented on #357
The crash will happen, please wait until we comment here. Working on this.

[2020-04-20 10:36] geongun20 commented on #357
Ok I see. Thanks!

[2020-04-20 10:47] ibc commented on #357
Pushed. To clarify: it will still crash but it should now provide us super valuable information in both error logs and coredump. Please paste both if the crash happens. Regarding logs, we are just interested in error logs containing this string: `[ISSUE 357]`.

Thanks!

[2020-04-20 13:24] geongun20 commented on #357
THATS GOOD! I will test it right away.

[2020-04-21 05:33] mkhahani commented on #357
Here's the error log of two crashes:
[code]

[2020-04-21 07:47] jmillan commented on #357
Hi @mkhahani,

There is some data that is not present in the provided logs. Our fault, not every log line contains `[ISSUE 357]` label.

Those log lines: `[ISSUE 357] MS_DUMP_DATA` and `[ISSUE 357] feedback.dump()` and  `[ISSUE 357] previousFeedback.dump()` are followed by a chunk of information in the next lines.

Please provide that info too.

[2020-04-21 08:24] sspanak commented on #357
I follow the thread closely, but as for now we have decided to hold on with the upgrade.

[2020-04-21 08:39] jmillan commented on #357
You are free to not do it, but the only changes of the branch are extra logs that are generated just prior to the crash.

[2020-04-21 09:09] mkhahani commented on #357
@jmillan
I found these lines before the crash log:

<details><summary>log</summary>

[code]
</details>

[2020-04-21 09:14] ibc commented on #357
Yeah! that's exactly what we need.

[2020-04-21 15:48] ibc commented on #357
This to look:

* `GoogCcNetworkController::OnTransportPacketsFeedback(report...)`: This is the one calling to the problematic `delay_based_bwe_->IncomingPacketFeedbackVector(report...)` with a report.

* Such a `report` is `msg` in `DelayBasedBwe::IncomingPacketFeedbackVector(msg...)`.

* That method does: `auto packet_feedback_vector = msg.SortedByReceiveTime();`. Then it does:

[code]

* And `De

[2020-04-21 16:16] ibc commented on #357
This to look:

* `RtpTransportControllerSend::OnTransportFeedback(feedback)` convers our mediasoup `FeedbackRtpTransportPacket` to libwebrtc `TransportPacketsFeedback` by using:

[code]

* `TransportFeedbackAdapter::ProcessTransportFeedback(feedback...)` calls to `TransportFeedbackAdapter::GetPacketFeedbackVector(feedback...`).

* `TransportFeedbackAdapter::GetPacketFeedbackVector(feedback...`) ca

[2020-04-21 16:43] ibc commented on #357
This to look:

* `RtpTransportControllerSend::OnTransportFeedback(feedback)` convers our mediasoup `FeedbackRtpTransportPacket` to libwebrtc `TransportPacketsFeedback` by using:

[code]

* `TransportFeedbackAdapter::ProcessTransportFeedback(feedback...)` calls to `TransportFeedbackAdapter::GetPacketFeedbackVector(feedback...`).

* `TransportFeedbackAdapter::GetPacketFeedbackVector(feedback...`) ca

[2020-04-22 10:08] tapionx commented on #383
:+1:

[2020-04-23 09:19] geongun20 commented on #357
Here are 4 [ISSUE 357] logs.
I hope these are useful.

<details>
  <summary>crash 1</summary>

[code]
</details>
<details>
  <summary>crash 2</summary>

[code]
</details>
<details>
  <summary>crash 3</summary>

[code]
</details>
<details>
  <summary>crash 4</summary>

[code]
</details>

[2020-04-23 10:19] ibc commented on #357
Thanks, working on this.

[2020-04-24 11:30] ibc commented on #357
I give up. Our intention is to get rid of `libwebrtc` dep and code our own BWE. So I've created a PR with the patch suggested above by @Ivaka and @sspanak. Can you review please?

[2020-04-24 12:23] sspanak commented on #357
Yes, it looks good. Sorry I couldn't check it out earlier.

[2020-04-24 15:57] ibc commented on #357
Let's close this issue. Please people, comment if it happens again. And thanks to all.

[2020-04-27 17:04] craterone opened #390 "Consumer enables rtx, when RtpCapabilities not include rtx"
## Bug Report

RtpCapabilities
https://gist.github.com/craterone/8bd67fe66d2ec86285fcfa6b82bb7793

It seems mediasoup not check rtx with codec. I only set rtx with `VP8` and `VP9` , but it also enables rtx in `H264`.

Maybe We should set `rtxSupported` , after check parameters.
https://github.com/versatica/mediasoup/blob/v3/src/ortc.ts#L961

### Your environment

- Operating system: macOS
- Node v

[2020-04-27 17:08] ibc commented on #390
No, this is on purpose. mediasoup supports RTX for any video codec. This is explained in the docs.

[2020-04-27 17:08] #390 closed, assigned to nobody

[2020-04-29 08:45] madabhaviamit opened #391 "std::regex_error using GCC 8.3"
Hi Team,

When I call transport.produce() on server, mediasoup worker dies unexpectedly. I am attaching the screenshot of the same, I am using mediasoup version 3.5.7
![image](https://user-images.githubusercontent.com/29198504/80576886-936b6980-8a23-11ea-8a99-1aae8289c5d0.png)

Google chrome : Version 78.0.3904.87 (Official Build) (64-bit)
Operating system: RHEL 7.4 (64-bit)
Node version: 12.16.2

[2020-04-29 08:46] ibc commented on #391
Please enter node_modules/mediasoup/worker, run make and paste here the first 30 lines of the output.

[2020-04-29 09:55] madabhaviamit commented on #391
/usr/bin/python2 ./scripts/configure.py -R mediasoup-worker
['-R', 'mediasoup-worker', '/opt/LiveCast_Build_Core/node_modules/mediasoup/worker/mediasoup-worker.gyp', '-I', '/opt/LiveCast_Build_Core/node_modules/mediasoup/worker/common.gypi', '--depth=.', '-f', 'make', '-Goutput_dir=/opt/LiveCast_Build_Core/node_modules/mediasoup/worker/out', '--generator-output', '/opt/LiveCast_Build_Core/node_mod

[2020-04-29 10:41] ibc commented on #391
I need the Producer options given to transport.produce() in server side, specially the rtpParameters.

[2020-04-29 13:01] madabhaviamit commented on #391
Hi, i call transport.produce() from client two times, first time for video track and next time for audio track. Worker dies for the first call itself. Here are the rtp parametes.

[2020-04-29 13:01] madabhaviamit commented on #391
[code]

[2020-04-29 13:38] ibc commented on #391
We have tons of tests that cover `scalabilityMode` and they run in different Linux versions with different GCC versions and all them are passing:

* https://travis-ci.com/github/versatica/mediasoup

So, unless there is a bug in GCC 8.3, I don't know why it fails for you. Anyway, above you attached the binary coredump which is completely useless for us (we don't have your `mediasoup-worker` compile

[2020-04-30 06:50] madabhaviamit commented on #391
Hi,
Followed the steps updated to get a core dump, there was no mediasoup-worker binary present under "node_modules/mediasoup/worker/out/Release/mediasoup-worker"

![image](https://user-images.githubusercontent.com/29198504/80680710-e6edbe00-8adc-11ea-99ad-c75537f9b651.png)

[2020-04-30 10:13] ibc commented on #391
And can you look for it? Can you enter in `node_modules/mediasoup/worker` and run `make clean && make`? It will print location of the `mediasoup-worker` binary at the end.

But please, do also other than just follow my exact steps. Use `find` or whatever to look for the `mediasoup-worker` file, etc.

[2020-04-30 12:55] madabhaviamit commented on #391
These are the first few lines from the console after doing gdb back trace, i will dump the backtrace into a file and upload it.

(gdb) bt full
#0  0x00007f119decd387 in raise () from /lib64/libc.so.6
No symbol table info available.
#1  0x00007f119decea78 in abort () from /lib64/libc.so.6
No symbol table info available.
#2  0x00007f119e9f97d5 in __gnu_cxx::__verbose_terminate_handler() () from /lib

[2020-04-30 17:12] ibc commented on #391
Is is possible for you to upgrade to GCC 8.4?

[2020-04-30 17:14] madabhaviamit commented on #391
Yes, I have a instance that has 8.3.1. Everything works properly on that.
Do you think the problem is because of the gcc version 8.3.0?

Regards,
Amit M

On Thu, 30 Apr 2020, 22:42 Iñaki Baz Castillo, <notifications@github.com>
wrote:

[2020-04-30 17:17] ibc commented on #391
Proper `std::regex` is supposed to be fine in GCC >= 4.9. I don't know if there was a bug in GCC 8.3.0 or may be RedHat uses a modified version.

Can you do this in both machines (with GCC 8.3.0 and 8.3.1)?

* Checkout mediasoup GIT repository to get the latest "v3" branch (the default branch).
* Enter `worker/` folder.
* Run `make test`.
* Paste the results in both machines (tests should fail in

[2020-04-30 17:22] madabhaviamit commented on #391
Yes.. I can do that. I will get back to you with the results of both the
machines.

[2020-04-30 18:50] aetheon opened #392 "Worker crash"
## Bug Report
Worker crashes every so often, I've got a crash every 2 days or so.

core dump: https://drive.google.com/file/d/14IBZCsx4DXAsLHJ70K05tsvIxBrvqA_w/view

### Your environment

- Operating system: ubuntu1~18.04
- Node version: v10.19.0
- npm version: 6.13.4
- gcc/clang version: gcc 8.4.0 / g++7.5.0 / cc 8.4.0 / c++ 7.5.0
- mediasoup version: 3.5.8
- mediasoup-client version: 3.6.5

[2020-04-30 20:02] ibc commented on #392
Attaching the coredump binary file is useless because we don't have your `mediasoup-worker` binary. Please check the steps in https://mediasoup.org/support/#crashes-in-mediasoup-get-a-core-dump.

[2020-04-30 20:04] ibc commented on #392
Also the fact that you have different veersions for `gcc / cc` and `g++ / c++` is terribly suspicious. They are supposed to be the same.

[2020-04-30 20:44] aetheon commented on #392
ah no just reset the machines to have 3.5.9. I'll do these steps next time it happens, provided its not fixed by that version. I'll close it for now tks.

[2020-04-30 20:44] #392 closed, assigned to nobody

[2020-04-30 20:45] ibc commented on #392
Good news them :)

Thanks.

[2020-05-01 11:50] surya-vamsi2310 opened #393 "failed at the mediasoup@3.5.9 postinstall script while installing packages"
Hello
after cloning git, and installing npm im getting error message something like this
**failed at the mediasoup@3.5.9 postinstall script**

Can anyone help me please

[2020-05-01 11:55] #393 closed, assigned to nobody

[2020-05-04 10:35] Klagio commented on #383
Hi! Is there a timeline for E2EE support?

[2020-05-04 11:35] ibc commented on #383
Please, read the issue description. This is not something that can be done really now.

Anyway this issue is not for discussions, use the public forum for questions, please. Deleting these comments.

[2020-05-04 16:06] madabhaviamit commented on #391
Hi,
Here is the output of gcc 8.3.0
![image](https://user-images.githubusercontent.com/29198504/80986608-6ddcc680-8e4e-11ea-85e4-dcf6903244bf.png)

And Here is the output from gcc 8.3.1

![image](https://user-images.githubusercontent.com/29198504/80987187-4d613c00-8e4f-11ea-9538-a43badec39b1.png)

[2020-05-04 16:21] ibc commented on #391
It's not even compiling in your host with GCC 8.3.0, no idea, honestly. That seems to be a dependency problem.

[2020-05-04 16:21] #391 closed, assigned to nobody

[2020-05-05 11:56] barry-ran commented on #359
I am trying to move mediasoup to cmake. I have made some attempts and it should be successful ([mediasoup-cmake](https://github.com/barry-ran/mediasoup-cmake))

[2020-05-05 12:24] ibc commented on #359
Interesting, This will be very useful for us.

Just wondering: Did you use `openssl-cmake` project into it? And what else did you have to modify (other than creating the `CMakeLists.txt` file)?

BTW I tried it in OSX and it seems to work, but I get these warnings:

[code]

[2020-05-05 12:50] barry-ran commented on #359
Yes, I used openssl-cmake. Now the mediasoup-cpp worker can only be compiled and run. It has not been rigorously tested. I will continue to improve it later (for example, [there](https://github.com/barry-ran/mediasoup-cmake/blob/55c83dd9a1e78b764b1360d644510dd19b1328be/worker/CMakeLists.txt#L270) are some compilation options not added, I am not sure What question), now I just hope it can help you.

[2020-05-05 14:29] ibc commented on #359
Thanks, don't hesitase in updating this issue with your progress, please.

[2020-05-10 16:36] ibc opened #394 "Simulcast with dtx:true (for sharing) produces frozen video in consumers"
### How to reproduce

In local environment:

1. Enter the mediasoup-demo app with tab1 (`&consume=false`) and tab2 (`&produce=false`).
2. Start sharing a YouTube 4k video Chrome tab in tab1 (it will set  `dtx:true` in simulcast `encodings`).
3. Wait for tab2 to receive spatial layer 2.
4. In tab1 limit max spatial layer to 1.
5. At this time tab2 is frozen since "high" simulcast stream (the one it

[2020-05-10 16:55] ibc commented on #394
**UPDATE:** I was wrong. In step 5 above, tab3 **is sending** tcc feedbacks. However mediasoup is not properly downgrading from spatial 2 to spatial 1, even if the logs seem to indicate that it should do it. There is a log like this every second, however the screensharing `SimulcastConsumer` does not move from spatial 2 to 1:

`mediasoup:Channel [pid:48912] RTC::SimulcastConsumer::GetDesiredBitrat

[2020-05-10 17:48] #394 closed, assigned to ibc, jmillan

[2020-05-11 09:17] penguinol opened #395 "Another bug in seqManager and performence increase"
Hi, guys!
There seem to be another bug in seqManager.
See such case:
[code]

When we droped some input near the max-value, after input back to 0, the output secquence num will be discoutinued.

I think it's because we simple use `<` to compare the input with the dropped packets, as follow:
in `bool SeqManager<T>::Input(const T input, T& output)`
[code]
In this case, in fact, 65535 is smaller than

[2020-05-11 09:22] ibc commented on #395
Amazing catch!

Would you mind creating a PR with the corresponding unit test, plea.... oh, you did!

[2020-05-11 09:25] jmillan commented on #395
Great points @penguinol!

[2020-05-11 09:33] jmillan commented on #395
@penguinol, can you share how do you get that flame graph?

[2020-05-11 09:37] ibc commented on #395
http://www.brendangregg.com/FlameGraphs/cpuflamegraphs.html

[2020-05-11 09:39] penguinol commented on #395
[code]

[2020-05-11 09:47] ibc opened #397 "Move to GitHub Actions?"
Just wondering if there is any benefit in moving from Travis-CI to GitHub Actions. It seems that GitHub Actions makes it easier to test in Mac and Windows. Example:

* https://github.com/eslint/eslint/blob/master/.github/workflows/ci.yml

[2020-05-11 09:49] jmillan commented on #397
I was thinking on the very same.

[2020-05-11 10:27] ibc commented on #395
Fixed in 3.5.11 thanks to PR #396 by @penguinol. Thanks!

[2020-05-11 10:29] #395 closed, assigned to ibc, jmillan, penguinol

[2020-05-11 18:08] yadavpradeep786 commented on #393
I'm also facing the same issue. Why all bugs are closed without solution?

[2020-05-11 18:25] ibc commented on #393
Because they provide absolutely zero data, and they don't even fill the issue template.

[2020-05-12 13:28] emresaracoglu opened #399 "Error "npm install" with "Mediasoup-demo""
Hi,

I want to install the demo but after the "npm install" command I get this error:

How can I fix?
Thank you

[code]

GCC Version:
[code]

[2020-05-12 13:40] ibc commented on #399
I'm sorry, but we have a forum for questions: https://mediasoup.discourse.group/

Ask there, please, and we'll reply.

[2020-05-12 13:41] #399 closed, assigned to nobody

[2020-05-12 15:37] nazar-pc opened #400 "Data channel termination on mediasoup itself"
## Feature Request
It would be very convenient to be able to terminate DataChannel on mediasoup and be able to send/receive messages from application.

One use case is to control application (the room for instance) using existing DataChannel connection.

Another use case is smart routing on application level, where messages arrive at application, are inspected and then conditionally forwarded some

[2020-05-12 15:56] jnoring commented on #400
+1

Most media servers repurpose their signaling layer (for example, socket-io) to handle application level messages.  This has some clear disadvantages compared to using a datachannel as an application-layer transport.

Currently, we have RESTful API endpoints for signaling, and once the peer connection is established, we use a data channel to send/receive application-layer messages.  We experien

[2020-05-12 16:17] friksa commented on #400
Why not use Protoo?  You cannot use WebRTC datachannels until you used a signaling protocol to create them.  IMO Protoo is perfect for that and already terminated on the server.

[2020-05-12 21:17] ibc commented on #400
I agree that this would be a good feature, and I feel your pain when trying to use `node-sctp` (although it works). Too complex setup.

The complexity of this proposal (which we already considered in the past) is that it breaks a bit the mediasoup design:

- The media (audio/video/SCTP) transmission with mediasoup is done via transports (WebRTC, plain, pipe transports).
- All those transports inhe

[2020-05-13 07:34] MichaelShu3333 opened #401 "retransmitted calculate issue"
## Bug Report

### Issue description
in the file of worker\src\RTC\RtpStreamSend.cpp:
in function void RtpStreamSend::UpdateScore(RTC::RTCP::ReceiverReport* report)

		if (repaired > lost)
		{
			if (HasRtx())
			{
				repaired = lost;                      <--
				retransmitted -= repaired - lost;     <--
			}
			else
			{
				lost = repaired;
			}
		}

in the case HasRtx is true, retransmitted do

[2020-05-13 15:28] ibc commented on #401
@jmillan can you check please? I'm not sure about the error.

[2020-05-13 16:56] penguinol commented on #401
`repaired = lost;`
so `repaired - lost = 0`
It looks like a bug

[2020-05-13 17:50] ibc commented on #401
Right. We'll fix it.

[2020-05-15 07:31] MichaelShu3333 opened #404 "Variable define best_it, but use as bestIt"
## Bug Report
variable define best_it but use as bestit

### Your environment
- Operating system: debian 10.04
- Node version: 10
- npm version:
- gcc/clang version:
- mediasoup version: 3.5.12
- mediasoup-client version:

### Issue description
if open log level for #define MS_LOG_DEV_LEVEL 3
build error information:
../deps/libwebrtc/libwebrtc/modules/remote_bitrate_estimator/remote_bitrate_estim

[2020-05-15 07:50] #404 closed, assigned to nobody

[2020-05-15 07:50] ibc commented on #404
Thanks, done.

[2020-05-15 07:56] ibc commented on #401
I see there is a noop line (`retransmitted -= 0`), it can be removed but I do not see any bug here:

[code]

@jmillan, we are not modifying `retransmitted` above (since `repaired - lost === 0`). Perhaps we should we update `retransmitted` `if `repaired <= lost`?

[2020-05-15 09:02] MichaelShu3333 commented on #401
@ibc if repaired - lost === 0, maybe retransmitted < repaired?
I got this case

[2020-05-15 09:19] ibc commented on #401
Not sure, we need to do some checks.

[2020-05-16 17:22] nazar-pc opened #405 "Allow disabling signal handlers"
## Feature Request
Looks like whenever SIGINT is sent to Node.js app, worker is stopped, even though its `.close()` method is not called explicitly.

This causes issues when there is a need to handle application shutdown gracefully, like to wait for certain things to happen until configured timeout.

I believe this is something within mediasoup even though I was not able to trace where it happens

[2020-05-16 19:46] jmillan commented on #401
This block of code makes me question many things. The only thing that makes sense to me is:

[code]

Of course this line is a noop: `retransmitted -= repaired - lost;`
This line is nonsense: `lost = repaired;`

On the other hand, why are we treating RTX differently, do you recall @ibc? The thing is that we store the received RTP packets for later retransmission upon NACK reception. If RTX is used

[2020-05-16 20:29] ibc commented on #401
Because Firefox does not support RTX so without different maths the score results were not useful.

[2020-05-17 09:19] ibc commented on #405
I can guarantee you that this SIGING handler is working properly and we use graceful shutdown in comercial applications for long time. Such a SIGINT handler does not avoid it at all. So this is not a bug (so let me close this issue report because I don't want to keep discussions in GitHub and want to keep the issue list clean).

If you want to do graceful shutdown, you have to add a signal handler

[2020-05-17 09:19] #405 closed, assigned to nobody

[2020-05-17 09:26] nazar-pc commented on #405
Are you saying that there is indeed SIGINT handler that stops worker and that is expected and should not be disabled?
If so then it is very frustrating and should be configurable at least.
Standard signal for stopping an app is either SIGINT or SIGTERM. Re-mapping it to something like SIGUSR2 is ugly and shouldn't be required by application (remember, mediasoup is just a library). This is the firs

[2020-05-17 09:33] ibc commented on #405
No, I did not say that.

The default behavior of libuv (or any C/C++ app) upon receipt of SIGINT or SIGTERM is just exit. In mediasoup-worker we do the **same**, however, instead of just exiting the `mediasoup-worker` process, we gracefully close it by calling `this->Close()` method. Just check `Worker.cpp` code, please.

That's not what I said. I meant that **at Node application level** when my m

[2020-05-17 09:36] ibc commented on #405
To clarify: this means that, when the Node app calls `worker.close()`, or when the Node app sends a SIGINT/SIGTERM signal to a `mediasoup-worker` process, or when the Node app is just terminated, the `mediasoup-worker` process runs `Worker::Close()` which gracefully terminates the libuv loop by properly closing all active handlers (UDP/TCP sockets, timers, etc). This gives us a chance to properly

[2020-05-17 10:21] nazar-pc commented on #405
Hm... my observation is that worker stops before my app calls `worker.close()`.

I have a signal handlers for SIGINT and SIGTERM, but while I'm waiting for clients to disconnect worker already exits for some reason. Maybe Node.js signals are forwarded to child processes automatically? Then this feature request is about disabling that behavior.

[2020-05-17 10:54] ibc commented on #405
If you set a SIGINT handler into your Node app and, for example, ignore the signal, mediasoup-worker should not be closed at all. I've confirmed it as follows:

[code]

If you then send `kill -s SIGINT NODE_PROCESS_PID` absolutely nothing happens and mediasoup-worker processes remain alive.

[2020-05-17 10:59] nazar-pc commented on #405
Interesting, with `kill -s INT` it is actually the case, but not with `ctrl+c` for some reason. Tried `dash` and `fish` shells. It should be sending `SIGINT` and I have never experienced anything like this before.

[2020-05-17 11:59] ibc commented on #405
At some point this should be an issue elsewhere (for instance in the specific terminal) rather than in mediasoup. mediasoup does not do any custom handling for SIGINT other than graceful exit in `mediasoup-worker` process.

When the Node app exits, its `UnixSocket` reliable sockets with `mediasoup-worker` processes are closed. That's detected by `mediasoup-worker` processes and gracefully close th

[2020-05-23 05:32] huyu1 opened #406 "how can I use FFmpeg and h264 ?"
**My  config code**
`module.exports = {
  listenIp: '0.0.0.0',
  listenPort: 3000,
  sslCrt: './crt/domain.crt',
  sslKey: './crt/domain.key',
  mediasoup: {
    // Worker settings
    worker: {
      rtcMinPort: 10000,
      rtcMaxPort: 10100,
      logLevel: 'warn',
      logTags: [
        'info',
        'ice',
        'dtls',
        'rtp',
        'srtp',
        'rtcp',
        // 'rtx',

[2020-05-23 06:45] ibc commented on #406
You know there is a forum, you read it in the issue template that you ignored. Please use the forum for questions. This is just for bugs.

[2020-05-23 06:45] #406 closed, assigned to nobody

[2020-05-23 14:13] SupertigerDev opened #407 "Error: Unknown platform: win32"
## Bug Report

**IMPORTANT:** We primarily use GitHub as an issue tracker. Just open an issue here if you have encountered a bug in mediasoup.

If you have questions or doubts about mediasoup or need support, please use the mediasoup Discourse Group instead:

https://mediasoup.discourse.group

If you got a crash in mediasoup, please try to provide a core dump into the issue report:

https://medias

[2020-05-23 16:15] jmillan commented on #407
Use https://mediasoup.discourse.group/ for questions.

Check the archives for the same topic before formulating your question. It's been already answered few times.

[2020-05-23 16:15] #407 closed, assigned to nobody

[2020-05-23 17:21] SupertigerDev commented on #407
It's not really a question but whatever. Imma just find something else. Thanks.

[2020-05-23 18:15] ibc commented on #407
Have you checked existing issues?

[2020-05-23 19:33] SupertigerDev commented on #407
Hey, I managed to get it to work with WSL but meh, Imma just give up. This seems way to complicated for me. more complicated to something like websockets. Thanks.

[2020-05-23 23:23] friksa commented on #407
I can tell you from experience that this is the best option.  It is worth reading he docs and investing the time.

[2020-05-24 06:50] SupertigerDev commented on #407
The docs have soo many things and idk what I'm looking for. There should be a very simple usage example or a simple quick start guide just like socket.io or discord.js have on their website.

I guess I will try again today but I doubt I will get far.

[2020-05-24 07:35] ibc commented on #407
Ok. Don't hesitate to complain in the mediasoup public forum rather than here.

[2020-05-25 07:29] penguinol opened #408 "There are mosaics on video when switching layers"
Hi, guys

I found that there are mosaics on video when switching layers, as follow:
![20200525144353](https://user-images.githubusercontent.com/14129614/82788675-7a779c00-9e9b-11ea-8e48-656fe0679904.png)

I captured packet. It seems because we did not finish sending the last lower layer frame packets when the higher layer i-frame came.
consumer packets:
![20200525151113](https://user-images.github

[2020-05-25 07:36] ibc commented on #408
Please provide info about codec, producer encodings, etc.

[2020-05-25 07:57] penguinol commented on #408
We are using chrome with ExternalCodec.
The orginal log was missed, but it should be something like this:
[code]

[2020-05-25 08:03] ibc commented on #408
So this is H264. Ok, the theory in mediasoup is the following:

- When switching to a different simulcast stream in a Consumer, we ask and wait for a keyframe for the desired stream.
- As far as we detect such a keyframe in the desired stream (ssrc) we let it pass to the Consumer and do the switch (so from now on the Consumer just relies RTP packets belonging to that stream).
- So, in theory, even

[2020-05-25 08:21] penguinol commented on #408
We have not tested vp8, casue we need to be compatible with some old devices which do not support vp8.

[2020-05-25 09:23] ibc commented on #408
Yep, I understand. What I mean is that, in theory the only issue could be a wrong (or too optimistic) keyframe detection:

https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/Codecs/H264.cpp#L14

[2020-05-25 15:18] cqh963852 commented on #378
Can we create different static binary for linux osx and windows?

[2020-05-25 15:34] ibc commented on #378
It depends. Who is "we"?

[2020-05-25 16:11] cqh963852 commented on #378
I means,If there is a way can create different binary.let me try it.Although i am not familiar c++ addon.

[2020-05-25 16:18] ibc commented on #378
I assume it's possible to create binaries and store them somewhere and then pull them during `npm install mediasoup`. It's just that we don't have time for that now.

[2020-05-26 02:17] penguinol commented on #408
The frame we sent when switching layer looks like idr frame in wireshark, so i think the keyframe detection is right in this case.

[2020-05-26 12:14] jmillan commented on #408
Is it reproducible @penguinol? Have you checked the chrome logs?

[code]

[2020-05-26 13:00] penguinol commented on #408
Yes, it's reproducible. Switch layer for about 10~20 times will appear once. I only tested in H.264.
I'll check the chrome logs later.
I tried to make a skip on rtp sequence number between two frames when previous frame was not send  completely.
It seems can fix the problem.
I guess it's because when seq num is continuous, and the decoder receive the packet of next frame, it will try to decode pre

[2020-05-26 13:59] jmillan commented on #408
Are you using the mediasoup demo? Because I'm unable to reproduce it there? Can you repro there?

[2020-05-27 05:42] penguinol commented on #408
No, we are using our own web app, but it also repro in mediasoup-demo.
Also you need to switch **spatial layers**.
By the way my chrome version is: **83.0.4103.61**
It's easier to reproduce when switching between high spatial layers, beacuse there are more rtp packets in one frame.

![20200527133550](https://user-images.githubusercontent.com/14129614/82981614-0a921e80-a01f-11ea-9917-08bf7db346d6.p

[2020-05-27 11:01] penguinol commented on #408
Here is the way i fix it.
https://github.com/penguinol/mediasoup/commit/de2ed3f9a8a1a36e7ca5b392390fb44da30f4341

[2020-05-27 11:38] ibc commented on #408
Interesting. Let's please some days to handle this (terribly busy).

[2020-05-27 19:31] ibc commented on #400
BTW working on this.

[2020-05-27 22:28] ibc commented on #400
Working on this in the [datachannel-termination](https://github.com/versatica/mediasoup/tree/datachannel-termination) branch.

For now, a new `DeviceChannel` C++ class has been created to enable bidirectional transmission of text/binary payloads between Node process and `mediasoup-worker` process by using a `UnixSocket` pair.

[2020-05-28 23:35] ibc commented on #400
Opss... https://github.com/versatica/mediasoup/pull/409

[2020-05-29 00:08] ibc commented on #400
And this: https://github.com/versatica/mediasoup-demo/pull/99

[2020-05-29 12:22] #400 closed, assigned to nobody

[2020-05-29 12:23] ibc commented on #400
Done. Will be announced in a new mediasoup version (today if possible, otherwise next days).

[2020-05-31 18:15] venkpath commented on #152
@ibc

Getting below exception while running  npm start at server..

please help me

(node:7436) UnhandledPromiseRejectionWarning: Error: spawn E:\gitclone\mediasoup
-demo\server\node_modules\mediasoup\worker\out\Release\mediasoup-worker ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
    at onErrorNT (internal/child_process.js:469:16)
    at processTicksAndReje

[2020-06-01 15:08] jmillan commented on #359
Hi @barry-ran,

I see that [mediasoup-cpp](https://github.com/barry-ran/mediasoup-cpp) is a separate project, not a mediasoup branch.

Could you please make it a mediasoup branch (out of current mediasoup v3 version) so it's easier to compare, collaborate and actually merge? We would like to put some efforts on this.

Thanks

[2020-06-02 01:11] nazar-pc commented on #408
I also experience a somewhat similar issue.
In 100% reproducible case with simulcast VP8 stream from Chromium sent to GStreamer, but only during initial start of the stream (changing spatial or temporal layer seems to fix it).

With @penguinol's fork I no longer see such issues (and from code changes they are not codec-specific indeed).

[2020-06-02 03:29] MichaelShu3333 opened #412 "video freezing and frame-rate drops with high packets loss"
I used h.264/vp8 codec in behind 3 cases, and found that bursts of video freezed and frame-rate dropped with 20% uplink packets loss with FEC & nack.
mode:
case 1: simple
case 2: svc
case 2: simulcast

mediasoup 3.5.15
OS: debian 10

I find video become more and more blur :
simple mode, the packets loss is about 1% used FEC & nack, but video sometimes freezed and frame-rate dropped.
svc and simulc

[2020-06-02 05:22] ibc commented on #412
Please, ask in the mediasoup forum. We don't provide support/questions in GitHub.

[2020-06-02 05:22] #412 closed, assigned to nobody

[2020-06-02 05:44] MichaelShu3333 commented on #412
thx

[2020-06-02 06:35] barry-ran commented on #359
Hi @jmillan ,
Ok i will do it, give me some time

[2020-06-02 07:10] jmillan commented on #359
:+1:

[2020-06-02 07:36] ibc commented on #408
Interesting. @penguinol may you please rename `lastSentPacketHasMarker` to `lastSentRtpPacketHasMarker` and provide a PR for this?

[2020-06-02 07:39] jmillan commented on #408
Since a video frame is carried by one or more RTP packets sharing the same RTP timestamp, I would say it would be more accurate making a timestamp jump instead of making a sequence number one.

So instead of modifying `SeqManager` to increase the base by one, we could decrease by one `tsOffset` in `SimulcastConsumer`. I find this change more reliable.

Could you please try it @penguinol?

[2020-06-02 10:16] ibc commented on #408
Actually we **already** take care of NOT sending `timestamp` in the keyframe of the switching stream equal or less than the `timestamp` sent in the last packet sent (belonging to the previous simulcast stream). Look for `shouldSwitchCurrentSpatialLayer` in `SimulcastConsimer.cpp`. This should avoid the problem.

@penguinol @nazar-pc can you enable `simulcast` log tag in the worker and see if, when

[2020-06-02 10:51] penguinol commented on #408
@ibc  @jmillan
Ok, I'll try it later.

[2020-06-02 11:45] nazar-pc commented on #408
Here is my log:
<details>

[code]

</details>

This is how decoded image looks like:
<details>

![](https://user-images.githubusercontent.com/928965/83516361-91dc0800-a4df-11ea-8f45-6dfd23c668ef.png)

</details>

[2020-06-02 13:58] jmillan commented on #408
Wow @nazar-pc, it seems you can repro really easily (fast).

Is there any chance we can get the same logs with the following diff applied?

[code]

[2020-06-02 14:18] nazar-pc commented on #408
Sure, it happens right away for me and seems to fix itself on key frame or layers changing:
<details>

[code]

</details>

[2020-06-03 03:38] geongun20 opened #414 "Incorrect value in consumer.getStats()"
## Bug Report

### Your environment

- Operating system: Ubuntu 18.04.4
- Node version: 10.20.1
- npm version: 6.14.4
- gcc/clang version: 7.5.0
- mediasoup version: 3.5.9
- mediasoup-client version: 3.6.5

### ssrc from producer.getStats() over time
![image](https://user-images.githubusercontent.com/43872798/83592481-69aee080-a595-11ea-9397-73aa6148d94a.png)

### ssrc from consumer.getStats() ove

[2020-06-03 07:22] jmillan commented on #408
Thanks for the logs @nazar-pc,

Here the key:

[code]

We are behaving as expected: when changing the source stream we increase the RTP timestamp in order to tell the encoder that **this RTP packet contains a different frame than the previous one**. Encoder should recognize it and encode it as a new fresh frame.

I wonder why the encoder does not recognize the payload of a RTP packet with differen

[2020-06-03 09:12] ibc commented on #414
@jmillan perhaps we are updating related members **also** when computing scores so they affect next computation of packet loss? Something like that happened in the past.

[2020-06-03 09:29] jmillan commented on #414
Probably. Need to reproduce and do some testing.

[2020-06-03 10:04] penguinol commented on #408
My opinion is that the decoder can recognize the new frame, cause if it doesn't, it should request a key frame after decoding failure, but there is no fir or pli in the packet, and the video is also clear.
So the decoder can recognize the new frame, but it doesn't know the frame is incomplete, because the rtp seqnum is continuous and it try to decode the incomplete frame and the problem occures.
O

[2020-06-03 11:12] jmillan commented on #408
@penguinol what you say makes sense.

Still I would love to be able to reproduce this. I've been able to see mosaics once in the mediasoup demo while applying download packet loss.

@nazar-pc any chance you could share how to reproduce it? Since you can reproduce it immediately in your scenario it would be really helpful trying it locally.

[2020-06-03 11:26] jmillan commented on #408
Trying with mediasoup-demo locally for now.

[2020-06-03 12:01] nazar-pc commented on #408
It is a part of larger proprietary app that would be very non-trivial to reduce. Also it uses custom SDP serializer/parser for talking to GStreamer's webrtcbin (will hopefully replace with https://github.com/versatica/mediasoup-sdp-bridge at some point). You'd also need to build GStreamer from master branch. It is possible to do, but will take a long time to prepare a reproducible demo.

Other tha

[2020-06-03 13:48] jmillan commented on #408
Would you @nazar-pc, @penguinol please try this [branch](https://github.com/versatica/mediasoup/tree/issue_408)?

It just adds a RTP timestamp offset equivalent to that which an encoder would add for a 30fps encoding for intraframe RTP packets instead of the current value of 1 that we set.

I would like to know if the decoders would consider the packet payload now a new frame due to the TS differe

[2020-06-03 21:18] nazar-pc commented on #408
Yes, seems to work fine for me with both 30fps and 60fps camera input :+1:

[2020-06-04 05:52] penguinol commented on #408
It seems does not work for me.

![20200604134731](https://user-images.githubusercontent.com/14129614/83719708-4144e600-a66a-11ea-87ce-3993184e2e57.png)

[2020-06-04 06:22] penguinol commented on #408
Here is a gif shows how to reproduce the problem.
https://github.com/penguinol/mediasoup/blob/408/doc/3.gif

[2020-06-05 10:47] ibc opened #415 "Set score:0 when dtx:true is set in encoding and there is no RTP"
When a Producer is created with `dtx:true` in an `encoding` we do not run the RTP inactivity timer in `RtpStreamRecv` so when such a stream stops sending RTP, we keep `score:10`.

In those cases, we should also run the RTP inactivity timer with a much higher value (i.e. 5-10 seconds).

[2020-06-05 11:52] #415 closed, assigned to ibc, jmillan

[2020-06-05 11:54] jmillan commented on #415
:+1:

[2020-06-05 12:09] albyho commented on #415
👍

[2020-06-08 06:51] nazar-pc opened #417 "postinstall causes "npm prune --production" to rebuild everything"
## Bug Report

### Issue description
This should not recompile everything when pruning dev dependencies.
https://github.com/versatica/mediasoup/blob/07c206ee86d5a411e6c9253e43d9fd1b7f3ba15a/npm-scripts.js#L121-L134

My Dockerfile looks like this:
<details>

[code]

</details>

The idea is to cache as much as possible. Which is why all depenencies are installed first, which will be used for TypeScr

[2020-06-08 23:36] ibc commented on #417
I don't understand what this issue or feature request is about. mediasoup is a NPM library and, like any other, it's just installed (and hence compiled) when a new version is requested or available (based on SEMVER logic in `package.json`).

[2020-06-08 23:37] nazar-pc commented on #417
The issue is that it is compiled once on `npm ci` and then once again if `npm prune --production` is called after that.

[2020-06-09 05:52] AJLoveChina commented on #264
@ibc

It seems not working on firefox, but is OK on Chrome.

Example here : https://jsbin.com/kipacok/edit?html,console,output

![image](https://user-images.githubusercontent.com/11222746/84110810-28687600-aa58-11ea-8965-3cde17b7fd0c.png)

[2020-06-09 09:49] ibc commented on #123
Maybe tomorrow.

[2020-06-09 09:49] #123 closed

[2020-06-09 09:52] ibc commented on #417
I have no idea about why it's compiled twice following those steps. First time I know about `npm prune` command. I just don't know about it and honestly don't have time to investigate it for now.

[2020-06-10 02:18] nazar-pc commented on #408
@jmillan do you think changes from mentioned branch `issue_408` are going to end up being merged? I'd love to see that.

[2020-06-10 11:23] BlueMagnificent opened #418 "Starting applications with PM2 on Windows pops up blank console"
## Bug Report

### My environment

- Operating system:  Win10 and Win Server 2012
- Node version: v12.16.1
- npm version: v6.13.7
- mediasoup version: v3.5.9

### Issue description
Starting applications with PM2  pops up blank console window generated by the mediasoup-worker executable ( judging from the full execution path shown as the title of the console ).

It does this for every worker proces

[2020-06-10 11:28] ibc commented on #418
Can you send a PR?

[2020-06-10 11:30] BlueMagnificent commented on #418
Sure, right away

[2020-06-10 12:52] #418 closed, assigned to nobody

[2020-06-10 17:07] ibc opened #420 "Notify Consumers about all Producer layers/scores"
- `consume.on('layerschange')` tells the app about new current spatial and temporal layers being delivered to the consuming endpoint.
- `consumer.on('score')` tells the app about the score of the consuming endpoint (media from mediasoup to endpoint) and also about the score of the specific stream of the Producer.

But we lack a way to tell the app (via `Consumer` events) about the number of layers

[2020-06-10 19:32] ibc commented on #420
Working in https://github.com/versatica/mediasoup/tree/feature-420 branch.

[2020-06-11 01:18] nazar-pc commented on #420
I'm not sure this is necessary. Consumer options already contain this info in `rtpParameters.encodings[].scalabilityMode` property and scalability mode doesn't change over time from what I understand.

UPD: Ah, you want to know when producer downgrades quality? Then you can listen for score on corresponding producer...

[2020-06-11 08:29] ibc commented on #420
`scalabilityMode` just tells the Consumer how many spatial layers (RTP streams in case of simulcast) and temporal it can receive. This issue (and the already finished PR #421) is about dynamically notifying the Consumer about the score of each RTP stream in the Producer.

Example:

- Alice creates a simulcast Producer to send video with 3 streams (low, medium, high quality) and N temporal layers e

[2020-06-12 03:11] nazar-pc commented on #408
With slightly longer path I'm still able to reproduce issue with `issue_408` branch.
@penguinol's fork doesn't fix it either in that case.

Here is the log of it with @penguinol 's fork:
<details>

[code]

</details>

And here is log with `issue_408` branch:
<details>

[code]

</details>

UPD: Workaround that works for me :trollface:  :
[code]

[2020-06-12 06:48] MichaelShu3333 opened #423 "Two integers division is an integer not float in c/c++"
## Bug Report
 Two integers division is integer not float in c/c++

### Your environment
- Operating system: Debian 10.4
- Node version:
- npm version:
- gcc/clang version: 8.3
- mediasoup version: 3.6.6
- mediasoup-client version:

### Issue description
in mediasoup worker/src/RTC/RtpStream.cpp:
this->score = static_cast<uint8_t>(std::round(totalScore / samples));
totalScore / samples is an integ

[2020-06-13 09:39] ibc commented on #423
Thanks, will do. Next time do not hesitase to send a PR :)

[2020-06-13 09:43] #423 closed, assigned to nobody

[2020-06-13 10:43] ibc commented on #420
@nazar-pc please take a look to the gifs I've added in https://github.com/versatica/mediasoup/pull/421 to understand this feature.

[2020-06-13 15:31] nazar-pc commented on #417
Closing, seems to be an upstream issue in NPM itself

[2020-06-13 15:31] #417 closed, assigned to nobody

[2020-06-14 08:10] ibc commented on #420
Done.

[2020-06-14 08:10] #420 closed, assigned to ibc, jmillan

[2020-06-14 11:16] barry-ran commented on #359
Hi @jmillan ,
Sorry for not finishing till now，I cut off the [feat/gyp-move-to-camke](https://github.com/barry-ran/mediasoup/commits/feat/gyp-move-to-camke) branch based on 3.6.7, I try to small changes:
1. replace openssl with [openssl-cmake](https://github.com/janbar/openssl-cmake)
2. add CMakeLists.txt
3. build on [github action](https://github.com/barry-ran/mediasoup/actions/runs/134962848)

I

[2020-06-15 01:30] MichaelShu3333 commented on #423
Sorry, next time I will send to PR.  :)

[2020-06-15 07:08] ibc commented on #423
Don't worry and thanks :+1:

[2020-06-15 09:26] jmillan commented on #359
Thanks @barry-ran

[2020-06-16 16:54] jmillan commented on #408
Hi @nazar-pc,

Branch issue_408 is a good attempt but it's not spec compliant and there's no guarantee that it fixes the problem (indeed you can reproduce the issue).

I think my changes are the way to go, at least by spec. I hardcoded a RTP Timestamp increment of 30pfs on the first RTP packet of the new spatial layer. I'll make this increment to be as high as possible in time (low as possible in

[2020-06-17 03:21] Romantic-LiXuefeng opened #425 "Only cache one piece of media datas for one producer"
## Feature Request
For NACK, I find that now mediasoup media server cache one piece of media datas for each consumer,  there exists a problem, may cache more redundant datas between consumers.  In my opinion, the cache data should only cache one piece of data for one producer. Just like the rtmp GOP cache. Hope give some explain for this design.

[2020-06-17 09:14] ibc commented on #425
In each Consumer we store mangled packets, this is RTP packets already adapted to the receiving endpoint (CSeq, RTP timestamp, VP8 payload ids, etc. modified). We also store the packets encoded in RTX format when needed). We cannot just store the packets in the Producer.

Anyway, please start a discussion in the forum if you wish. This won't be done so closing the issue.

[2020-06-17 09:14] #425 closed, assigned to nobody

[2020-06-17 13:25] jmillan commented on #408
Could you give it a try to [issue_408](https://github.com/versatica/mediasoup/tree/issue_408) @penguinol, @nazar-pc? I've increased the RTP timestamp difference as if the stream was sent at 13fps. Hopefully any encoder will consider this a new frame and we'll get rid of this ugly effect.

[2020-06-17 13:42] jmillan commented on #401
Fixed in v3.

[2020-06-17 13:42] #401 closed, assigned to nobody

[2020-06-17 14:13] jmillan commented on #414
@geongun20,

`packetsLost` in consumer stats are directly taken from RTCP ReceiverReport received by the endpoint, we don't do any calculation.

Looking at the stats of the endpoint you should also see this discrepancy.

I'llI close the issue, don't hesitate to comment anything if needed.

[2020-06-17 14:13] #414 closed, assigned to nobody

[2020-06-17 15:35] jmillan commented on #359
Hi @barry-ran,

I'm getting the following error when trying to compile your branch:

<img width="1100" alt="Screenshot 2020-06-17 at 17 33 58" src="https://user-images.githubusercontent.com/732340/84918387-d27f7800-b0c0-11ea-8d3a-f27586d5fc32.png">

Such file is not present in `deps/openssl/openssl/crytpo`

[2020-06-18 06:50] penguinol commented on #408
Unfortunately，i can still reproduce the problem with issue_408 branch. And it's quite easy to reproduce.
Skipping on sequece num works for me.

[2020-06-18 13:34] barry-ran commented on #359
Hi @jmillan ,
You should build it with cmake:
[code]

[2020-06-19 11:09] unclerunning commented on #408
I believe this may related to this issue: https://bugs.chromium.org/p/webrtc/issues/detail?id=8423.
There are chances that PacketBuffer::FindFrames may deliver incomplete H264 frames.

[2020-06-19 11:19] unclerunning commented on #408
Set WebRTC-SpsPpsIdrIsH264Keyframe to true at receiver side should avoid this.
Also, we let mediasoup hold the last packet of a frame(marker)，then send it when almost other packets belongs to the same frame have been sent to receiver to reduce the probability of delivering incomplete H264 frames.

[2020-06-19 11:25] nazar-pc commented on #408
This is not H264-specific, I see similar behavior with VP8 both with GStreamer WebRTC implementation and Chromium.

[2020-06-19 11:31] jmillan commented on #408
Could you please indicate the environment to reproduce it?

- browser version (same for producer and consumer if possible)
- mediasoup running locally or not.

I've been not able to reproduce it right now.

But still reproducible by @nazar-pc. The fact that this way of fixing is not standard compliant but implementation dependant makes me think that it may solve the issue depending on the decoder

[2020-06-19 12:00] unclerunning commented on #408
@penguinol
PacketBuffer::FindFrames
[code]
says it will traverese backwards as long as we have a previous packet and the timestamp of that packet is the same as this one. so in your case seq from 50717 to 50733 will be treated as a complete frame.
@jmillan: Change TS does make sense.

[2020-06-19 12:39] jmillan commented on #408
So this explains why increasing the sec number works for this specific implementation.

Thanks for checking it out @unclerunning

[2020-06-20 05:28] penguinol commented on #408
I'm using meidasoup-demo with this option, nothing else changed.
Consumer Chrome Version is 83.0.4103.106
Producer Chrome Version is 81.0.4044.138

Reproduce steps is as the gif shows
https://github.com/penguinol/mediasoup/blob/408/doc/3.gif

[code]

[2020-06-20 06:01] penguinol commented on #408
I think this may explain why skip on seq num works.
[code]

[2020-06-20 09:21] penguinol commented on #408
Increasing timestamp may help decoder differentiate two frames.
But it does not tell the decoder the frame is not complete.
So that's why i can still reproduce the issue after increase timestamp.

Skipping on seq num does not help decoder differentiate two frames.
So the decoder will regard the two frames as one frame, but it finds the frame is incomplete(see the code in prev replay), so it will n

[2020-06-22 18:41] balajinammalvar commented on #269
I am using this in android native app url i post in app 4443/?roomId=yhj3knsh&peerId=ryqxw6oc&forceVP9=true but in video streaming codec was H264 in web i was posting forceVP9= true why this error came please resolve this.... is this error came before in android for anyone pls help me out @ibc

[2020-06-22 19:37] ibc commented on #269
Please, use the forum for usage questions, and not GitHub.

[2020-06-24 06:10] penguinol opened #426 "srtp streams are not removed after removing consumer"
Hi guys, it seems we do not remove strp streams after removing conusmers and producers.
We made a test which let about 10 client enter and leave the meeting repeatedly when the others keep stay in the meeting, after one night, the cpu usage was up to 100%.

By falme graph, i found `strp_get_stream` cost a lot of cpu cycles.
![image](https://user-images.githubusercontent.com/14129614/85506680-6bfbd

[2020-06-24 08:16] #426 closed, assigned to nobody

[2020-06-24 18:36] ibc opened #429 "C++ crashes when using PipeTransport (maybe)"
- Operating system: Arch Linux, 5.6.14-arch1-1
- Node version: v12.17.0
- npm version: 6.14.5
- gcc/clang version: gcc 10.1.0 (unclear if it also happens with clang 10.0.0)
- mediasoup version: 3.6.7

### Crash in `RTC::Producer::GetRtpStream()`

<details>

[code]

</details>

Here mediasoup is compiled using gcc 10.1.0.

The crash happens after receiving a RTP packet via `RTC::PlainTransport::OnR

[2020-06-24 18:53] ibc commented on #429
So the crash is here:

[code]

`Producer.cpp:816` is just this:

[code]

How can this crash at all? `std::map::find()` is not supposed to crash.

[2020-06-24 18:53] ibc commented on #429
Ambareesh, can you please fill the missing report information (the version fields in the issue description above)?

[2020-06-24 21:08] Ambyjkl commented on #429
Operating system: Arch Linux, 5.6.14-arch1-1
Node version: v12.17.0
npm version: 6.14.5
gcc/clang version: gcc 10.1.0

[2020-06-24 21:17] ibc commented on #429
Can you tell us about your scenario? It seems you are using a `PlainTransport` to receive plain RTP, right? Can I see the `rtpParameters` you pass to `plainTransport.produce()`?

[2020-06-24 21:36] Ambyjkl commented on #429
[code]

[2020-06-25 15:57] ambyjkl opened #430 "Crash in RTC::RtpPacket::~RtpPacket()"
- Operating system: Arch Linux, 5.6.14-arch1-1
- Node version: v12.17.0
- npm version: 6.14.5
- gcc/clang version: gcc 10.1.0
- mediasoup version: 3.6.7

### Issue description
[code]

[2020-06-25 15:57] ambyjkl commented on #430
@ibc it seems I actually have two types of crashes: this, and #429

Not sure if they are related :thinking:

[2020-06-25 16:02] Ambyjkl commented on #429
@ibc perhaps `this` is `null`? It's the first time you're dereferencing `this` in that function.

[2020-06-25 16:36] ibc commented on #430
And yet another crash due to C++ `std::map`. This is 200% strange. The only relevant difference I see is that you are using GCC 10. We have never tested GCC 10.

[2020-06-25 17:10] ibc commented on #429
It cannot be `null` since it's a non allocated member of `Producer.hpp` class. So it is automatically allocated until the `Producer` instance is deleted. Said that, we have done tons of tests and checks to ensure that, once a `Producer` is closed it is deleted/deallocated and removed from all other C++ maps. So 100% sure this is not the problem.

I think this is somehow related to your GCC version

[2020-06-25 18:46] ambyjkl commented on #429
@ibc here you go
[code]
All of them are at 10.1.0. Is there a known-working configuration I can try out to see if that fixes the problem?

[2020-06-25 18:47] ambyjkl commented on #430
I'll try running the tests on my setup, let's see how that goes

[2020-06-25 19:23] ibc commented on #430
I've already added gcc 10 in Travis. Tests are ok, but that's different than running RTP packets.

[2020-06-25 19:26] ibc commented on #429
You may try with gcc < 10. But we also need to know whether the issue happens all the time, just eventually after long usage or what.

[2020-06-25 20:52] Ambyjkl commented on #429
@ibc issue seems to be 100% related to gcc 10. It seems to work perfectly fine with clang, which is very surprising

[2020-06-25 20:54] ibc commented on #429
Amazing. I've searched for issues in gcc 10 but found no one related. If your gcc 10 the last 10 version? Perhaps it's a bit "beta"?

[2020-06-25 20:57] Ambyjkl commented on #429
Actually, spoke too soon, crashes in clang 10 too

[2020-06-25 20:57] ibc commented on #430
Since this is the same issue than #429, I'll close this and edit the previous one with both crash traces and will also edit/delete some comments.

[2020-06-25 20:57] #430 closed, assigned to nobody

[2020-06-25 21:00] Ambyjkl commented on #429
The clang issue is a different crash altogether

[2020-06-25 21:02] ibc commented on #429
Please print clang version and the clang crash trace.

[2020-06-25 21:04] Ambyjkl commented on #429
- Operating system: Arch Linux, 5.6.14-arch1-1
- Node version: v12.17.0
- npm version: 6.14.5
- gcc/clang version: clang version 10.0.0
- mediasoup version: 3.6.7

### Issue description
[code]

[2020-06-25 21:05] ambyjkl commented on #429
clang 10.0.0, that's very very dicey. Arch, y u do this :(

[2020-06-25 21:19] ibc commented on #429
Thanks. I've updated the issue description with the last crash (the one with clang). However, as you can see on it, it's not clang but gcc:

So I'm not sure you have really compiled mediasoup with clang. Please enter `node_modules/mediasoup/worker` and run:

* `make clean-all`
* `CC=clang CXX=clang++ make`

And print the first lines, something like this:

[code]

Here you can see `'-Dgcc_version=4

[2020-06-25 21:42] ambyjkl commented on #429
@ibc that's strange, I ran:
[code]
and I had these flags in the build
[code]
Clang seems to be pulling in some stuff built by gcc most likely

[2020-06-25 21:44] ambyjkl commented on #429
These are the first lines:
[code]

[2020-06-25 22:14] ambyjkl commented on #429
Crashes also happening with gcc 9. All crashes seem to be happening in `/usr/lib/libc.so.6`, which is part of glibc, and I have glibc version 2.31-5

[2020-06-25 22:15] ibc commented on #429
Try renaming gcc and g++ in /usr/bin and create links with those names pointing to clang and clang++. Then recompile after make clear-all.

The only clear thing is that this is indeed related to gcc 10.

[2020-06-25 22:38] ambyjkl commented on #429
@ibc after forcing clang everywhere, getting this backtrace on clang 10.0.0
[code]

[2020-06-25 22:46] ambyjkl commented on #429
clang 9.0.1 seems to be working quite well so far, no crashes yet

[2020-06-25 22:50] ibc commented on #429
If those errors (including the last one) would be real bugs in mediasoup, we would have noticed them long ago. We have been running mediasoup in production (in Debian and Ubuntu based systems) for years, including the mediasoup latest versions. Never seen this kind of issues. BTW in those Debian and Ubuntu servers, `glibc` version is 2.23 or 2.24.

I've found some people complaining about crashes

[2020-06-25 22:56] ibc commented on #429
Let's see.

[2020-06-25 23:04] ambyjkl commented on #429
Yeah @ibc definitely agree. We have been using mediasoup in production for 6 months and there have been zero issues, you guys are no slouches, the code is top-tier :D, and the only changes are the recent releases of both gcc10 and clang10, which are both way too young.

[2020-06-25 23:10] ibc commented on #429
Thanks :)
It may happen that those new versions of gcc, clang or glibc produce some issues in `libuv` or other mediasoup deps, but I've not been able to find any related (at least in `libuv`).

[2020-06-25 23:35] ambyjkl commented on #429
Finally got a crash on clang 9. It was a failed malloc inside openssl, very very odd
clang version 9.0.1
[code]
I'm going to test glibc 2.2.x now

[2020-06-26 00:17] Ambyjkl commented on #429
@ibc bad news, managed to crash the worker yet again, on older gcc and glibc

Operating system: Arch Linux, 5.6.14-arch1-1
Node version: v14.4.0
npm version: 6.14.5
gcc/clang version: gcc 8.3.0
glibc 2.28-10
mediasoup version: 3.6.7

[code]

[2020-06-26 08:12] ibc commented on #429
Ok, this is becoming serious. I've added your last report to the issue description (And deleted the comment).

This may be a regression due to recent changes in mediasoup C++ code. In order to figure it out, some questions:

2. Do you have your very same app code running without crashes with a mediasoup version older than 3.6.7?

3. All your reports above happen after receiving a RTP packet from a

[2020-06-26 08:55] ambyjkl commented on #429
I don't have the answer to that since we rewrote a lot of code along with the update to 3.6.7. But I can downgrade to the last known working version (3.5.15) and see how that goes

The ultimate recipient of the stream is a WebRTC client, through a `WebRtcTransport`. I've got a `PlainTransport` as the main source of truth which pipes into a router on the same or different worker (of which we have 1

[2020-06-26 09:01] ibc commented on #429
Thanks. Yes, indeed testing with previous mediasoup versions would be super helpful.

[2020-06-26 09:26] ambyjkl commented on #429
Okay, crash in mediasoup 3.5.15 with the Debian Buster configuration

<details>

[code]

</details>

[2020-06-26 10:48] jmillan commented on #429
Hi @Ambyjkl,

Please, run mediasoup with valgrind and provide us with the output file once it crashes.

Just set the following environment variables when running the server:

[code]

NOTE: remember installing valgrind.

[2020-06-26 10:54] ibc commented on #429
Please, given that you use N workers, use a different valgrind log filename template with the PID. AFAIR the mediasoup-demo project does it (maybe within the Docker image).

And try to replicate the crash with up to 2 workers connected via PipeTransport

[2020-06-26 10:55] ibc commented on #429
Also log each worker.pid into your app so we can match each valgrind log file with the corresponding mediasoup Worker (as those workers perform different logic in your app).

[2020-06-26 12:06] ibc commented on #429
`--log-file=/storage/mediasoup_valgrind_%p.log`

[2020-06-26 12:12] ibc commented on #429
This is:

- **worker_1** with a single **router_1** in which you create a single `PlainTransport` to inject audio/video.
- **worker_2** with a single **router_2** in which you create a single `WebRtcTransport` to send audio/video to a browser.
- Communicate both `Routers` using `router.pipeToRouter()`.
- Print both `worker_1.pid` and `worker_2.pid`so we can later match the two log files generated

[2020-06-26 13:38] ambyjkl commented on #429
@ibc @jmillan here you go

<details><summary>application log</summary>
<p>

[code]
</p>
</details>

<details><summary>mediasoup_valgrind_21771.log (worker 0: crashed)</summary>
<p>

[code]

</p>
</details>
<details><summary>mediasoup_valgrind_21772.log (worker 1)</summary>
<p>

[code]

</p>
</details>

[2020-06-26 15:33] jmillan commented on #429
@Ambyjkl, do you have the crash stack trace of this one?

[2020-06-26 15:38] ambyjkl commented on #429
I tried opening the crash dump in gdb, but I don't get a backtrace when using valgrind, but I can try running without valgrind and try to get the same crash

[2020-06-26 15:40] jmillan commented on #429
It would be helpful having a core dump where the crash does not happen in `uv__run_closing_handles` but during the processing of a request or packet. Does it always happen in `uv__run_closing_handles`?

[2020-06-26 15:43] ambyjkl commented on #429
No, it usually doesn't. It is only happening on Debian Buster + mediasoup 3.5.15. I'll try on 3.6.7

[2020-06-26 16:00] ambyjkl commented on #429
Managed to get a SIGSEGV crash when not using valgrind on 3.6.7. Still trying to get it on valgrind:

<details><summary>CLICK ME</summary>

[code]

</details>

[2020-06-26 16:01] ibc commented on #429
Please, upgrade to mediasoup last version, apply this patch, recompile and try:

[code]

[2020-06-26 16:25] ambyjkl commented on #429
Debian Buster + mediasoup 3.6.8

<details><summary>app log</summary>
<p>

[code]

</p>
</details>
<details><summary>mediasoup_valgrind_106067.log</summary>
<p>

[code]

</p>
</details>

<details><summary>mediasoup_valgrind_106068.log</summary>
<p>

[code]

</p>
</details>

[2020-06-26 20:56] nazar-pc commented on #408
This turns out to be quite frequent issue in production setting when switching layers often.
Any chance to have at least temporary workaround that works in mediasoup until proper solution is found?

[2020-06-27 09:32] ambyjkl commented on #429
Quick update @ibc @jmillan, this is most likely a regression in mediasoup 3.5+. We used to use 3.4.11 prior to 3.5.15, and we've been stress-testing that and there has not been a single crash yet.

[2020-06-27 09:41] jmillan commented on #408
Indeed @nazar-pc,

A mix of both solutions (cseq and timestamp) will be a good compromise in the meantime. We'll apply it in the next days.

[2020-06-27 10:42] ibc commented on #429
Cool cool cool. It would be **extremely** helpful if you could figure out a version that does not crash and the **next** version that crashes. Can you do that, please?

NOTE: For that we need to make sure that the whole mediasoup is compiled (including C deps), so you can use git checkout TAG plus make clear-all && make, or just npm install mediasoup@X.X.X.

[2020-06-27 13:35] ambyjkl commented on #429
Found the culprit: https://github.com/versatica/mediasoup/commit/22f0961f283c4a4d7040e35ad6b514f1b01b16ff.

UPDATE: This seems to be causing the SIGSEGV crash in the reports above. Checking out HEAD and reverting it doesn't solve the SIGABRT issues

[2020-06-27 13:51] ibc commented on #429
Good catch, however we cannot just remove that. The error would happen anyway if there is simulcast or SVC in the associated video `Producer`.

[2020-06-27 13:55] ambyjkl commented on #429
I see. Yeah, so far the last known good tag is 3.5.3

[2020-06-27 15:33] ibc commented on #429
So to summarize, the crash happens:

1. Using any mediasoup version after this commit: https://github.com/versatica/mediasoup/commit/22f0961f283c4a4d7040e35ad6b514f1b01b16ff.
2. In the `worker_1` that receives RTP over a `PlainTransport`.
3. `Producers` in such a transport have `kind` "audio" and "video", and the video one does not use simulcast or SVC.
4. `worker_1` uses `router.pipeToRouter()` t

[2020-06-27 15:36] ambyjkl commented on #429
I believe so

Yes, I believe this happens before any WebRtcTransport is created

I would need to check that

That I would need to check for you

[2020-06-27 15:49] ibc commented on #429
This is excellent news.

[2020-06-27 16:07] ibc commented on #429
My fault, I deleted the comment with the `RtpParameters` you pass to `router1.createPlainTransport()`. Can you paste them again?

[2020-06-27 16:22] ambyjkl commented on #429
Sure

[2020-06-27 16:24] ambyjkl commented on #429
[code]

[2020-06-27 16:27] ibc commented on #429
Please try by removing the `{ type: "goog-remb" }` line and tell me if still crashes.

[2020-06-27 16:38] ibc commented on #429
Also, are you calling `setMaxIncomingBitrate()` in the `PlainTransport`?

[2020-06-27 16:44] ambyjkl commented on #429
Sure, on it

No

[2020-06-27 16:52] ambyjkl commented on #429
Just crashed with goog-remb gone:

<details>

[code]

</details>

[2020-06-27 16:55] ibc commented on #429
Thanks, nothing should change due to removing that line so it's expected (I just wanted to confirm).

I cannot spend more time on this until next week. In the meanwhile, if you can, please test the missing bullets above (without video Producer and without calling pipeToRoute).

[2020-06-27 17:01] ambyjkl commented on #429
Sure, I'll do it and let you know, thanks for taking the effort :) have a good rest of your weekend

[2020-06-29 08:50] ibc commented on #429
Please tell us more about this crash:

https://github.com/versatica/mediasoup/issues/429#issuecomment-650585343

- Is it in the worker A in which you create the PlainTransport?
- Does it crash immediately after start receiving the first plain RTP packets?
- Did you call pipeToRouter() or not?

[2020-06-29 09:04] jmillan commented on #429
Also @Ambyjkl,

Please activate all the log tags in the mediasoup worker, set `debugLevel: 'debug'`, run it with `DEBUG=*` and paste them here please, for a session where you experience the crash.

[2020-06-29 11:19] ibc commented on #429
So, to clarify: Such a commit is not relevan, right? I mean: despite what the crash reports say, using a mediasoup version before or after that commit does not change anything and your app still crashes, right?

[2020-06-29 11:25] ibc commented on #429
The **mediasoup-demo** project has a [pipe](https://github.com/versatica/mediasoup-demo/tree/pipe) branch that uses `pipeToRouter()` so producers are created in a worker and consumers in another. I've tried this setup by also producing via `PlainTransport` (by using the `broadcasters/ffmpeg.sh` and `gstreamer.sh`) clients. I cannot get any crash so far.

So please @Ambyjkl, when you can try your a

[2020-06-30 15:36] jmillan commented on #408
We've applied the changes related to the RTP timestamp [here](https://github.com/versatica/mediasoup/commit/d4f5a20cc5e315d61b4184ec86401b27c8985545)

The reason why we haven't applied the changes in the cseq number is because this is a problem specific to Chrome H264 decoder implementation, and such a workaround in mediasoup would generate a false packet loss in the statistics *every time* we swi

[2020-06-30 15:44] jmillan commented on #408
Here I just mean exposing the issue so **they** can fix it

[2020-06-30 23:50] ibc commented on #408
Yes, please guys, give a start to the [issue](https://bugs.chromium.org/p/webrtc/issues/detail?id=8423) in libwebrtc.

[2020-07-06 13:19] nazar-pc commented on #408
Mentioned issue in libwebrtc is about H264, while I'm having issues with VP8. Now I'm forced to use fork with both solutions suggested here applied at the same time, which works fine.

Can you confirm that it also applies to VP8? Otherwise there is still an issue to be fixed in mediasoup.

[2020-07-06 16:49] jmillan commented on #408
The problem may be related to the packet buffer, that is agnostic (not 100% true) to the codec.

Can you please confirm whether with the cseq and timestamp fix we get a packet loss of one packet every time the spatial layer is changed? A main concern for avoiding such a solution is precisely that.

[2020-07-10 13:19] ibc opened #433 "Make it possible to consume RTP packets in DirectTransport"
[code]

In addition this would be great:

[code]

@jmillan thoughts?

[2020-07-10 13:27] jmillan commented on #433
Yep, absolutely.

[2020-07-10 15:51] jnoring commented on #433
Oh man.  +1000, yes please.

[2020-07-10 15:58] jnoring commented on #433
I'm probably getting greedy, but have you considered something like:

[code]

...although I realize this is quite a bit more difficult, because it would require reconstructing frame data from packets, which is non-trivial, particularly given all possible codecs, simulcast/svc, etc.

[2020-07-10 16:04] ibc commented on #433
No. mediasoup is a SFU, it does not encode/decode frames. That's up to the RTP endpoint. The RTP endpoint (the one that runs `consumer.on('rtppacket')`) will also need to implement a jitter buffer, RTCP NACK etc.

This design opens the door to have a RTP stack in JavaScript, but that's not trivial.

[2020-07-12 12:39] ibc commented on #433
opps...

https://github.com/versatica/mediasoup/pull/434

[2020-07-13 15:22] jnoring commented on #433
To be clear, I'm not proposing it "encode/decode" frames.  I'm proposing it would reconstruct compressed frames.  Those are entirely different things.

And yes, even reconstructing compressed frames would require a jitter buffer, NACKs (and possibly PLIs), etc.  I understand it's not trivial, because I wrote that code for licode.

[2020-07-13 15:26] ibc commented on #433
Yes, got it. But does not the purpose of a SFU but of a RTP endpoint. Look at the rtp.js repo here in versatica org.

[2020-07-13 15:27] jnoring commented on #433
I'm not sure I follow that comment.

[2020-07-13 15:30] ibc commented on #433
I just mean that the purpose of a SFU is to route RTP packets and not do things like jitterbuffer (which is required by an RTP endpoint).

Here I'm creating a RTP endpoint in TypeScript (super WIP yet): https://github.com/versatica/rtp.js

[2020-07-13 18:17] ambyjkl commented on #429
Hi @ibc and @jmillan
I'll test with your suggested modifications, I'll let you know asap

[2020-07-13 18:41] ibc commented on #429
BTW upgrade to the latest version, there are some fixes that may be related.

[2020-07-13 18:53] ambyjkl commented on #429
Got it, sorry I didn't get the chance earlier

[2020-07-15 21:40] nazar-pc commented on #408
I'm sorry for delay. Yes, there is 1 packet lost every time.
But that is incomparably smaller issue in some browsers than unusably destroyed image everywhere.

[2020-07-21 18:52] ibc commented on #433
Done in #434 (merged). To be released in 3.6.13 soon.

[2020-07-21 19:23] #433 closed, assigned to nobody

[2020-07-25 00:03] nazar-pc commented on #408
Can this be reopened until it is fixed, please?
Also did you check what others like Janus are doing in this regard?

[2020-07-25 06:30] jmillan commented on #408
Let's reopen it, yes. We need to do some research.

[2020-07-28 11:59] mahesh-co1 commented on #194
@jaciyu Heyy did you find the solution?

[2020-07-28 12:04] penguinol commented on #408
https://bugs.chromium.org/p/webrtc/issues/detail?id=11749
Here is the bug on libwebrtc

[2020-07-28 12:31] ibc commented on #194
Not here, please. There is a support forum.

[2020-07-28 12:50] penguinol opened #435 "strp_stream created unexcepted"
We found an issus when using PipeTransport transmit streams.

We made a large conference  so we need to transmit streams between mediasoup-workers.

We will create one recv PipeTransport and one send PipeTransport between two workers, and all the streams are transmitting on them.

There are two clients knowned as A and B. A is on worker1, and B is on worker2.

When the fisrt time A watched B, it's

[2020-07-28 12:56] jmillan commented on #408
Thanks @penguinol , I've commented in the issue.

[2020-07-28 13:23] cherishman2005 opened #436 "print bug: "sender ssrc" should be `feedback->GetSenderSsrc() `"
## Bug Report

mediasoup@3.1.7   Transport.cpp

### Issue description

[code]

print bug:

"sender ssrc"  should be  `feedback->GetSenderSsrc() `

[2020-07-28 13:35] ibc commented on #435
Interesting. Here a proposal:

- When creating a `RtpStreamRecv` in a `Producer`, let's delete the new SSRC from the SRTP transport.

Would that work?

Please check `PipeTransport::OnRtpDataReceived()` in `PipeTransport.cpp`:

[code]

perhaps we should validate the source of the packet (`this->tuple->Compare(tuple)`) **before** decrypting the packet? However the same should be done in `PlainTransp

[2020-07-28 13:39] #436 closed, assigned to nobody

[2020-07-28 13:39] ibc commented on #436
Thanks, fixed in v3 branch.

[2020-07-29 01:22] penguinol commented on #435
Maybe we should check the ssrc/rid/mid before we decrypt the packet, because the rtp header is not encrypted.

[2020-07-29 07:44] ibc commented on #435
This won't be true once we implement SRTP encrypted extensions.

[2020-07-29 08:09] ibc opened #437 "Avoid SRTP leak by deleting invalid SSRCs after STRP decryption"
Related to #435.

Currently when SRTP is enabled in any transport and a RTP packet is received:

- We decrypt SRTP first in the specific transport class. In `WebRtcTransport` we check packet source first, but this is irrelevant since malicious packets with random SSRC may be sent from the valid source.
- Then we call the parent `Transport::ReceiveRtpPacket()`.
- There we look for the corresponding

[2020-07-29 08:09] ibc commented on #435
Let's handle the second issue (libsrtp leak) in a separate issue here: https://github.com/versatica/mediasoup/issues/437 and let's focus here in just the consumer/producer issue when using pipe transports.

[2020-07-29 08:32] penguinol commented on #437
https://github.com/meetecho/janus-gateway/blob/bb0ab0931644599e05c72acbfd1e759761242023/ice.c#L2285

In Janus, they do check ssrc/rid/mid before decrypt the packet.

But you are right, when we support encrypted rtp header extensions, we can't get rid/mid before decrypting the packet.

For PipeTransport, it's not a big problem, cause we use ssrc only.

But for WebrtcTransport, we need to consider m

[2020-07-29 09:35] ibc commented on #435
@penguinol this should be fixed in `issue-435` branch (PR #438). Can you please check it so we release a new version?

[2020-07-29 14:32] penguinol commented on #435
So you generate a random ssrc for pipe to fix it, am I right?
It should fix the problem.

[2020-07-29 14:50] ibc commented on #435
Yes, the `PipeConsumer` will now generate random SSRCs instead of copying the "mapped" ones of its `Producer`.

ok, will merge.

[2020-07-29 14:58] jmillan commented on #437
What about this

[code]

[2020-07-29 15:15] ibc commented on #437
The packet may be discarded due to super old Seq or something like that. Is it a good idea to delete the SRTP stream in that case? Well, in fact it would be re-generated upon receipt of next RTP packet...

Said that, note that this is not yet enough. In pipe and plain transports we do SRTP decrypt (which may create a new SRTP stream) **before** we check the packet source.

[2020-07-29 15:15] #435 closed, assigned to nobody

[2020-07-29 15:23] jmillan commented on #437
This is solvable in `OnRtpDataReceived` by calling `RecvStreamClosed` if the just decrypted RTP packet does not come from a valid source.

[2020-07-30 01:58] penguinol commented on #437
We may also consider the situation of decrypting failed.

[2020-07-30 07:53] jmillan commented on #437
In that case `Producer::ReceiveRtpPacket` will return `ReceiveRtpPacketResult::MEDIA`. So the stream won't be deleted.

[2020-07-30 10:18] #437 closed, assigned to ibc, jmillan

[2020-07-30 10:36] mahesh-co1 commented on #194
Didn't get anything there. Why don't you just answer here and attach link to it and close this forever? That will be helpful for many.

[2020-07-30 10:43] ibc commented on #194
Because we have a forum for support and discussions, and we just want to use GitHub issues for real issues. And because that's our decision no matter what others consider.

[2020-07-31 17:12] jmillan commented on #408
medooze sends an empty packet with the marker bit before sending the first RTP packet for the new spatial layer:

https://github.com/medooze/media-server/blob/e2646a05b0cfce4c13241902deac4887fbb97aca/src/rtp/RTPStreamTransponder.cpp#L141

Looks like janus does not consider this case.

[2020-08-05 07:25] shivarajnaidu opened #443 "Recording media / streams of webrtc to save it as a file"
## Feature Request

I've gone through this library.. really nice lib.
But it looks recording feature is not there.
If we can get this feature it would be really useful for may.

[2020-08-05 07:37] #443 closed, assigned to nobody

[2020-08-06 17:10] ibc commented on #429
Friendly ping. We cannot reproduce this issue (have tried it hard) so will close if we don't get feedback.

[2020-08-12 18:22] ambyjkl commented on #429
Hi @ibc sorry I couldn't reply sooner due to exams, looks like 3.6.16 is quite stable, have not been able to reproduce it yet either. So I think we can close this issue for now :)

[2020-08-12 18:23] ibc commented on #429
Interesting, thanks :)

[2020-08-12 18:23] #429 closed, assigned to ibc, jmillan

[2020-08-17 05:25] penguinol commented on #408
It works for me, and seems no packet lossing rtcp feedback. Shall we use this method?

[2020-08-17 08:11] jmillan commented on #408
Can you please make the corresponding PR?

Since the new RtpPacket is provided to `RtpStreamSend->ReceivePacket()`, it's stored and we can resend it in case the receiver request it.

[2020-08-17 08:59] ibc commented on #408
AFAIK this addition must be done in each Consumer child class (simulcast and SVC) who must check whether it can switch to another layer based on the end flag, right?

[2020-08-17 09:33] jmillan commented on #408
correct

[2020-08-17 15:12] maomaompxyinjun opened #446 "The url :https://mediasoup.discourse.group/ can not open !!!!!!!!!!!! ask for help"
**IMPORTANT:** We primarily use GitHub as an issue tracker. Please, use the mediasoup Discourse Group if you have questions or doubts or if you need support about mediasoup and its ecosystem:

https://mediasoup.discourse.group

Before asking any questions, please check the mediasoup official documentation:

https://mediasoup.org/documentation/

[2020-08-17 15:13] #446 closed, assigned to nobody

[2020-08-19 08:12] penguinol commented on #408
Svc works fine now as i known, so we may just need to deal with simulcast.

[2020-08-19 09:31] matinzd commented on #375
I have the same problem with installation through yarn and npm.

[code]

[2020-08-22 20:41] moroine opened #448 "Include prebuilt mediasoup in package"
## Feature Request

Installing node_modules is very slow when mediasoup is included. Do you think it would be possible to include prebuilt versions of mediasoup using https://github.com/prebuild/node-gyp-build for example?

[2020-08-22 21:04] ibc commented on #448
Questions in the public forum, please.

[2020-08-22 21:04] #448 closed, assigned to nobody

[2020-08-24 13:52] ambyjkl opened #449 "Support for video/ulpfec and video/red codecs"
## Feature Request
Packet loss is a common issue in WebRTC and while video/rtx does a great job when there is low latency, its benefits are drastically diminished when latency is high and even the retransmitted packets get lost. Hence it would be great if mediasoup would add support for these error correction formats.

[2020-08-24 15:47] ibc commented on #449
We will implement FLEXFEC when really available in WebRTC clients. No need to keep a GitHub issue open for this. Thanks.

[2020-08-24 15:47] #449 closed, assigned to nobody

[2020-08-24 21:01] ambyjkl commented on #449
Well this is kind of a big deal for us at the moment, what is the difficulty level to implement this? We'll see if we can have someone help building this. Considering we are generating the ulpfec packets on gstreamer before piping them into mediasoup and we just want to pass on the packets to consumers, is there anything special that would need to be done on mediasoup's end?

[2020-08-24 22:07] ibc commented on #449
We don't want to implement ULPFEC because FLEXFEC looks much better, but it's still experimental in libwebrtc.

Lack of time. Not just to implement it but also to give exact guidance to others about how to do it. To clarify: I cannot become an expert right now in UPLFEC just to explain others how to implement it in mediasoup.

[2020-08-24 22:57] ambyjkl commented on #449
I see, that's definitely true, FLEXFEC indeed looks a lot better. It may take a long time before it makes it into libwebrtc on stable chrome, which is why ULPFEC seems like a more realistic option to us at the moment. Let's see if we are able to find someone with a good understanding of ULPFEC help implement this.

[2020-08-27 09:17] binxie33 opened #452 "ortc.getConsumerRtpParameters codec comparison issue"
- Operating system: Ubuntu Server 18.04
- Node version:  v8.10.0
- npm version: 3.5.2
- gcc/clang version: 7.5.0
- mediasoup version: v3
- mediasoup-client version: v3

### Issue description

In mediasoup ortc.getConsumerRtpParameters fails to select the usable codecs when comparing codes arrays like
[ {h264-aaa}, {rtx}, {h264-bbb}, {rtx}]
[ {h264-ccc}, {rtx}, {h264-bbb}, {rtx}]

The consumerParam

[2020-08-27 09:35] ibc commented on #452
I don't like that solution. You are assuming that the RTX codec always comes **after** its associated media codec. That works for your specific use case and may break other legitimate ones.

What we should do is clean `consumerParams.codecs` by removing RTX codecs in there that are not associated to a media codec in `consumerParams.codecs`.

[2020-08-27 09:46] binxie33 commented on #452
Oh, my mistake. I agree your approach is better. I got the impression that RTX codecs always comes after its associated codec from **mediasoup-client/ortc.reduceCodecs** function. It is basically doing the same.  Maybe we should fix that function as well.

[2020-08-27 09:49] ibc commented on #452
I don't see nothing wrong in mediasoup-client `ortc.reduceCodecs()` function...

[2020-08-27 09:54] ibc commented on #452
Please check the branch `issue-452` and let me know if this fixes the bug in your scenario:

https://github.com/versatica/mediasoup/pull/453

[2020-08-27 11:09] binxie33 commented on #452
Thanks for the quick fix. I tested in my environment and confirmed it works fine.

[2020-08-27 11:46] ibc commented on #452
Great, merging and releasing.

[2020-08-27 11:46] #452 closed, assigned to nobody

[2020-09-02 06:11] penguinol commented on #408
I read the code of webrtc, and it seems they do not do any special processing when receiving empty packet.
So sending empty packet do not help.
The only way that works now is skipping on seq num.
We need to wait for webrtc team to fix the issuse.

[2020-09-02 23:40] bfelbo opened #455 "Documentation website certificate expired (mediasoup.org)"
## Bug Report

FYI, it seems like the documentation website's certificate just expired (see screenshot below). I've confirmed that this is an issue across devices / networks.

![image](https://user-images.githubusercontent.com/23178145/92047756-cc517d00-ed3a-11ea-9955-c31390d49a60.png)

[2020-09-03 07:00] SwordLonn opened #456 "DataObserver for DataProducer"
## Feature Request
need DataObserver for hook DataProducer datas

[2020-09-03 07:44] jmillan commented on #455
Thanks for noticing @bfelbo.

Cert has been renewed.

[2020-09-03 07:44] #455 closed, assigned to nobody

[2020-09-09 04:04] zhengxiaochuan-3 opened #458 "Feature Request for Quic support"
## Feature Request
Webrtc on quic
https://bloggeek.me/who-needs-quic-in-webrtc/

Mediasoup on quic 👍

[2020-09-09 08:39] #458 closed, assigned to nobody

[2020-09-09 10:13] hugomallet opened #459 "yarn install causes mediasoup-worker ENOENT"
Hi,

On MacOS in a project using yarn and workspaces, every time i launch yarn (install) i have to rebuild mediasoup because of this error :

[code]

Then i have to run `npm rebuild mediasoup` to fix this error.

Any idea ?

Thanks

[2020-09-09 10:14] ibc commented on #459
Please use the public mediasoup forum for questions.

[2020-09-09 10:14] #459 closed, assigned to nobody

[2020-09-09 10:16] hugomallet commented on #459
This looks like an issue no ?

[2020-09-09 10:20] ibc commented on #459
You cannot guarantee that this is a bug in mediasoup, can you?

Please describe the problem in the forum by providing steps to reproduce (we don't use yarn and I don't know what "workspaces" are).

[2020-09-10 03:51] bianxg opened #460 "Debug version make failed"
## Bug Report

### Your environment

- Operating system: Ubuntu 16.04.6 LTS
- Node version:
- npm version:
- gcc/clang version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
- mediasoup version:   "mediasoup": "^3.5.14",
- mediasoup-client version:

### Issue description
I git clone https://github.com/edumeet/edumeet

$cd edumeet/server/node_modules/mediasoup/worker
$make clean
$export MEDIA

[2020-09-10 06:51] bianxg commented on #460
I update mediasoup version 3.6.19
$make -j4 BUILDTYPE=Debug -C out
the result is same

[2020-09-10 08:17] ibc commented on #460
I cannot reproduce it in Linux Debian with gcc 6.

Try the following, please. In `worker/common.gypi` line 31 remove the `'-fwrapv'` option and try again.

[2020-09-10 08:25] bianxg commented on #460
It's ok now. Thanks.
$ cd ~/project/edumeet/server/node_modules/mediasoup/worker
$ /home/test/anaconda2/bin/python2 ./scripts/configure.py -R mediasoup-worker
$ make -j4 BUILDTYPE=Debug -C out

[2020-09-10 08:37] #460 closed, assigned to nobody

[2020-09-10 17:13] sajalsoumalya opened #461 "Installation Issue"
## Bug Report

**IMPORTANT:** We primarily use GitHub as an issue tracker. Just open an issue here if you have encountered a bug in mediasoup.

If you have questions or doubts about mediasoup or need support, please use the mediasoup Discourse Group instead:

https://mediasoup.discourse.group

If you got a crash in mediasoup, please try to provide a core dump into the issue report:

https://medias

[2020-09-10 17:18] ibc commented on #461
Please, use the forum for questions and problems.

[2020-09-10 17:18] #461 closed, assigned to nobody

[2020-09-10 17:24] ibc commented on #456
Observer events are just about internal events or signaling events, they are not intended for media or custom app data events.

[2020-09-10 17:24] #456 closed, assigned to nobody

[2020-09-19 19:55] sellis1234 opened #465 "Web Socket Connection Failed Error"
## Bug Report

**IMPORTANT:** We primarily use GitHub as an issue tracker. Just open an issue here if you have encountered a bug in mediasoup.

If you have questions or doubts about mediasoup or need support, please use the mediasoup Discourse Group instead:

https://mediasoup.discourse.group

If you got a crash in mediasoup, please try to provide a core dump into the issue report:

https://medias

[2020-09-19 20:22] #465 closed, assigned to nobody

[2020-09-23 07:27] wbokkers opened #467 "[Windows] Make mediasoup work with WinRTC"
## Mediasoup for WinRTC
WinRTC is Microsoft's effort to bring WebRTC to native Windows apps. It would be great if mediasoup could be used on top of WinRTC.

For more information on WinRTC:
https://github.com/microsoft/winrtc
https://www.youtube.com/watch?v=TNtn0Oa8rxI

[2020-09-23 07:43] ibc commented on #467
mediasoup is a library for Node. It doesn't need to run on top of anything but Node.q

[2020-09-23 07:43] #467 closed, assigned to nobody

[2020-09-23 08:18] wbokkers commented on #467
I think this issue is in the wrong place. Sorry for that.
I meant to ask this for libmediasoupclient which is on top of WebRTC as I understand.

[2020-09-23 08:25] wbokkers commented on #467
Or even that is not the right place, since I'm in need for WinRT components. Now I need to compile libwebrtc from Google, build libmediasoupclient and make some layer myself (like the Android and iOS third party efforts) for use in a WinRT context. These efforts are always behind the latest situation on both WebRTC and mediasoup.

[2020-09-26 07:47] Diljitsingh14 opened #469 "npm ERR! mediasoup@3.6.21 postinstall: `node npm-scripts.js postinstall`"
E:\Projects\Node js projects\mds\node_modules\clang-tools-prebuilt\install.js:24
if (!platforms[platform]) throw new Error('Unknown platform: ' + platform)
                          ^

Error: Unknown platform: win32
    at Object.<anonymous> (E:\Projects\Node js projects\mds\node_modules\clang-tools-prebuilt\install.js:24:33)
    at Module._compile (internal/modules/cjs/loader.js:1137:30)
    at O

[2020-09-26 07:50] #469 closed, assigned to nobody

[2020-09-26 07:52] ibc commented on #469
Issue ignored due to the reporter's laziness.

[2020-09-28 16:07] Envek commented on #152
Faced this weird issue too.

It seems like sometimes mediasoup build artifacts are being removed for some reason. Executing `yarn install` emits `Already up-to-date.`

To fix it install mediasoup again with command like `yarn add mediasoup` and it will rebuild native components. Thanks to @HellSquirrel for figuring this out.

[2020-09-28 16:16] ibc commented on #152
This seems to be related to #459. Unfortunately the reporter never provided requested information so hard to help. We don't use `yarn` BTW.

[2020-10-02 12:14] dblencowe opened #470 "Add access to os.loadAvg() on workers"
## Feature Request

Allow access to os.loadAvg() on workers to allow easier computation of resource usage without having to parse the report coming out of the current getResourceUsage() function.

https://nodejs.org/api/os.html#os_os_loadavg

Happy to do a pull request for this myself if you think it'd be worth while.

[2020-10-02 12:16] #470 closed, assigned to nobody

[2020-10-02 12:18] dblencowe commented on #470
Closing as looking through the code I realise that the workers don't run a node process

[2020-10-02 12:30] ibc commented on #470
Load avg is OS global, not per process nor per CPU core.
Anyway, we won't include into mediasoup anything that can be just retrieved using Node.js APIs or 3rd party dependencies.

[2020-10-09 18:24] jwhbo opened #471 "Demo server certificate expired"
Demo server certificate has expired, we can't access to the demos server any more, since the certificate is expired and the client will not connect to it:

https://v3demo.mediasoup.org/

Could you renew please?

many thanks

[2020-10-09 22:02] ibc commented on #471
Please don't open an issue in the mediasoup project for that. Use the public forum.

BTW the cert is renewed, but you should not use the demo as a service.

[2020-10-09 22:02] #471 closed, assigned to nobody

[2020-10-14 12:40] ChinaLiuKang opened #473 "video encoding and decoding"
Hello, is the video encoding and decoding done by the mediasoup client or the mediasoup c++ server?

[2020-10-14 12:46] ibc commented on #473
Questions in the public forum, not here.

[2020-10-14 12:46] #473 closed, assigned to nobody

[2020-11-04 18:01] Starcounter-Jack opened #475 "Request for patreon or other options for us to support this fantastic project"
## Feature Request
Please open up a Patreon page or something such that you can keep this fantastic product going. My hope is that this piece of software is discovered by more developers. It is by far the best way to incorporate sound/video/screenshare into your node application.

[2020-11-04 18:11] ibc commented on #475
We have this already: https://mediasoup.org/sponsor/

[2020-11-04 18:11] #475 closed, assigned to nobody

[2020-11-05 12:04] Starcounter-Jack commented on #475
Sorry for the sloppy research on my part!

[2020-11-05 12:14] Starcounter-Jack commented on #475
Private contribution made. Will continue as my economy allows. Will advice our company to become a recurring backer as soon as feasible. Thanks for the good work.

[2020-11-06 00:54] thayallans commented on #344
Have you gotten around to implementing this yet ?

[2020-11-06 00:56] ibc commented on #344
This is not a forum, sorry.

[2020-11-06 10:10] #306 closed, assigned to ibc, jmillan

[2020-11-06 19:28] ibc commented on #268
We won't do this. Nobody does this. Closing. We'll implement the ongoing [cryptex](https://github.com/juberti/cryptex) spec when done.

[2020-11-06 19:28] #268 closed

[2020-11-06 19:31] ibc opened #477 "Implement Cryptex for RTP header extensions encryption"
Ongoing spec:

- SPEC: https://datatracker.ietf.org/doc/html/rfc9335
- https://github.com/juberti/cryptex
- Support in libsrtp: https://github.com/cisco/libsrtp/pull/511

[2020-11-09 20:22] fairbairn opened #478 "Permanent broadcasters.."
## Feature Request

We're using the demo to set up a broadcasting room.  We've been working with it successfully for weeks now so I believe we understand it pretty well.

However, we have a problem regarding broadcaster persistence...

I've noticed when we're creating a PlainTransport broadcaster to stream into a room via RTP, that after setting up the transports and beginning the stream (RTP/UDP

[2020-11-09 21:18] ibc commented on #478
Please, let's open a topic in the forum. This is not a bug but an usage problem/question.