[2022-03-12 12:30] #791 closed, assigned to nobody

[2022-03-15 02:29] satoren commented on #771
I, on the other hand, would like to see an option to run the Rust version on a Process basis. This is useful when robustness is more important than execution speed.

[2022-03-15 14:42] piranna commented on #771
Regarding that topic, another alternative would be to compile Mediasoup to WebAssembly, so no need to also maintain proceses based No se.js implementation :-)

[2022-03-15 15:51] ibc commented on #771
Definitely we don't want to make mediasoup-worker depend on Node or V8 C bindings. We want to keep the worker as a separate process since turning it into a thread would make the Node thread/process block unless the Node app uses Workers (separate Node threads) and we don't want to mandate such a usage. And I see zero reason to moving to WebAssembly.

I'll close this feature request since this is u

[2022-03-15 15:51] #771 closed, assigned to nobody

[2022-03-15 19:52] piranna commented on #771
I don't think this is needed at all, it's still possible to use v8 to start new threads, being them transparent to Javascript side. That's how works for example the access to filesystem in Node.js core.

[2022-03-15 20:18] ibc commented on #771
Still I don't see any real benefit but just lot of work and just because it can be done. Otherwise migrate everything to WebAssembly, otherwise to any other language, and so on.

[2022-03-15 21:18] piranna commented on #771
Agree, they are improvements regarding performance, but probably this is the main reason.

[2022-03-17 06:05] satoren opened #795 "Rust version crash when using WorkerManager with multithreaded executor"
## Bug Report

Crashes when using multithreaded executor to WorkerManager.
The following test reproduces the problem.
https://github.com/versatica/mediasoup/commit/da151f0086f8f68aa0a85692dcc9ee3d98a4c8f7#diff-9951565789cc682dc2da50fdf27b29e65d368f9549cc0e53b47cd8c9af84423fR318
This is copied from `test/integration/consumer.rs` and changed to the multithreaded executor.
Perhaps a data raceconditio

[2022-03-17 07:49] nazar-pc commented on #795
Interesting, I'll take a look when I have time if you don't figure it out sooner.

[2022-03-23 13:01] makorne opened #796 "Rust version: could not compile `mediasoup-sys`"
### Your environment

- Operating system: Linux fedora 5.16.15-201.fc35.x86_64 #1 SMP PREEMPT Thu Mar 17 05:45:13 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

- gcc/clang version:
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/11/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-redhat-linux
Configured with: ../configure

[2022-03-23 13:06] nazar-pc commented on #796
It seems like `OUT_DIR` environment variable is not present in your case.

Which Rust version are you using?

[2022-03-23 13:26] makorne commented on #796
cargo 1.59.0 (49d8809dc 2022-02-10)

OUT_DIR?
All other crates build without issues.
I will check it.

[2022-03-23 13:27] nazar-pc commented on #796
`OUT_DIR` is a variable normally set by `cargo`: https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-sets-for-crates

It seems to not be present in your case though.

[2022-03-23 13:38] makorne commented on #796
I tried on 3!! different Fedora PCs with the same result.
 What OUT_DIR will be good?

[2022-03-23 13:40] nazar-pc commented on #796
I just has not not be empty, the basic requirement apparently guaranteed in other configurations. Did you install Rust toolchain using rustup or system package manager?

[2022-03-23 13:40] makorne commented on #796
using rustup

[2022-03-23 13:42] nazar-pc commented on #796
Not sure what to say then.

I'll have to try to reproduce it in Fedora container when I have time, I mostly used Ubuntu up until this point.

[2022-03-23 14:01] makorne commented on #796
I tried clear and build with a OUT_DIR with the same result

[2022-03-23 14:04] nazar-pc commented on #796
`OUT_DIR` is provided by cargo, I linked the docs above, you never need to provide it manually

[2022-03-23 14:18] makorne commented on #796
Yes, but I tried

[2022-03-24 01:13] nazar-pc commented on #796
You need to have static C++ standard library available, can be installed on Fedora with:
[code]

[2022-03-24 01:13] #796 closed, assigned to nobody

[2022-03-24 08:44] jason-shen opened #797 "rust mediasoup"
## Feature Request
would be good if rust mediasoup can return a threadId, so we can check the usage of the actual thread then decide if or not put routers on that worker, i know in rust 1 thread don't use the whole core as discussed in the forum, but in situation when we want a mega huge room, this can be useful, i am happy to do a pr if we happy with this

[2022-03-24 11:30] nazar-pc commented on #797
You can already capture thread ID and even adjust things like pinning threads to CPU cores using thread initializer function: https://docs.rs/mediasoup/latest/mediasoup/worker/struct.WorkerSettings.html#structfield.thread_initializer

[2022-03-24 11:30] #797 closed, assigned to nobody

[2022-03-25 06:08] satoren commented on #728
@nazar-pc
Still seems to occur rarely. My workaround https://github.com/versatica/mediasoup/commit/eeed4a89c45a15d3785280609bc26de2a216884a
<details>

[code]

</details>

[2022-03-25 22:54] nazar-pc commented on #728
Reopening for further investigation

[2022-03-27 03:37] nazar-pc commented on #728
@satoren since you only provided one of 2 threads that deadlocked and deadlock isn't limited to one thread I had to guess, but I think https://github.com/nazar-pc/mediasoup/commit/63ea81638cb386bfa2f70822e16930f53faa7189 might fix it. Can you try to reproduce? I hit similar issue a few times before (in different projects).

If you're wondering why above commit makes any difference, see this articl

[2022-03-27 03:54] nazar-pc opened #799 "Rare segfault in Rust tests"
## Bug Report

### Your environment

- Operating system: Ubuntu 21.10
- rustc version: 1.59.0 (9d1b2106e 2022-02-23)
- mediasoup-rust version: ce3f5f98b6c7dbbb676fed881fb471006e94913f

### Issue description

Sometimes Rust tests crash (including in CI, see https://github.com/versatica/mediasoup/runs/5274255560?check_suite_focus=true for instance).

I tried to run it locally in a loop until it cras

[2022-03-27 09:19] MaddyUnderStars opened #802 "mediasoup.org certificate has expired"
Basically a dupe of #455 but whatever, it's happened again! Have indeed tested on multiple devices.

[2022-03-27 13:37] ibc commented on #802
Renewed.

[2022-03-27 13:37] #802 closed, assigned to nobody

[2022-03-27 13:37] ibc commented on #802
Please use the mediasoup forum for telling this next time. Thanks.

[2022-03-27 14:36] ouxiand opened #803 "How to run rust videoroom demo？"
How to run rust videoroom demo？

I checked the  rust document，no configuration and operation methods were found!

Hope you can help, thanks for your time and for contributing such a great project to the OSS community!

[2022-03-27 15:41] #803 closed, assigned to nobody

[2022-03-27 23:47] #795 closed, assigned to nobody

[2022-03-27 23:47] #799 closed, assigned to nazar-pc

[2022-03-27 23:57] satoren commented on #728
Thank you. I'll check it now.

[2022-03-28 00:48] #728 closed, assigned to nazar-pc

[2022-03-31 21:16] CosmosisT commented on #769
When I broadcast the worker will increase to 3.3MB in my case as pipetransport and re-producing occurs/etc.
If I close the broadcast this 3.3MB won't clear but stay; if I broadcast again this 3.3MB won't increase until I add another broadcast making it two!

So not sure why it's reserving for the future...

[2022-03-31 22:26] nazar-pc commented on #769
@CosmosisT allocators are now allocating and de-allocating memory all the time for efficiency purposes, I'm not surprised by that behavior at all, actually makes perfect sense to do what it does.

[2022-04-01 00:14] ibc commented on #769
Closing because there is no real leak in the code and this is being handled in a separate PR.

[2022-04-01 00:14] #769 closed, assigned to nobody

[2022-04-02 07:26] makorne opened #807 "Rust version: Error during WebSocket handshake"
## Bug Report

### Your environment

Your environment

    Operating system: Linux fedora 5.16.15-201.fc35.x86_64

    https://github.com/versatica/mediasoup/issues/1 SMP PREEMPT Thu Mar 17 05:45:13 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

    gcc/clang version:
    Using built-in specs.
    COLLECT_GCC=gcc
    COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/11/lto-wrapper
    OFFLOAD_TAR

[2022-04-02 07:30] nazar-pc commented on #807
Rust examples have special example clients. They are not the same and are not compatible with other frontends (for mediasoup demo for instance), also we don't support alternative frontends to them. They are provided for 1 purpose: examples.

I don't think there is Rust bug here, as such please post your question as discussion on the [forum](https://mediasoup.discourse.group/) instead.

[2022-04-02 07:30] #807 closed, assigned to nobody

[2022-04-06 00:30] satoren commented on #728
@nazar-pc
Again I encountered a deadlock elsewhere. My software was creating/dropping a WorkerManager every time created/drop a Worker. I will a workaround to use a single WorkerManager since other deadlocks fixed.
<details>

[code]

</details>

[2022-04-06 06:37] nazar-pc commented on #728
According to above it waits at https://github.com/versatica/mediasoup/blob/b3759391a9b25d1460725310476640cae3a0007c/rust/src/worker_manager.rs#L38 for worker thread to exit.

The only reason for that that I can see is that worker thread is still running in the background. It might take some time to exit depending on what it is doing, but it should exit eventually.

If it doesn't exit, it must eith

[2022-04-07 00:39] satoren commented on #728
Unfortunately, we have not yet found a way to reproduce it. We noticed this problem while investigating the gradual increase in the number of threads in our product. And WorkerManager and Worker threads continue to remain in pairs. Worker on_close seems to be called.
It looks like it is waiting for the WorkerManager executor thread to exit in the Worker thread. Is this normal?

[2022-04-08 07:47] nazar-pc commented on #728
Yes, that is intentional because otherwise in things like test on process shutdown C++ destructors will race with Rust destructors and all kinds of weird behaviors and crashes can be observed, so I made worker manager to wait for all of the workers to finish first. If worker is not exiting for some reason that is a problem for sure. Please create another issue or tag me on forum once you figure ou

[2022-04-08 07:57] satoren commented on #728
Thank you for your reply.

On the contrary, it appears that the Worker thread started in mediasoup_worker_run is waiting for the WorkerManager to finish.

This is what I pasted above, but with the stack traces separated and paste.

WorkerManager thread
<details>

[code]
</details>

Worker thread
<details>

[code]
</details>

My code has prevented WorkerManager from dropping so it probably won't ha

[2022-04-08 08:18] nazar-pc commented on #728
No, it waits for worker to stop.

Looks like the second thread is where worker manager is actually dropped and first one might be the the thread of the app (therad name of the worker start with `mediasoup-worker-`), but I don't see where it might lock like that, both locks are taken for a brief amount of time in other places: https://github.com/versatica/mediasoup/blob/b8cf67480c0fd5770ddd4f08258d

[2022-04-08 08:21] nazar-pc commented on #728
No, it waits for worker to stop.

Looks like the second thread is where worker manager is actually dropped and first one might be the the thread of the app (therad name of the worker start with `mediasoup-worker-`), but I don't see where it might lock like that, both locks are taken for a brief amount of time in other places: https://github.com/versatica/mediasoup/blob/b8cf67480c0fd5770ddd4f08258d

[2022-04-08 09:03] satoren commented on #728
OK. I will paste the log of the gdb command so you can see the thread name.

`ex-mediasoup-wo` is WorkerManager thread. This carries over the name of the parent thread. And No dynamically generated threads other than WorkerManager/Worker.

<details>

[code]

</details>

[2022-04-08 09:20] satoren commented on #728
The `on_close` handler is throwing the event back to another statically generated Executor and the following code for debugging.

[code]

[2022-04-13 00:00] satoren commented on #728
I am not in a hurry because I can confirm that not dynamically dropping WorkerManager has solved my problem.
Thank you for making mediasoup-rust. I love it.

[2022-04-13 13:28] nazar-pc commented on #728
I still have email notification unread, I'll take a closer look when I have time, very busy lately

[2022-04-14 12:15] RoCkAs commented on #767
@VictoriousV I had the same issue. I think the problem is your gcc version, as per installation instructions, you need gcc and g++ >= 4.9. You can install the devtoolset 9.
`sudo yum install devtoolset-9`
`scl enable devtoolset-9 -- bash`
After that, remove your node_modules folder and try installing again mediasoup.

[2022-04-18 17:32] CosmosisT commented on #753
The whitespace is a feature I thought?

[2022-04-25 12:37] moonrailgun opened #813 "Can you optimize postinstall flow in npm script?"
## Feature Request

Its looks no check when run postinstall in trigger, in some reason, build binary file for worker is very hard. And when i run `npm install`. postinstall will auto trigger and try to build it.

https://github.com/versatica/mediasoup/blob/092ebee3b39605ef541b1f540697113ff8c401ba/npm-scripts.js#L119-L133

Can you add some logic to check is binary file build once? For example just

[2022-04-25 13:10] ibc commented on #813
Please open a thread in the forum.

[2022-04-25 13:10] #813 closed, assigned to nobody

[2022-05-02 08:09] fippo opened #814 "(slightly) improved DTLS timeout handling"
while looking at libwebrtc's DTLS stuff relating to timeouts last week (@lgrahl made me!) I spotted some minor things that could be improved in mediasoup (and Janus so tagging @lminiero):

https://github.com/versatica/mediasoup/blob/c559b95848a17a5ab070b040f5733132596ece1e/worker/src/RTC/DtlsTransport.cpp#L1002

- there is no reason to do that. 0 means "now".
I assume that currently this will just

[2022-05-05 12:53] ibc commented on #814
According to the docs:

[code]

[2022-05-05 13:00] ibc commented on #814
PR done https://github.com/versatica/mediasoup/pull/815

[2022-05-05 14:29] #814 closed, assigned to ibc, jmillan

[2022-05-08 05:00] g-i-a-m opened #816 "In RtpPacket.hpp, why ‘constexpr uint8_t MidMaxLength’ value is 8？"
This setting will cause the MID extension in the RTP extension header of any packet forwarded by mediasoup to append 7 bytes of padding

[2022-05-08 18:22] ibc commented on #816
And what's the problem? We cannot assume that all added header extensions are multiple of 4 bytes so we don't know how the total sum of all extensions will be.

If you want to further discuss this, please open a topic in the public forum. This is not a bug. Thanks.

[2022-05-08 18:22] #816 closed, assigned to nobody

[2022-05-12 14:56] dsdolzhenko opened #818 "RTC::RateCalculator warnings about overflowed calculation buffer"
## Bug Report

### Your environment

- Operating system: macOS 12.3.1, Debian/Linux 10.11 amd64
- gcc version: (Debian 8.3.0-6) 8.3.0
- clang version: 13.0.0 x86_64-apple-darwin21.4.0
- mediasoup version: 3.9.13

### Issue description

Recently I started receiving the following warning message in mediasoup logs:

[code]

Sometimes, a single `RTC::RateCalculator` instance continuously logs the mess

[2022-05-16 18:39] piranna opened #821 "Deprecate `appData` in v4"
## Feature Request

For upcoming v4, deprecate and remove `appData` field altogether. The same way there's no lists of elements on purposse since people can listen the `observer` objects and control the objects that has been created, the same can be done with `appData`, keeping in application logic a map of the elements and their associated info.

Alternatively, if we don't want to fully remove it

[2022-05-16 20:00] ibc commented on #821
appData is the only way to match calls to sendTransport.produce() with the transport.on("produce") event in mediasoup-client, so it has a value. In addition, we use it extensively in server side to attach additional custom info into producers, consumers, transports, etc. Whether users store jsonizable data into them or not is up to them, we cannot or should not enforce it because there is no reaso

[2022-05-16 20:02] ibc commented on #821
Regarding TS and Record<string, unknown>, I fail to see what the difference with declaring it an object (as it is now) is. Let's discuss that in case it can be changed, but appData won't be removed so let's close this.

[2022-05-16 20:02] #821 closed, assigned to nobody

[2022-05-17 00:40] chris-shenzhen-china opened #822 "Do you have any plan to support mcu mode?"
## Feature Request
Do you have any plan to support mcu mode?

[2022-05-17 00:41] #822 closed, assigned to nobody

[2022-05-17 06:05] piranna commented on #821
I get warnings from Typescript when declaring something like `Object`, because it says is too generic and it's like "accept anything not nullable". This warning makes sense, since we could set it to any object, while in code is defined with `{}`. It recommends to use `Record<string, unknown>` since explicitly declares a mapping object with string keys and unknown values, that later will be type en

[2022-05-17 08:59] ibc commented on #821
appData is readonly and initialized to {} so I fail to see why TS would complain. Which version of TS are you using?

[2022-05-17 09:40] ibc commented on #821
forget my last comment. Ongoing PR.

[2022-05-17 09:41] ibc commented on #821
Actually I pushed directly to `v3` brach: https://github.com/versatica/mediasoup/commit/0c07ef60d4f2011f7afe84b357ab778dd829c908

[2022-05-17 09:47] piranna commented on #821
Oh, great, it looks really nice :-D

[2022-05-18 15:32] dsdolzhenko opened #824 "SimulcastConsumer fails to switch spatial layers"
## Bug Report

### Your environment

- Operating system: macOS 12.3.1, Debian/Linux 10.11 amd64
- gcc version: (Debian 8.3.0-6) 8.3.0
- clang version: 13.0.0 x86_64-apple-darwin21.4.0
- mediasoup version: 3.9.13
- mediasoup client version: 3.6.50

### Issue description

As a result of a race condition in `SendRtpPacket` method, `SimulcastConsumer` may get into a loop repeatedly failing to switch c

[2022-05-25 11:22] ibc commented on #824
Fixed in https://github.com/versatica/mediasoup/pull/825

[2022-05-25 11:22] #824 closed, assigned to nobody

[2022-05-27 19:26] ibc commented on #511
Fixed by https://github.com/versatica/mediasoup/pull/827

[2022-05-27 19:26] #511 closed, assigned to ibc, jmillan

[2022-05-31 00:13] #549 closed, assigned to nobody

[2022-06-02 17:38] chenwdong opened #828 "Memory fragmentation in mediasoup"
There is no memory leak detected with Valgrind, but the memory has been slowly rising and cannot be reduced. Is it related to memory fragmentation? Storageitem has been frequently applied for. Is this the problem here? Are there any good ideas or suggestions to solve this problem?

[2022-06-03 19:08] ibc commented on #828
Please read this: https://github.com/versatica/mediasoup/issues/769

This is gonna be fixed once we merge an in-progress PR that will change the buffer implementation.

[2022-06-03 19:08] #828 closed, assigned to nobody

[2022-06-07 02:59] sayamk3004 opened #829 "Mediasoup installation error on Windows 10"
![IMG20220607081545](https://user-images.githubusercontent.com/69592671/172285935-8aa5d90b-266e-4b01-9aa9-c68e70b9effb.jpg)
![IMG20220607081627](https://user-images.githubusercontent.com/69592671/172285949-02a6f1f2-8f10-4cec-af32-c4e758c36551.jpg)
![IMG20220607081639](https://user-images.githubusercontent.com/69592671/172285975-886e8aef-3e3c-49bd-93c9-cd9db27b8fc8.jpg)
![IMG20220607081647](https:/

[2022-06-07 04:09] nazar-pc commented on #829
Please search for similar topics on the forum and create a tread there with logs as text instead of screenshots

[2022-06-07 04:09] #829 closed, assigned to nobody

[2022-06-07 21:39] sayamk3004 commented on #829
Thank you for your response. I could finally install the mediasoup on my
windows 10.

*Thanks for giving us such an amazing system. I would be greatly favoured
if I could know:*

* How do I also assign viewers on the demo version of the website? Like I
want it to be like multi host live streaming. Where there producers can be
one to few and viewers, who just sees it, can be somewhere around
500-10

[2022-06-07 21:55] nazar-pc commented on #829
Question - on the forum

[2022-06-09 20:54] #818 closed, assigned to nobody

[2022-06-13 02:04] penguinol opened #831 "SetMaxOutgoingBitrate does not work if set before first consumer created"
https://github.com/versatica/mediasoup/blob/f147f77efe29d2ef1fadec91b277025b47d0ee99/worker/src/RTC/Transport.cpp#L633-L646
According to current code, the max outgoing bitrate will be set only when tccClient is created.
And set max incoming bitrate has not this limitation
https://github.com/versatica/mediasoup/blob/f147f77efe29d2ef1fadec91b277025b47d0ee99/worker/src/RTC/Transport.cpp#L593-L617
I t

[2022-06-13 03:16] mango-martin opened #832 "Allow static typing of appData"
## Feature Request
Hey guys. This is my first created issue please be gentle :)

A while back I ran into trouble typing my appData object because of "any" type incompatibilities. That's why I ended up not typing it.
Latest changes to replace `any` were an improvement for sure. And it is possible to extract appData and do a type conversion when you need it, like
[code]
But it is not ideal in my opi

[2022-06-13 09:54] nazar-pc commented on #832
It is not helpful to type things that you can't guarantee to conform to that API. Use https://www.npmjs.com/package/zod and parse `appData` into specific typed version.

But it is unlikely that mediasoup would support generic for this as I don't think it will be able to guarantee that `appData` always contains what you think it should.

[2022-06-13 12:26] ibc commented on #832
I think this makes sense as far as it's not mandatory to do `createRouter<MyRouterAppData>(...)`. So passing such a MyRouterAppData should be optional. Is it? If so, could you make a PoC PR adding that just for Router to see how it looks?

[2022-06-13 12:28] ibc commented on #832
@nazar-pc, appData is never edited by mediasoup internals so it would be good to have proper user given TS type for it. This would avoid having to cast it everywhere in the user app. I know it because it happens to me 😊

[2022-06-13 14:33] ibc commented on #831
@penguinol see PR https://github.com/versatica/mediasoup/pull/833

[2022-06-14 10:32] #831 closed, assigned to nobody

[2022-06-18 13:02] nazar-pc opened #835 "Support more SRTP cipher suites"
## Feature Request

We currently support these:
* SRTP_AES128_CM_HMAC_SHA1_80
* SRTP_AES128_CM_HMAC_SHA1_32

We should also support more modern and more secure options:
* SRTP_AEAD_AES_128_GCM
* SRTP_AEAD_AES_256_GCM

Someone was already asking about this on the forum, I think it is time to make it happen.

[2022-06-18 20:01] ibc commented on #835
In `DtlsTransport.cpp`:

[code]

😀

[2022-06-19 09:43] nazar-pc commented on #835
However, `SrtpCryptoSuite` in both TypeScript and Rust only shows the first two, also plain transport for some reason only supports the first two and pipe transport is limited to just `SRTP_AES128_CM_HMAC_SHA1_80` while more modern and faster options exist.

[2022-06-19 10:03] ibc commented on #835
Really?? Then that's a bug or a missing thing.

[2022-06-19 12:39] ibc commented on #835
Here: https://github.com/versatica/mediasoup/pull/837

[2022-06-19 14:49] #835 closed, assigned to nobody

[2022-06-23 03:18] diaosou opened #841 "fault during npm install: FAILED: subprojects/openssl-3.0.2"
Hi,
I'm getting the following error when trying to compile mediasoup.

- Operating system: CentOS 7
- Node version: v16.15.1
- npm version: 8.11.0
- gcc version: 11.3.0
- python version: 3.9
- mediasoup version: 3.10.0

**### Issue description：**
Install:
 PYTHON=python3 cnpm install mediasoup@3 --save

Results in the following error:

[2022-06-23 06:23] HustCoderHu opened #842 "ERROR: Option 'MS_LOG_TRACE' must have a value separated by equals sign. while meson setup"
### Your environment

- Operating system: Windows Subsystem for Linux , ubuntu 1804
- Node version: v16.15.1
- npm version:  8.11.0
- gcc/clang version: gcc 7.5.0
- mediasoup version:  v3@94908

### Issue description
After executing `MESON_ARGS="-DMS_LOG_TRACE -DMS_LOG_FILE_LINE" npm i` with Debug buildtype,
it failed at `meson setup` with info as follow
[code]

According to the err info, I try ag

[2022-06-23 13:44] nazar-pc commented on #841
According to the internet you have old binutils version.

I don't think it is a bug in mediasoup, might be too old version of CentOS. Questions like this should be asked on the forum instead: https://mediasoup.discourse.group/

[2022-06-23 13:44] #841 closed, assigned to nobody

[2022-06-23 16:08] ibc commented on #650
Reminder for @jmillan and me to take a look to this.

[2022-06-25 14:12] #842 closed, assigned to nazar-pc

[2022-06-29 09:49] basisbit commented on #481
Are there any plans for adding RED implementation? If not, can you point me to some places in the code of mediasoup which would need adjustments? Imho, RED is currently the best way to improve transport reliability of audio frames through mediasoup especially for long-distance communication, where random bursts of packet loss do happen occasionally.

[2022-06-29 11:14] ibc commented on #481
There is no plan to implement it. Pointing some places in the code to do it would require that we get involved into it. We'll do in the future if this feature gains attraction.

[2022-06-30 12:48] HustCoderHu opened #849 "min_pending_time should not be negative"
https://github.com/versatica/mediasoup/blob/f23eceadc524c223b7bc4661cb8736e28f779820/worker/deps/libwebrtc/libwebrtc/modules/congestion_controller/goog_cc/goog_cc_network_control.cc#L434

Should it be like following?
[code]

[2022-07-01 09:41] ibc commented on #849
This is code from libwebrtc. Can you verify it in latest libwebrtc source code?

[2022-07-02 06:53] HustCoderHu commented on #849
https://source.chromium.org/chromium/chromium/src/+/main:third_party/webrtc/modules/congestion_controller/goog_cc/goog_cc_network_control.cc;l=1?q=goog_cc_network_control.cc&sq=&ss=chromium%2Fchromium%2Fsrc
same in chromium, but it is obviously wrong.

[2022-07-04 06:16] hanzlamateen opened #854 "Install failing in postinstall script"
## Bug Report

### Your environment

- Operating system: Ubuntu 20.04.4 LTS
- Node version: v17.5.0
- npm version: 8.7.0
- gcc/clang version: 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1)
- mediasoup version: Tried both 3.9.6 & 3.10.0
- mediasoup-client version: Tried both 3.6.51 & 3.6.53

### Issue description

I am getting issue when running `npm install` locally as well as in CI. Here is the link of it

[2022-07-04 06:19] nazar-pc commented on #854
We test mediasoup in CI on all major platforms and it doesn't fail there with this error, hence must be something with your project.

With these kinds of questions create thread on the forum: https://mediasoup.discourse.group/

[2022-07-04 06:19] #854 closed, assigned to nobody

[2022-07-04 09:24] mizoRC commented on #854
We are getting the same problem.
Base image: node:16.15.0-bullseye-slim
Node v14.19.2
Npm 6.14.17
Gcc Apple clang version 13.1.6 (clang-1316.0.21.2)
Mediasoup version 3.9.2

We make a build on friday with exactly the same code and versions, and it works.

[code]

[2022-07-04 09:32] ibc commented on #854
As said above, use the forum for asking about problems.

[2022-07-04 11:17] ibc commented on #849
Why is it obviously wrong?

[2022-07-04 12:09] mizoRC commented on #854
Maybe related with this commit? https://github.com/versatica/mediasoup/commit/e8d6d53f943080934614c2371065a3fd5a3ed91f

When will this patch be published on npm?

[2022-07-04 15:57] un-hongly opened #858 "Can't install mediasoup in docker"
Hi,
Please help me with this. I'm struggling to install mediasoup when building a docker image. build-essential, python3-pip are installed and it was able to install mediasoup before but not now.

[code]

This is the error log file from my pipeline:
[pipelineLog-{4b482e12-c995-403d-8d4e-297634f478ab}.txt](https://github.com/versatica/mediasoup/files/9040757/pipelineLog-.4b482e12-c995-403d-8d4e-297

[2022-07-04 16:07] ibc commented on #858
Questions in the forum.

[2022-07-04 16:07] #858 closed, assigned to nobody

[2022-07-04 16:26] the-reality-engineer commented on #854
Others are suddenly seeing this issue as well. https://mediasoup.discourse.group/t/mediasoup-build-fails/4345

[2022-07-04 16:39] jkozak opened #860 "npm install fails with comment syntax error in libuv compilation"
## Bug Report

### Your environment

- Operating system: NixOS 22.05
- Node version: 16.15.0
- npm version: 8.5.5
- gcc/clang version: 9.3.0, 10.3.0, 11.3.0
- mediasoup version: 3.9.2, 3.10.0
- mediasoup-client version: 3.6.47

### Issue description

I have tried this with various C compilers and mediasoup versions (see above), same result each time.  The offending C++ style comment has been in th

[2022-07-04 16:40] nazar-pc commented on #860
This was already reported and is being worked on, no need to report multiple times.

[2022-07-04 16:40] #860 closed, assigned to nobody

[2022-07-04 16:40] ibc commented on #860
Guys, please, check other reported issues and the forum.

[2022-07-04 17:09] prlanzarin opened #861 "Segmentation fault in DTLS procedures"
## Bug Report

### Your environment

- Operating system: Ubuntu 20.04.4 LTS
- Node version: v16.15.0
- npm version: 8.5.5
- gcc/clang version: 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1)
- mediasoup version: 3.10.0
- mediasoup-client version: n/a

### Issue description

We're seeing sporadic worker crashes (SIGSEGV) after trying mediasoup 3.9.12 or later that seem related to DTLS.
 - I've tried it with

[2022-07-04 18:25] nazar-pc commented on #861
#815 went into 3.9.12 and might be the root cause of the issue

[2022-07-04 18:39] ibc commented on #860
Fixed in 3.10.1.

[2022-07-04 19:47] ibc commented on #861
@jmillan here a problem 😢

[2022-07-05 03:56] HustCoderHu commented on #849
[code]

[2022-07-05 08:46] mizoRC commented on #854
Fixed on 3.10.2.

[2022-07-05 09:10] ibc commented on #849
Here you are asking for a change in libwebrtc. I'm not saying that your proposed change is bad but we need much more info and rationale about it.

[2022-07-05 09:35] mizoRC opened #864 "Worker core dump in v3.10.2"
## Bug Report

### Your environment

- Operating system: Ubuntu 20.04 / macOS Monterey
- Node version: 14.15.4 / 16.15.1
- npm version:  6.14.10 / 6.14.17
- gcc/clang version: gcc version 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1) / Apple clang version 13.1.6 (clang-1316.0.21.2)
- mediasoup version: 3.10.2
- mediasoup-client version: 3.6.53

### Issue description

Open a conference with one user, every

[2022-07-05 09:37] nazar-pc commented on #864
Likely duplicate of #861

[2022-07-05 09:42] mizoRC commented on #864
Honestly I don't think so, in our case whenever we create a conference, adding a second participant gives the worker died error. Unlike that other issue that says it happens arbitrarily, in our case it always replicates.

[2022-07-05 09:49] ibc commented on #864
There is very little we can do if a core dump is not provided. Zero info provided.

[2022-07-05 09:54] mizoRC commented on #864
Like I say in the bug report, I have tried to get core dump report as is described on mediasoup documentation (https://mediasoup.org/support/#crashes-in-mediasoup-get-a-core-dump) but there is no log file. How can i get core dump report in other way?

[2022-07-05 09:55] ibc opened #865 "VP8::Process() | failed assertion `context->GetTargetTemporalLayer() >= 0': target temporal layer cannot be -1"
## Bug Report

Found in the demo server immediately after deploying mediasoup 3.10.2:

[code]

### Your environment

- Operating system: Linux Debian
- Node version: 16.13.1
- npm version: 8.1.2
- gcc/clang version: gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
- mediasoup version: 3.10.2
- mediasoup-client version: 3.6.53

[2022-07-05 09:57] ibc commented on #864
Problem is that now you have reported a crash with zero info and we are now discussing here how to get a core dump. Steps in that link you reference may vary from one OS to another, no idea, but here we need the info about the crash so we know what the issue is.

[2022-07-05 11:15] #865 closed, assigned to ibc, jmillan

[2022-07-05 11:32] ibc commented on #865
Fixed in 3.10.3

[2022-07-05 11:49] mizoRC commented on #864
Fixed on 3.10.3

[2022-07-05 11:49] #864 closed, assigned to nobody

[2022-07-05 11:58] ibc commented on #864
ok, so it was the SimpleConsumer fix. Thanks for confirming.

[2022-07-05 15:10] ibc commented on #861
So the crash happens in mediasoup 3.10.0, right? That version is **before** PR https://github.com/versatica/mediasoup/pull/815

Sorry, my fault, that PR was merged in 3.9.12.

[2022-07-05 16:00] ibc commented on #861
Here a PR proposal but not 100% sure if it will fix the crash since I've been able to reproduce it in any way: https://github.com/versatica/mediasoup/pull/867

[2022-07-05 16:10] prlanzarin commented on #861
@ibc Cool. I'll put it up for testing ASAP and keep an eye on monitoring. Thanks!

[2022-07-05 16:15] ibc commented on #861
Thanks a lot @prlanzarin

[2022-07-06 11:52] prlanzarin commented on #861
@ibc I see a crash on monitoring with ab8cc44. I'm getting to my workstation soon and will collect more data.
I'll also spend part of the day to try and figure out a way to reliably reproduce this.

FWIW would it help if I put either 3.10.3 or ab8cc44 in one of those demo instances with a `Debug` build instead of `Release`?

[2022-07-06 12:44] prlanzarin commented on #861
Core dump + binary: [msab8cc4415-060722-0545.tar.gz](https://github.com/versatica/mediasoup/files/9054774/msab8cc4415-060722-0545.tar.gz)

[2022-07-06 13:07] ibc commented on #861
@prlanzarin please wait a bit, I'll add a change in the PR to verify a thing and let you know here once done.

[2022-07-06 15:11] ibc commented on #861
@prlanzarin feel free to test this branch now. Yes, run a `Debug` build instead and, if you get a coredump, could you open it with gdb and print it here? We were not able to open the one you provided above.

[2022-07-06 16:59] prlanzarin commented on #861
It is running - will do as suggested if it crashes. Thanks.

Weird - sorry about that. Just FYI here's the backtrace snippet for that previous core dump (ab8cc4415) if it's still useful somehow:

<details><summary>Backtrace (ab8cc4415)</summary><p>

[code]

</p>

[2022-07-08 15:09] ibc commented on #861
Sorry for the delay. Will keep commenting here today.

[2022-07-08 16:52] prlanzarin commented on #861
Just an update on my side: I've got two servers running with the latest of `may-fix-dtls-related-crash-issue-861]` (698a7c64f8bb87367a30f7778be783981e74afed) for the past two days. No crashes yet, although it might be too soon to confirm anything. So I'll keep them running with an eye on monitoring - tentatively until next Wed or Thu to give it an extended run.

I had to stop looking into a way to

[2022-07-08 17:19] ibc commented on #861
Thanks a lot! Although AFAIR I didn't introduce lately any change in this PR that could affect/fix the behavior, or maybe yes ¯\_(ツ)_/¯

[2022-07-11 19:01] ollyde commented on #19
I have an issue where `https://v3demo.mediasoup.org/?roomId=aaaahh` works

But using the default codecs as explained here fails locally, does anyone know what config the demo server is running?

Fails for Web (Chrome)
[code]

[2022-07-12 09:47] ibc commented on #861
Hi @prlanzarin, any news?

[2022-07-12 12:06] prlanzarin commented on #861
Hey @ibc, none yet.
Servers are still running 698a7c6 with no crashes and I couldn't find a way to reproduce this thing yet. Will keep you posted.

[2022-07-12 12:07] ibc commented on #861
Actually it's not that bad news :)
But true, let's wait.

[2022-07-12 17:16] jimying commented on #650
I ran into this problem recently, firefox webrtc can not work in some network scene, but use ice-relay can work.
(The webrtc server side use ice-lite)

I have an idea :
When receive stun binding request first time and contains USE-CANDIDATE,  after stun response,
mark it as pending nominate.

Then send stun binding to peer,  only when receive response ok,  set state to nominated.

It  should work

[2022-07-14 03:45] bianxg opened #868 "Recv video delay when sender's outbound packets lost"
## Bug Report

### Your environment

- Operating system: Ubuntu
- Node version:
- npm version:
- gcc/clang version:
- mediasoup version: V3
- mediasoup-client version:

### Issue description
1 webapp A, B and C are in the conference room. Using clumsy to drop outbound packets with 12% lost rate on webapp A's host.
2 Both webapp B and C see A's video have same 2 or 3 seconds delay sometimes. (somet

[2022-07-14 07:21] #868 closed, assigned to nobody

[2022-07-14 13:35] prlanzarin commented on #861
@ibc Still no crashes - that's almost 8 days. It seems the situation might've been fixed/greatly improved indeed on your branch.
I'll still keep the servers running the current set of workers for as long as I can anyways (the more testing, the better), but the situation looks good.
If you need anything else from my end, be it testing and/or additional info, don't hesitate to ask.

[2022-07-14 16:22] ibc commented on #861
Amazing. Let's wait a few more days and will merge and release. Thanks!

[2022-07-15 01:17] bianxg commented on #868
Any clues of video delay when outbound packets lost?

[2022-07-15 01:17] bianxg commented on #868
Any clues of video delay when outbound packets lost?

[2022-07-15 01:20] nazar-pc commented on #868
Use forum for questions

[2022-07-18 17:08] ibc commented on #861
Fixed in https://github.com/versatica/mediasoup/pull/867

[2022-07-18 17:08] #861 closed, assigned to ibc

[2022-07-18 17:13] ibc commented on #861
Thanks a lot @prlanzarin, released in 3.10.4

[2022-07-18 17:14] prlanzarin commented on #861
Great, thanks for looking into this!

[2022-07-18 19:54] nazar-pc commented on #861
Released Rust version with this as well

[2022-07-20 07:24] fippo commented on #849
libwebrtc issue here: https://bugs.chromium.org/p/webrtc/issues/detail?id=13106, no movement for a while

[2022-07-21 17:22] fippo opened #872 "signed-to-unsigned overflow in send_side_bandwidth_estimation.cc"
### Issue description
From libwebrtc upstream:
https://bugs.chromium.org/p/webrtc/issues/detail?id=14272

mediasoup has the similar (but not exactly the same, probably an old version) code [here](https://github.com/versatica/mediasoup/blame/v3/worker/deps/libwebrtc/libwebrtc/modules/bitrate_controller/send_side_bandwidth_estimation.cc#L394), the [fix](https://webrtc-review.googlesource.com/c/src/+

[2022-07-21 18:49] joeyoungrae opened #873 "why can't transport audio in mediasoup?"
**IMPORTANT:** We primarily use GitHub as an issue tracker. Please, use the mediasoup Discourse Group if you have questions or doubts or if you need support about mediasoup and its ecosystem:

https://mediasoup.discourse.group

Before asking any questions, please check the mediasoup official documentation:

https://mediasoup.org/documentation/

code {
    stream = await getUserMedia(transport, isW

[2022-07-21 19:05] #873 closed, assigned to nobody

[2022-07-22 06:47] bianxg opened #874 "referenceTime calculation error in FeedbackRtpTransport.cpp"
this->referenceTime        = static_cast<int32_t>((timestamp & 0x1FFFFFC0) / 64);
should be (referenceTime is 3 byte long)
this->referenceTime        = static_cast<int32_t>((timestamp & 0x3FFFFFC0) / 64);

for example
timestamp =  763974970
BIN                 00101101100010010101010100111010
0x1FFFFFC0 is 00011111111111111111111111000000

from webrtc source
constexpr int kBaseScaleFactor = 64;
co

[2022-07-22 09:33] ibc commented on #874
CC @jmillan

[2022-07-22 14:25] jmillan commented on #874
It's definitely odd.

I wonder why we set that mask. Being a 3 byte field it should be `0x00FFFFFF` indeed.

What's the reason behind `0x3FFFFFC0`, @bianxg ?

[2022-07-22 14:36] jmillan commented on #874
Indeed we need it to be a 23bit field, so the mask should be: `0x7FFFFF00`

[2022-07-22 14:41] jmillan commented on #874
There is indeed discussion/explanation about this here https://github.com/meetecho/janus-gateway/issues/1733#issuecomment-526553410 @ibc , but I don't see why we set that mask.

[2022-07-22 15:01] jmillan commented on #874
I'm checking it.

[2022-07-22 15:51] ibc commented on #874
Honestly I don't think I can give better rationale than the one given in that comment when it was fresh in my mind, but AFAIS I provide there even with code to demonstrate things.

[2022-07-22 16:11] jmillan commented on #874
Got it:

0x1FFFFFC0 => 536870848 => 11111111111111111111111000000

Dividing such value by 64:

0x7FFFFF =>  8388607 => 00000000011111111111111111111111

So by adding `0x1FFFFFC0` mask we make sure that after dividing the value by 64, the resulting number will fit in 23 bits.

[2022-07-22 16:13] jmillan commented on #874
Where do you then see the problem @bianxg ?

[2022-07-22 21:15] jmillan commented on #872
Thanks @fippo, we'll do some tests next week and see if there is any difference on the resulting BWE.

[2022-07-23 00:29] bianxg commented on #874
from webrtc source code, referenceTime  can be calculated as below:
constexpr int kBaseScaleFactor = 64;
constexpr int64_t kTimeWrapPeriod = (1ll << 24) * kBaseScaleFactor;
this->referenceTime = static_cast<int32_t>((timestamp % kTimeWrapPeriod)/64);
which equals:
this->referenceTime = static_cast<int32_t>((timestamp & 0x3FFFFFC0) / 64);

By adding 0x3FFFFFC0 mask after dividing the value by 64, t

[2022-07-23 07:09] bianxg commented on #874
from webrtc source code, referenceTime is calculated as below:
constexpr int kBaseScaleFactor = 64;
constexpr int64_t kTimeWrapPeriod = (1ll << 24) * kBaseScaleFactor;
this->referenceTime = static_cast<int32_t>((timestamp % kTimeWrapPeriod)/64);

which is equals to
this->referenceTime = static_cast<int32_t>((timestamp & 0x3FFFFFC0) / 64);
by adding 0x3FFFFFC0 mask after dividing the value by 64, t

[2022-07-23 07:09] bianxg commented on #874
from webrtc source code, referenceTime is calculated as below:
constexpr int kBaseScaleFactor = 64;
constexpr int64_t kTimeWrapPeriod = (1ll << 24) * kBaseScaleFactor;
this->referenceTime = static_cast<int32_t>((timestamp % kTimeWrapPeriod)/64);

which is equals to
this->referenceTime = static_cast<int32_t>((timestamp & 0x3FFFFFC0) / 64);
by adding 0x3FFFFFC0 mask after dividing the value by 64, t

[2022-07-26 00:31] satoren opened #882 "Crash at assertion 'StorageItemBuffer contains more than 65535 entries'"
## Bug Report
It occurred once in three days on ten servers.
[code]

### Your environment

- Operating system: Ubuntu 20.04.2
- Node version:
- npm version:
- gcc/clang version:
- mediasoup version:Rust version mediasoup: 0.10.0 mediasoup-sys: 0.4.2
- mediasoup-client version: 3.6.50

### Issue description
==== updated ====
At the time of the crash, there were  6 producers and 17 consumers.
It may

[2022-07-26 01:42] satoren opened #883 "SIGSEGV at 'RTC::WebRtcTransport::OnIceServerTupleRemoved'"
## Bug Report

It occurred  12 times in three days on ten servers.
[code]

### Your environment

- Operating system: Ubuntu 20.04.2
- Node version: N/A
- npm version: N/A
- gcc/clang version: gcc version 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1)
- mediasoup version: Rust version mediasoup: 0.10.0 mediasoup-sys: 0.4.2
- mediasoup-client version: 3.6.50

### Issue description

[2022-07-26 07:34] nazar-pc commented on #882
Likely related to #840

[2022-07-26 07:36] nazar-pc commented on #883
I'll take a look when I have time, doesn't look good, I assume this is a regression in the recent version too?

[2022-07-26 09:15] satoren commented on #883
Probably yes. The function that is crashing is coming from[ WebRtcServer PR](https://github.com/versatica/mediasoup/pull/834).

[2022-07-26 09:17] kingpeter2015 commented on #874
I wrote one test:
[code]

I found definitely `ref_mediasoup != ref_webrtc`, whereas `ref_mediasoup_modified == ref_webrtc`

![ref](https://user-images.githubusercontent.com/14959518/180971234-e2e26464-e5d7-468d-9475-241ee9a4928a.png)

[2022-07-26 12:02] nazar-pc commented on #883
Are you using WebRTC server or not yet?

[2022-07-26 15:40] jmillan commented on #882
Absolutely, yes

[2022-07-26 15:52] jmillan commented on #882
Yes please, any way we can reproduce it would be very helpful.

[2022-07-26 16:57] jmillan commented on #882
I'll use the fuzzer in order to try to reproduce the issue.

[2022-07-27 00:01] satoren commented on #883
Not yet, I just updated from 0.9.3 to 0.10.0 and changed the type ListenIP that causes build errors.

[2022-07-27 15:14] jmillan commented on #882
Update: crash reproduced with the fuzzer. Will be updating here.

[2022-07-27 16:17] jmillan commented on #882
Issue detected, will actively work on this tomorrow morning.

[2022-07-28 13:50] #882 closed, assigned to jmillan

[2022-07-28 14:37] jmillan commented on #874
The difference is that mediasoup does NOT generate negative timestamp values. That's why we use 23 bits to represent it, so the most significant bit (sign) is always 0 and thus represent a positive number.

[2022-07-28 14:38] jmillan commented on #874
Anyway, have you seen this is an issue for libwebrtc processing this RTCP packets?

[2022-07-28 14:45] jmillan commented on #882
New version with the fix has been released.

[2022-07-28 15:01] nazar-pc commented on #882
New mediasoup-sys version was published as well

[2022-07-28 16:21] jmillan commented on #872
The change does not make any better in the local tests. I can even see worst results with it applied :-/

The tests is as simple as using mediasoup-demo with several consumers and periodically checking the mediasoup transport stats in order to see the available outgoing bitrate.

[2022-07-29 09:07] jmillan commented on #883
@satoren, please you show the result of `bt full`.

[2022-07-30 07:48] kingpeter2015 commented on #874
@jmillan There are int, int16_t, int32_t, int64_t etc types in C/C++, however, there is no 24-bit signed integer.  And using the lowest 24 bits of a *uint32_t* type to assign and store can ensure reference_time is not negative.

[2022-08-01 01:33] satoren commented on #883
Probably doesn't help, as the C++ symbols seem to have been lost.

<details>

[code]

</details>

[2022-08-01 14:12] jmillan commented on #883
What is this exactly?

Since you are hitting the problem quite often, it would be helpful having the symbols for at least one of the dumps.

[2022-08-01 16:19] ibc commented on #883
I have no idea what you mean here.

[2022-08-02 00:30] satoren commented on #883
I meant to say that I am not using the new features (WebRTCServer, etc.) in the version update.
The Rust version had a slight type change, so the build did not pass as is.

[2022-08-02 06:58] ibc commented on #883
So you are using Rust, you are not using WebRtcServer at all and you changed something in the Rust code. And it crashes due to something in WebRtcServer (that you are not even using) when a ICE TCP connection is closed. How can it be? What change did you do in Rust side and why?

[2022-08-02 07:26] nazar-pc commented on #883
The only change he did was related to code compilation, some arguments were refactored, library code didn't change too much IIRC, but I may check later again.

Looks like there might be some regression either in Rust library or worker that happens when WebRTC server isn't used.

[2022-08-02 07:36] ibc commented on #883
Now I realize that it is RTC::WebRtcTransport::OnIceServerTupleRemoved() the one crashing rather than in WebRtcServer...

[2022-08-02 08:20] mstyura commented on #357
Hello. I'm using recent version of `mediasoup-rust` and it seems like this assert is still  periodically happens. I observe it happen several times a week to several time a day on set of ~20 servers.
An examples of crashes:
[code]
Does providing core-dumps can help investigating issue somehow?

[2022-08-13 12:36] baristikir opened #887 "[Rust] Cargo Build Failing"
## Bug Report
Can't build rust project with `mediasoup` as dependency. I have tried a plain new cargo project with `mediasoup` as only dependency and it's also failing.

**Terminal output**
[code]

**Full error log**
[code]

### Your environment

- Operating system: MacOS Monterey 12.4
- Node version: v16.13.2
- npm version: 8.1.2
- gcc/clang version: Apple clang version 13.0.0 (clang-1300.0.29.3)

[2022-08-13 13:06] ibc commented on #887
Please ask in the public forum. Installation just works fine if installation requirements are satisfied. Cannot consider this a bug.

[2022-08-13 13:06] #887 closed, assigned to nobody

[2022-08-16 17:40] ollyde opened #888 "Error: uv_udp_bind() failed [transport:udp, ip:'35.190.192.36', port:50000]: address not available [method:worker.createWebRtcServer]"
Deploying a MediaSoup server via Docker on Google Cloud Compute engine the ```uv_udp_bind``` always fails.

The firewall is set to open all ports and IP address ranges.

Tried both Debian and Ubuntu container optimized boot images.

Running with command
`docker run -it -e "GCP_PROJECT=bap-prod-352014" -e "GOOGLE_CLOUD_PROJECT=bap-prod-352014" -e "MEDIA_SERVER=true" --net host -t eu.gcr.io/prod-352

[2022-08-16 17:42] ibc commented on #888
Please don't open an issue in GitHub due to usage issues. Ask in the public forum.

[2022-08-16 17:42] #888 closed, assigned to nobody

[2022-08-16 17:44] ollyde commented on #888
@ibc ok thanks, I've posted on discourse. Awaiting moderator..

[2022-08-16 18:38] ollyde commented on #888
For reference in-case anyone else is stuck

https://mediasoup.discourse.group/t/error-uv-udp-bind-failed-transport-udp-ip-35-190-192-36-port-50000-address-not-available-method-worker-createwebrtcserver/4475/3

[2022-08-18 16:01] webRTCv1 opened #890 "Mediasoup demo - WebSocket connection failed"
## Bug Report

[Mediasoup demo](https://v3demo.mediasoup.org/) - `WebSocket connection failed`

### Issue description

I'm trying [mediasoup demo](https://v3demo.mediasoup.org/), but when i join with any browser, has `WebSocket connection failed`

![mediasoup-demo](https://user-images.githubusercontent.com/104159437/185440286-f5dd6749-87ca-41bc-ac2c-e7de16580a32.png)

Not sure if this is a right p

[2022-08-18 17:14] ibc commented on #890
Use the public forum as stated in the issue template.

[2022-08-18 17:14] #890 closed, assigned to nobody

[2022-08-23 15:03] ibc opened #892 "Leak in Worker::mapChannelRequestHandlers and other maps"
## Bug Report

### Your environment

- mediasoup version: 3.10.5

### Issue 1 description

By looking at where we call `OnChannelRequestHandlerRemoved()` I'm pretty sure that we are leaking an entry in `Worker::mapChannelRequestHandlers` when we close a `Router` via Node `router.close()` method and such a  `Router` contains `RtpObservers`.

`this->listener->OnChannelRequestHandlerRemoved(rtpObserv

[2022-08-23 15:11] ibc commented on #892
Possible C++ problem here:

- Let's have class B that inherits from A.
- We define both a constructor and destructor for A and B.
- If the constructor of A throws, the destructor of A **is not called**, and I'm not sure if the destructor of B is called in that case.

Anyway, IMHO the solution is:

- Do not declare constructor and destructor in `ChannelSocket` class.
- Call `this->OnChannelRequestH

[2022-08-23 20:13] nazar-pc commented on #892
Makes sense to me, I didn't think about it. Do you have capacity to implement this before I do by any chance?

[2022-08-23 20:17] ibc commented on #892
I can try tomorrow.

BTW reminder for me: include those Worker maps in dump() output so we can test their values in tests.

[2022-08-24 15:26] ibc commented on #892
Working in https://github.com/versatica/mediasoup/pull/894

[2022-08-25 11:35] ibc opened #895 "`make fuzzer` no longer works (missing target in meson.build)"
Basically that. `mediasoup-worker-fuzzer` target was not included in `meson.build`.

[code]

[2022-08-25 11:42] ibc opened #896 "`make fuzzer` no longer works (missing target in meson.build)"
Basically that. `mediasoup-worker-fuzzer` target was not included in `meson.build`.

[code]

[2022-08-25 11:45] nazar-pc commented on #896
It is for some reason locked to just Linux, did it work on macOS before?
https://github.com/versatica/mediasoup/blob/ed15a863a5ed095f58a16d972c8e25bf24f17933/worker/meson.build#L341-L343

[2022-08-25 11:47] ibc commented on #896
Fuzzer requires Linux to work but before Meson I was perfectly able to compile it in macOS.

[2022-08-25 11:49] nazar-pc commented on #896
I see. Remove that condition to allow it to compile.

[2022-08-25 12:16] ibc commented on #895
For some reason it fails when linking. I don't know if it's expected:

[code]

This is the diff:

[code]

[2022-08-25 12:21] nazar-pc commented on #895
It complains about `libclang_rt` being missing, IIRC you need to install full Clang, not Apple's custom version of it for that to exist.

[2022-08-25 12:46] ibc commented on #895
Clear. Probably it also failed to link before Meson stuff. But at least it compiles which is what I wanted :)

BTW this is fixed in https://github.com/versatica/mediasoup/pull/894

[2022-08-25 13:06] #892 closed, assigned to ibc, jmillan, nazar-pc

[2022-08-25 13:06] #895 closed, assigned to nobody

[2022-08-26 15:38] ggarber opened #897 "Provide more context for disambiguation to consumer "layerschange" event"
## Feature Request

When the application receives the `consumer.on('layerschange')` event with no layers (spatialLayer=-1, temporalLayer=-1) there are at least two possible reasons for that:

1/ The receiver doesn't have enough bandwidth to receive that video and it has been disabled.   Usually in these cases you want to show something in the UI like "Video disabled for network reasons".

2/ The s

[2022-08-26 16:19] ibc commented on #897
You can check consumer.score which includes producer score, which is 0 in those cases.

[2022-08-26 16:19] #897 closed, assigned to nobody

[2022-08-26 17:04] ggarber commented on #897
Looking at this code, can't score be also 0 if packets lost == packets received?

[code]

If thats correct, How do you differentiate bad network (50% packet loss) from no video received?

In addition to that the score is not very explicit (the algorithm is black magic afaict) and requires  implementing logic in the application to handle and combine both events ('score' and 'layerschange').

So may

[2022-08-26 17:07] ibc commented on #897
When consumer layers switch to -1 -1 the producer score is guaranteed to be 0 (in case the lack of layers is due to producer uplink issues). Isn't that enough?

[2022-08-29 20:58] ibc commented on #896
Fixed.

[2022-08-29 20:58] #896 closed, assigned to nobody

[2022-08-31 09:21] penguinol commented on #357
@ibc the issue is still reproducable.

```webrtc::InterArrival::BelongsToBurst() | failed assertion `current_timestamp_group_.complete_time_ms >= 0': current_timestamp_group_.complete_time_ms < 0 [current_timestamp_group_.complete_time_ms:-32515034```

[2022-09-06 06:55] un-hongly opened #901 "ActiveSpeakerObserver: "dominantspeaker" listener does not work properly if I immediately add a fresh Producer."
The “dominantspeaker” listener does not work if I add a fresh Producer to an ActiveSpeakerObserver. To make it work I must give it some time by wrapping it with setTimeout. See example below

This code doesn’t work:

[code]
Result
[code]

This code work:
[code]
Result
[code]

Environment
- mediasoup version: 3.10.0

[2022-09-06 08:25] jmillan commented on #901
`const producer = transport.produce(...);`

Why aren't you awaiting for `transport.produce()`? It returns a Promise, not a Producer.

`const producer = await transport.produce(...);`

[2022-09-06 08:31] un-hongly commented on #901
Oh sorry, my actual code has `await`. I'll edit the issue.

[2022-09-06 14:23] ggarber commented on #901
I just did a quick test and for me it works even when adding producer to the activeSpeakerObserver immediately after the "await transport.produce()" is done.

I'm assuming you have multiple producers in your test, right?  Can you try muting and unmuting them to see if you get the "Called" log in that case.  It is how I tested it now.

[2022-09-07 08:37] un-hongly commented on #901
Hi @ggarber ,
By the word mute did you refer to pausing producer? Yes, I have multiple producers. I tested with 2 audio producers of PeerA and PeerB. I paused producer on PeerA and speak on PeerB and switched turn between these 2 users but it doesn't work. What mediasoup-client platform that you are testing on? My mediasoup-client is flutter version.

[2022-09-08 08:20] SunriseIT-syr opened #905 "Error when installing mediasoup"
1Compiling C object subprojects/libsrtp-2.4.2/libsrtp2.a.p/crypto_math_datatypes.c.o
118 error [1035/1324] Linking static target subprojects/openssl-3.0.2/libssl.a
118 error [1036/1324] Compiling C object subprojects/usrsctp-4e06feb01cadcd127d119486b98a4bd3d64aa1e7/libusrsctp.a.p/usrsctplib_netinet_sctp_crc32.c.o
118 error [1037/1324] Compiling C object subprojects/usrsctp-4e06feb01cadcd127d119486

[2022-09-08 08:45] #905 closed, assigned to nobody

[2022-09-08 19:51] ibc commented on #901
Guys let's not mandate pause/resume actions for it to work. It shouldn't be needed. If the only way to work when immediately adding the created Producer to the ActiveSpeakerObserver is by pausing and resuming it, then there is a bug.

[2022-09-09 16:19] mengbieting opened #906 "consumer NACK with the specified sequence number packet but the retransmission fails"
Hello, I want to inquire about a problem that NACK is sent but no retransmission succeed.

The scenario is as follows: SDK pushes the stream to mediasoup server1, and mediasoup server2 receives this stream from mediasoup server1 and then restores the packet to a frame (mediasoup server2 as consumer and receive data through pipetransport).

When I set the packet loss rate to 10% (the rtt is small)

[2022-09-09 16:38] jmillan commented on #906
Thanks for the detailed observations.

Next week some of us won't be fully online, but we'll check at this as soon as possible.

[2022-09-09 16:44] mengbieting commented on #906
thank you~

[2022-09-11 02:59] billzmh opened #907 "An overflow and crash risk in RTC::Transport::SendRtcp"
### Your environment

- Operating system: Linux
- Node version:
- npm version:
- gcc/clang version:
- mediasoup version: v3 recent version
- mediasoup-client version:

### Issue description

In `RTC::Transport::SendRtcp()`, when serializing the compound RTCP packet for `mapProducers`, there's a overflow and crash risk: `packet->GetSize()`  will return default `0` forever if `packet->Serialize(RTC:

[2022-09-11 03:00] billzmh commented on #907
test

[2022-09-11 09:10] jmillan commented on #907
Good finding @billzmh,

There's an ongoing fix for this. Thanks for the report.

[2022-09-13 01:23] billzmh commented on #907
Good luck! Please tell me if u fixed it, thanks!

[2022-09-13 01:53] penguinol commented on #906
@jmillan @mengbieting
We also noticed this issue. libwebrtc uses rtx for bandwidth estimate, so rtx packets may arrived earlier than rtp
 packets.
Espically when there is packets loss, we will insert the rtx packet into recovered list and drop it, and will never sending for this packet.

And there is another situaltion:
Currently we will not send nack immediatley, but wait a while, we may receive

[2022-09-13 02:27] mengbieting commented on #906
thanks for reply~
Do you mean when mediasoup receive rtx packet before sending nack, maybe we should return true in NackGenerator::ReceivePacket if isRecovered deal logic? because if the rtx packet is received before the nack is sent, the code will enter the processing logic of NackGenerator::ReceivePacket if isRecovered

![image](https://user-images.githubusercontent.com/30215039/189793440-ddd688

[2022-09-13 03:02] penguinol commented on #906
There are two situaltions:
1. RTX seq num >= max RTP seq num. Seq num is not in nack list. will return false here:
https://github.com/versatica/mediasoup/blob/bba2aa05d5e88f0ab1d46ea215caf7b22331b420/worker/src/RTC/NackGenerator.cpp#L124-L126

2. RTX seq num < max RTP seq num. Seq num is in nack list, but has not been sent yet, will return false here
https://github.com/versatica/mediasoup/blob/bba

[2022-09-13 03:17] penguinol commented on #906
The first situaltion is not recoverable, because we have inserted the seq num to `recoveredList`, and will never send a nack for this packet again.
The second situaltion is recoverable, because we will send nack later.

[2022-09-13 03:34] mengbieting commented on #906
thanks, yes, the second situaltion is recoverable, even if the nack has not been sent yet, we will send the nack later. After receiving the rtx packet again, it will be recovered and forwarded to the consumer, consumer will not need to nack this packet all the time.
But the first case is unrecoverable. In this case, if we do not recovered and forwarding the packet to the consumer, the consumer wil

[2022-09-13 05:41] penguinol commented on #872
@jmillan
This issue will occur when there is a small packet loss (maybe 2%), and will make the available outgoing bitrate decline to a very low value.
Such as:
First RR report says there is 5 packets loss total, maybe 2 packets is repaired by rtx or received out of order then, and there is no more packets loss tile untile next RR report, so in the second RR report, the packets loss total will be 3

[2022-09-13 07:22] penguinol commented on #872
By the way, this issue is in `LossBasedBandwidthEstimation`, and there is a defect in it which is not easy to be modified:
Upstream packet loss will effect the downstream bandwidth estimation even there is no packet loss on downstream.
`LossBasedBandwidthEstimation` is based on the total packet loss num in RR report, and total packet loss num is related to rtp seq num. It's hard to discriminate wh

[2022-09-14 03:10] HuHeng commented on #906
why mediasoup received rtx who's origin seq number  greater than the max RTP sequence number?

[2022-09-14 05:06] penguinol commented on #906
Because libwebrtc use rtx for bandwidth estimate, it may send rtx packet without receiving NACK.
Such as:
Libwebrtc sent rtp packets with seq num 1, 2, 3 and then sent rtx packet with rtp seq num 3 for bandwidth estimate.
Rtp packet with seq num 3 may lost beacuse of networker problem, but rtx packet with rtp seq num 3 arrived.
So finally we got rtp packets with seq num 1, 2 and rtx packet with se

[2022-09-14 19:40] j2l commented on #890
FYI about newbies like me: I followed the website to the demo, then finding this github project and reading this very same issue I have, and NOT finding any forum on the website or in the issue. :sob:

[2022-09-15 10:13] jackwxs opened #909 "RTSP Stream join Mediasoup meeting？"
RTSP to WEBRTC  join mediasoup？

[2022-09-15 10:30] #909 closed, assigned to nobody

[2022-09-19 08:58] liutao-lx opened #910 "createWebRtcServer fail"
^
TypeError: worker.createWebRtcServer is not a function
    at runMediasoupWorkers (/usr/local/mediasoup-demo/server/server.js:133:38)

[2022-09-19 09:03] #910 closed, assigned to nobody

[2022-09-28 03:38] penguinol commented on #906
I did some tests, if return True here, we may send duplicate rtp packets to the consumer.

[2022-09-29 08:13] jmillan commented on #874
This was handled here https://github.com/versatica/mediasoup/pull/899

[2022-09-29 08:13] #874 closed, assigned to nobody

[2022-09-29 08:55] ybybwdwd commented on #883
Maybe the reason is using freed memory
![image](https://user-images.githubusercontent.com/49260497/192986608-e6cd105a-6987-47fe-90d1-d5cb9623684a.png)
![image](https://user-images.githubusercontent.com/49260497/192987326-752d2891-2123-4611-9555-be89c09e45ea.png)

[2022-09-29 08:58] ibc commented on #883
There is no freed memory usage in there. `this->tuples.erase(it)` just removes a `TransportTuple` pointer from a map, it doesn't free it.

[2022-09-29 09:07] ybybwdwd commented on #883
But `this->tuples` is `std::list<RTC::TransportTuple>`, not `std::map<RTC::TransportTuple*>`

[2022-09-29 09:20] ibc commented on #883
GOOD POINT!

[2022-09-29 09:58] ibc commented on #883
@ybybwdwd please take a look: https://github.com/versatica/mediasoup/pull/915

[2022-09-29 14:43] Krishna909090 opened #917 "getting issue while running the V3 demo"
![Screenshot from 2022-09-29 19-57-50](https://user-images.githubusercontent.com/50042713/193062700-899d5233-373c-46e1-9881-c395ecaf51df.png)

Please help to run this ASAP

[2022-09-29 15:38] #883 closed, assigned to ibc

[2022-09-29 16:15] ibc commented on #917
what?

[2022-09-29 16:15] #917 closed, assigned to nobody

[2022-09-29 16:17] Krishna909090 opened #918 "while running the demo app getting the websocket connection failed issue> Please help to run this ASAP"
what?

_Originally posted by @ibc in https://github.com/versatica/mediasoup/issues/917#issuecomment-1262505794_

[2022-09-29 16:18] ibc commented on #918
ok, blocked in this project. Bye.

[2022-09-29 16:18] #918 closed, assigned to nobody

[2022-10-04 13:29] #907 closed, assigned to nobody

[2022-10-05 14:53] lachezarR opened #921 "consumer's receiving shared screen freezes on Firefox 104.0.2 (Windows, Mac, Linux)"
## Bug Report
Share screen freezes on Firefox.

### Your environment

- Operating system: Fedora but it happens on MAC and Windows as well
- Node version: 14
- npm version: 6.14
- gcc/clang version:
- mediasoup version: 3
- mediasoup-client version: ^3.6.41,

### Issue description
I have a session with 3 users - 2  on Chrome and 1 of Firefox. Presenter shares screen on Chrome. Firefox Consumer 1 r

[2022-10-05 15:24] #921 closed, assigned to nobody

[2022-10-07 15:35] mengbieting commented on #906
Hi, the scenario you describe is when the rtx packet arrives before the rtp packet with the corresponding seq number, and the rtp packet is not really lost, in this case, the modification of return true will cause mediasoup to send duplicate rtp packet the consumer, right? I applied this modification to my project before, and found that the caton rate on the consumer side has decrease compared wit

[2022-10-08 02:50] penguinol commented on #906
There are two situations:
1. rtp packet arrived after rtx packet because of out of order.
2. libwebrtc may send serveral rtx packets with same rtp seq num to fill the bandwidth.

#912 considered the second situation.

[2022-10-11 08:31] oto313 opened #923 "Worker died RtpStreamSend::Insert"
### Your environment
- docker container - node:18-bullseye
- mediasoup version: 3.10.0

### Issue description
The worker died after couple of weeks of running. I do not have any more detail about it except following logs.

[code]
Do you have any idea what could be a root cause? I could try to investigate it further, if I can reproduce it in a shorter time that 2 weeks.

Sorry it is rare crash, so

[2022-10-11 08:43] jmillan commented on #923
Thanks for the report. We'll look into it.

[2022-10-11 08:46] ibc commented on #923
3.10.0 is kinda "old", latest version is 3.10.8 and ARAIR there were changes/fixed about this. @jmillan do you recall it? Changelog doesn't help much.

[2022-10-11 09:31] oto313 commented on #923
Ok, If you think there were some changes that might fix the bug, I can try to update and hope it wont happen. Thanks

[2022-10-11 09:35] ibc commented on #923
Not 100% sure. Please try latest version and confirm.

[2022-10-13 13:42] jmillan commented on #923
Indeed could have been fixed in 10.3.5 , here (10cfd3af19b0b025e3b581c63eb917c1dea14d81).

[code]

[2022-10-13 13:42] jmillan commented on #923
Please @oto313, reopen this issue if you experience the problem with the newest version.

[2022-10-13 13:42] #923 closed, assigned to nobody

[2022-10-16 02:23] xujingzhou opened #924 "How to support full ice and sdp?"
For special reasons, I need mediasoup to support full-ice and sdp. How should I solve this problem?

[2022-10-16 03:08] nazar-pc commented on #924
For questions we have a forum, this was discussed there MANY times already.

[2022-10-16 03:08] #924 closed, assigned to nobody

[2022-10-16 04:22] xujingzhou opened #925 "how let mediasoup to support full ice with sdp？"
For special reasons, I need mediasoup to support full-ice with sdp. How should I solve this problem?

[2022-10-16 04:39] nazar-pc commented on #925
Last warning, if you ignore rules you'll be banned

[2022-10-16 04:39] #925 closed, assigned to nobody

[2022-10-17 02:03] xujingzhou commented on #925
I'm really sorry that this accidentally sent twice confused you!  Could you please send me the address discussed for this related problem? Thanks

[2022-10-17 07:37] ibc commented on #925
As told before please search in the forum and keep posting in the forum rather than in GitHub.

[2022-10-17 09:57] ibc commented on #906
We don't forget about this, it's just that we are focused on some incoming huge changes and prefer to handle this PR after them.

[2022-10-24 12:31] Sir3dDeVi commented on #767
@RoCkAs Thank you for the suggestion! It seems that it solved the issue. Thanks again! :)

[2022-10-25 16:10] valliscooper opened #930 "Failed to parse notification error with webrtc datachannel"
When using a webrtc datachannel I noticed with 0.11.1 rust crate each datachannel message causes an error in the log:
ERROR    mediasoup::router::data_consumer    - Failed to parse notification: invalid type: string "0", expected u32 at line 1 column 107

It looks to me like the Notification enum BufferedAmountLow member buffered_amount which is an i32 can no longer be deserialized from json conta

[2022-10-26 12:04] ibc opened #932 "Worker crash due to std::out_of_range exception"
## Bug Report

mediasoup worker crashed in the demo site (v3demo.mediasoup.org) running latest 3.10.11.

### Your environment

- Operating system: Linux Debian
- Node version: v16.13.1
- gcc/clang version: gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
- mediasoup version: 3.10.11

### Issue description

No idea where this happened:

[code]

[2022-10-26 12:07] ibc commented on #932
`std::out_of_range` exception can happen when attempting to read `someVector.at(idx)` if `idx >= someVector.size()`. Maybe also in other cases.

[2022-10-26 12:23] nazar-pc commented on #930
This is not good. I'll try to look into this closer to the end of the week, feel free to send a PR if you fix it sooner.

[2022-10-26 13:12] valliscooper commented on #930
[See also similar observation](https://github.com/serde-rs/json/issues/317#issuecomment-300251188)

Cheers.

[2022-10-26 14:40] jmillan commented on #932
NOTE: Such argument passed to `at()` (18446744073709551615) is `FFFFFFFFFFFFFFFF`, which is 8 bytes set to one.

There are just few places where we do 'at()' on a vector. I'm looking at it, but I don't see any possible place this could happen.

[2022-10-26 14:45] ibc commented on #932
OMG I'm also looking for all `.at()` usages...

[2022-10-26 14:50] jmillan commented on #932
Indeed only `size_t` has 8 bytes and IMHO the only place where this can happen is [here](https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/RTCP/FeedbackRtpTransport.cpp#L404) where we are providing a `size_t` as argument to `vector.at()`

[2022-10-26 14:53] ibc commented on #932
**NOTE:** `std::out_of_range` can also be produced by:

- `std::map<Key,T,Compare,Allocator>::at(idx)`
- `std::deque::at(idx)`
- `std::bitset<N>::flip(N)`
- `std::bitset<N>::test(N)`
- `std::basic_string<CharT,Traits,Allocator>::at(idx)`

[2022-10-26 14:54] ibc commented on #932
Will try to reproduce it by forcing a wrong  `deltaIdx` value.

[2022-10-26 14:58] jmillan commented on #932
No @ibc , I think the issue is definitely here:

https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/SimulcastConsumer.cpp#L630

We don't need to execute the loop if `this->producerRtpStreams.size() == 0`

[code]
size: 18446744073709551615`

[2022-10-26 14:59] jmillan commented on #932
Writing a PR.

[2022-10-26 15:08] ibc commented on #932
`SimpleConsumer::IsActive()` and `SvcConsumer::IsActive()` return `false` if the `RtpStream` in the `Producer` doesn't exist:
![CleanShot-2022-10-26-at-17 04 07@2x](https://user-images.githubusercontent.com/16191/198063453-cf1af579-9bc9-4834-834b-bef84fc55eb0.png)
![CleanShot-2022-10-26-at-17 03 25@2x](https://user-images.githubusercontent.com/16191/198063480-f47b50a2-b61f-49aa-8bf4-30c56c060263.p

[2022-10-26 15:11] CosmosisT commented on #932
I'll say I haven't crashed once, I don't use simulcast or SVC!

[2022-10-26 15:14] ibc commented on #932
Working on branch https://github.com/versatica/mediasoup/tree/fix-issue-932 in which I've fixed `SimulcastConsumer::IsActive()` as explained above.

However, as Jose told me, this is not the reason of this crash since the error is clear:

`vector::_M_range_check: __n (which is 18446744073709551615) >= this->size() (which is 2)`

and this is not the case.

[2022-10-26 15:36] ibc commented on #932
![CleanShot-2022-10-26-at-17 35 20@2x](https://user-images.githubusercontent.com/16191/198070772-ee05d8de-d05a-4b7d-97f4-3924b9ca26f2.png)

@jmillan do I miss something here? We are casting to `size_t` (which is unsigned number) and then checking whether it's >= 0, which is always true by definition... However this should produce TONS of crashes already if wrong...

[2022-10-26 15:39] jmillan commented on #932
Yes, `sIdx` will be always initialized 0 or positive, but in each iteration we are decreasing it and only want to run the loop body while > 0.

[2022-10-26 15:40] jmillan commented on #932
So we check the desired bitrate on streams from the highest spatial layer to the lowest.

[2022-10-26 15:40] ibc commented on #932
so... it's wrong right?

[2022-10-26 15:41] ibc commented on #932
No, it will always be >0 since if 0 we would reach this line (`IsActive()` returned false above so we exit).

[2022-10-26 15:47] ibc commented on #932
Last item fixed here: https://github.com/versatica/mediasoup/commit/956def7f443ae48e3a446315af0e1524e66b4da2

[2022-10-26 16:37] #932 closed, assigned to ibc, jmillan, nazar-pc

[2022-10-26 16:37] ibc commented on #932
More info:

[code]

Output:
`------- SIZE_MAX: 18446744073709551615`

And the above crash said:

`vector::_M_range_check: __n (which is 18446744073709551615) >= this->size() (which is 2)`

So the fix in https://github.com/versatica/mediasoup/pull/933/ will indeed fix the regression in this commit https://github.com/versatica/mediasoup/commit/f4b3558aaffbccde9135c24aefacfc13face6f2c one month ago.

[2022-10-28 09:25] jmillan opened #935 "Producer test failure in Rust"
## Bug Report

The [following run](https://github.com/versatica/mediasoup/actions/runs/3335723860/jobs/5520027733) failed due to a test failure in Rust producer test. There is a producer info missing in `router.dump()` output.

### Your environment

- Operating system: macOS 12
- gcc/clang version:
- mediasoup version: current v3

[2022-10-29 15:47] #930 closed, assigned to nazar-pc

[2022-10-29 16:29] #935 closed, assigned to ibc, jmillan, nazar-pc

[2022-11-02 11:09] valliscooper commented on #930
Excellent. Thanks.

[2022-11-03 17:15] ibc opened #939 "Update OpenSSL to (at least) 3.0.7"
We use OpenSSL 3.0.2. We need 3.0.7 as it fixes this recent [CVE-2022-3786 and CVE-2022-3602](https://www.openssl.org/blog/blog/2022/11/01/email-address-overflows/). However last version of OpenSSL in https://mesonbuild.com/Wrapdb-projects.html is still 3.0.2-1, which is really outdated.

It's hard to create an openssl 3.0.7 wrap file since it depends on a patch that does very complex things. This

[2022-11-03 17:51] ibc commented on #901
Any update to this?

[2022-11-03 18:12] nazar-pc commented on #939
This is primarily an upstream task, Meson wrap needs to be updated, I'll take care of it as well.
Once it is upstreamed it is trivial to update it in mediasoup.

[2022-11-03 18:34] ibc commented on #901
Confirmed that the issue doesn't happen. Tested same code than in the description. The 'dominantspeaker'  events is fired immediately without having to wait any loop cycle.

[2022-11-03 18:34] #901 closed, assigned to nobody

[2022-11-03 18:43] ibc commented on #939
Thanks a lot.

[2022-11-04 11:44] ibc commented on #872
@sarumjanuch can you consider these changes into your ongoing PR https://github.com/versatica/mediasoup/pull/922?

UPDATE: Ignore, since it's already done in your PR: https://github.com/versatica/mediasoup/pull/922/files#diff-531cc543a44ef9ae28d7eaea4e06c92879598eeac34186fcf2c5c225c3ad6833R395

[2022-11-04 11:55] #767 closed, assigned to nobody

[2022-11-04 12:16] ibc commented on #872
Anyway changes are applied into current v3 in this PR: https://github.com/versatica/mediasoup/pull/944

[2022-11-04 12:16] ibc commented on #849
Changes are applied into current v3 in this PR: https://github.com/versatica/mediasoup/pull/944

[2022-11-04 12:22] ibc commented on #343
fuzzit has been acquired by GitLab: https://docs.gitlab.com/ee/user/application_security/coverage_fuzzing/

[2022-11-04 12:41] #849 closed, assigned to nobody

[2022-11-04 12:41] #872 closed, assigned to nobody

[2022-11-06 10:40] mango-martin opened #951 "Remove Return Types where possible?"
I saw movement in my open PR #869 and want to re-do it with a bit more thought put into it.

Anyway, this is unrelated, while going through the code I noticed that every single getter and function has a return type attached to it.

I think that all of these can be removed (with some exceptions). TypeScript inference is powerful. It will know the type of the returned "thing". There are a few cases

[2022-11-06 12:37] ibc commented on #951
If you are gonna create a new PR please close the former.

Regarding return type in getters, we prefer to be strict and declare it. I know it's not required but in some cases, such as in mediasoup-client, we declare class interfaces with getters and here we just clearly define the return type of those getters (since - method or getter in an interface doesn't return anything). Anyway, no matter wha

[2022-11-06 12:37] #951 closed, assigned to nobody

[2022-11-06 13:21] mango-martin commented on #951
Will do, as soon as I have the new one ready.

👍

About the rest: I just wanted to put it in as a suggestion. Seeing that you have reasons to keep status quo is good enough for me.

[2022-11-06 16:53] nazar-pc commented on #951
You should ALWAYS specify input and output types, so both compiler and you (developer/maintainer/etc.) don't need to guess what type is every time. Also internal types may change during refactoring and it is nice to get compilation error about type mismatch rather than silently changing return type.

[2022-11-17 11:10] byyam opened #957 "Support Apple MacOS M1 compiling"
## Feature Request
System information:
Darwin Kernel Version 22.1.0: RELEASE_ARM64_T6000 arm64

upgrade abseil-cpp to fix compiling problem:
[code]

reference:
https://github.com/abseil/abseil-cpp/pull/1086

[2022-11-17 11:12] nazar-pc commented on #957
That issue is about cross-compilation, you likely don't need that. People successfully build mediasoup for M1 for a long time.
Please search the forum or create a new thread there if you don't find the answer.

[2022-11-17 11:12] #957 closed, assigned to nobody

[2022-11-18 07:01] byyam commented on #957
Problem solved with thanks, and remark the link may help others:
https://mediasoup.discourse.group/t/can-t-upgrade-mediasoup-to-3-9-x-on-macbook-m1/3626/8

[2022-11-21 04:08] o-u-p opened #959 "new delete not match"
## Bug Report
asan option:-fsanitize=address, -fsanitize=undefined

### Your environment

- Operating system:
linux gcc-8.2

### Issue description

(field_trial.cc:140): Setting field trial string:WebRTC-Bwe-AlrLimitedBackoff/Enabled/
=================================================================
==30913==ERROR: AddressSanitizer: new-delete-type-mismatch on 0x60e000003a00 in thread T0:
  object

[2022-11-21 08:44] ibc commented on #959
We are replacing libwebrtc version in a separate branch. Anyway it's hard to check if there is any possible bug with this short description. Let's close it.

[2022-11-21 08:44] #959 closed, assigned to nobody

[2022-11-24 03:53] o-u-p commented on #959
![image](https://user-images.githubusercontent.com/22117027/203690213-26177629-b2ac-41f2-bbc8-659ccf4f1289.png)

[2022-11-24 07:14] ibc commented on #959
What is exactly wrong there?

[2022-11-24 10:33] ibc commented on #959
@o-u-p yo have attached an image of a modified version of mediasoup that I don't know where it comes from. You wrote absolutely anything in this issue but just copy&pasted things into it. It's completely impossible to understand this. No action can be taken here.