[2018-07-17 11:11] ibc commented on #206
When a new Consumer is enabled (or resumed if it was paused) mediasoup requests a video keyframe to the corresponding Producer (in your case, the screen sharer). Before such a keyframe arrives to mediasoup, the Consumer `effectiveProfile` is "none".

* Can you confirm that, when you do NOT receive the screen track, the `consumer.effectiveProfile` is "none"?

If so, something weird happens. A way t

[2018-07-17 11:45] ChrisE87 commented on #206
It indeed seems like it is still on null. Debugged on both the opening and the close event, and while the audio stream went from null to "default" between both, the video stream was still on null. Only the preferredProfile updated itself to "low". I can try to do the server-side debugging later.

[2018-07-17 13:09] ChrisE87 commented on #206
Hopefully I did this right - if I see it correctly, it never reacts due to a flood protection? Logs starting the moment the problematic client connects, two participants were in there before for whom things worked fine.

https://pastebin.com/5wj8kHkZ

[2018-07-17 13:38] ibc commented on #206
Can you please repeat the capture with just the screen sharing producer and the later consumer? Otherwise is too hard to debug.

[2018-07-17 13:39] newinnovations commented on #206
Maybe this is helpful. When I share a single window, and someone enters the session the desktop video does not show. As soon as I resize the window the video appears. Moving the window does nothing and activity in the window does either.

[2018-07-17 14:11] ChrisE87 commented on #206
Hopefully this is the same case, it seemed like the issue didn't happen too often when just using two participants (might be because they pretty much start simultaneously):

https://pastebin.com/eVS9xkZi

Peer "2" should have been the one not receiving the stream.

[2018-07-17 14:32] jmillan commented on #206
@ChrisE87,

In the logs you've pointed there's usually the following log in the latest lines:

`mediasoup-demo-server:INFO:Room Consumer "effectiveprofilechange" event [profile:default]`

Does the new participant start receiving the Desktop video once after this log?

[2018-07-17 14:45] ChrisE87 commented on #206
Yes, this is always the point where it works normally again.

[2018-07-17 15:06] jmillan commented on #206
Looking at the logs it seems that the delay between creating the transport for the new consumer and receiving a full frame request from the Desktop sharer producer is 1 second approximately. Is this de delay you are experiencing?

[2018-07-17 15:19] ChrisE87 commented on #206
No, it goes more into the range of 1-2 minutes unless I actively force it somehow. In my screenshot from the top post it was roughly 15 seconds, but I think I forced it in that case by enabling and disabling the stream erratically.

[2018-07-17 15:21] ibc commented on #206
@newinnovations said:

Which window do you resize? the sender's window? or the receiver's window? I assume it's the producer's window, right?

If so, it makes sense that, when the **shared** window is resized, the sender encodes a keyframe that, somehow, reaches the receiver (the consumer) while the keyframe requested by mediasoup in behalf of the consumer (when it is connected) is not reaching th

[2018-07-17 15:39] newinnovations commented on #206
That is correct. It is the window that is being shared by the chrome desktopCapture.

[2018-07-18 09:44] newinnovations commented on #206
Changing the constraints back and forth when a peer joins the session as suggested by @ChrisE87 works for me. Probably this is similar in behavior for chrome to changing the size of the shared window.

[2018-07-18 09:46] ibc commented on #206
Most probably, changing the constraints produces a keyframe. The issue here is why the keyframe did not reach the Consumer when it connected.

[2018-07-18 09:49] ibc opened #207 "Must reconsider gyp usage due to Python 2.0 deprecation in 2020"
Nobody is gonna add Python 3 support to gyp, so we are dead in 2020:

https://bugs.chromium.org/p/gyp/issues/detail?id=36

@saghul may you run away from ancient programming languages for a while and let's know your thoughts about this?

[2018-07-18 11:02] ibc opened #208 "Issues upgrading to OpenSSL 1.1.0"
### Warnings

* `ERR_remove_thread_state` is deprecated:

[code]

### Bugs

* Incomplete `HMAC_CTX`:

[code]

[2018-07-18 11:11] ibc commented on #208
The second one is already fixed: https://www.openssl.org/docs/man1.1.0/crypto/HMAC.html

[2018-07-18 11:45] ibc commented on #208
Also the first one. Change will be applied in mediasoup 2.2.0.

[2018-07-18 11:45] #208 closed

[2018-07-18 13:36] saghul commented on #207
Don't stop believin': https://bugs.chromium.org/p/gyp/issues/detail?id=36#c44

[2018-07-18 13:54] yangjinecho opened #209 "coredump when fingerprint is not correct"
if happen "fingerprint in the remote certificate (%s) does not match the announced one (%s)", then the woker will coredump, you can test it by revise fingerprint!

[2018-07-18 14:43] ibc commented on #207
Oh cool! Although I was more interested in moving to ninja plus the native node gyp (I don't mean node-gyp) approach.

[2018-07-18 14:57] ibc commented on #209
Good catch!

Note for me: In order to easily test it, just add the following at `lib/Peer.js` line 350:

[code]

[2018-07-18 14:59] ibc commented on #209
Core dump in OSX:

[code]

[2018-07-18 15:32] ibc commented on #209
Confirmed that it happens during the DTLS processing.

[2018-07-18 15:41] ibc commented on #209
IMGO the issue is in `WebRtcTransport.cpp` line ~500:

[code]

It happens that `SetRemoteFingerprint()` calls `ProcessHandshake()` which checks `CheckRemoteFingerprint()` and, if it fails, calls to `this->listener->OnDtlsFailed(this);`.

`WebRtcTransport.OnDtlsFailed()` destroys the instance, so also the `DtlsTransport`instance. But then we call `MayRunDtlsTransport()`!

[2018-07-18 16:02] ibc commented on #209
Not sure about the last comment. It's not what I see in the logs.

[2018-07-18 16:29] ibc opened #210 "No way to define MS_LOG_TRACE"
According to `Logger.hpp`:

[code]

However, currently there is no way to set the `MS_LOG_TRACE` macro at all.

[2018-07-18 16:30] #210 closed

[2018-07-18 16:38] ibc commented on #209
No, it's not like said above.

BTW: a full log detail:

<details>
  mediasoup:Worker mediasoup-worker's stdout: (trace) [id:guknbzxv#1] src/handles/UnixStreamSocket.cpp:203 | UnixStreamSocket::OnUvReadAlloc() +853ms
  mediasoup:Worker mediasoup-worker's stdout: (trace) [id:guknbzxv#1] src/handles/UnixStreamSocket.cpp:226 | UnixStreamSocket::OnUvRead() +0ms
  mediasoup:Worker mediasoup-worker's std

[2018-07-18 16:46] ibc commented on #209
So the super strange thing is the latest `RTC::DtlsTransport::SetTimeout()` line once the `DtlsTransport` was already destroyed!

[2018-07-18 17:05] ibc commented on #209
Confirmed that `SetTimeout()` is called once DTLS failed. And it's being called within `ProcessDtlsData()` which is just called by `WebRtcTransport`. How is possible if the transport was already failed/closed/destroyed???

[2018-07-18 18:03] #209 closed

[2018-07-26 08:05] juzhen21510 opened #212 "sdk upgrade"
what is the differences between the 1.X and 2.X SDk, If I upgrade from 1.x to 2.x,  is there anything document show how to to that.

[2018-07-26 08:17] jmillan commented on #212
Please use the mailing list for questions.

There are huge changes between both versions. Check the [docs](https://mediasoup.org/documentation/mediasoup-client/api/) since the API is fully documented.

[2018-07-26 08:17] #212 closed

[2018-08-09 18:13] ibc opened #213 "Firefox Nightly 63.0a1: no video from FF to others"
No idea. Just join with Chrome and FF 63.0a1 into the same room:

* Audio+video from Chrome is rendered in FF.
* Audio from FF is "rendered" in Chrome, meaning that the vumeter does work (and RTP is received as shown in webrtc-internals). However, no video RTP is received and audio is not played. This is because we use a single `<video>` element for both remote audio+video, and Chrome does not pla

[2018-08-09 18:27] ibc commented on #213
It seems that same FF with same mediasoup works in soup.talky.io, so it may be something related to room video codecs. In the demo (at least in my computer) those are the following:

[code]

This is: raw VP8. This should not fail...

[2018-08-09 18:30] ibc commented on #213
Also, those are the sending SDP offer and answer in FF side:

[code]

[2018-08-09 18:31] fippo commented on #213
i had to change the mids in my simulcast playground code earlier since firefox got rid of sdparta. Might be related even though i don't see how that would cause audio but no video.

Maybe something bundle? Might be worth testing video without audio

[2018-08-09 18:33] ibc commented on #213
Well, I've tested audio with no video and, at least it works :)

[2018-08-09 18:36] ibc commented on #213
NOTE: If I don't send audio in FF, then video from FF is rendered in Chrome!

[2018-08-09 18:39] ibc commented on #213
well, this may be because when stopping the local video, the SDP no longer has active sending m= sections, so FF could decide to close the "transport", hehe, everything happens because the FUCKING SDP.

[2018-08-09 18:42] fippo commented on #213
offer: a=group:BUNDLE 0 1
answer: a=group:BUNDLE 1
there you go...

[2018-08-09 18:43] ibc commented on #213
OHHHH

[2018-08-09 18:45] ibc commented on #213
so somewhere in the mediasoup-client SDP stuffer, a `"0"` string is interpreted as "nothing" and then ignored in the resulting bundle...

[2018-08-09 19:18] ibc commented on #213
Fixed in mediasoup-client 2.1.2, this commit: https://github.com/versatica/mediasoup-client/commit/053ec3a22b04d48d3546788f8ca31ad54b63cda3

Thanks @fippo

[2018-08-09 19:18] #213 closed

[2018-08-09 19:33] fippo commented on #213
this one is high on the "weirdest bug ever" list!

[2018-08-09 19:36] ibc commented on #213
You know. You may build a 92.560 C++ lines SFU and then everything fails because in JavaScript `0` is falsy...

[2018-08-17 09:06] twfx1207 opened #214 "Segfault happened on Timer.cpp"
I had launched a mediasoup app on my server, but it crashed when multiple connection request received. This week I dumped the crash memory and got the backtrace log. It looks like:

[code]

which showed an error occured on
https://github.com/versatica/mediasoup/blob/master/worker/src/handles/Timer.cpp#L46
.

Further test found that "this->uvHandle" could become null or is_closing. As a simple solu

[2018-08-17 17:04] ibc commented on #214
Interesting. BTW: may you check your logs and check if there is any `uv_timer_init() failed: xxxxx` ([here](https://github.com/versatica/mediasoup/blob/master/worker/src/handles/Timer.cpp#L38)?

This could happen if you have too many open file descriptors so the OS cannot open more. Check `ulimit -n` and let me know which value it prints. If too low, you need to increase it to allow mediasoup open

[2018-08-17 17:06] ibc commented on #200
Hi @artushin, were you able to get a core dump?

[2018-08-17 17:08] ibc commented on #196
Ping @jmillan

[2018-08-17 17:09] #197 closed

[2018-08-17 20:56] artushin commented on #200
Nope, hasn't happened since. Feel free to close the ticket, I'll let you know if it ever happens again.

[2018-08-17 20:57] artushin commented on #200
I've moved to docker shortly after this issue, so I assume it was environment related.

[2018-08-18 05:51] twfx1207 commented on #214
Thanks for your reply.

I had checked ulimit settings on mediasoup process, which showed like:

befrore
[code]

after
[code]
there are no "uv_timer_init() failed: xxxxx" in logs.

Besides, another crash occured after I applied my patch, the backtrace log had attached, hope this useful.
[backtrace.log](https://github.com/versatica/mediasoup/files/2299177/backtrace.log)

Best Regards.

[2018-08-20 11:54] ibc commented on #196
So fixed in 65088615d15c4c14248a13589a4d14f8eb1429e4

[2018-09-09 18:56] ldenoue commented on #27
Just found this other webrtc library in python that allows live video frame manipulation https://github.com/jlaine/aiortc#aiortc

[2018-09-26 09:54] ibc opened #215 "Implement H264 simulcast"
Chrome is suppose to include H264 simulcast soon (just simulcast, no temporal layers within each simulcast stream), and there are cams that already do H264 simulcast.

We need to add support for it in mediasoup, and the only we need is being able to detect H264 keyframes. We don't even need to investigate how to do that since @lminiero already did it (see [janus_h264_is_keyframe](https://github.co

[2018-09-26 10:09] lminiero commented on #215
You're welcome! :smile:

[2018-09-26 10:10] ibc commented on #215
FUCK, HE'S READ THIS!

[2018-10-08 10:06] orangebook commented on #209
@ibc could fix it on 1.x

[2018-10-08 10:08] ibc commented on #209
No, sorry. 1.x is not maintained.

[2018-10-08 10:24] ntv-wangjian opened #216 "About donation on PayPal"
Chinese seldom use Paypal, so if you have a Alipay or WeChat Acount, It will be convenient.

[2018-10-08 10:28] ibc commented on #216
Can you please elaborate a bit more?

[2018-10-08 10:29] ibc commented on #216
I mean, do you plan to make a donation?

[2018-10-08 16:29] ibc commented on #216
Please, let's use the mailing list for questions.

[2018-10-08 16:29] #216 closed

[2018-10-11 22:50] michaelfig commented on #192
Am I supposed to see the output somewhere?  How do I set that up?

[2018-10-11 22:55] ibc commented on #192
Set `logLevel: 'debug'` in the options given to `const server = mediasoup.Server(options)`.

[2018-10-11 23:06] #4 closed

[2018-10-11 23:57] ibc commented on #192
Just to confirm:

* Audio OPUS is properly received in Edge (from a Chrome browser).
* No idea yet about OPUS sent by Edge.
* VP8 from Chrome is received in Edge (stats show it) but it's not rendered. Sometimes I see a frozen frame, but just that.
* No idea about VP8 from Edge to Chrome.

[2018-10-12 00:04] ibc commented on #192
As a side note, when Edge is connected to mediasoup, this log happens every 0.1 seconds:

[code]

[2018-10-12 09:20] ibc commented on #214
@twfx1207, just wondering if those RTP connections were using TCP transport.

[2018-10-12 10:14] ibc commented on #122
The mediasoup-demo now allows passing `&forceTcp=true` to the URL to force ICE/DTLS/RTP over TCP. I am not able to reproduce the crash.

[2018-10-12 16:22] ibc commented on #215
Done in 2.2.6

[2018-10-15 13:18] ibc commented on #215
Currently it fails when moving the preferred Consumer profile from high to low or medium (it does not fail when moving to high however). As @murillo128 pointed out in Twitter:

[2018-10-15 13:28] ibc commented on #215
Some unverified stuff I've found in a quick search:

* https://stackoverflow.com/questions/1957427/detect-mpeg4-h264-i-frame-idr-in-rtp-stream
* http://e2e.ti.com/support/legacy_forums/embedded/multimedia_software_codecs/f/356/t/73235?How-to-correctly-judge-the-keyframe-of-H-264#

[2018-10-15 13:52] ibc commented on #215
**NOTE:** If we modify `H264::Parse()` to always set `payloadDescriptor->isKeyFrame = true;` the video is not frozen when switching profile. Obviously this is a hack that produces a small frozen effect (the time it takes for the PLI to be sent and I-Frames being received, etc).

[2018-10-15 13:53] ibc commented on #215
Suggestion by Tim:

[2018-10-15 14:06] ibc commented on #215
I've logged `nal` and it's absolutely **never** 7.

[2018-10-15 14:13] ibc commented on #215
I don't receive any `nal 7` nor `fragment 7` as a result of a PLI.

@lminiero (who later will sue us for violating the GPL 3):

[2018-10-15 14:17] ibc commented on #215
@murillo128 said:

[2018-10-15 22:27] ibc commented on #215
Some research. I've added logs to see what happens when a H264 profile change is requested. This is:

[code]

[2018-10-15 22:55] ibc commented on #215
And this is the same (by copy&pasting code) but here within `Consumer.cpp`. Specifically within the block `if (this->effectiveProfile != this->targetProfile && profile == this->targetProfile)`:

[code]

If we take a look to the first packet received with profile medium, it's NOT a keyframe (so it's ignored). Could such a packet be the missing one????

[2018-10-15 22:58] ibc commented on #215
So, what if instead of checking `fragment == 5 || MORE_STUFF` we check `fragment == 24 || MORE_STUFF`? I've tested it locally and I "think" it may work, but unfortunately my Safari is tired or something and does not even respond (even high stream is frozen all the time).

[2018-10-15 23:07] ibc commented on #196
It happens again when testing H264 simulcast:

[code]

[2018-10-15 23:11] ibc commented on #196
@jmillan this happened testing Safari Tech locally. My Safari is somehow tired, it sends H264 with poor quality, so the remote Consumer (the one that receives Safari's H264 and the one who enabled `getStats()`)  is most of the time with effective profile "none" and so on.

[2018-10-15 23:14] ibc commented on #215
In fact, according to [RFC 6184](https://tools.ietf.org/html/rfc6184):

   RTP packets.  Exists with two versions, FU-A and FU-B, identified
   with the NAL unit type numbers 28 and 29, respectively.  Specified in
   Section 5.8.

I have no idea what `fragment` is, but the spec says nothing about `fragment 5`.

[2018-10-16 00:12] ibc commented on #196
What I see is:

* `this->mapProfileRtpStream` has "low" and "medium".
* `this->effectiveProfile` is "medium".
* `Consumer::RemoveProfile("medium")` is called.
   * `this->mapProfileRtpStream` now has just "low".

BUT:

this code in `RemoveProfile()`:

[code]

* If this happens: `if (IsProbing() && this->probingProfile == profile)` then the method returns.
* So `SetEffectiveProfile(RtpEncodingParam

[2018-10-16 00:14] ibc commented on #196
It may be fixed in b684041. I've just removed a `return;` line (which IMHO does not make any sense).

[2018-10-16 06:09] jmillan commented on #196
:+1: Good catch

[2018-10-16 06:41] jmillan commented on #215
Following you tests @ibc, I've done the following changes on the keyframe detection.

[code]

The profile change is smooth as it can be.

fragment value 24 is refered in  [RFC 6184](https://tools.ietf.org/html/rfc6184) as `STAP-A`( Single-Time Aggregation Packet type A)

[2018-10-16 11:01] ibc commented on #196
The problem is that, when we call `setEffectiveProfile()` we don't check if the `probingProfile` matches the new effective `profile` so, in that case, both effective and probing profiles are the same, producing the crash that has been worked around by removing the `return` in `RemoveStream()`.

[2018-10-16 11:15] ibc commented on #196
Let's close this until a refactor is done.

[2018-10-16 11:15] #196 closed

[2018-10-16 12:53] ibc commented on #215
So let's close this issue.

[2018-10-16 12:53] #215 closed

[2018-10-25 13:07] ibc opened #219 ""Transport with same transportId already exists" (should not happen)"
Related to https://github.com/versatica/mediasoup-client/issues/48 (since we don't know yet where the issue happens).

I've checked logs in mediasoup-demo server. I see the "Transport with same transportId already exists" twice. This is one of them:

2018-10-22T01:49:32.019Z mediasoup:ERROR:mediasoup-worker [id:wmegsfod#2] RTC::Router::GetNewTransportIdFromRequest() | throwing MediaSoupError | a T

[2018-10-26 01:33] ibc commented on #219
I've coded a test app trying to reproduce the bug. I'm not able to reproduce it:

https://github.com/ibc/QueueCommandTest

[2018-10-27 14:16] ibc commented on #219
Let's handle this issue in mediasoup-client https://github.com/versatica/mediasoup-client/issues/48

[2018-10-27 14:16] #219 closed

[2018-11-05 10:11] JSteitz opened #220 "Server warnings for safari as producer and firefox as consumer"
Producer: Safari Audio+Video (no constraints)
Consumer: Firefox

Firefox only receives 1fps and the server log outputs some warnings.
I tested it with other browsers and only Firefox has the problem and produces the warnings.

Additional Info:
I'm using 2 send transports for audio/video with different bitrates.

[code]

[2018-11-05 10:31] ibc commented on #220
Those logs have an explanation. They just happen due the nature of WebRTC RtpTransceivers in which tracks "never end" even after stopping a sending track and/or RtpSender.

I've never seen such a 1fps bitrate and you don't provide any info so I cannot manage this as a bug. Please use the mailing list instead.

[2018-11-05 10:31] #220 closed

[2018-11-05 10:35] JSteitz commented on #220
Sure I could provide more info, if you tell me what you need.
I don't know where the problem comes from.

Just closing a ticket is just bullshit.
It's not helping anyone.

[2018-11-05 10:40] ibc commented on #220
Sorry, this is a bug tracker, not a support forum. We just want to handle here (in GitHub) proven issues and feature wishes.  I cannot help you to get more info about an issue we've never seen and I cannot keep an issue open for that. Please use the mailing list and we (and may be also other users) will try to help.

[2018-11-06 14:21] ibc commented on #200
Hi @artushin, I assume no news on this and also that this bug was created due to historical bugs in stats generation (2 or 3 that have been already fixed). Closing the issue. Reopen or comment if you experiment it again. Thanks.

[2018-11-06 14:21] #200 closed

[2018-11-06 16:11] ibc commented on #207
No updates regarding gyp for Python 3.0. We all are gonna die.

[2018-11-06 16:12] ibc commented on #39
Support for receiving plain RTP is being done in the [plainRtpTransport](https://github.com/versatica/mediasoup/tree/plainRtpTransport) branch.

[2018-11-06 16:12] #39 closed

[2018-11-06 16:16] #27 closed

[2018-11-12 22:33] ibc opened #222 "Should not crash if no more available ports"
This must be confirmed, but it seems that, if there are no more available RTP ports, the `mediasoup-worker` process crashes. Not sure if this is intentional. AFAIR it's not. Instead, the JS promise should just be rejected.

[code]

[2018-11-13 13:57] Flamenco commented on #162
You don't have to convert the whole project.  You can start with basic definitions and then slowly migrate to describing your types.  Typescript lets you define an 'overlay' that _describes your API_.  The type definitions do not even have need live inside your project, so you can continue to develop 'typeless' in plain JS.

Not only would this make managing your own project easier, but your users

[2018-11-16 12:22] ibc commented on #162
HI @Flamenco, I appreciate your explanation. I agree it makes sense and it's not as intrusive as I may consider at the beginning.

However, it would still require that I learn where to create such a "definitions file", how to lint and validate its syntax, which dev-dependencies to install, etc. I don't have time right now to learn about it.

[2018-11-16 14:41] Flamenco commented on #162
I will gladly work on it and and add a mediasoup-types repo :)  The API is not very large, and your docs are VERY clear.  Since I posted this, I have already added about 40% of the MediaSoup API.  Even if you are not writing Typescript, IntelliJ adds autocomplete and syntax highlighting if you simply include the types.

Just a suggestion, but the time spent learning and using Typescript will payof

[2018-11-16 14:51] Flamenco commented on #162
@ibc see https://github.com/Flamenco/mediasoup-types

[2018-11-16 15:52] ibc commented on #162
Fine, will take a look when done (and when I can spend some time on it).

[2018-11-16 22:06] ibc commented on #222
Better logs showing an assertion error in libuv that produces the real crash:

[code]

[2018-11-16 22:13] ibc commented on #214
I can reproduce this issue. Let's move to #222.

[2018-11-16 22:13] #214 closed

[2018-11-16 22:39] ibc commented on #222
Ok, the problem is the following:

* When there are no more ports available, the `WebRtcTransport` constructor fails so it calls `delete this` and, **after that**, it throws an exception.
* The `~WebRtcTransport` destructor is called and then the parent `~Transport` destructor is called.
* The `~Transport` destructor destroys the RTCP timer by calling `this->rtcpTimer->Destroy()`.
* After the dest

[2018-11-16 22:48] ibc commented on #222
So, theoretically, when a C++ class constructor throws an exception, its destructor is **NOT** called. The problem we have is that, after throwing the exception in the `WebRtcTransport` constructor, the destructor of its parent class `Transport` is being called! But it was already called before when calling `delete this` in the `WebRtcTransport` constructor.

[2018-11-16 22:54] ibc commented on #222
@jmillan this will also affect the `PlainRtpTransport` class. In fact, it will leak if for any reason `SetRemoteParameters()` fails in the constructor.

[2018-11-16 23:06] #222 closed

[2018-11-16 23:06] ibc commented on #214
This is fixed in https://github.com/versatica/mediasoup/commit/de3d89fa357bcb27fcc41c2c4d8c6cf2ad7e4f63 (see #222 for more details).

[2018-11-16 23:14] ibc opened #224 "PlainRtpTransport may leak"
Full rationale in #222. It will leak if, for any reason, `SetRemoteParameters()` fails in the constructor.

**Lesson learned:** If B is child of A and B constructor throws an exception, B destructor won't be called, but A destructor will be.

[2018-11-16 23:18] ibc commented on #224
We should probably take a proper look to all this stuff since I don't like much how we deal with custom `Destroy()` methods that call `delete this` and so on.

[2018-11-17 18:15] ibc commented on #224
Basically, if `SetRemoteParameters()` fails in line 39, `this->udpSocket` would leak.

[2018-11-18 19:58] ibc commented on #192
Hi, I'd say that #217 fixed this issue in Edge. I've tested Edge a few times after merging that PR and it works fine now.

Please, comment if this issue should be reopened.

[2018-11-18 19:58] #192 closed

[2018-11-19 12:37] ibc commented on #207
As commented [here](https://github.com/indutny/gyp.js/issues/19#issuecomment-439746397):

So there is hope :)

[2018-11-20 13:40] havfo opened #226 "Missing parameter in transportParameters"
## Bug Report

### Your environment

- Operating system: Debian Stretch
- Node version: 8.12.0
- npm version: 6.4.1
- gcc/clang version: gcc version 6.3.0 20170516 (Debian 6.3.0-18+deb9u1)
- mediasoup version: 2.4.3

### Issue description
PlainRtpTransport missing parameter.

mediasoup-client expects remotePlainRtpParameters.version, but this is not included in:
https://github.com/versatica/medias

[2018-11-20 13:46] ibc commented on #226
@jmillan this is true. `mediasoup` does not add `version` field. Do we really need such a `version` field? Wouldn't it be better if we don't set such a `version` field and instead let the client app detect whether `ip` is IPv4 or IPv6?

[2018-11-20 13:52] jmillan commented on #226
In fact the client app needs to add such `version` field and provide it to `RemotePlainRtpSdp` SDP handler: `setTransport[Local,Remote]Parameters`.

The app needs to get the `version` out of the `ip` coming from mediasoup.

[2018-11-20 13:53] #226 closed

[2018-11-20 14:21] jmillan commented on #226
Example in Node.js:

[code]

[2018-11-21 21:31] ibc opened #227 "Roadmap for mediasoup v3"
After internal discussions we have decided to start the design of the future `mediasoup` v3. The v2 version has been a great advance and had made possible many scenarios that were impossible in v1 (it introduced `mediasoup-client` which provides a proper and unified API for all the browsers). However we are aware of a big room for improvement in the current v2 design.

## Changes for v3 and their

[2018-11-22 02:45] notedit commented on #227
That will be a great change than v2.

[2018-11-25 05:49] tkmn0 commented on #227
Hi!
Thanks for good news about mediasoup v3.
I have a question.  How about native mobile client? if "real JS API" supports native client as well, it is good however, if not, should we use react native SDK live mediasoup v2?
Actually, I'm looking for SFU media server which can handle offer from native mobile clients.

Best regards.

[2018-11-25 21:49] ibc commented on #227
There is an open issue for this: https://github.com/versatica/mediasoup-client/issues/6

However, we have not received any contribution. Building a native SDK requires time and expertise. We, the mediasoup developers, can rely on `react-native-webrtc` (even if ugly) for now, but it requires a JS client (in this case `React Native`) which is not the only choice when it comes to build mobile apps. W

[2018-11-25 21:55] ibc commented on #227
This si completely false. We've NEVER recommended using ANY signaling protocol. The documentation clearly says that mediasoup does not mandate any sig protocol, and there is even a Examples section with mediasoup examples using different signaling solutions:

https://mediasoup.org/documentation/examples/

No idea. May be Netflix? PayPal? are those good examples of applications running on top of No

[2018-11-26 04:57] notedit commented on #227
In this case,  how the sender side handle  PLI/FIR ?    If  we have several watcher  has very poor  network, there will  be many  PLI/FIR requests I think.

[2018-11-26 09:33] xxxman2008 commented on #227
hi, ibc , take easy .

   I read the whole document about mediasoup .  I know mediasoup "NEVER recommended using ANY signaling protocol."  .  But ,in  real life ,if somebody want  his project online ASAP,  it's better to using "Pxxx server".  i forgot the name.   So it 's why i said "force to using"  ..maybe ,i should say " for lazy man".  haha.

  I applaud mediasoup exposes its API in Node but i

[2018-11-26 21:12] ibc commented on #227
Currently the `Producer.cpp` class in mediasoup server already limits the number of PLI/FIR sent to the client. Basically, no more than 1 PLI/FIR per second is sent. If another PLI/FIR is requested in the meanwhile, it's delayed.

Said that, there is a simple rule here: just the encoder can process a PLI/FIR and generate the corresponding keyframe. So, when in a SFU scenario, that is the remote cl

[2018-11-27 07:35] xxxman2008 commented on #227
That's ok .  Do you mean  anyone using mediasoup can  take streams  out , do some job ,and then put it back??  or ,  insert/replace  streams into "server side peer"  ?

Anyway ,these ideas is great. So,  the filter/mixer/CV/AI  can be true. up to application developer.

[2018-11-27 11:00] ibc commented on #227
It's not mediasoup the entity who will do such as "job". The picture would be as follows:

* Browser A sends video to mediasoup.
* mediasoup forwards that video stream to another node via sig+RTP (that node is a `consumer`).
   * Such a node may run in same or different host.
* Such a node processes the video, converts it, etc, and sends it back to mediasoup via a new `producer`.
* mediasoup forwa

[2018-11-27 13:22] Flamenco commented on #227
Just piping in my 2 cents here, but I would like to add some thoughts to the V3 horizon.

I started using Mediasoup because I wanted to broadcast from a browser.  I had 3 choices for architecture:  mesh, peer-to-peer downstream distribution, and server based.  Because I also wanted to record all streams on the server, Mediasoup was the best choice.  I really liked it's simple and universal API on

[2018-11-27 13:37] Flamenco commented on #227
Hello @ibc.  Thank you for responding.  I did read bullet #4.  My issue is that my bandwidth, not my CPU, is the limiting factor.  Once my application has a certain number of (publishers x subscribers), I will need to run on another physical network.  On my LAN, I have 8 servers, each with 12 CPUs and 100 GB RAM.  No matter how much you optimize your code, my WAN network is the limiting factor.

T

[2018-11-27 14:16] ibc commented on #227
We cannot do magic to increase WAN network bandwidth. However streaming servers do exist. I assume they solve the network issue somehow.

[2018-11-27 14:19] ibc commented on #227
I hope this will help people here understand the motivation for the new broadcasting design in v3:

https://github.com/versatica/mediasoup/blob/master/doc/Charts.md

[2018-11-29 05:59] yangjinecho opened #228 "restart ice (forceTcp) cause consumers transport ice failed"
https://demo.mediasoup.org/?roomId=ylaq1tfh&forceTcp=true

restart ice (forceTcp) cause consumers transport ice failed

sorry for my pool english

[2018-11-29 10:58] #228 closed

[2018-11-29 11:00] ibc commented on #228
Thanks. It was due to a bad decision in `WebRtcTransport.cpp` in which, when ICE disconnection happens (just possible in ICE over TCP) we closed the Transport.

Fixed in mediasoup 2.4.6.

[2018-11-29 11:06] #206 closed

[2018-11-29 12:15] ibc opened #229 "ICE restart fails in Firefox"
- mediasoup version: 2.4.7
- mediasoup-client: 2.4.0

When doing ICE restart in Firefox, all its transports (send and recv) stop sending/receiving media.
It's reproducible in the demo app.

[2018-11-29 16:41] ibc opened #230 "Should not announce RTP MID extension support for "recv" transport"
mediasoup can read RTP MID values in received packets to match the corresponding `Producer`.  However we should not tell the remote `Consumers` that we support `a=mid` since the RTP MID value that the remote `Consumer` will receive will not match the `a=mid` of its internally generated remote SDP offer.

It seems that Firefox (the only browser supporting MID for now) does not complain if the RTP M

[2018-11-30 02:42] ibc opened #231 "Chrome does not receive audio/video from others"
* mediasoup 2.5.0

It works fine with Firefox, and Firefox receives media from Chrome, but Chrome does not receive media from Chrome or Firefox.

May be related to #230.

[2018-11-30 02:52] ibc commented on #230
**ALERT:**

This makes Chrome to not receive media from any browser. It works fine with Firefox, and Firefox receives media from Chrome, but Chrome does not receive media from Chrome or Firefox.

[2018-11-30 02:52] ibc commented on #231
Yes, related to #230, so closing this.

[2018-11-30 02:52] #231 closed

[2018-11-30 03:33] ibc commented on #230
This is fixed in `mediasoup-client` **2.4.2**. However, I'll wait a bit before re-enabling MID support in `mediasoup` (otherwise it would fail for people that have not yet upgraded `mediasoup-client` to 2.4.2).

[2018-11-30 06:11] nils-ohlmeier commented on #230
How do Chrome <-> Chrome calls work at all if will negotiate it, but not send it and throw away packets with incorrect/missing MIDs?

[2018-11-30 06:13] nils-ohlmeier commented on #230
And yes you are correct that Firefox has not implemented the last pieces for MID support: paying attention to it on received packets and route them based on that.

[2018-11-30 18:38] ibc commented on #230
* mediasoup 2.5.2 re-enables RTP MID support again.
* mediasoup-client 2.4.2 disables RTP MID for "recv" transports.

So it's important to upgrade to mediasoup-client 2.4.2 if you also upgrade mediasoup (server) to 2.5.2.

[2018-11-30 18:59] ibc opened #232 "PLI/FIR improvements"
* [ ] Should generate PLI / FIR for specific SSRC. Currently we generate PLI or FIR for all the SSRCs (in case of simulcast). Sometimes we just need a PLI / FIR for a specific SSRC (and avoid sending 3 PLIs instead of just one). This is harder than it seems due to how we use the `requestKeyframe()` method in Consumer, Producer and Transport.
* [ ] Currently the producer limits to 1 PLI every two s

[2018-11-30 19:14] ibc commented on #227
@notedit, please take a look to the issue description, I've updated it with info about "PLIs every two seconds".

[2018-11-30 20:14] nils-ohlmeier commented on #230
Since MID superseeds SSRC's I think what Chrome is doing is right. If you receive packets with unknown MID's throw them away. SSRC's are pretty pointless if everyone and everything is using MID's, with the one exception being RTX (one of the reasons I'm not a big fan of that feature).

[2018-12-02 22:20] ibc opened #233 "supportedRtpCapabilities: update rtcpFeedback"
Currently in v2, mediasoup is announcing these `rtcpFeedback`:

[code]

However, I don't think we support ' ack' , and not sure about others.

@jmillan can you please check them?

[2018-12-03 15:04] ibc opened #234 "PacketLoss forwarding for Opus"
Opus has an inband mechanism to send inband FEC. It's based on the `packetsLost` and/or `fractionLost` in the `ReceiverReports` received by the browser. If those are high, the browser sends more FEC. But, if mediasoup generates those `ReceiverReports` based on how it receives audio from the browser, the browser cannot adapt its inband FEC based on the worst `Consumer` (in Opus there is no NACK).

[2018-12-03 15:08] ggarber commented on #234
I think it should be the maximum and not the average of the remaining Consumers packetLoss values.

[2018-12-03 15:09] ibc commented on #234
Wouldn't that be too hard? If there is a remote consumer with super bad network, should all the others be their inbound traffic super increased?

[2018-12-04 16:49] ibc commented on #227
For all those interested in how the v3 API will look like, here a test unit that makes use of all the API in **mediasoup-client v3**:

https://github.com/versatica/mediasoup-client/blob/v3/__test__/test.js?ts=2

[2018-12-04 17:58] #173 closed

[2018-12-07 15:44] yarekc commented on #227
please don't make a protoo/reactjs gas factory for demo.
Provide some simple : pubsihStream(streamid) and playStream(streamid) function that will fit 99% of all developers needs !

[2018-12-07 15:54] ibc commented on #227
There are already N mediasoup example apps running vanilla JS. Please don't reopen such a request here again.

[2018-12-07 16:31] ibc commented on #227
[This](https://github.com/versatica/mediasoup-client/blob/v3/__test__/test.js?ts=3) is the API in `mediasoup-client` v3.

You can use them if you are fine with the API they expose. `mediasoup` will be as low level API as possible to allow any kind of scenario (meetings, broadcasting, etc).

[2018-12-07 16:38] ibc commented on #227
In mediasoup-client v3:

[code]

And, of course, communicate those actions (when appropriate) to the server to call `mediasoup` server API methods on the corresponding entity (Transport, Producer, etc).

[2018-12-07 20:51] yarekc commented on #227
**that's brilliant**. If could could embed that into you demo, that would be perfect.
Ex: how to get the producerId in the recvTransport or set it on sendTransport.
Thanks again.

[2018-12-08 18:33] yarekc commented on #227
Thanks IBC,

Do you have an idea when v3 will be online ?
Do you plan to create this Faq:
- How do I publish a stream ?
- How do I play a stream ?
- How do I record a stream ?
(and promise I will stop harassing you)
Regards

[2018-12-08 18:46] ibc commented on #227
Well, you talk like if mediasoup V2 documentation did not explain how to publish a stream, doesn't it?

Anyway, mediasoup does not manage streams (MediaStream instances) but tracks (MediaStreamTrack instances). Hope that's not a problem.

[2018-12-09 19:56] ibc commented on #227
For those who would like to know how to use `ffmpeg` in mediasoup v3 to send (for example) and audio file, take a look to [this](https://github.com/versatica/mediasoup-client/blob/v3/doc/ffmpeg.md).

[2018-12-11 12:28] ibc opened #235 "ABORT RTC::Producer::ActivateStreamProfiles() | failed assertion (profile already in active profiles map)"
## Bug Report

### Your environment

- mediasoup version: 2.5.5

### Issue description

Fuzzing RTP (still to know what it consisted of, we'll know it soon) a worker died:

[code]

[2018-12-11 12:34] ibc commented on #235
The scenario seems to be this:

* Firefox sending RTX, but mediasoup is not yet ready for it (nor mediasoup-client nor the RID mechanism in mediasoup).
* RTX streams have the same RID as the media stream they protect to.
* I think that in mediasoup we are assuming that it's a new media stream but then we inspect the RID and it matches a previous one, so something crashes because we assume that suc

[2018-12-11 12:46] ibc commented on #235
So here the problem:

* A non announced RTX video packet with an unknown SSRC but a known RID arrives to `Producer::MayNeedNewStream()`.
* It does not find such a new SSRC in any map so it inspects its RID value.
* It finds an `encoding` in `RtpParameters` with that RID (`encodingId`), so it calls `CreateRtpStream(encoding, ssrc)`.
* In `CreateRtpStream()` it does not find any RTX stuff since it w

[2018-12-11 12:47] ibc commented on #235
This bug basically means that, if the browser sends a new SSRC with same RID, it will crash, no matter it's RTX or a fake stream.

[2018-12-11 14:03] ibc commented on #235
I'm working on this and get some issues:

* What are we doing [here](https://github.com/versatica/mediasoup/blob/2.5.5/worker/src/RTC/Producer.cpp#L556)? If this is a RTX packet, are we also creating a `RtpStream` and storing it in the maps???

[2018-12-11 15:01] ibc opened #236 "Refactor Producer.cpp (profiles stuff)"
When working on #235 I'm having huge difficulties to manage the relationship between streams, profiles and so on. IMHO this is over engineered. There are too many maps. specially `this->mapRtpStreamProfiles` which is:

[code]

This is, the same stream can have multiple profiles. But at the same time we mandate in `this->mapActiveProfiles` that profiles must be unique.

This was designed this way t

[2018-12-11 22:54] ibc opened #237 "RTX with RID"
Currently `RtpEncodingParameters.cpp` just sets `hasRtx = true` if the `encoding` object has a `rtx` object field. But when RID is in use (Firefox for now) and also RTX (coming soon in Firefox) the producer `rtpParameters.encodings` won't have `rtx` object.

So we must assume that there is RTX by inspecting the RTX codecs.

[2018-12-12 20:54] ibc commented on #236
This has been done in #238

[2018-12-12 20:54] #236 closed

[2018-12-12 20:54] ibc commented on #235
Fixed in #238

[2018-12-12 20:54] #235 closed

[2018-12-12 22:28] ibc opened #239 "Add clang-fuzzer"
As the tutorial below explains, this need to run with a `fuzzer` capable `clang`, so Linux or a Docker image is required. Working on this in the [fuzzer](https://github.com/versatica/mediasoup/tree/fuzzer) branch.

The idea is to "fuzz" all the mediasoup C++ parsers and functions that receive a buffer and a length.

Work to do:

* [x] Make `worker/scripts/get-dep.sh clang-fuzzer` get the correspon

[2018-12-14 04:08] ibc commented on #239
Mostly done in the `fuzzer` branch! The only missing part is the `worker/fuzzer/fuzzer.cpp` content itself (see bullets above).

[2018-12-14 08:41] fippo commented on #239
you might want to use a seed corpus from https://chromium.googlesource.com/external/webrtc/+/master/test/fuzzers/corpora/

[2018-12-14 12:15] ibc commented on #239
Will do.

[2018-12-14 13:42] ibc commented on #239
Corpus stuff added here: 4fb1400f376a900768a3ef25a663b82b676f8098

[2018-12-14 14:21] ibc commented on #239
Oh cool:

[code]

[2018-12-14 14:45] ibc commented on #239
@jmillan here the bug:

[code]

It assumes that `data + len` can hold a `Header` struct, but it's not true if `len` is less than `sizeof(Header)`. So when calling this `SdesItem::Parse()` function from line 128 it crashes:

[code]

[2018-12-14 14:53] ibc opened #240 "heap-buffer-overflow in RTCP::SdesItem::Parse()"
* mediasoup 2.5.6

[code]

@jmillan here the bug:

[code]

It assumes that `data + len` can hold a `Header` struct, but it's not true if `len` is less than `sizeof(Header)`. So when calling this `SdesItem::Parse()` function from line 128 it crashes:

[code]

Well, not so sure now...

[2018-12-14 14:54] ibc commented on #239
Moving this issue to #240 (and deleting related comments above).

[2018-12-14 14:59] ibc opened #241 "heap-buffer-overflow in RTCP::ReceiverReportPacket::Parse()"
* mediasoup 2.5.6

[code]

IMHO here is the bug:

[code]

It's reading 4 bytes starting from `data` but it does not verify that `len >= 4`.

[2018-12-14 15:14] ibc commented on #239
I don't understand why `RTC::RTCP::Sdes::Parse() | not enough space for SDES item, discarded` is logged at all.

[code]

In `fuzzer/fuzzer.cpp` we are not enabling any `logTag` so `Settings::configuration.Settings::configuration.logTags.rtcp` should be `false` (default value).

[2018-12-14 15:16] ibc commented on #239
Oh! `#define MS_LOG_DEV` was enabled in `Sdes.cpp`!!! Fixing it in the "fuzzer" branch.

[2018-12-14 15:17] ibc commented on #239
The macro was also enabled in:

[code]

Fixed.

[2018-12-14 15:32] ibc commented on #240
I think the same would happen in:

[code]

[2018-12-14 15:41] ibc commented on #241
May be fixed in 84dcd22aad2ce1bb1cc4fc5528e9be9efd605b91.

[2018-12-14 15:43] ibc commented on #240
I think the initial issue is due to this:

In `SdesItem::Parse()`:

[code]

It's checking `header->length` field before checking that there is space for the `Header` struct.

[2018-12-14 15:50] ibc opened #242 "Crash in RTCP::ReceiverReportPacket::Parse() II"
* mediasoup 2.5.6 with 84dcd22aad2ce1bb1cc4fc5528e9be9efd605b91 applied.

[code]

[2018-12-14 15:58] ibc opened #243 "LeakSanitizer fatal errors"
fuzzer generates this output:

[code]

@fippo do you know how to interpret this error?

[2018-12-14 16:00] ibc commented on #243
NOTE: fuzzer is being run with `LSAN_OPTIONS="verbosity=1:log_threads=1"` environment variable set.

[2018-12-14 16:01] ibc commented on #243
Another similar:

[code]

[2018-12-14 16:17] fippo commented on #243
lowtech approach: limiting it to a single thread and printing the hex version of the input *might* give you a repro?

[2018-12-14 16:34] ibc commented on #243
Note, mediasoup-worker is single thread. I'll test that tomorrow anyway.

[2018-12-14 17:00] ibc commented on #243
Na, same happens with `-workers=1`, so there may be a bug somewhere.

[2018-12-14 17:09] ibc commented on #243
NOTE: The crash file generated when the error in the issue description happens is completely empty (0 bytes). Also, the `Base64:` output is empty too.

Does it mean that fuzzer is testing with `len = 0` in this case?

[2018-12-14 17:31] fippo commented on #243
zero length input *can* happen from libfuzzer. Not in our typical usecases because of the demuxing

[2018-12-14 18:03] ibc commented on #243
Yep, it must be anything else.

[2018-12-14 18:04] ibc commented on #243
I know that, by forcing a memory leak in the code (non deallocating objects), a similar failure happens. So IMHO it should be related.

[2018-12-15 00:52] mpbikc commented on #227
And how long we shourl wait for v3 version? I see, you have started. But when we will see first release - it is 1 month, or may be half year?
As for me I wanted to migrate from kurento to mediasoup but faced with 2 big problems. I think most of developers will face with them(yarekc, me - are examples):

1) I read all mailing lists, all documentation, but couldn't find good way to record video.
I c

[2018-12-15 12:06] ibc opened #244 "heap-buffer-overflow in StunMessage::Parse()"
[code]

[2018-12-15 15:01] ibc opened #245 "Check new ICE spec (RFC 8445)"
* [RFC 8445](https://tools.ietf.org/html/rfc8445): ICE: A Protocol for Network Address Translator (NAT) Traversal

[code]

[2018-12-15 15:53] ibc commented on #244
Fixed in "fuzzer" branch.

[2018-12-15 15:55] ibc opened #246 "heap-buffer-overflow in FeedbackPsRembPacket() constructor"
[code]

The issue is that the code is reading memory out of the given buffer. However it's hard to figure out how to fix it since the constructor does not receive any `len` argument, so no idea how to check it.

For you @jmillan.

[2018-12-15 16:03] ibc commented on #243
Right now this strange error just happens when testing the RTCP packet parser. Sometimes the error says absolutely nothing:

[code]

[2018-12-15 16:07] ibc commented on #246
@jmillan may I understand this `+1` in the `FeedbackPsRembPacket(CommonHeader* commonHeader)` constructor?

[code]

[2018-12-15 16:30] ibc commented on #246
Also, can be rewrite this:

[code]

to this?

[code]

[2018-12-15 16:34] ibc commented on #246
What I see is that `FeedbackPsRembPacket::FeedbackPsRembPacket()` constructor is calculating the packet `len` by itself:

[code]

However, it's never tested whether such a `len` matches the `len` above in `FeedbackPsRembPacket* FeedbackPsRembPacket::Parse(const uint8_t* data, size_t len)`. Shouldn't both match and shouldn't that be verified?

[2018-12-15 18:21] ibc commented on #243
@jmillan I strongly think there is a leaking issue in `RTCP::Packet::Parse()` at the end:

[code]

I've tested by disabling some specific RTCP parsers in there and the issue also happens. So IHMO there is a leak when parsing compound packets.

[2018-12-15 18:48] ibc commented on #243
I've added some logs in `fuzzer.cpp` to log whether it looks like a RTCP packet and whether it was indeed (or not) a RTCP packet. It's unclear to me what the issue is, but logs say this:

[code]

The code in `fuzzer.cpp` is just this one:

[code]

[2018-12-15 19:02] ibc commented on #243
OK, it seems that in `docker run` the following is required to enable `ptrace` (needed by LSAN): `--cap-add SYS_PTRACE`.

More info [here](https://github.com/google/oss-fuzz/issues/9).

[2018-12-15 19:04] ibc opened #247 "LeakSanitizer: detected memory leaks"
[code]

[2018-12-15 19:06] ibc commented on #243
OK, so it was all! By enabling `ptrace` support and running the binary in the Docker container as follows:

[code]

we get the following: #247.

So let's close this issue.

[2018-12-15 19:06] #243 closed

[2018-12-15 19:13] ibc opened #248 "detected memory leaks in RTCP/Bye.cpp"
By just enabling `case Type::BYE` in `RTCP::Packet::Parse()`:

[code]

[2018-12-15 19:16] ibc opened #249 "detected memory leaks in RTCP/Sdes.cpp"
By just enabling `case Type::SDES` in `RTCP::Packet::Parse()`:

[code]

[2018-12-15 19:37] #244 closed

[2018-12-15 19:38] #240 closed

[2018-12-16 16:12] ibc commented on #227
We want to have a first v3 version for end of January, but cannot provide a specific ETA.

The `RtpStreamer` class will be removed in v3. At the end, in v2 it's just a `Consumer` plus a plain `RtpTransport` that can just be used to broadcast a specific `Producer` to a plain RTP remote endpoint.

In v3, the Node app will be able to create any kind of transports (WebRTC or plain RTP) and use them to

[2018-12-16 16:27] ibc opened #250 "RTCP general parsing issue (original len is not verified)"
Most of the RTCP packet parsers do something as follows:

* `RTCP::XxxxPacketParser::Parse()` is called with `data` and `len`.
* Such a function does some basic checks and creates a `XxxxPacket` instance by passing the `header` pointer as argument.

However, whether the original `len` matches the effective size of the parsed packet is never verified. I added a check for this in the REMB parser:

h

[2018-12-16 23:31] jmillan commented on #241
shall we then close this issue?

[2018-12-16 23:32] ibc commented on #241
yes, closed

[2018-12-16 23:32] #241 closed

[2018-12-16 23:50] ibc opened #251 "heap-buffer-overflow in RTCP::FeedbackPsAfbPacket::Parse()"
[code]

[2018-12-16 23:50] ibc commented on #251
`worker/fuzzer/reports/leak-429569dcc2dec38f982e2ea5ac0f7eba6c5a4ba4` pushed.

[2018-12-16 23:56] ibc commented on #251
yes, it was fixed in 8ff4b23b575a03f1f934da7f6e8b97c5124d2e14.

[2018-12-16 23:56] #251 closed

[2018-12-17 00:05] jmillan commented on #250
So,

* For every RTCP packet we already check that the buffer length is at least as long as the length indicated in the RTCP common header [here](https://github.com/versatica/mediasoup/blob/fuzzer/worker/src/RTC/RTCP/Packet.cpp#L61)

* For every feedback packet we already check that the buffer length can also contain the feedback header [here](https://github.com/versatica/mediasoup/blob/fuzzer/wor

[2018-12-17 00:06] ibc commented on #250
Yes. I think that just some code cleanup could be done in the REMB parser which splits some checks in both the `Parse()` function and the `constructor`.

[2018-12-17 02:38] ibc opened #252 "fuzzRtp(): fuzz target overwrites it's const input"
[code]

It happens now when running the RTP fuzzer:

[code]

[2018-12-17 02:57] ibc opened #253 "Fuzzer: need some C define to avoid Logger.hpp printing to stdout/stderr"
When fuzzing and running some class methods, lot of logs are produced in stdout/stderr:

[code]

We should have some `define` in the `mediasoup-worker-fuzzer` GYP target that makes `Logger.hpp` to not print absolutely nothing to stdout/stderr.

[2018-12-17 03:36] ibc commented on #252
OK, I've added some tests that do things like `packet->SetPayloadType(100)`, which **obviously** writes into the given buffer.

So I should clone the packet first and then run hose setters.

[2018-12-17 03:52] #252 closed

[2018-12-17 12:08] #253 closed

[2018-12-17 19:46] #239 closed

[2018-12-17 19:56] jmillan commented on #250
Lets keep it as it is for now. `Parse()` verifies the common conditions and `constructor` the specifics for such buffer.

[2018-12-17 19:56] #250 closed

[2018-12-17 20:03] ibc commented on #233
We should also update [doc/RTCP.md](https://github.com/versatica/mediasoup/blob/master/doc/RTCP.md). I don't think this is correct:

Not true.

Should not be true.

We don't support XR.

We should not relay them.

WHAT?

etc

[2018-12-17 20:11] jmillan commented on #233
[code]
We do support all of them.

Those that we don't terminate are forwarded to the remote producer per design.

https://github.com/versatica/mediasoup/blob/master/worker/src/RTC/Transport.cpp#L195

[2018-12-17 20:11] jmillan commented on #233
true. It's damm old.

[2018-12-18 01:07] ibc opened #254 "heap-buffer-overflow in RTC::StunMessage::Dump()"
[code]

[2018-12-18 01:16] ibc commented on #254
I've added a MS_ERROR:

[code]

and the output is just:

[code]

so clearly `this->messageIntegrity` is not `nullptr`,  but it points to non allocated memory.

(report commited)

[2018-12-18 01:20] ibc commented on #254
And this is funny because `this->messageIntegrity` is just set in the `Serialize()` method, which is not called in the fuzzer test :(

[2018-12-18 01:53] #254 closed

[2018-12-21 21:49] havfo commented on #227
Great work on v3 so far!

In our project we plan on having a hybrid peer-2-peer and SFU mode, and the new architecture seems to make this much easier. We have a, so far, unpublished fork of mediasoup-client rewritten for peer-2-peer, but it is not very elegant to use two libraries together that handle everything up to and including Room level.

[2018-12-22 09:47] havfo commented on #227
Yes, we use socket.io at the moment, and for peer-2-peer, the messages are passed directly to the other peer(s). So our mediasoup-client fork is talking to itself on the other side.

[2018-12-28 02:24] tomnotcat opened #255 "Can mediasoup be deployed to support large video room"
## Feature Request
Can mediasoup be deployed to support large video room,
Like one people publishing video, and thousands of people watching in the room.

In this case, single server is not enough, does mediasoup support cluster deployment
to meet this requirements?

[2018-12-28 02:36] #255 closed

[2019-01-07 11:35] ibc commented on #227
mediasoup-client v3 will just work with mediasoup v3.

Anyway v3 drops the "MEDIASOUP_PROTOCOL" so there isn't so much dependency between client and server anymore. In fact, in v3 it will be possible to publish media into the server without using mediasoup-client, for example using ffmpeg: https://github.com/versatica/mediasoup/blob/v3/doc/ffmpeg.md

[2019-01-07 12:57] virtualfunction commented on #227
OK, that makes sense. Out of curiosity, what's sort of ball-park / estimated time frames do you have in mind here?

I'm fairly new to MediaSoup, but dabbled with Kurento a while back only to find the development has ground to a halt. So it's nice/reassuring to see a project like this where there's lots of activity.

The reason I ask about time frames is that I'm trying to assert if I develop somet

[2019-01-07 13:22] ibc commented on #227
We want to have a preliminar v3 version ready during February.

Since you perfectly got the motivation for v3 I encourage you to wait for it, yes.

IMHO it would be a super wrapper library for both client and server side. I don't think we'll do something like that. We'll try to focus on proper documentation (much better than now).

Yes sure, as far as you can decide some RTP parameters such as cod

[2019-01-07 15:58] ibc opened #257 "2.6.2: DTLS failed"
## Bug Report

- Operating system: Debian
- mediasoup version: 2.6.2

### Issue description

It seems that DTLS fails randomly:

[code]

It may be due the OpenSSL upgrade.

[2019-01-07 16:50] klausdk commented on #257
I see it on centos 7 too.

[2019-01-07 17:15] ibc commented on #257
Full log is as follows:

[code]

[2019-01-07 17:41] ibc commented on #257
Confirmed that it does not happen with the previous OpenSSL version: *1.1.0h  27 Mar 2018*.
And it fails with the newest OpenSSL version: *1.1.0j  20 Nov 2018*.

[2019-01-07 17:46] artushin commented on #257
Are you going to downgrade openssl or should we downgrade mediasoup?

[2019-01-07 17:52] ibc commented on #257
mediasoup 2.6.3 has been released right now with previous OpenSSL 1.1.0h 27 Mar 2018.

[2019-01-07 18:10] ibc commented on #257
Scenario simplified: a single producer connected to mediasoup with latest OpenSSL (the failing version). I've added some logs:

[code]

[2019-01-07 18:17] klausdk commented on #257
It seems to be working at my end now. Thanks! 👍

[2019-01-07 18:18] ibc commented on #257
Yep, but moving back to an older version of OpenSSL does not fix the issue. We need to use latest versions of our dependencies to be in sync.

[2019-01-07 18:21] ibc commented on #257
I just reproduce the issue in Consumers, this is, when Chrome connects a WebRTC transport to receive media. In that case, it seems that `DTLSv1_get_timeout()` returns 1 the first time (as usual) but then it never returns 0, so the timer delay is increased until it reaches the limit.

[2019-01-07 18:34] ibc commented on #257
Much better logs here (with extra logs):

[code]

[2019-01-07 18:53] ibc commented on #257
Issue reported in OpenSSL project: https://github.com/openssl/openssl/issues/7998

[2019-01-07 21:34] ibc commented on #257
2.6.4 released with latest version of OpenSSL 1.1.0j 20 Nov 2018 plus commit 0b885cf0c3811978d86dbb19f121d4311a825a71 that avoids the issue reported here.

We'll keep this issue open until we have a definitive explanation or solution.

[2019-01-08 15:56] artushin opened #258 "Tcp connection worker crashes"
## Bug Report

Worker is crashing with the following. Seeing the following backtrace (sorry, not in debug, happening in production)

### Your environment

- Operating system:
Debian GNU/Linux 8 (jessie)
- Node version:
v8.12.0
- npm version:
6.4.1
- gcc/clang version:
gcc 4.9.2
- mediasoup version:
2.6.3
- mediasoup-client version:
Can't tell, sorry

### Issue description

[code]

[2019-01-11 17:49] artushin opened #259 "Transport / port leak"
## Bug Report

On nodes which only run the sfu, I'm seeing a ton of open UDP ports when usage at that time is definitely not enough to justify that many open ports.

### Your environment

Operating system:
Debian GNU/Linux 8 (jessie)
Node version:
v8.12.0
npm version:
6.4.1
gcc/clang version:
gcc 4.9.2
mediasoup version:
2.6.3
mediasoup-client version:
2.4.6

### Issue description

For example:
[c

[2019-01-11 18:19] artushin commented on #259
I found this because I was hitting "no more available ports for IP" on one of the nodes. I've never hit a "uv_udp_bind() failed" though, so it makes me think that `UdpSocket::~UdpSocket` in addition to it never unbinding.

[2019-01-11 18:35] artushin commented on #259
tcp servers aren't being cleaned up either btw, so I guess `WebRtcTransport::~WebRtcTransport` is not being hit. The "Transport not found" error occurs within a millisecond of the javascript transport 'close' event, so it makes me thing that the close is what is being rejected.

[2019-01-11 19:37] artushin commented on #259
Able to somewhat reproduce now. Seeing "Consumer not found" instead of "Transport not found" with some. I'll give a more accurate account in a bit.

[2019-01-11 19:38] jmillan commented on #259
Hi @artushin, there have been some related commits lately. We'll check it ASAP.

Thanks for your report.

[2019-01-11 21:39] artushin commented on #259
I'm no longer sure if the errors I mentioned above were related. The cause is calling room.leave on the client. Closing the transports from the client side someone doesn't clean up the sockets on the server side and furthermore the room close doesn't clean them up either.

[2019-01-11 21:57] artushin commented on #259
I think that somehow, when a transport is closed from the client, the Transport destructor is called but the WebRtcTransport destructor is not. I can see the emitted `this->notifier->Emit(this->transportId, "close");` occur.

[2019-01-11 21:58] artushin commented on #259
Repro steps are pretty simple. Just close the call with room.leave and the port will remain allocated. Close the browser window instead to see it cleaned up.

[2019-01-12 12:30] jmillan commented on #259
Hi @artushin,

I'm following your reproduction steps and I don't get the leak. Ports are being correctly unbounded.

[code]

(*) In order to make a participant leave the room, from the browser console run: `CLIENT.close()`, which will call `room.leave()`

This is the mediasoup log when leaving a participant, having run it with `DEBUG=*`

[code]

[2019-01-12 12:38] jmillan commented on #259
Could you compare the provided with your yours?

If you are finding error logs such as "transport not found", then it makes sense that such transport is not being cleaned up and thus the ports keep bound.

[2019-01-13 23:36] ibc commented on #259
Hi @artushin, I'll check all the above comments this week. In the meanwhile, an interesting thing you can do is calling `server.dump()` periodically in your server application. It will return a Promise that resolves to an Object with info about all live rooms, transports, etc.

[2019-01-13 23:41] ibc opened #260 "Add more fuzzing"
We need fuzzing for RTCP parsing and also for VP8 and H264 parsing.

* [ ] RTCP fuzzing in v2
* [x] RTCP fuzzing in v3
* [ ] Video payload fuzzing in v2
* [ ] Video payload fuzzing in v3

[2019-01-13 23:42] jmillan commented on #260
:+1:

[2019-01-14 16:16] artushin commented on #259
I see the following
[code]

I'm no longer able to replicate it every time, but I still see it occasionally. I'm also now not as sure as I was before that it isn't always accompanied by the "Transport not found" error, although I could have sworn I saw some without it before.

@ibc I'll play around with .dump today and see if I can glean anything else.

[2019-01-14 21:30] artushin commented on #259
In a scenario like the above, the transport is removed from `server.dump()`. Some race conditions i definitely being hit because before, I was somewhat consistently getting this issue on `room.leave()`, and now I somewhat consistently get it on browser window close and the subsequent `peer.close()` on the serverside.

[2019-01-14 22:28] ibc opened #261 "Unused RtpStream::notifyStatus"
In v2 there is a `notifyStatus` boolean protected memner in `RtpStream.hpp` which is just set to true in `RtpStream.cpp`:

[code]

It's no used anywhere else. I'll delete it, however I want to be sure that this is not supposed to be used at all.

[2019-01-14 23:49] artushin commented on #259
`if you close the mediasoup server side room, are they open UDP ports yet?`
If I understand what you're asking, I've seen it both ways - close and remoteClose.

`Are you sure you don't have outdated mediasoup-worker processes running (maybe due to a previous crash, etc)?`
Running in a container, so the lifetime is just the lifetime of the node process. No chance of a stray worker.

`Also, are you

[2019-01-14 23:52] artushin commented on #259
When I have udp transports, I generally run with the default options that allow both tcp/udp and udp is selected. I can try checking if I'm able to repro this with `tcp:false`. Are you thinking it's a matter of only one or the other being cleaned up on transport close when both are set up as ice candidates?

[2019-01-15 10:28] ibc opened #262 "nackCount must be the sum of of requested RTP packets"
...and not the sum of NACK packets sent or received.

We need something like a `size_t FeedbackRtpNackItem::CountRequestedPackets()` and increase `nackCount` (when sending and receiving NACKs) based on it.

[2019-01-15 11:47] ibc commented on #262
@jmillan can you please review b18d05b46e5abdae38c505c5cb76093bf4714d66?

[2019-01-15 12:16] #262 closed

[2019-01-15 12:46] ibc commented on #262
Not true, `nackCount` must be the total number of NACK requests (not the number of NACK items nor the number of requested RTP packets). Done in 65f71755b1338d110fceb5c654cd8df6fcdd57d7.

[2019-01-15 13:00] ibc commented on #257
OK, let's close it since the solution done in 0b885cf0c3811978d86dbb19f121d4311a825a71 seems to work and may even make sense.

[2019-01-15 13:00] #257 closed

[2019-01-15 13:02] ibc commented on #233
Done in v3.

[2019-01-15 13:02] #233 closed

[2019-01-15 13:02] ibc commented on #178
Done in v3.

[2019-01-15 13:02] #178 closed

[2019-01-15 13:03] ibc commented on #122
Let's handle this issue in #258.

[2019-01-15 13:03] #122 closed

[2019-01-15 14:00] ibc commented on #257
Confirmed that this is due to a regression in OpenSSL. Let's track it:

https://github.com/openssl/openssl/issues/7998#issuecomment-454396059

[2019-01-15 14:50] artushin commented on #259
This is occurring with udp only as well. So far, I can sometimes repro with `room.leave` and other times with refreshing the page.

[2019-01-15 14:54] ibc commented on #259
We don't know if that's a leak or not. We don't know how your Node app looks like and how it manages peers and rooms.

Please do a server.dump() and verify whether those UDP ports you see open by running netstat belong to ongoing mediasoup Transports or not.

[2019-01-15 14:56] artushin commented on #259
server.dump shows the transports that previously had the port open as now being closed, however, `lsof -nP -iUDP | grep mediasoup` continues to show the port in question. No node server or worker restarts happen during this time.

[2019-01-15 14:57] artushin commented on #259
*To clarify, the second dump simply does not include the transport that has been closed but leaked the port.

[2019-01-15 14:57] ibc commented on #259
I don't fully understand. room.dump() does not show closed or being closed Transports, but just open ones.

[2019-01-15 14:59] artushin commented on #259
Sorry, that was poorly worded, please see the clarification. I see the offending port in the first dump but I don't see it in the second that is taken after the transport closed.

[2019-01-15 15:02] ibc commented on #259
Can you paste the lsof or netstat output and the corresponding dumped Transport before and after "closed" (just the relevant info)?

[2019-01-15 15:05] ibc commented on #259
Also, if you close all Rooms or the whole mediasoup.Server by calling close(), do you still see open ports? (paste the netstat output please).

[2019-01-15 15:32] artushin commented on #259
Pre close (2 peers):

[code]

Refreshed browser page on one peer:
[code]

While running:
[code]

before peer.close() on the server
[code]

2 seconds after peer.close(), page has refreshed and the new peer has reconnected
[code]

This was useful, somehow, I'm getting a transport close before I even hit peer.close(). I don't see anywhere in my code that might happen. Can the worker detect a transpor

[2019-01-15 15:39] artushin commented on #259
When I just close the browser window, I see a different behavior from the refresh. I see the transport close happen after the peer.close() and the port is closed.

[2019-01-15 15:43] artushin commented on #259
I do not receive a `leave` on refresh.

[2019-01-15 15:49] artushin commented on #259
Upon running the failure case with a debugger, the transport close that occurs prior to peer.close() is hitting WebRtcTransport.close and is coming from a Channel._socket.on emit.

[2019-01-15 19:39] ibc opened #263 "Be ready for OpenSSL 1.1.1"
It will include an API for controlling the timeout interval on the DTLS protocol:

https://github.com/openssl/openssl/pull/4011

(thanks to @alfredh).

NOTE: OpenSSL 1.1.1b already in Node.js (master).

[2019-01-15 19:51] ibc commented on #259
Yes, if the browser sends a DTLS close alert, which happens when the PeerConnection is stoped (on page restart).

[2019-01-15 19:53] ibc commented on #259
Hi, this is what I want to avoid in the issue investigation. You cannot rely on a "leave" message. If the browser crashes you'll miss such a message. If you reload the page and, depending on your JS code and exact browser, the JS app could send a "leave" message or not.

In server side you cannot rely on such a "leave" message. In the mediasoup demo server side app, if the WS connection of a peer

[2019-01-15 19:57] artushin commented on #259
Regarding the "leave", that was just extra information about where the close is coming from when I see the issue. I think we've narrowed it down to happening on the DTLS close.

[2019-01-15 20:00] ibc commented on #259
NOTE: I may be reproducing the issue in the demo app server (never did it before). Will investigate. Indeed it happens when reloading very fast the open tabs. However, this may just be a bug in the demo app and not in mediasoup.

[2019-01-15 20:10] ibc commented on #259
In addition: what I see is that, once some ports get open forever, the `mediasoup-worker` process is not killed when the Node process dies. It should because the UnixSocket channel dies. However, since there are open `uv_handles` (the somehow unmanaged UDP ports) the `mediasoup-worker` never ends (it waits for all libuv handles to gracefully end before exiting, and that never happens).

[2019-01-15 20:16] artushin commented on #259
`the mediasoup-worker process is not killed when the Node process dies` - yeah I see that too on my dev box. I've been killing the processes before every test though.

[2019-01-15 20:21] ibc commented on #259
Ok, right now I can reproduce it locally with just a single peer connected to a single room and by just reloading the page (using UDP). Indeed sometimes the port remains open.

More: I've added a custom log in `src/RTC/UdpSocket.cpp` in its `Close()` method (which is the one that should close the uv UDP handle). Indeed sometimes it's not called:

[code]

[2019-01-15 21:06] #259 closed

[2019-01-15 21:06] ibc commented on #259
Fixed in 2.6.6 released right now. So many thanks, @artushin!

[2019-01-15 21:48] artushin commented on #259
Thank you, @ibc!

[2019-01-15 21:53] ibc commented on #259
Thanks to you for insisting so much! :)

[2019-01-16 17:39] artushin commented on #259
Any chance this could have caused a cpu leak? I deployed an upgrade from 2.6.3 last night and this morning I found workers at 100% cpu with no active peers.

Top of a core dump on one of those:
[code]

[2019-01-16 17:48] ibc commented on #259
Do you mean 100% CPU usage in latest version 2.6.6?

[2019-01-16 17:49] artushin commented on #259
Yes, top showed 100% on one of four workers. Logs indicated no active peers on that worker though.

[2019-01-16 17:52] ibc commented on #259
Didn't happen in my tests. Please open a separate issue to track it.

[2019-01-16 17:55] ibc commented on #259
Fuck! wait a bit, I got it.

[2019-01-16 18:32] ibc commented on #259
Please @artushin, let us know if it does not happen again once you upgrade.

[2019-01-16 18:33] artushin commented on #259
Thanks, updating.

[2019-01-16 18:36] ibc commented on #259
FYI a DTLS close alert no longer "destroys" the mediasoup `WebRtcTransport.cpp` instance but just makes the server side JS `WebRtcTransport.js` emit the corresponding "dtlsstatechange" event (which makes much more sense). In fact this is a change already present in the ongoing v3 that is now also applied to v2.

[2019-01-16 18:37] artushin commented on #259
Cool, yeah, I think that makes more sense.

[2019-01-17 16:43] ibc opened #264 "New Chrome/Safari autoplay policy does not like ICE Lite"
Scenario (at least in Canary 73 OSX):

* Have mediasoup-client connect to a room as viewer (no `getUserMedia()` called).
* Receive some audio and video consumers, create MediaStreams and attach them to audio and/or video HTML elements via `elem.srcObject = stream`. They can have `autoplay` attribute, or you may with to call `play()` via JS.
* You get no audio and blank video.

It does NOT happen w

[2019-01-17 16:48] fippo commented on #264
you have tested a completly fresh profile to avoid the MEI AI?

[2019-01-17 16:55] ibc commented on #264
No, I just reseted mic/webcam permission to "Ask".

[2019-01-17 16:56] ibc commented on #264
Good news. **It's NOT ICE Lite related**

I just called `video.play()` manually while the video was blank and then got video rendering. The demo app does not even call `video.play()` but just relies on the `autoplay=true` attribute in the HTML video element.

[2019-01-17 17:13] fippo commented on #264
that probably explains why it worked in 71 but not in 73. Debuggability is overrated :joy:

[2019-01-17 17:40] ibc commented on #264
Comment by Pavel:

[code]

[code]

[2019-01-17 17:44] fippo commented on #264
This is quite a good hack, thank you Pavel

[2019-01-17 19:41] jmillan commented on #260
RTCP fuzzing mostly done: d9107418679f87e1e92e096c04c671aee7374d80

[2019-01-17 20:29] ibc commented on #261
ping @jmillan

[2019-01-18 16:19] vpavlov80 commented on #264
I did a lot of tests for this and indeed the problem is the Chrome 71 (at least on Windows) autoplay policy. Basically you can not autostart an audio or video tag if there is no an user interaction on the page before that or if your site has a good record in Media Engagement Index (MEI) (see https://developers.google.com/web/updates/2017/09/autoplay-policy-changes). Still if the video tag is muted

[2019-01-18 16:31] vpavlov80 commented on #264
Thank you,
I get what you are saying :). The steps above can be easily implemented in any code that uses mediasoup-client and they have fixed the issue for me.

[2019-01-20 23:41] #261 closed

[2019-01-20 23:41] ibc commented on #237
Being fixed in v3.

[2019-01-20 23:41] #237 closed

[2019-01-22 05:49] aayushjains20 opened #266 "Load,Scaling, simulcast support, java integration"
Hi there, might be silly questions but have some doubts.
1: How many multiparty calls can one mediasoup server support, my servers are octacore.(is there any specific number or does it depends on number of peers in room).

2.  Is mediasoup horizontal scalable, if yes then how. Is there any support doc for this.
3. Is simulcast support there in v2?
4. Is there recording support, if yes is there any

[2019-01-22 08:49] ibc commented on #266
Hi. As the issue template said, please use the mediasoup public mailing list for questions and doubts.

[2019-01-22 08:49] #266 closed

[2019-01-22 15:56] ibc commented on #258
@artushin have you seen this again with the latest version? (just wondering if recent changes have also fixed this strange issue).

[2019-01-22 15:57] ibc commented on #232
Done in v3 [here](55886a57a99217615d17efc691e90b0a243ffaaf) by using the new `KeyFrameRequestManager` class.

[2019-01-22 15:57] #232 closed

[2019-01-22 17:07] ibc commented on #258
Thanks. It must be something wrong in some TcpServer or TcpConnection class, but I've revised them and found nothing...

[2019-01-22 23:37] ibc commented on #207
Wow! now we have two GYP projects both compatible with Python 3!

* The [original project](https://chromium.googlesource.com/external/gyp.git). [Comment](https://bugs.chromium.org/p/gyp/issues/detail?id=36#c55) announcing Python 3 support.
* The [Node fork](https://github.com/refack/GYP). [Comment](https://groups.google.com/forum/#!topic/gyp-developer/B0dH9kd_2sU) announcing Python 3 support.

How

[2019-01-23 00:15] ibc commented on #207
Ok, so I've installed master versions of both projects (the original one and the Node fork one) and run the `configure.py` file of mediasoup/worker:

* The Node fork works with Python 2.

[2019-01-23 08:08] saghul commented on #207
@ibc Do you have the py3 gyp update in a branch? I'll give it a go. The print() syntax can also be used in Python 2, so slight tweaks might be needed to your configure file. I can take a look.

[2019-01-23 12:18] ibc commented on #207
Yes! Just  do this:

* Clone the repo
* Checkout branch `v3` (it contains the very latest [gyp master branch](https://chromium.googlesource.com/external/gyp.git))
* Comment [this check](https://github.com/versatica/mediasoup/blob/v3/worker/scripts/configure.py#L12)
* `cd worker/`
* Run `make` with `PYTHON` env variable pointing to python 2 or 3 to test them:

[code]

If you, for any reason, wanna

[2019-01-23 12:36] saghul commented on #207
I think some more stuff is needed. With this change it starts to work:

[code]
 But then fails to detect Xcode / CLT:

[code]

I'll take another look later.

[2019-01-23 12:48] ibc commented on #207
Same here. It seems that `/var/db/receipts/com.apple.pkg.DeveloperToolsCLI.plist` should exist but it doesn't:

[code]

Installing/updating "Xcode components" to check it again.

[2019-01-23 17:06] saghul commented on #207
I checked again. It's the same bytes / str problem inside some gyp checks. I don't think it's Python 3 ready yet.

[2019-01-23 17:16] ibc commented on #207
Thanks. I've commented it in the gyp tracker: https://bugs.chromium.org/p/gyp/issues/detail?id=36#c58

Let's see how it evolves. We have time. Some weeks ago I thought we were to die and today it was almost fixed. Thanks! :)

[2019-01-23 17:27] ibc commented on #207
BTW, I've open a Python2 console and replicated similar code to the one in `gyp/pylib/gyp/xcode_emulation.py` line 1434:

[code]

So, it looks like the same error that happens when running the emediasoup `configure.py` with Python3, but note that I've used Python2!! No idea.

[2019-01-24 12:48] saghul commented on #207
No, that's not the actual error. Your system doesn't have that package, that's the old name. The new names are `com.apple.pkg.CLTools_Executables` and `com.apple.pkg.Xcode`. But the problem is getting bytes back from the process output and then trying to split it with `str`.

[2019-01-24 12:53] saghul commented on #207
With this patch compilation begins:

[code]

I have only tested it 10s on macOS though.

[2019-01-24 16:05] ibc commented on #207
Oh! So, to clarify: you are making changes into `xcode_emulation.py` within gyp sources. Does it mean it looks like a bug in gyp?

[2019-01-24 16:08] saghul commented on #207
Correct.

[2019-01-24 16:09] ibc commented on #207
BTW confirmed that with your changes it works in both Python 2 and 3!

Ok, I'll comment that bug in https://bugs.chromium.org/p/gyp/issues/detail?id=36#c58

[2019-01-24 16:13] ibc commented on #207
[Done](https://bugs.chromium.org/p/gyp/issues/detail?id=36#c59). Thanks, this is amazing!

[2019-01-25 17:35] mariat-atg commented on #258
Hi @ibc, @artushin 's coworker here. I added a little bit of instrumentation in TcpConnection to investigate this. I could not find the cause or figure out 100% solid repro. Here is what I know though:

1. The error happens in TcpConnection::OnUvWriteError() followed by TcpConnection::Close() and caused by somehow invalid TcpConnection::uvHandle. From there it will be either SIGSEGV from invalid m

[2019-01-25 17:38] ibc commented on #258
Hi @mariat-atg, amazing check So many thanks. I'll investigate it next week. It would be so nice if we had a solid way to reproduce the crash, although I understand it's not easy at all. Will work on it next week. Thanks again.

[2019-01-25 17:56] ibc commented on #258
mmm, just some ideas coming to my mind (must elaborate them better)

* Imagine that there is pending TCP data in the libuv loop to be written (to be sent to the browser).
* However, before it's sent we call `delete transport`.
* The `TcpConnection` [destructor](https://github.com/versatica/mediasoup/blob/master/worker/src/handles/TcpConnection.cpp#L64) will first call to its [Close()](https://gith

[2019-01-25 18:04] ibc commented on #258
I've asked in the libuv mailing list. It will appear soon [here](https://groups.google.com/forum/#!forum/libuv). The subject of my email is "Can uv_write_cb be called *after* calling uv_close() or uv_shutdown()".

[2019-01-25 18:17] ibc commented on #258
I've created a branch [fix-tcp-crash](https://github.com/versatica/mediasoup/tree/fix-tcp-crash) and added some changes and comments. Please check it (note that it's not finished, check the comments in the crash). If you could test it (by also removing the `uv_shutdown()` usage as explained in the comments) it would be great.

[2019-01-25 18:19] mariat-atg commented on #258
Oh yes, this does make sense! Just one thing is that `TcpConnection::closed` of a deleted object should be set into false so we get into the repro's code path to call `TcpConnection::Close()` on it one more time. On the first call to `TcpConnection::Close()` this flag will be set into true so we must be lucky to have it reset in a deleted object. I'll try to add some tracing.

[2019-01-25 18:22] mariat-atg commented on #258
Thank you, we will give it a try.

[2019-01-25 21:31] #258 closed

[2019-01-25 21:36] ibc commented on #258
Hi guys, this **should** have been fixed in 2.6.8. So many thanks for your help.

I'm pretty sure 79b7c4b fixes the problem (it makes sense as explained above) so I've tested it locally and released 2.6.8. Please upgrade your versions and tell me that it no longer crashes :)

[2019-01-26 16:04] ibc opened #268 "Add support for encrypted header extensions (RFC 6904)"
So must implement [RFC 6904](https://tools.ietf.org/html/rfc6904): Encryption of Header Extensions in SRTP (required by the WebRTC  rtp-usage draft).

* Related [commit](https://github.com/cisco/libsrtp/commit/ce37ef61444400370f699c44985949ba44557d00) in libsrtp. It seems that we should include the ids of the extension to encrypt/decrypt in [new members](https://github.com/cisco/libsrtp/commit/ce3

[2019-01-26 16:17] ibc commented on #268
Wow! in RFC 6904 [section 4](https://tools.ietf.org/html/rfc6904#section-4):

   timecodes [RFC5484], while simultaneously signaling plaintext
   transmission time offsets [RFC5450], an SDP document could contain
   the text shown in Figure 4 (line breaks have been added for
   formatting).

   a=crypto:1 AES_CM_128_HMAC_SHA1_32 \
     inline:NzB4d1BINUAvLEw6UzF3WSJ+PSdFcGdUJShpX1Zj|2^20|1:32
   a

[2019-01-28 00:14] artushin commented on #258
Looking great so far @ibc! Not a single crash in 48 hours since the upgrade.

[2019-01-28 23:17] ibc commented on #258
I @artushin, I've seen this commit in your fork (`-fstack-protector-all`):

https://github.com/LivelyVideo/mediasoup/commit/7795ca526b71070c09c36f97708df4146f1689ca

I've read about it and makes sense given that mediasoup does receive input from outside. Does it affect performance or anything? Is it supposed to work in both GCC and Clang in Linux and OSX? So you recommend adding it?

BTW: GitHub s

[2019-01-28 23:39] ibc commented on #258
Clear, thanks. Since we do extensive fuzzing testing in mediasoup-worker, I think we do not have "stack overflow" issues (but who knows).

[2019-01-31 15:03] ibc commented on #227
We'll do big improvements in documentation for v3.

[2019-02-01 20:18] Globik commented on #227
"And we'll try to make it easier to develop those producers in any language."

Please for C programming language too.

[2019-02-05 11:12] ibc opened #269 "Proper H264 and VP9 matching"
### Tasks

* [ ] H264 `profile-level-id` matching
* [ ] VP9 `profile-id` matching

### H264

Currently, in both mediasoup and mediasoup-client, we match H264 codecs by checking their `packetization-mode` (which typically is 0 or 1) and their the `profile-level-id`, which is a binary with complex matching rules (it's not a "string match" at all, however we do string matching right now).

[code]

Le

[2019-02-05 19:36] ibc commented on #234
RFC 6716 and 8251 define the OPUS codec. Not sure what they say about how in band FEC must behave.

[2019-02-05 19:39] ibc commented on #234
They say nothing...

[2019-02-05 19:51] jmillan commented on #234
[here(https://tools.ietf.org/html/draft-ietf-rtcweb-fec-08#section-8)

[2019-02-07 00:51] ibc commented on #229
Let's move this issue to mediasoup-client.

[2019-02-07 00:51] #229 closed

[2019-02-10 00:43] Espii opened #271 "can't install mediasoup on a fresh install of linux mint"
[npm-debug.log](https://github.com/versatica/mediasoup/files/2848427/npm-debug.log)

[2019-02-10 11:10] jmillan commented on #271
could you run `make Release` by hand and  paste here the output log?

[code]

[2019-02-10 11:59] Espii commented on #271
node_modules/mediasoup doesn't exist because I just typed "npm install
mediasoup"

On Sun, Feb 10, 2019, 3:10 AM José Luis Millán <notifications@github.com
wrote:

[2019-02-10 12:06] jmillan commented on #271
Are you sure? `npm install module` downloads the sources of `module` in the directory './node_modules/module' prior to installation.

[2019-02-10 12:14] ibc commented on #271
Have you checked the requirements?

https://mediasoup.org/documentation/v2/mediasoup/installation/#requirements

[2019-02-10 12:16] ibc commented on #271
Sorry. This issue has a template that you should have filled with software versions and more data. Instead you have decided to delete the template so now we need to make the same questions one by one.

Please open a new issue and properly fill the issue template.

[2019-02-10 12:16] #271 closed

[2019-02-10 17:41] ibc commented on #271
BTW just confirmed right now that, by following the installation requirements, mediasoup does properly install in Linux Mint.

[2019-02-10 21:07] Espii commented on #271
Ahh, sorry. I normally use windows and just downloaded/installed linux so I
could use this for livestream similar to twitch. Wasn't too familiar with
linux

I think I see the problem now,  I just installed nodejs and npm before
trying to install mediasoup. I didn't check to make sure that I had
python/clang/make also installed on the system

I'll try that now,  thanks

On Sun, Feb 10, 2019, 9:41 A

[2019-02-11 21:39] ibc commented on #234
@jmillan add your maths magic!

21fc53a11a8d8cecc5552038dc76483523afa427

[2019-02-11 22:25] ibc commented on #234
We have a problem. Scenario:

* Producer sends audio and video on same transport.
* So we, mediasoup, generate RR with high frequency.
* The receiver just receives audio so sends as RR less often.
* Since we reset `worstRemoteFractionLost` after each RR generation, this means that for every 3-4 RRs we sent, we just apply the `worstRemoteFractionLost` in one of them.

So, if the audio Producer has

[2019-02-11 23:09] marchoh opened #273 "Chrome: "Complex" Plan B SDP detected"
## Bug Report

### Your environment

- Operating system: Ubuntu 18.04 ( with Windows 10 test machine)
- Node version: v8.10.0
- npm version: 6.1.0
- gcc/clang version: 7.3
- mediasoup version: 2.6.9
- mediasoup-client version: 2.4.9

### Issue description

When joining a room with Chrome72 (Windows10), which was started with Firefox65 (Linux) I'm unable to see the webcam of the Firefox participant

[2019-02-11 23:42] ibc commented on #273
Can you reproduce the same issue in https://v2demo.mediasoup.org?

[2019-02-11 23:48] ibc commented on #234
Almost done, wait...

[2019-02-11 23:57] ibc commented on #234
Much better now: 69fd61b9fa0e68ce1808baef2e131d1ee0d653a7. Thanks for the tip @ggarber!

@jmillan, [here](https://github.com/versatica/mediasoup/blob/69fd61b9fa0e68ce1808baef2e131d1ee0d653a7/worker/src/RTC/RtpStreamRecv.cpp#L173) the TODO code. Basically, if `worstRemoteFractionLost > 0` it must be used to affect the resulting `packetLost` and `fractionLost` of the generated RR.

[2019-02-12 00:41] jmillan commented on #234
Would it be necessary to adapt the `packetLost` of the generated RR as well as `fractionLost`?

I would say so, in order to be consistent, but I'm not sure here.

[2019-02-12 05:18] grahamtallen commented on #123
Probably saw this already, but just in case: https://www.cosmosoftware.io/publications/andre2018_Comparative_Study_of_SFUs.pdf

Thank you all for making an incredibly useful library; this has some of the best support and maintenance I've seen in an open-sourced project.

[2019-02-12 11:22] ibc commented on #123
Yeah, we have it in the mediasoup website: https://mediasoup.org/documentation/publications/ :)

Thanks a lot.

[2019-02-12 17:10] ggarber commented on #234
Fast and great! The changes in 69fd61b look great.

For your consideration I think I don't update the packetsLost field because AFAIK that is only used for statistics and it is not clear it is better to have the publisher packets lost vs the worst subscriber packets lost in the statistics.   I'm not agains that either.

Good job!

[2019-02-12 17:12] ibc commented on #234
Thanks. We are just mangling with "worst remote fraction lost" the `ReceiverReport` that we send to the publisher, but internally we store the real values. Our question is just whether, in the mangled RR we send to the publisher, we should mangle not just the `fractionLost` value but also the `packetsLost`. They both are 100% related so we think think that we must mangle both (otherwise they are i

[2019-02-12 22:18] ibc commented on #234
It seems that we are done!

### Scenario

* A peer producing OPUS audio (with `useinbandfec=1`).
* A peer consuming that OPUS audio.
* Downlink packet lost of 25% (with OSX Network Conditioner).

The producer is receiving mangled `ReceiverReport` with `fractionLost: 55`. Note that the maximum value is 255 (100% packet lost) and 55/255 = 0.21 (close to 25% so it makes sense):

<img width="1439" alt

[2019-02-13 09:39] yarekc commented on #227
hi,
Any news about v3 availability ?

[2019-02-13 13:16] ibc commented on #227
You can check the progress in the `v3` branch of mediasoup, the `master` branch of mediasoup-client, and the `v3` branch of the mediasoup-demo project.

[2019-02-14 18:29] ibc commented on #234
This is supposed to be done.

[2019-02-14 18:29] #234 closed

[2019-02-17 20:10] ibc opened #274 "Consumer score becomes >>>> 10"
v3

* Network conditioner: uplink packet lost set to 20%, and this happens:

[code]

In summary:

[code]

[2019-02-17 22:58] ibc commented on #274
Even without introducing artificial packet loss it happens:
<img width="309" alt="screenshot 2019-02-17 at 23 57 50" src="https://user-images.githubusercontent.com/16191/52920704-e6ba3600-330f-11e9-9a0b-4bb9f97114b4.png">

[2019-02-17 23:10] ibc opened #275 "RtpStreamRecv: must stop inactivityCheckPeriodicTimer once fired"
v3

Right now, when the `inactivityCheckPeriodicTimer` fires (due to RTP inactivity) it's not stopped so it keeps firing again and again. IMHO:

* Once fired the periodic timer should be stopped.
* Once any new RTP packet is received the periodic timer should be restarted again.

[2019-02-17 23:19] ibc commented on #275
Fixed in 6c6acd1bee0ae02fda9d4789c1d2643915e6bfd9

[2019-02-17 23:19] #275 closed

[2019-02-18 10:26] ibc commented on #274
I've added the following logs:

[code]

### Without uplink packet lost

[code]

### With 10% uplink packet lost

[code]

Obviously something is wrong here:

[code]

The math operations in `UpdateScore` assume `auto`. I'm not sure what `auto` becomes when doing some of the above operations. The result, anyway, is that `lost` becomes 4294967295.

[2019-02-18 10:33] ibc commented on #274
I've added this guard:

[code]

It seems to fix an issue, but still I see:

[code]

[2019-02-18 10:41] ibc commented on #274
So the problem is that `totalSourceLost` is 10 and in the next UpdateScore it is 9, so `sourceLost` becomes `9 - 10`.

[2019-02-18 10:46] ibc commented on #274
An interesting issue is: why does `totalExpected` increment from 3150 to 3156 (+6) which `totalSent` increments from 3140 to 3147 (+7)?

[2019-02-18 11:10] ibc commented on #274
I've pushed a commit with many TODOs and commented debugging logs. It's not clear to me what is exactly wrong.

Just one important thing: after adding some guards in the code (that somehow force Consumer score to be <= 10 although not always) I'm not satisfied with the exposed score. Having the video Producer 35% packet lost in uplink, the Consumer gets frozen video (most of the time as expected)

[2019-02-18 11:21] ibc commented on #274
Regarding just the Producer score, it's much better than before, but still it gives wrong results when there are lot of uplink packet lost (50%): the producer score oscillates between 10-8-0-5 all the time.

Even when it becomes a bit stable it indicates "producer score ~7 or ~8". The video in the Consumer is completely frozen (50% uplink packet lost in the Producer). The algorithm is too optimist

[2019-02-18 12:45] ibc commented on #274
Rule that must be applied everywhere: do not trust values received from the network nor assume they make sense. Always validate them.

[2019-02-20 22:43] ibc commented on #227
Hi all. mediasoup v3 is close. We are refactoring the simulcast stuff. Everything else is working fine and the new API looks very nice (IMHO).

There is no yet API documentation. However, those interested in v3 may take a look to the new [mediasoup-demo v3 branch](https://github.com/versatica/mediasoup-demo/tree/v3).

[2019-02-21 09:18] lakano commented on #227
@ibc Thanks for your work! Do you have any idea of when the API v3 documentation could be available please? ( few days ? few weeks ?)

[2019-02-21 10:01] ibc commented on #227
Let's say some weeks.

[2019-02-21 15:45] Globik commented on #227
@lakano the idea is always there! But how to npm install mediasoup v3.0 on your computer?

[2019-02-21 15:51] ibc commented on #227
There is no npm package yet...

[2019-02-26 11:34] ibc opened #276 "Hardcoded MTU (1500) and RTP/RTCP size checks"
`RTC/RtpPacket.hpp` defines:

[code]

`RTC/RTCP/Packet.hpp` defines:

[code]

We just check the `MtuSize` in `RtpStreamSend` when storing the sent packet into the retransmission buffer:

[code]

We use the `RTCP::BufferSize` to check if the length of our generated RTCP packet exceeds that value:

[code]

This means that mediasoup does not complain if the resulting RTCP compound packet is 65536 byt

[2019-02-26 14:27] ibc commented on #276
(or we can just send SR/RR for each separate Producer/Consumer).

[2019-02-26 14:31] ibc commented on #276
Also, not sure why we are using hardcoded `MtuSize = 1500`. In IPv6 it's smaller. 1200 is the proper value.

[2019-03-05 10:13] denisrocks commented on #227
[code]

See more https://docs.npmjs.com/files/package.json#dependencies

[2019-03-05 11:18] ibc opened #277 "Handle non signaled CNAME"
In summary, standard simulcast video does not include `CNAME` in the SDP offer, and unfortunately Chrome M74 fails to indicate the sending `cname`:

[code]

Currently, in mediasoup we depend on the `cname` signaled in the Producer's `rtpParameters` and copy it verbatim to its Consumers. If we didn't know such a `cname` value in advance, we should match RTCP SDES from the Producer, learn its `cname

[2019-03-05 12:40] ibc commented on #277
If we finally do not know the Producer CNAME in advance, we may react on received RTCP SDES, learn the CNAME from it, and pass it to all Consumers so they update their `rtpParameters`.

[2019-03-05 13:49] fippo commented on #277
can you put "standard" in quotes while we try to figure out what the standard actually says?

[2019-03-05 13:56] ibc commented on #277
_""""""""""""""""standard"""""""""""""""_

[2019-03-05 20:48] Globik commented on #227
Hey, @ibc , get rid of f***ing reactjs in your demo part. It's s*ck

[2019-03-05 20:53] jmillan commented on #227
@Globik, be original and build your own app instead of reusing a demo.

[2019-03-05 20:54] ibc commented on #227
Oh sure!
I'll get rid of it because you don't like it.
And I'll do it for free to make you happy.
I'll rewrite the demo to vanilla JavaScript in 2030.
Anything else?

[2019-03-05 21:03] yarekc commented on #227
:)
The demo is GREAT, but a little bit complex for people who starts with mediaSoup

But would be also great if we can have smaller snippets to start with
Thanks again for great work

[2019-03-05 21:19] ibc commented on #227
Guys, still working in v3 which, indeed, will include much better doc and code snippets. It's just that we have not finished it yet.

[2019-03-05 21:44] yarekc commented on #227
The demo is more like a showcase: this is what you achieve do... if you have good doc :)

[2019-03-06 18:09] ibc commented on #277
Funny enough: https://bugs.chromium.org/p/webrtc/issues/detail?id=10383

[2019-03-06 18:30] ibc commented on #277
After testing such a commit and forcing Chrome 72 to not signal CNAME in `rtpParameters`, it happens that receiver Chrome does NOT like having multiple remote m= sections wihtout `a=ssrc+cname` lines. Period. It just renders the first audio and video and not the others.

[2019-03-06 21:06] ibc commented on #277
Ok, so this is fixed. I've reverted the previous commit that notified in-runtime discovered Producer's CNAME to Consumers. That is nice but libwebrtc annoyingly [FAILS](https://bugs.chromium.org/p/webrtc/issues/detail?id=10385) if the remote SDP offer does not have `a=ssrc` lines with "cname" attribute.

New super easy approach in `transport.produce()` method:

* If the given `rtpParameters` do no

[2019-03-06 21:06] #277 closed

[2019-03-06 22:40] ibc commented on #277
**NOTE:** Super useful information to know how exactly libwebrtc inspects the remote SDP and generate streams/tracks in different cases:

https://cs.chromium.org/chromium/src/third_party/webrtc/pc/webrtc_sdp.cc?type=cs&sq=package:chromium&g=0&l=690

[2019-03-14 15:02] JanNemcik commented on #227
Hi, do you already now, when could the v3 be released? At least approximately, because we decided to use mediasoup for our project, which is gonna be more complex, so if we could start with the v3, that would definitely great, as there are really good improvements and simplifications.

[2019-03-14 15:11] ibc commented on #227
v3 will be ready (if everything goes well) in some weeks. You can start using it already since the API is not gonna change much (in both mediasoup and mediasoup-client). However the API documentation is not yet written. You can use the mediasoup-demo project (branch "v3") as reference for now.

[2019-03-14 15:22] JanNemcik commented on #227
@ibc thanks for your quick response, I'm glad to heat, that it's gonna be released in a few weeks

[2019-03-14 20:53] jseeley78 opened #278 "parse/read video orientation from extended headers"
## Feature Request

Is there a reason reading the video orientation from the rtp extended header is not included in mediasoup v2; All the other extended headers seem to accounted for. There is a brief mention of it in the TestRtpPacket test, but no actual implementation. I have a forked mediasoup branch where I've implemented this feature and I return the video orientation value in the rtpstream "

[2019-03-14 20:55] ibc commented on #278
No special reason. We can add it into v3. Can you please provide info regarding what that header extension contains, RFC reference and how the item in the spec should look like?

[2019-03-14 21:13] jseeley78 commented on #278
You can read the following url for its description of Coordination of Video Orientation (CVO) ->
https://tools.ietf.org/html/draft-ietf-rtcweb-video-04

Which refers to section 7.4.5 of 'TS26.114' ->
https://www.etsi.org/deliver/etsi_ts/126100_126199/126114/12.07.00_60/ts_126114v120700p.pdf

^ This defines how to read the data in the extended headers for CVO.
(also has some code comments which mir

[2019-03-14 23:04] ibc commented on #278
I'm not good at C bitwise operations: Could you help me defining the lines to extract both `flip` and `camera` integer values from the byte?

[2019-03-14 23:19] ibc commented on #278
Even better, could you please provide some `cvoByte` examples (in bits) and their corresponding `rotation`, `flip` and `camera` values? (to write test units).

[2019-03-14 23:21] jseeley78 commented on #278
I'm not very good at it either; Given the code I gave as an example I believe it would be something like->

int flip = (cvoByte & (0x1 << 2));
int camera = (cvoByte & (0x1 << 3));

[2019-03-14 23:34] ibc commented on #278
Thanks. I've improved it as follows (so both camera and flip become 1 or 0):

[code]

http://cpp.sh/8c5qw

[2019-03-14 23:56] ibc commented on #278
Do you know which browser sends such a `video-orientation` extension in RTP packets? I may have done something wrong in my local code, but even if Chrome 73 (desktop and Android) supports this extension, I see no it in video RTP packets.

[2019-03-15 00:07] ibc commented on #278
Ok, I get this in Chrome M73 desktop:

[code]

The extension is just in some RTP packets (just in the very first 4 RTP packets and then in a few more later).

I don't see it when using chrome M72 Android. Which browser do you use that sends this extension?

[2019-03-15 00:26] jseeley78 commented on #278
safari on iOS and firefox/chrome on andoird was where i tested. I was able to see changing values while rotating the phone. keep in mind not every rtp packet will have the values however.

[2019-03-15 00:27] ibc commented on #278
Mmm, then I'm doing something wrong. Indeed I see those values when I rotate my mobile, but `rotation` is always 0.

[2019-03-15 01:38] ibc commented on #278
Ok, so this has been done in v3 [here](https://github.com/versatica/mediasoup/commit/855b3b9f9f710eeebc68ae3005ba5fe2363a4ff7):

producer.getStats() will include a videoOrientation object in each stream.

Unfortunately I always get `camera:false,flip:false,rotation:0` even when using my mobile (HTC U11). May be it's related to the cam of my mobile, no idea.

@jseeley78, may you have a chance to te

[2019-03-15 02:24] ibc commented on #278
Ok, I've changed my mind. Instead of displaying the `videoOrientation` info into `producer.getStats()`, now it is a new Producer JS "videoorientationchange" event which is fired:

* the first time a packet with video-orientation extension is received, or
* when any of camera, flip or rotation values has changed.

The JS event is fired with an Object as single argument. The Object has three fields:

[2019-03-15 02:39] ibc opened #279 "PortManager::Bind() error (uv_tcp_bind is not enough)"
v3

Sometimes we get this error:

[code]

In `PortManager::Bind()` we check port availability using `uv_tcp_bind`. However, libuv [documentation](http://docs.libuv.org/en/v1.x/tcp.html?highlight=uv_tcp_bind) says:

So it seems that we must also check `uv_listen` in `PortManager.cpp`.

[2019-03-15 02:45] ibc commented on #278
@jseeley78 if you wish, instead of deploying all the v3 demo, you can just join any room in https://v3demo.mediasoup.org with your mobile (and do many rotations and so on). Then let me know. I will check the logs to see if rotation values are different than just 0.

[2019-03-15 02:58] ibc commented on #279
NOTE: [Asked](https://groups.google.com/forum/#!topic/libuv/lh7rGQlkwvQ) in libuv mailing list. A solution coming to my mind is calling `uv_listen()` twice, first in PortManager.cpp (with a fake `uv_connection_cb`) and then in TcpServer.cpp (as usual).

[2019-03-15 10:53] ibc commented on #279
It seems that calling `uv_listen()` in PortManager does the trick: https://github.com/versatica/mediasoup/commit/5a2873c397b9de5c0a4c169f6a17703bfa6aa69c

[2019-03-15 10:53] #279 closed

[2019-03-15 10:57] ibc commented on #278
I always receive camera:0, flip:0, rotation:0. I mean, I receive packets with video-orientation RTP header extension when I rotate the mobile, but rotation values do not change. I think this may be my mobile rotating the webcam video source so libwebrtc detects the device rotation but the computed new `rotation` is zero again. Does it make sense?

NOTE: I'm just using Chrome and not a native WebRT

[2019-03-15 14:24] ibc commented on #278
I've been confirmed by some people that, indeed, Chrome is not sending `rotation` with values other than 0, so I'll close this issue. Please comment if there are any news.

[2019-03-15 14:24] #278 closed

[2019-03-16 19:47] ibc opened #280 "Use new uv_udp_connect() and uv_udp_getpeername() functions in libuv 1.27.0"
libuv 1.27.0:

* udp: add support for UDP connected sockets
* https://github.com/libuv/libuv/commit/90415a3394f51056e037a8a4d5a6ada6a710fd42
* http://www.masterraghu.com/subjects/np/introduction/unix_network_programming_v1.3/ch08lev1sec11.html

**More info:**

* From the connect man page.

* Efficiency: https://github.com/libuv/libuv/pull/1274#issuecomment-289270649

[2019-03-16 21:00] ibc commented on #280
Let's see. May be it's not worth it.

[2019-03-16 22:19] ibc commented on #280
This comes with lot of complexity. For example, in we call `uv_udp_connect(remoteAddr)` in a `UdpSocket` handled by a `WebRtcTransport`, this means that if the peer changes its remote IP:port we won't realize of it.

[2019-03-17 12:34] ibc commented on #280
Let's don't do this. In most cases we need to be able to receive UDP datagrams from new remote IP:port.

[2019-03-17 12:34] #280 closed

[2019-03-17 13:47] ibc commented on #263
Done in v3.

[2019-03-17 13:47] #263 closed

[2019-03-18 07:45] jmillan commented on #274
The above comment is key and is the first thing we should amend.

Having the following information:

- **totalExepected** is: `(this->cycles + this->maxSeq) - this->baseSeq + 1` makes total sense to me.
- **totalSent** is taken from `transmissionCounter`, which is increased everytime a RTP packet is to be sent `RtpConsumer::SendRtpPacket()`.

**totalSent** may be bigger than **totalExpected** if `

[2019-03-18 07:51] jmillan commented on #274
This may happen if a producer sends a NACK for a certain RTP packet which is on its way. After sending the NACK the original RTP packet arrives and later the RTX (or RTP) packet in response to our NACK.

[2019-03-18 09:30] ibc commented on #276
So `Transport.cpp` when calling `GetRtcp()`on Producers and Consumers, must split the resulting compound packets into N compound packets that do not exceed the max MTU.

[2019-03-18 09:34] ibc commented on #274
And can also happen (super mostly) if the consumer does not support RTX so retransmissions are done via a single SSRC.

[2019-03-18 16:04] jmillan commented on #274
`RtpStreamSend` does now calculate the score only based on what it sends and the RTCP Receiver Reports.

Scores now are looking really good  according to the network conditions.

345327ca3f552088d0ef0fbbe7f69f7b366928c8
e631fded3262a3d37ccff9d9b3071f9a501b0ac4
8f8bfb7e517491602a66b9148ac225dc31dc95a8

[2019-03-19 11:07] jmillan commented on #274
Not an issue anymore.

[2019-03-19 11:07] #274 closed

[2019-03-19 14:59] ibc opened #281 "SimulcastConsumer: should not allow passing a RTP packet if temporal layer not satisfied"
[Here](https://github.com/versatica/mediasoup/blob/21b4edc8a36b23846691018d5537ca5f1364a7e0/worker/src/RTC/SimulcastConsumer.cpp#L276) we may drop a packet if it does not satisfy the preferred temporal layer **even** if we used this packet to change current spatial layer.

This should not happen because the receiver will get frozen video.

[2019-03-19 16:36] jnoring commented on #127
I wanted to leave a comment here, because I just finished troubleshooting this with licode (which has very similar DTLS code).  For us, an update from 14.04 to 16.04 caused this defect.

The basic problem is: Firefox doesn't like it when there are certs in use with identical serials and issuers, but the underlying cert is different.  Which makes sense: for a given certificate, the serial, issuer a

[2019-03-19 21:42] ibc commented on #127
mediasoup uses a single DTLS certificate (given by the app or auto-generated when started) for all DTLS connections.

[2019-03-20 15:10] jnoring commented on #127
if you auto-generate, doesn't each worker auto-generate its own certificate?

That's where licode gets itself in hot water with odd cert collisions: each worker process they have generates its own certificate when it first starts.

[2019-03-20 15:15] ibc commented on #127
Right, each worker generates its own cert (unless all the workers are provided with the same cert via setting).

[2019-03-20 15:21] jnoring commented on #127
That isn't a "single DTLS certificate" then.  Mediasoup uses multiple certificates if you auto-generate because each worker has a different certificate.

If auto-generation code is written correctly (and I believe it is in media soup--there's sufficient "randomness" in cert generation), this should be fine.  I think architecturally it makes the most sense to pass in a cert instead of auto-generati

[2019-03-20 17:48] ibc commented on #127
Nice to know that, thanks :)

[2019-03-22 07:24] otaradze opened #282 "How to detect if transport is closed/disconnected?"
What is the event name for transport closed/disconnected ?

[2019-03-22 08:09] jmillan commented on #282
Questions to the mailing list:  https://groups.google.com/forum/#!forum/mediasoup

[2019-03-22 08:09] #282 closed

[2019-03-22 13:32] ibc commented on #269
Once https://github.com/versatica/mediasoup/commit/602bd6d7c4b80a82e15870a97401ae770266d93d is done we can close this. VP9 and H265 stuff will be handled when we properly support them.

[2019-03-22 13:32] #269 closed

[2019-03-22 18:22] ibc commented on #260
Let's close this. Will add new fuzzing eventually.

[2019-03-22 18:22] #260 closed

[2019-03-24 17:37] ibc opened #283 "Improve H264 key frame detection"
Courtesy of @lminiero:

https://github.com/meetecho/janus-gateway/commit/86a00fe94879478197e66754503a4ba7757e9a06

Safer to only do that when you get the SPS/PPS, which is either in the same packet as the keyframe, or in the packet(s) before

[2019-03-24 17:49] ibc commented on #283
NOTE: We may not need to fix anything.

[2019-03-24 18:05] jmillan commented on #283
Yes, it is already done :-)

[2019-03-24 18:20] jmillan commented on #283
https://github.com/versatica/mediasoup/blob/master/worker/src/RTC/Codecs/H264.cpp#L23

[2019-03-24 18:20] ibc commented on #283
<img width="1000" alt="Untitled" src="https://user-images.githubusercontent.com/16191/54883795-da268180-4e69-11e9-8603-53451dcabb52.png">

[2019-03-24 18:21] #283 closed

[2019-03-26 16:58] jmillan commented on #281
I want to think that a key frame will always satisfy it. Otherwise we would have to wait to another key frame to came and check again the temporal layer.

Must verify it.

[2019-03-26 17:00] ibc commented on #281
You may be in stream with spatial layer 2 and want to upgrade from temporal layer 0 to temporal layer 1. There is no keyframe here nor we have to wait to any keyframe. This is about temporal layers.

[2019-03-26 17:06] jmillan commented on #281
If the packet is used to change current spatial layer then it is a keyframe, isn't it?

[2019-03-26 17:11] ibc commented on #281
This [line](https://github.com/versatica/mediasoup/blob/21b4edc8a36b23846691018d5537ca5f1364a7e0/worker/src/RTC/SimulcastConsumer.cpp?ts=2#L276) does not happen "just" when switching to a new spatial layer. Let's assume a single spatial layer.

Anyway you could be right. I just don't think the code is ready enough for when we want to deal with temporal layers.

[2019-03-27 20:24] dansnerd opened #285 "Dropped RTP packets from rtpStreamer"
## Bug Report

**IMPORTANT:** Do NOT open an issue here if you have problems or questions regarding mediasoup. Use the mediasoup public mailing list instead:

### Your environment

- Operating system: Debian 8
- Node version: 10.15.3
- npm version: 6.4.1
- gcc/clang version: 4.9.2
- mediasoup version: 2.6.10
- mediasoup-client version: 2.4.9
- codecs: h264 + opus

### Issue description

We're usin

[2019-03-27 20:47] ibc commented on #285
I'm not an expert in ffmpeg or GStreamer but AFAIK unfortunately ffmpeg does not use any kind of RTP jitter buffer. In the video sender has some packet lost mediasoup will request RTP packet retransmission to it. This usually solves the problem in receivers (assuming they do jitter buffer). Otherwise this means that the SFU will forward packets to ffmpeg with the following RTP seq numbers:

1000,

[2019-03-27 20:47] #285 closed

[2019-03-27 20:51] dansnerd commented on #285
Unfortunately, all of the streamers we've checked report 0 packet loss during these issues (checking graphs in chrome://webrtc-internals).  We're confident that the original stream into mediastreamer is not dropping packets.  I'll check into the stats on the mediasoup side.

[2019-03-27 20:51] ibc commented on #276
Not 100% sure if we can close this issue. We already split RTCP compound packets bigger than `MtuSize`. However we do not check it we are sending RTP packets exceeding that size (that may happen if we add many RTP header extensions, etc).

Probably we should check the RTP packet size before setting RTP header extensions and not set all them if the resulting size would be higher than `MtuSize`.

[2019-03-27 20:56] ibc commented on #285
Even if there is no packet loss there could be packet disorder, and that would affect ffmpeg the same way.

I mean:

1. If there is packet lost then there will be packet retransmission as well.
1. If there is no packet lost there could be packet disorder anyway.

In both cases ffmpeg will receive a non continuous RTP stream and will fail to decode video.

The way to verify if this is the problem m

[2019-03-27 21:06] dansnerd commented on #285
First off, really appreciate your help in dealing with this, and your responsiveness :)

One thing we've now reproduced which leads me to believe the issue is outside of mediasoup, is we've tried running 2 instances of mediasoup on different sets of ports (same box), and see the issue present across both instances at the same time.  Suggests an issue of either resource contention or inbound networ

[2019-03-27 21:27] ibc commented on #285
Again, not an expert in ffmpeg, but assuming those ffmpeg processes are decoding video (in same host as mediasoup or other?) maybe the decoding is consuming lot of CPU producing UDP packet drops and so on?

Also let me insist on the fact that, even if there is no packet lost there may be unordered packets and that would affect ffmpeg the same way as if there was packet lost + retransmissions.

[2019-03-27 21:33] dansnerd commented on #285
We've tried ffmpeg both locally, and on external boxes.  As for unordered, I understand, but I don't see how we'd have unordered packets happening on every incoming stream at the exact same time (outside of something like network card problems, kernel tuning, etc).  Working on getting stats data during the events :)

[2019-03-28 17:44] Thooto commented on #227
Hi, firstly thanks a lot for this great project ! I really look forward for the completion of the v3 :)

Maybe you could help me on this one : I wish to use mediasoup together with an extra machine learning layer to analyse the video streams in real time, which would make use of the currently experimental workers feature of node.js (thus node's single thread base architecture shouldn't be a perfor

[2019-03-28 20:38] ibc commented on #227
With mediasoup v3 is terribly easy to forward a video stream to whichever endpoint (using plain RTP over UDP) and the other way around: injecting plain RTP from any endpoint.

Getting RTP packets via JavaScript events was dropped in v2. It's much more efficient to route them to any destination via UDP. Probably, by using GStreamer or similar you can consume those RTP packets and use them as your w

[2019-03-28 21:04] Thooto commented on #227
Okay, that's what I understood from exploring the v2 but I wasn't sure about the reasons why it was dropped. I'll try working with gstreamer then ! Thanks for answering so quickly !

[2019-03-28 21:08] ibc commented on #227
We could add it back. However it's really CPU expensive since all RTP packets must be serialized from C++ to the mediasoup Node process via IPC (connected Unix Sockets).

[2019-03-29 09:52] jmillan commented on #285
@dansnerd,

What about the CPU usage on the ffmpeg side? Maybe it has no enough resources to consume all the input data. I would suggest trying faster muti-core CPU host to see if there are differences.

Another approach to test this theory would be generating less RTP in the source so ffmpeg has less RTP packets to process.

[2019-03-29 10:19] ibc commented on #285
In addition to that (please confirm about it), you may want to provide ffmpeg with high networking capabilities. We are aware that, at least when it comes to **encode HD video** with ffmpeg, some Kernel tuning is required:

[code]

I expect the very same is needed for ffmpeg to properly decode. The fact that your problem happens in all ffmpeg instances at the same time (consuming different video s

[2019-03-29 10:43] jiyeyuran commented on #227
Is this feature ready? It is possible to use plain RTP to achieve the goal.

[2019-03-29 11:45] ibc commented on #227
Yes, it's ready, but not yet documented. Working on the v3 API documentation these days. We'll announce it in the mediasoup mailing list when ready.

[2019-03-29 13:28] dansnerd commented on #285
We've tested both locally and on our (in production) remote transcoding cluster, which easily handles 50-60 streams per box, and we're seeing this issue consistently down near 7-10 streams.

The issue is also happening with ffmpeg running on the same box as mediasoup, over localhost networking, I wouldn't think buffer sizes would matter there?

[2019-03-29 13:43] ibc commented on #285
Yes, UDP buffer sizes can affect even in localhost. If it takes too long for ffmpeg to decode a incoming video RTP stream, the kernel UDP buffer may collapse so some UDP datagrams may be lost and, hence, ffmpeg would not find them (and will report those losses).

[2019-03-29 15:05] dansnerd commented on #285
Understood, but that would require 10 different ffmpeg processes, listening on different sockets (with different buffers) to all pause in decoding very different streams at the exact same time, such that all 10 buffers filled at the same time.

We'll try to split the ffmpeg procs across multiple servers, and see if they still all hiccup at the same time.

[2019-03-31 16:55] jmillan commented on #281
[This  commit](https://github.com/versatica/mediasoup/commit/e3224ea5fed9f8ea94a1166146a63a787e358770) deals with temporal layer transitioning and indicates whether it must be sent over the wire or not.

[2019-03-31 17:12] jmillan commented on #276
This is more sensitive because in RTCP we split the content into multiple packets but all the info is sent. Here, if we don't send a header extension, it will lead to one or other problem (unless the extension is not used at destination).

[2019-03-31 17:23] ibc commented on #276
Some extensions are just required for the first packets in the stream, such as mid and rid. We may just add them if we know that they won't make the packet size exceed the MTU size.

[2019-03-31 17:30] jmillan commented on #188
I'll test [this](https://github.com/versatica/mediasoup/commit/0a4420a3e4b6cdda64e752b549220279c3bafbd9) old patch so it is added to v2. Is that OK @ibc?

[2019-03-31 17:36] jmillan commented on #103
Can this issue be closed?

[2019-03-31 17:48] ibc commented on #188
Go go

[2019-03-31 17:49] ibc commented on #103
No, not yet. Wanna make sure that there aren't old libwebrtc implementations out there behaving that wrong way.

[2019-03-31 17:57] jmillan commented on #103
👍

[2019-03-31 18:54] jmillan commented on #188
Deployed in https://v2demo.mediasoup.org

So far so good.

[2019-03-31 22:30] ibc commented on #188
Is this committed to v2 branch?

[2019-04-01 07:37] jmillan commented on #188
Commited in dev branch. Works nicely in the tests I've done.

[2019-04-01 09:03] ibc commented on #188
I do not see any related commit in "devel" branch.

BTW: if this works fine, and given than v3 is completely different, I suggest committing this into v2 branch and releasing a new v2 version.

[2019-04-01 17:04] jmillan commented on #188
done

[2019-04-01 17:04] #188 closed

[2019-04-01 19:33] dansnerd commented on #285
So we've now replicated the issue with 10 streams into mediasoup on one box, splitting to ffmpeg on two different boxes.  When the issue happens, we see both ffmpeg boxes spam about being starved for packets at the exact same time.  The only way I can see this happening is something in mediasoup locking up and not sending out RTP, starving both the ffmpeg boxes at the same time?

[2019-04-01 20:10] ibc opened #286 "[v3] Fails to downgrade to spatial layer 0 from 2"
Can reproduce it in the demo:

* Start consuming a video with 3 simulcast layers.
* Move the Consumer to spatial layer 0 (fast).
* The Consumer current spatial layer gets stuck into layer 1.

[2019-04-01 22:32] jmillan commented on #286
Looking into this. I don't reproduce though.

[2019-04-01 22:50] jmillan commented on #286
Reproducible when jumping from preferred spatial layer 2 to preferred spatial layer 0.

Fixing.

[2019-04-01 23:03] jmillan commented on #286
fixed

[2019-04-01 23:03] #286 closed, assigned to jmillan

[2019-04-03 09:45] ibc opened #287 "ReceiverReport: Should packetLost consider packetRepaired?"
The RTX RTC clearly states that packet repaired via RTX should not affect (should not fix/decrease) `packetLost` in the media stream.

However, we see that Chrome generates Receiver Reports with `packetLost: 0` even when it obviously requests retransmissions via NACK. This is, if Chrome sends NACKs for 10 packets and mediasoup retransmits them, the Receiver Report that Chrome generates has packetL

[2019-04-03 09:57] ibc commented on #287
I'm not sure now about anything...

Generating 50% of downlink packet lost in a Chrome receiving video from mediasoup:

####  Local PeerConnection stats:

[code]

#### mediasoup Consumer stats:

[code]

NOTE: both stats are not taken in the very same time (2-3 seconds diff).

#### Considerations:

* With 50% donwlink packet lost I cannot believe that `score` is 10. Even worse, the SimulcastConsume

[2019-04-03 10:03] ibc commented on #287
Here a screenshot of mediasoup Consumer stats when forcing 55% downlink packet lost with Network Conditioner in Mac:

<img width="319" alt="Screenshot 2019-04-03 at 12 00 49" src="https://user-images.githubusercontent.com/16191/55470699-6a9e5800-5608-11e9-8096-1286bbfe93fc.png">

It doesn't make any sense that with so much packet lost the score is 10.

[2019-04-03 15:26] ibc commented on #287
fake bug

[2019-04-03 15:26] #287 closed, assigned to ibc, jmillan

[2019-04-03 16:39] ibc opened #288 "[v3] Video not shown at Consumer start"
Sometimes the video SimulcastConsumer "fails" to select a target spatial layer or something like that. In short: the video is not shown **until** some other stimulus happens (and `RecalculateXxxx()` is called again).

This is the sequence (note that the demo app starts the video consumer paused and resumed it after a while). The video is not shown in the browser.

[code]

[2019-04-03 16:44] ibc commented on #288
@jmillan I think there must be an error in the `RecalculateTargetSpatialLayer()`. Given the logs above:

[code]

Here it should have also printed the **latest** simulcast log:

[code]

but it didn't. It's like if the function existed before it. The only place to exit would be:

[code]

but it should not happen (but it happens).

[2019-04-03 16:53] ibc commented on #288
the problem is that no PLI is being sent to the Producer...

[2019-04-03 16:57] ibc commented on #288
Here the issue:

[code]

However I do not see a new PLI in the sending browser.

[2019-04-03 20:07] jmillan opened #289 "Not receiving RTCP receiver reports on network packet loss"
We are experiencing lack of RTCP receiver reports reception upon network packet loss.

Filled [bug in Chrome bugtracker](https://bugs.chromium.org/p/webrtc/issues/detail?id=10510)

[2019-04-03 20:08] jmillan commented on #289
Not a bug in mediasoup (for now), but it's a show stopper.

[2019-04-03 23:21] #288 closed, assigned to nobody

[2019-04-04 00:01] ibc commented on #276
We are even removing RTP header extensions such as MID and RID, so we are good. Let's close.

[2019-04-04 00:01] #276 closed

[2019-04-04 09:17] jmillan commented on #289
Debugging RTCP reception in mediasoup

[2019-04-04 12:47] ibc commented on #289
Fixed in 8c666a866c7f917469eabbac4d3dbc03bc7bfa09.

[2019-04-04 12:47] #289 closed, assigned to nobody

[2019-04-04 12:47] ibc commented on #281
WIP

[2019-04-10 08:28] antidigital commented on #227
Our test result show CPU almost exhausted when participants reaches 400+.  We already fixed a performance issue on std::list::size() caused by old gcc. gprof result shows most consuming api is sha related. Is it reasonable? I can only assume the test report your present is conducted without dtls ?

[2019-04-10 08:51] Globik commented on #227
@antidigital how much CPUs on board?

[2019-04-10 09:38] antidigital commented on #227
32, but does this matter? Of cause, I mean single core exhausted, from command top.

[2019-04-12 14:03] ibc opened #290 "Add TCP support in PlainRtpTransport"
This requires some love in a new `TcpClient.cpp` handler in mediasoup worker [libuv handles](https://github.com/versatica/mediasoup/tree/master/worker/src/handles). This way, a `PlainRtpTransport` could behave as TCP client instead of just as a TCP server (of course this will require a setting such as `tcpRole`).

[2019-04-14 19:07] ibc opened #291 "Need a way to choose Transport-CC or REMB"
When both are available (by checking the Producer or Consumer RtpParameters) we must choose whether to use Transport-CC or REMB, and avoid using both. This may require cooperation from the client.

[2019-04-16 10:06] ibc opened #292 "terminate called after throwing an instance of 'std::regex_error'"
* v3

When in Travis-CI, the Node test fails with this error (had to enable `DEBUG=mediasoup*` to show it up in the [travis log](https://travis-ci.com/versatica/mediasoup/jobs/193263170)):

[code]

It does not happen in OSX (clang 10.0.1) nor in Debian (gcc 4.9.2). Such an error is supposed to occur if the regex is wrong. This is the only regex in mediasoup code, in `RtpEncodingParameters.cpp`:

[

[2019-04-16 10:13] ibc commented on #292
In addition, something is wrong in the regex since "L1T3foo" fails (it should match the regex and produce 1 spatial layer and 3 temporal layer) however it produces "ERROR!" in the code below:

[code]

It's fixed by using `static const std::regex ScalabilityModeRegex("^L(\\d+)T(\\d+).*");`. However, not sure why the original one (without `.*`) does not work.

[2019-04-16 10:27] ibc commented on #292
**NOTE:** No matter what the travis config is, it seems that it's running in a Docker container and, somehow, the used GCC version is 4.8:

[code]

It seems that 4.8 has problems with some regexs.

[2019-04-16 10:45] ibc commented on #292
Impossible, even with this it fails:

[code]

It seems that GCC must be >= 4.9 (4.8 is not supported, period). The issue now is that Travis fails to use the given 4.9 setting in the matrix.

[2019-04-16 11:26] ibc commented on #292
mostly done, just dealing with clang version in travis, but the original issue is clear now.

[2019-04-16 11:26] #292 closed, assigned to ibc

[2019-04-16 16:05] jnoring commented on #290
One quick suggestion: I'd instead push people towards using a TURN server (for example, coturn).  Here are the reasons why:

1. If someone needs TCP, then they are likely deploying into an enterprise network that is highly restricted.
2. If someone needs TCP, they also most likely need TCP 443, which means there's a port collision with media soup for the signaling channel.
3. If someone needs TCP,

[2019-04-16 16:08] ibc commented on #290
This issue is about adding TCP support for plain RTP transport, so not related to WebRTC clients that, indeed, can already use a TURN server.

Said that, there are use cases in which you may need to send/receive plain RTP to/from mediasoup using TCP instead of UDP. For instance, ffmpeg RTP stack is somehow buggy when it uses UDP.

[2019-04-17 18:24] ibc commented on #291
WIP.

[2019-04-17 18:25] #281 closed

[2019-04-17 20:12] ibc commented on #227
### Current status of mediasoup v3

Almost done. We are just adding sender-side bandwidth estimation (for now with REMB, Transport-CC will be added next) for automatically upgrade/downgrade simulcast spatial and temporal layers based on the endpoint's available bandwidth.

v3 documentation is work in progress but some sections are already written. Those are:

- The mediasoup v3 API (completed):
ht

[2019-04-18 08:26] ibc commented on #290
Let's close this issue. I just forgot that using RTP over TCP requires [RFC 4571](https://tools.ietf.org/html/rfc4571#section-2) ("Framing RTP and RTCP over TCP"), which is obviously implemented in mediasoup (we do support ICE/DTLS/RTP/RTCP over TCP) but it's not implemented in by ffmpeg. So adding TCP support to the `PlainRtpTransport` in mediasoup would be completely useless since there is no im

[2019-04-18 08:26] #290 closed, assigned to ibc, jmillan

[2019-04-18 10:54] ibc commented on #227
A new section has been added explaining some important differences
between mediasoup v2 and v3:

https://mediasoup.org/documentation/v3/differences-between-v2-and-v3/

[2019-04-18 22:50] Thooto commented on #227
Hi!
Thanks for the great advance on the v3! Really looking forward to trying it out 😃

Maybe what I'll say is unfounded, but the other day I read about [Node C++ addons](https://nodejs.org/api/addons.html) which seem to offer a way to share memory between C++ programs and Node. Have you already heard of or considered this? I'm asking because I was thinking this could be a way to share packets dire

[2019-04-18 22:56] ibc commented on #227
That's true, but honestly I do not want to depend on Node addons internals for media processing. As the [FAQ](https://mediasoup.org/faq/#is-mediasoup-a-native-addon) says:

Making the mediasoup worker a Node addon would also mean that both, the signaling plane and the media process, run in the same process. In mediasoup we can launch N workers (subprocesses).

Said that, in v3 is easy to forward a

[2019-04-18 22:58] ibc commented on #227
BTW you can already try it. Just the sender-side bandwidth estimation is missing (working on it). The API is finished and documented. The mediasoup-client v3 API is not yet documented, but you can figure it out by checking the mediasoup-demo app.

[2019-04-18 23:05] Thooto commented on #227
Okay, I understand the reasons for not using node addons, I wasn't sure whether you could create subprocesses with it. Anyway the RTP stream to UDP destinations seems to be a more than perfect solution for what I plan to do.

True, that's just because I don't have the time yet to experiment with it :)

[2019-04-18 23:22] ibc commented on #227
Just in case, I've found a RTP parser for Node (I've not tested it):

https://github.com/fleg/rtp-parser

[2019-04-22 15:10] Globik commented on #227
How about npm packet to test mediasoup v3? Or is better  to clone it from this github repo?

[2019-04-22 15:12] ibc commented on #227
NPM packets will be published when v3 is released, not before. You can clone from GitHub for testing purposes.

[2019-04-22 15:35] Globik opened #293 "Trying to build version3, fatal error:"
We primarily use GitHub as an issue tracker. Please, use the mediasoup public mailing list for usage and support questions:

bits/libc-header-start.h no such file or directory. Which version of opennssl are you using?
No chance for 32 bit computers? I found this header in i386-linux-gnu directory.

[2019-04-22 15:38] ibc commented on #293
C++ dep versions are indicated in `worker/scripts/get-dep.sh` script.

No idea about that error, but Google says [things](https://www.google.com/search?q=bits%2Flibc-header-start.h&oq=bits%2Flibc-header-start.h).

Comment again if there is a real issue to fix (I don't keep unclear issues here).

[2019-04-22 15:38] #293 closed, assigned to nobody

[2019-04-22 16:55] Globik commented on #293
The issue that mediasoup don't support 32 bit computers. It's a pity.

[2019-04-22 16:58] ibc commented on #293
Honestly no idea what should be done to support 32 bit machines. We are not against them, it's just that have never found the need to support them. PR welcome.

[2019-04-24 17:00] mariat-atg opened #294 "Improve performance of RtpStreamSend"
## Feature Request
Hi all,
I tested mediasoup-worker with gprof profiler while looking into improving the performance of "1 broadcaster-many viewers" scenario. Apparently a lot of time - more than 70%! - was spent in std::list iterations over RtpStreamSend::buffer.

As an experiment I replaced std::list with vector. Now our system scales much, much better in the load test, to say the least! Here a

[2019-04-24 18:00] ibc commented on #294
Hi, awesome. Definitely 100% interested in having that performance improvement. However `RtpStreamSend.cpp` in v3 branch has changed a bit. Now RTX encryption just is done once (the first time the packet is retransmitted). This is the exact [commit](https://github.com/versatica/mediasoup/commit/3d44b136fdd1028d45044e02ff372317ee94c6e8#diff-392d7a105d291b60ff65711b98394a36?ts=2), although there may

[2019-04-24 18:08] mariat-atg commented on #294
Awesome, great news about v3! I will take a look at v3 changes this week and see about adding my fix in there.

[2019-04-24 18:12] ibc commented on #294
Great! The [v3 demo app](https://v3demo.mediasoup.org) is already updated with latest changes and tested in low, high and changing network conditions with nice results.

In the meanwhile we are gonna work in the documentation before releasing v3.

[2019-04-24 18:15] ibc commented on #291
Done.

[2019-04-24 18:15] #291 closed, assigned to ibc

[2019-04-24 18:17] ibc commented on #227
mediasoup v3 is almost ready. [Sender side bandwidth estimation](https://github.com/versatica/mediasoup/commit/56d53011d46bc8108064814ac1141e0179062481) has been implemented, meaning that mediasoup now properly adapts the sending spatial and temporal layers based on the network capability of each remote consumer, which is a **huge** improvement.

As a side note, the API documentation of mediasoup

[2019-04-24 18:17] #227 closed

[2019-04-24 18:19] ibc commented on #177
Just in case: https://bugs.chromium.org/p/webrtc/issues/detail?id=7409

[2019-04-24 21:03] ibc opened #296 "No key frames in H264 with simulcast (Chrome issue)"
* v3

Somehow, when using H264 with simulcast, sometimes the consumer does not receive a key frame for the selected Producer's RTP stream. This produces no video reception until the browser itself sends a PLI.

It can be reproduced in the demo app by forcing H264 with `?forceH264=true`.

[2019-04-25 02:00] yangjinecho commented on #294
Maybe you can try gcc5 rather than ggc4 @mariat-atg

[2019-04-25 09:46] jmillan commented on #294
very nice @mariat-atg!

[2019-04-25 10:57] jmillan commented on #296
Not easily reproducible. In localhost I'm not able to reproduce. In the demo I've seen it once but didn't get the logs.

Verified that Chrome always sends the key frames of every streams that is currently sending.

[2019-04-25 11:12] jmillan commented on #296
Easily reproducible in the demo when adding a loss percentage (ie: 10%) to the uplink

[2019-04-25 12:00] jmillan commented on #296
I'm just checking the H264 parser. I'll check some reference implementations out there.

[2019-04-27 19:21] ibc commented on #296
Bug reported in Chromium: https://bugs.chromium.org/p/webrtc/issues/detail?id=10585

As explained in there, it does work in Chrome Canary 76.0.3778.0. It fails in current stable 74.0.3729.108 (OSX).

Let's leave this issue open until we get confirmation/feedback from Chromium developers (and also as temporal "documentation").

[2019-04-30 08:28] ibc opened #297 "Sender BWE: include single video streams? pause streams if no enough bandwidth?"
Currently mediasoup v3 just adds `abs-send-time` RTP header extension (`transport-wide-cc` coming soon) to video packets with SVC or simulcast, meaning that single stream videos do not compute into the BWE.

* **Question 1:** Should single stream videos also compute in BWE? This is, imagine that we are sending a single stream video (500bps) and a simulcast video (100bps / 300bps / 900bps). If BWE

[2019-04-30 08:30] ibc commented on #294
Hi @mariat-atg, just wondering if you are working on adapting the improvement above for v3. We are about to release it. We may wait for a few days if you need them.

Thanks.

[2019-04-30 09:06] ibc commented on #297
Auto-answers:

It's useless since, if there is not enough bandwidth for the single stream video, we (mediasoup) can do nothing but just "disable" it.

In common multi-party scenarios there will always be SVC or simulcast in all video streams. It's unlikely that the lowest spatial&temporal layers of them would exceed the available bandwidth. And if so, the application have the tools to temporary pa

[2019-04-30 09:06] #297 closed, assigned to ibc, jmillan

[2019-04-30 14:03] mariat-atg commented on #294
Hi @ibc, we have just finished testing it in prod, fixed some memleak, will look at adding it to v3 right now.

[2019-04-30 14:05] ibc commented on #294
Great! thanks @mariat-atg.

[2019-05-01 14:53] mariat-atg commented on #294
@ibc, I have got a code change proposal in my local branch cloned from v.3 but do not have permissions to create remote and push. Sharing RtpStreamSend.* at https://github.com/mariat-atg/mediasoup_v3_perf, let me know if that's okay.

Please note that it was mostly straightforward port from v.2 to v.3 except for one issue: there is a static vector RetransmissionContainer which contains addresses o

[2019-05-01 17:15] ibc commented on #294
HI @mariat-atg. Holidays here. Will check it this Friday. Thanks!

[2019-05-02 19:13] ibc opened #298 "Implement framemarking draft"
* Spec: [Frame Marking RTP Header Extension](https://tools.ietf.org/html/draft-ietf-avtext-framemarking)

Chrome has recently included [temporal layers in H264](https://bugs.chromium.org/p/webrtc/issues/detail_ezt?id=10579) and it seems that using frame marking is the only way to know which temporal layer each RTP packet belongs to.

So, the `EncodingContext` should be also ready to read the Frame

[2019-05-02 19:17] ibc commented on #294
HI @mariat-atg, will take a look now and comment here.

AFAIK there is a C++ test for this. Just run `make test` in the `worker/` folder. Anyway, the real way to test it is by forcing packet lost in downlink direction (in OSX you can use Network Conditioner) and check how it behaves.

[2019-05-02 19:48] ibc commented on #294
Is [this](https://github.com/mariat-atg/mediasoup_v3_perf/blob/master/RtpStreamSend.cpp#L51) ok? I do not understand why it gets "idx - 1" and later retrieves "idx":

[code]

[2019-05-02 20:03] ibc commented on #294
The same [here](https://github.com/mariat-atg/mediasoup_v3_perf/blob/master/RtpStreamSend.cpp#L104).

[2019-05-02 20:23] ibc commented on #294
There is something to fix there since seq 0 is perfectly valid but we use 0  to know where to stop reading from the `RetransmissionContainer` when iterating it.

[2019-05-02 20:27] ibc commented on #294
Umm, it may be ok since with your change now we check this:

[code]

Not 100% sure anyway. I think that iterating `RetransmissionContainer` without exactly knowing how many items has been filled is dangerous...

[2019-05-02 21:02] mariat-atg commented on #294
[https://github.com/mariat-atg/mediasoup_v3_perf/blob/master/RtpStreamSend.cpp#L51](url) is a stupid copypaste bug (in a new function for v3 only), fixing it! The other occasion must be valid because the initial value of idx in a loop is set into current number of items in buffer vector, it was just convenient for me this way.

Yes, I see, using 0 as a marker of "empty item" in RetransmissionConta

[2019-05-02 21:05] ibc commented on #294
Hi, are you fixing it right now? I've adapted the code a bit (mostly cosmetic stuff such as method names in uppercase and so on). `make test` fails due:

`ABORTRTC::RtpStreamSend::operator[]() | failed assertion `index <= maxsize': index out of vector maxsize capacity`

I'm gonna push a new branch called `RtpStreamSend` in a few minutes. May you please fork it and work on it, please?

[2019-05-02 21:12] ibc commented on #294
Ok, done. Here the new branch with your code (and cosmetic changes):

https://github.com/versatica/mediasoup/tree/RtpStreamSend

I've also removed the static `RetransmissionContainer` vector and, instead, the `FillRetransmissionContainer()` method now receives a `seqs` vector by reference whose `seq` values are inserted using `push_back()`.

So, `TestRtpStreamSend.cpp` fails with:

[code]

may be

[2019-05-02 21:13] mariat-atg commented on #294
Ah that's great! I will be back ~6 hours later, pull it and take a look.

[2019-05-02 21:14] ibc commented on #294
Thanks :)

[2019-05-02 22:17] ibc commented on #294
There is something wrong in `StorePacket()` method. I've added (and pushed) some `MS_ERROR` logs to print some info and also made `Buffer` members public (to log them). Then I've modified `TestRtpStreamSend.cpp` to use a buffer of size 20.

Just run the tests as follows:

[code]

It produces:

[code]

As you can see, `StorePacket()` is not doing it correctly (well, in fact it must be `Buffer::Orde

[2019-05-02 22:43] ibc commented on #294
I did a copy&paste error (fixed now) but found another: `this->currentSize` (`cursize` in your original code) is not incremented within `OrderedInsertBySeq()`. Pushed to the branch. Still the test fails anyway, now because this:

`RTC::RtpStreamSend::FillRetransmissionContainer() | requested packet range not in the buffer [seq:21006, bufferFirstseq:21006, bufferLastseq:0]`. Fixed as follows in `Bu

[2019-05-02 23:07] ibc commented on #294
New error: SIGSEGV when trying to store more packets that the given buffer size.

Just set the bufferSize to 3 in `RtpStreamSend* stream = new RtpStreamSend(&testRtpStreamListener, params, 3);` in `TestRtpStreamSend.cpp`:

**SIGSEGV - Segmentation violation signal**

If we set bufferSize to 4 this happens:

`RTC::RtpStreamSend::FillRetransmissionContainer() | requested packet range not in the buff

[2019-05-02 23:24] ibc commented on #294
More:

* `StorePacket()` calls to `this->buffer.OrderedInsertBySeq()` without verifying first if the buffer is full or not. If full it will assert.
* Later, `StorePacket()` does check buffer size (too late...) and calls to `buffer->TrimFrom()`, but:
   * `TrimFrom()` does decrease its private `currentSize`,
   * however such a position in the buffer is being reused to place a new packet, so `curre

[2019-05-02 23:31] mariat-atg commented on #294
Ouch! I can work on those a few hours later, got the tests running and see same things.

[2019-05-02 23:33] ibc commented on #294
I've pushed a new change. I cannot get it working.

[2019-05-02 23:36] ibc commented on #294
Ok, last commit pushed (just in `TestRtpStreamSend.cpp`). It's not working but it does not crash.

However there is something I do not understand. If you pass `bufferSize = 3` in the test, I see 4 packets being retransmitted. Not sure why such a +1.

[2019-05-02 23:37] ibc commented on #294
Not true: testing `RtpStreamSend* stream = new RtpStreamSend(&testRtpStreamListener, params, 2);` makes it produce a SIGSEGV.

[2019-05-03 07:57] mariat-atg commented on #294
Getting 403 when trying to commit to your branch, please see [https://github.com/mariat-atg/mediasoup_v3_perf/commit/df73a8ea15d502f55274923b328a2b93f57015f0](https://github.com/mariat-atg/mediasoup_v3_perf/commit/df73a8ea15d502f55274923b328a2b93f57015f0) . These tests are awesome!
Basically, I modified 3 things:
1) I missed a special case in OrderedInsertBySeq() when the packet we want to insert

[2019-05-03 08:26] ibc commented on #294
Thanks @mariat-atg. Testing it. Unfortunately no idea about how to grant push access into a single branch. Will try to learn a bit.

BTW can you please explain this TODO comment you added?:

			// seqs vector can contain memory locations to BufferItem instead of seq ids, making GetBySeq() obsolete.

[2019-05-03 08:42] ibc commented on #294
Ok, it works better but there is still something that fails and IMHO something that is wrong somewhere.

Can you please copy `RtpStreamSend.cpp` and `.hpp` and `TestRtpStreamSend.cpp` in to your branch and run `make test`? Note line 106 in `TestRtpStreamSend.cpp` and let's play by changing the given `bufferSize`:

### With `bufferSize` => 5

The tests passes.

### With `bufferSize` == 4

The test

[2019-05-03 09:06] ibc commented on #294
I've pushed new logs which clearly show that something is wrong.

### With `bufferSize` == 4

<details>

[code]

</details>

### With `bufferSize` == 3

<details>

[code]

</details>

[2019-05-03 09:13] ibc commented on #294
Ok, this is wrong (when receiving 21007 duplicated seq number):

[code]

The buffer is anyway adding a new `item.seq = 21008` in idx 3, whose `item.packet` is not set (os if later it's read, it will return 0, or a random value (it's a pointer to nothing).

[2019-05-03 09:35] ibc commented on #294
Another thing I think it's not ok. When shifting the vector it overrides some item fields, like here:

[code]

However it's not resetting neither `item.seq`, `item.resentAtTime`, `item.sentTimes` nor `item.rtxEncoded`. So when a new packet is placed in that "hole" it will have those fields already filled with old values from the previous packet in that hole, which can be terrible if, for example,

[2019-05-03 09:48] ibc commented on #294
`Last()` was wrong:

[code]

Checking how it behaves.

[2019-05-03 09:58] ibc commented on #294
With the latest commit it no longer crashes, however it behaves wrong when bufferSize =  3 in the test. Specifically at the end of the test:

<details>

[code]

</details>

Note how the seq 21010 moves to the first position with no reason:

[code]

[2019-05-03 10:07] ibc commented on #294
This is wrong IMHO:

[code]

It seems to me that `OrderedInsertBySeq()` should do:

[code]

[2019-05-03 10:41] ibc commented on #294
It seems to be fixed, but still there are things that are not ok. For example:

* The `vctr` is created with `bufferSize + 1` elements. Ok, no problem.
* In `RtpStreamSend::ClearRetransmissionBuffer()` the `vctr` is clearer. This is not correct. `RtpStreamSend::ClearRetransmissionBuffer()` is called often, for example when pausing/resuming the consumer, when receiving a key frame, etc. If clearer,

[2019-05-03 10:50] ibc commented on #294
I'm pushed some changes related to my previous comment. However I'm not 100% sure it's perfect. I think that, still, in some cases it may happen that a "hole" is chosen to store a seq and a packet and the rest of the item fields (rtxEncoded, sentTimes, etc) are not reseted to 0/false.

[2019-05-03 14:18] mariat-atg commented on #294
Looking now, thank you!

[2019-05-03 16:33] ibc commented on #294
Hi @mariat-atg, we have created a [new branch](https://github.com/versatica/mediasoup/tree/new-retransmission-buffer) "new-retransmission-buffer" with a simplified mechanism with zero iterations.

May you please check it with `gprof` (we have zero experience with it) and check how it behaves from the performance point of view?

[2019-05-03 16:38] mariat-atg commented on #294
I am not sure why vctr cannot be emptied out - don't you no longer need data in buffer? Or do you still want to access it? Otherwise can just keep your current version of  RtpStreamSend::Buffer::Clear() and actually cleaning the vctr (and preserving its capacity if needed since we know what it should be)?

Can you please elaborate your concern?

[2019-05-03 16:39] ibc commented on #294
The thing is that if the vctr is created with `bufferSize` entries in the `RtpStreamSend` constructor it does not make sense that later it's emptied. If so, it should have also been initialized with zero length.

[2019-05-03 16:45] mariat-atg commented on #294
Ah this is v.3, and our system is designed against v.2 yet, I won't be able to run it until we upgrade. I can rather explain how to do profiling of a worker with gprof, or port this change back to our v.2 branch since I have to make fixes there anyway and retest (which I also will need to do).

[2019-05-03 17:11] ibc commented on #294
Hi, Will reply tomorrow morning (already out today)

[2019-05-03 17:17] mariat-atg commented on #294
Got it, it's because vctr.clear() will shrink its size to 0 while all I need is a clean array of the same size. Not cleaning it on the other hand is a risk that old data would be used.

[2019-05-03 23:02] ibc opened #299 "SimulcastConsumer: do not select worst layers if not enough bitrate"
In certain scenarios, a SimulcastConsumer may not even be provided with enough bitrate to handle the worst layers. In this case, currently we are selecting 0,0 anyway. Instead we should select -1,-1 (and thus notify the app).

This would avoid saturating the IP connection in bad network conditions.

[2019-05-03 23:51] ibc commented on #299
The problem is that, if all SimulcastConsumers go to -1,-1, then we do not have any way to send probation RTP so REMB will never grow up and they will never select any layer > -1.

[2019-05-03 23:55] ibc commented on #299
WIP in branch "issue_299".

[2019-05-04 14:26] ibc commented on #294
Hi @mariat-atg, I've created a new approach in [new-retransmission-buffer-2](https://github.com/versatica/mediasoup/tree/new-retransmission-buffer-2) branch.

I've tested it and works reliable. Regarding its design:

* It has a `buffer` which is a vector of 65536 positions whose indexes represent packet seq numbers, so there is no need to neither iterate it nor shift it (in both, insertion and ret

[2019-05-04 17:15] #299 closed, assigned to ibc, jmillan

[2019-05-06 15:19] mariat-atg commented on #294
This change looks great! Having vector of size 65536 (and one has to work on this project for a while to know if that's okay to try) solves pretty much all accompanying issues. I should get my tests for v.2 running today with this design but I am positive it will be performant and also it is a way more clear.
Thank you very much for working thru this problem!

[2019-05-06 18:23] ibc commented on #294
Thanks @mariat-atg. BTW we have released v3 today. Since this looks fine let's close this issue.

[2019-05-06 18:23] #294 closed, assigned to nobody

[2019-05-06 18:48] ibc commented on #296
The issue does not happen in Chrome 74.0.3729.131 (current stable). Honestly no idea, but let's close this issue.

[2019-05-06 19:06] ibc opened #300 "Crash in SimulcastConsumer::IncreaseLayer() with Safari and H264"
* v3

Scenario:

- Force H264 in the demo app: https://DOMAIN?info=true&roomId=asd&forceH264=true
- Enter with Chrome and Safari Tech Preview (latest version, with Unified Plan enabled just in case).
- In Chrome, change preferred layers of Safari.
- Eventually it crashes as follows:

[code]

[2019-05-06 19:36] #300 closed, assigned to ibc, jmillan

[2019-05-07 00:17] ibc commented on #296
The issue also happens in latest Canary 76.0.3786.0  and latest Chrome stable 74.0.3729.131. Let's reopen this.

[2019-05-07 18:30] ibc opened #301 "Consumer.cpp may calculate RTP timestamp offset wrongly"
Currently all the `XxxxxConsumer.cpp` classes rewrite the RTP packet `timestamp` as follows:

[code]

As @ggarber pointed out "if a packet arrives with 200ms delay, it will leave the SFU with a timestamp 200ms higher than it should". This is:

* The browser sends packet1 (contains a complete video frame) with ts = 1000 (assume ts is ms).
* It takes 50ms for packet1 to reach the SFU.
* The SFU rewr

[2019-05-07 18:39] ibc commented on #301
In our `RtpStreamRecv.cpp` we are reading the Sender Report NTP timestamp upon receipt of a Sender Report:

[code]

However we just use it when generating Receiver Reports. Probably the `RtpStreamRecv` should expose an API to retrieve the latest NTP timestamp so the `Consumer` uses it to properly calculate the packet RTP timestamp.

[2019-05-07 18:44] ibc commented on #301
mmmm, I may be wrong. mediasoup just recalculates the  `diffTs` when receiving a "sync packet" (this is, a key frame packet that is used to enable forwarding of a different simulcast stream, or after pausing the consumer, etc):

[code]

So in the example above (in the issue description), since packet2 is not a "sync packet", the ts offset that will be applied to it does not depend on "now" at all.

[2019-05-07 18:55] ibc commented on #301
The only possible issue coming to my mind my happen if the "sync packet" arrives with delay (imagine it becomes it was lost and comes again in a retransmission). If so, we'll honor `now` and, from now on, all packets will be forwarded with such a "delayed offset".

[2019-05-07 21:53] ibc commented on #301
The importat thing here is avoid lipsync problems between audio and video from the same producer. AFAIU, the Sender Reports of both, audio and video, have something in common: the `NTP timestamp` (the `RTP timestamp` in SR "corresponds to the same time as the NTP timestamp but in the same units and with the same random offset as the RTP timestamps in data packets".

So, what I understand is that,

[2019-05-08 07:47] jmillan commented on #301
Good point,

Indeed we can take the `maxPacketMs` from the ts of the incoming RTP packet instead of taking it from the system time. This will take the encoder clock as the reference, exactly what is needed.

[2019-05-08 08:09] jmillan commented on #301
Or simply store the original RTP ts, no need to convert it to ms.

[2019-05-09 12:46] ibc commented on #301
WIP: https://github.com/versatica/mediasoup/commit/b3d1e43abc2a3a2c1e3c448269df02781a3d1886?ts=2 and https://github.com/versatica/mediasoup/commit/65375cbc024874a36640863b39c4d10dd6b1e066?ts=2

[2019-05-09 14:31] ibc commented on #296
Bug found in libwebrtc: https://bugs.chromium.org/p/webrtc/issues/detail?id=10585#c13

NOTE: As explained in that issue, if the simulcast layer 0 (low) is disabled (`encodings[0].active = false`)  then libwebrtc won't send key frames upon PLI for layer medium or high... Ugly. Confirmed with VP8:

[code]

Note however that, as explained in the libwebrtc issue, the issue in H264 is **also** that lib

[2019-05-09 14:31] #296 closed, assigned to ibc, jmillan

[2019-05-09 18:51] ibc commented on #301
@jmillan please check if this is correct: https://github.com/versatica/mediasoup/commit/65375cbc024874a36640863b39c4d10dd6b1e066?ts=2#diff-df9d53eb39e095cb8126208e7fb93408R430

[2019-05-13 08:47] mtltechtemp commented on #10
@lgrahl Hi, any news ?

[2019-05-13 09:02] lgrahl commented on #10
This is off-topic but I'll answer anyway: Already done, see https://github.com/rawrtc/rawrtc-data-channel/
But I don't think @ibc plans on using it.

[2019-05-13 10:34] ibc commented on #301
Done in 586e31cde4471703e5fd28a59fea30b8d36a6b85 and published in 3.0.2.

[2019-05-13 10:34] #301 closed, assigned to ibc, jmillan

[2019-05-13 10:44] ibc commented on #10
It's not lack of interest but just lack of time (plus not much knowledge of DataChannel at implementation level). It also comes to my mind whether we should implement DataChannel or wait wait for unordered/unreliable QUIC in browsers and implement a `QuicTransport.cpp` transport class in mediasoup.

[2019-05-13 10:59] lgrahl commented on #10
No blame intended. And QUIC... let's wait and see... but I'm certain we will wait years.

[2019-05-13 12:16] ibc commented on #10
Yeah, I don't have any strong preference. Nor time enough to integrate DataChannel for now :)

[2019-05-13 15:46] ibc commented on #298
NOTE: the framemarking extension must be present when forwarding the packet on a pipe transport, so we may want to always keep it in `Producer::MangleRtpPacket()`.

[2019-05-13 19:25] ibc commented on #10
BTW @lgrahl, does `rawrtc-data-channel` really need both `ninja` and `meson`? I know C/C++ libraries distribution ecosystem is a pain, but requiring so much building stuff does not help much.

For example, in mediasoup all the external C/C++ libraries are included into the [worker/deps/](https://github.com/versatica/mediasoup/tree/v3/worker/deps) folder and all them have a `.gyp` file that is incl

[2019-05-13 21:20] lgrahl commented on #10
The world of build systems is fragmented. Therefore, a build system should allow to depend on other build systems. If GYP can't, then :woman_shrugging:. If it can, then, yes, you will need to `apt install meson ninja` but it's not going to kill you.

IMO, Meson brings the best compromise with the least amount of pain. So, I chose it. Meson configures, Ninja builds. Thus, Meson requires Ninja.

[2019-05-13 22:58] ibc commented on #10
Yeah. I assume all of us want that others also use our preferred build system :)

[2019-05-14 08:15] saghul commented on #10
GYP can use ninja too, so hey, there is that :-P

[2019-05-20 09:22] ibc commented on #298
Mostly done in a separate branch (to be pushed). BTW Chrome 74.0.3729.157 (stable) already uses frame-marking for H264 layer IDs signaling:

[code]

[2019-05-20 10:05] ibc commented on #298
@jmillan, the frame-marking extension parsing is done. May you add the missing logic into `H264::ProcessRtpPacket()` to set the temporal layer Id and so on? (see usage [here](https://github.com/versatica/mediasoup/blob/frame-marking/worker/src/RTC/Producer.cpp?ts=2#L953)). Note that the `PayloadDescriptor` just reads the RTP payload so, somehow, the `tid` information must be given to it by other m

[2019-05-20 11:43] ibc commented on #298
*Regarding key frame detection via frame marking:*

With framemarking we may also know whether a frame is a keyframe or not (in theory). [Spec](https://tools.ietf.org/html/draft-ietf-avtext-framemarking-07#section-3.2). However it's not 100% true. I've tested by checking `start = 1` and `independent = 1` flags and, while they are true for keyframes (as detected by current `packet->IsKeyFrame()` me

[2019-05-20 13:17] ibc commented on #298
I've [made](https://github.com/versatica/mediasoup/commit/8aaead55c108631f5e8eab9f7d46ce0da19d35ca) both `H264::Parse()` and `VP8::Parse()` frame-marking aware (just used in H264 for detecting key frame for now).

[2019-05-20 16:52] ibc commented on #298
This is done in #305 and released mediasoup 3.0.5 (since this is an important feature).

However there are some TODO comments in `H264::PayloadDescriptorHandler::Encode()` to be checked, so let's keep this issue open for a while. Those TODOs are:

* We should check incremental "picture id" somehow and let it pass the packet if so. However no idea how to check that in H264 frame-marking.
* When in

[2019-05-20 20:41] ibc opened #306 "Improve H264 temporal layer switching"
Once frame marking is implemented (#298) there are two pending subjects to improve/fix in `H264::PayloadDescriptorHandler::Process()`:

1. We should check incremental "picture id" somehow and let the packet pass if its picture id is older than highest seen. However no idea how to check it in H264 frame-marking.
   * NOTE: Better don't do it. We cannot check `tl0picidx` since many packets with diff

[2019-05-20 20:41] ibc commented on #298
OK, this is mostly done. Let move the pending issues to #306.

[2019-05-20 20:41] #298 closed, assigned to ibc, jmillan

[2019-05-23 09:25] yangjinecho opened #307 "should check lastSr and dlsr equal 0"

[2019-05-23 21:36] ibc commented on #307
Can you describe the issue "a bit" more?

[2019-05-24 01:49] yangjinecho commented on #307
RtpStreamSend::ReceiveRtcpReceiverReport

the lastSr and dlsr equal 0 when loss the first SenderReport packet.

[2019-05-24 10:17] ibc commented on #307
ok, let's see:

[code]

You mean that we should check those `lastSr` and `dlsr` here:

[code]

right? And, if they are zero, abort next steps, right?

@jmillan does it make sense?

[2019-05-24 10:58] ibc commented on #307
Should be fixed [here](https://github.com/versatica/mediasoup/commit/5943286107316c48d0fe40f6c4ac665746a30b5b?ts=2).

Thanks!

[2019-05-24 10:58] #307 closed, assigned to nobody

[2019-05-24 21:34] ibc commented on #245
After reading RFC 8445 I conclude there is nothing new to implement in mediasoup. So let's close the issue.

[2019-05-24 21:34] #245 closed

[2019-05-24 23:33] ibc commented on #306
Bullet 1 above may has been implemented in #308, but must be reviewed (see the PR details).

[2019-05-27 17:36] ibc commented on #306
Let's keep this issue open until libwebrtc people fixes the h264 [issue](https://bugs.chromium.org/p/webrtc/issues/detail?id=10651#c5).

[2019-05-27 19:31] BenderBendingDev opened #310 "Use mediasoup with Vuejs and Node server?"
We primarily use GitHub as an issue tracker. Please, use the mediasoup public mailing list for usage and support questions:

Hello,

My question is if it can be used (there is documentation about it) to make use of this magnificent component in my project, I am really impressed!

I hope you can help me. Many thanks!!

[2019-05-27 19:33] ibc commented on #310
Hi. As the issue template clearly says:

[2019-05-27 19:33] #310 closed, assigned to nobody

[2019-05-28 23:39] ibc commented on #207
mediasoup 3.0.12 already supports Python 3: acf9417e0785bcda128b7a0874967b868da6eabf

However, tote that gyp source code has been manually modified (and the above path by @saghul
 applied) within the `worker/deps/gyp` folder. So let's keep this issue open as a reminder.

gyp issue current status: the issue is still present. I've added a summary comment: https://bugs.chromium.org/p/gyp/issues/detai

[2019-05-29 07:37] saghul commented on #207
🎉

[2019-05-29 21:28] ibc commented on #207
Finally @saghul's path has been merged in gyp master branch:

* https://chromium.googlesource.com/external/gyp/+/da63cb0ffdbcedd0231ffac027adf1bce7391391%5E%21/
* https://chromium.googlesource.com/external/gyp/+/4f1618abf348fea8a58555841a26518899a57f0a%5E%21/

So we are done :)

[2019-05-30 10:40] ibc commented on #207
@saghul, there is a guy with this [gyp error](https://mediasoup.discourse.group/t/error-with-libopenssl-when-installing-mediasoup-in-macos/39) that I think may be related to Python 3 and some missing change. Basically this:

[code]

The `gyp-mac-tool` file is autogenerated by gyp and it's just a copy of `pylib/gyp/mac-tool.py`. The line 274 is as follows:

[code]

The are also other similar lines:

[2019-05-30 16:27] philipnery commented on #207
As suggested in the thread, I've tried experimenting with make.

Since line returns a byte object, decoding it first actually resolves my issue with make. Decoding is necessary for Python 3.

[code]

[2019-05-31 21:27] ibc commented on #10
Plz plz @saghul, elaborate that a bit more. So you mean that gyp (and I mean the gyp we already use in mediasoup) can be configured to generate ninja "configuration files", so after calling the `./scripts/configure.py` (which uses gyp) we should run `ninja foo and bar` instead of `make foo and bar`, right?

If so, rawrtc-data-channel project would need a `rawrtc-data-channel.gyp` file, right? and

[2019-06-01 05:50] philipnery commented on #207
By the way, I've uploaded my change to gyp to make it more compatible with Python 3
https://chromium-review.googlesource.com/c/external/gyp/+/1639564

[2019-06-01 10:18] lgrahl commented on #10
Yes, yes and yes.

But have fun writing GYP files for re, rew, usrsctp **and** rawrtc-data-channel (the easiest part of them all). If I compare that against invoking `meson` once... your choice. :wink:

[2019-06-03 08:56] ibc commented on #207
Thanks @philipnery, good work.

[2019-06-06 14:00] ibc commented on #10
@lgrahl why does it depend on re and rew?

[2019-06-07 08:43] lgrahl commented on #10
Quite a couple of [helper functions](https://gist.github.com/lgrahl/acb185519a215593eb079cb26c9e136d). But I'm fine with optionally pulling those from *re* into *rawrtc-common*.

[2019-06-07 17:02] ibc commented on #10
I've written this, which covers mediasoup DataChannel architecture and implementation approaches:

https://github.com/versatica/mediasoup/wiki/DataChannel

[2019-06-14 08:59] ibc opened #312 "Evaluate RtpDataCounter with 3 seconds instead of just 1"
We no longer use the `rtpStreamRecv->GetBitrate()` to detect simulcast stream inactivity (but a timer) so we don't need to limit the `RtpDataCounter` to 1 second window-size.

We may get better results (specially in VP9 SVC in which the Chrome per-layer bitrate oscillates so crazy) with a higher window size, i.e. 3 seconds.

[2019-06-14 10:06] ibc opened #313 "H264 keyframe not handled or not routed"
As explained in https://mediasoup.discourse.group/t/h264-openh264-externalencoder-in-chrome/85, if H264 codec is used with `'packetization-mode': 1, 'profile-level-id': '42001f'`, the remote consumer does not receive any RTP packet, **even without using simulcast**.

This is terrible.

[2019-06-14 10:36] ibc commented on #313
The problem is that we do not detect key frames in H264 with this media codec in the Router:

[code]

It may be related to the use of frame marking extension, no idea.

BTW remember that, with the above H264 settings, Chrome does **NOT** produce simulcast but a single stream.

[2019-06-14 22:11] ibc commented on #313
Ok, the problem is that, when H264 ExternalEncoder is used, Chrome:

* Ignores simulcast (it just sends a single stream).
* It adds frame-marking to the packets, but it never sets bit "i" (independent) to 1, which is needed for key frame detection.

Issue reported in libwebrtc: https://bugs.chromium.org/p/webrtc/issues/detail?id=10746

[2019-06-14 22:35] ibc commented on #313
Let's keep this issue open until libwebrtc guys fix the issue.

[2019-06-15 05:04] dominikzane commented on #313
Thank you — is there any way/workaround to still use ExternalEncoder (without simulcast) in mediasoup v2 in the meantime even with the limitations, until this is fixed?

[2019-06-15 07:17] jmillan commented on #313
@dominikbalogh,

mediasoup v2 does not implement the RTP Frame Marking header extension, so this specific issue does not apply to v2.

As indicated in the [mediasoup.discourse.group](https://mediasoup.discourse.group/t/h264-openh264-externalencoder-in-chrome/85), in order to enable the external H246 encoder you must define a single video router codec with the indicated `packetization-mode` and `pr

[2019-06-15 22:06] dominikzane commented on #313
Sorry, maybe we are missing something, but how exactly do we restrict the codecs to a single codec (as you are describing), instead of all the available codecs in the mediasoup-client? It does not seem to work.

(This is very important for us to make it work immediately because the HW encoder quite significantly impacts CPU and thus battery life)

[2019-06-16 05:18] jmillan commented on #313
@dominikbalogh, please start a discussion in https://mediasoup.discourse.group/ since your question is out of the scope of this issue.

In order to force a video codec in mediasoup (v2) just provide that single video codec description when creating the [server Room](https://mediasoup.org/documentation/v2/mediasoup/api/#server-Room).

mediasoup-client will filter all other codecs present in the bro

[2019-06-16 05:43] pavelserbajlo commented on #313
@jmillan: we tried that profile already, but it always uses OpenH264. Works well in Munge SDP or AppRTC, not with mediasoup. More on our experiments here: https://groups.google.com/d/msg/mediasoup/fhqx0qkFSjo/510jWxQGCAAJ

[2019-06-16 05:46] jmillan commented on #313
please open a discussion in https://mediasoup.discourse.group/ so we can discuss there without polluting this issue.

[2019-06-17 21:27] ibc commented on #207
gyp dependency in mediasoup v3 has been updated to master, so let's consider this issue fixed. Thanks @philipnery!

[2019-06-17 21:27] #207 closed

[2019-06-18 15:32] baiyfcu opened #315 "unbuntu 18.04 release compile need cflags add '-fPIC'"
/usr/bin/ld: /mnt/d/git/mediasoup-demo/server/node_modules/mediasoup/worker/out/Release/libopenssl.a(bio_ssl.o): relocation R_X86_64_32 against `.rodata' can not be used when making a PIE object; recompile with -fPIC
/usr/bin/ld: /mnt/d/git/mediasoup-demo/server/node_modules/mediasoup/worker/out/Release/libopenssl.a(d1_lib.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when ma

[2019-06-22 13:51] jmillan opened #316 "BWE: missing proper RTP probator to allow layer up switch in all scenarios"
### Steps to reproduce

1. Start one producer sending N video streams to mediasoup.
2. Start one simulcast consumer for the previous producer, having negotiated REMB.
3. Make sure the remote consumer is receiving video.
4. Limit the network uplink bandwidth on the consumer endpoint to a bitrate lower than the required for the lowest quality stream sent by the producer.
5. The REMB value `available

[2019-06-23 22:18] ibc commented on #316
Although we clearly need to handle this in a better way (by having independent RTP probing) the scenario above can just happen if the `minimumAvailableOutgoingBitrate` (defaults to 100,000bps) given in the `WebRtcTransport` options is lower than the bitrate of the lowest simulcast/SVC spatial/temporal layer (0:0).

If, for example, the simulcast producer has 3 spatial layers with a single temporal

[2019-06-23 22:35] ibc commented on #315
Interesting. Do you know the implications of adding `-fPIC`? BTW, has your host a 32 bits CPU?

[2019-06-23 22:53] #315 closed, assigned to nobody

[2019-06-23 22:54] ibc commented on #315
`-fPIC` has been added. Waiting for validation in Travis-CI. Once validated, will be released in mediasoup 3.1.4. Thanks.

[2019-06-24 17:47] ibc commented on #10
We are finally working in DataChannel implementation for mediasoup v3. Here the announcement:

https://mediasoup.discourse.group/t/working-in-datachannel-implementation/104

[2019-06-24 18:39] lgrahl commented on #10
I think some criticism is appropriate, considering that you were one of the folks asking for a better-suited data channel library which is why I started writing it. Yet you're now going the DIY path as well. Just hoping you're not doing the same mistakes as all the other ones. :stuck_out_tongue_winking_eye:

Nevertheless, feedback understood that the API of rawrtc-data-channel is not ideal for for

[2019-06-24 18:45] ibc commented on #10
Not entirely accurate:

Honestly we don't know if _"the API of `rawrtc-data-channel` is not ideal for forwarding"_. Probably it is suitable since, anyway, we are constrained to full SCTP messages routing (we cannot do SCTP DATA or I-DATA forwarding due to limitations in usrsctp, usrsctp-neat and Chrome).

Agreed on the dependency issue. But more important (and not the first time we mention it):

*

[2019-06-24 18:52] lgrahl commented on #10
If the dependency towards usrsctp-neat were the only issue, it wouldn't make sense to go DIY as you're most likely going to link it statically anyway. The usrsctp folks made it absolutely clear (to me, in person) that they are going to merge the required changes eventually. Having worked with them for quite a while, I fully trust that they will as soon as they find the time to do so.

Your decisio

[2019-06-24 18:57] ibc commented on #10
We need DataChannel in mediasoup within the next 2 months. If things change in the future we are 100% open for improvements and even new stacks. Basically all the SCTP code will be located into a single `SctpAssociation.cpp` file in mediasoup source and will expose a non `usrsctp` dependent interface. We can replace it with other implementation at any time if it makes sense.

[2019-06-26 06:08] ibc commented on #316
Let's remove the "BUG" label since it just happens in very corner case scenarios.

[2019-06-26 06:41] ibc commented on #312
In order to test it, just open the online demo (or do it locally with latest versions) as follows:

https://v3demo.mediasoup.org/?roomId=FOOBAR&info=true&handler=Chrome67

It will use Chrome67 handler which, somehow, does enable simulcast for VP8 screen sharing and uses 1 temporal layer in spatial layer 0 and 2 temporal layers in spatial layer 1. The demo app now sets `dtx:true` in all `encodings`

[2019-06-26 07:45] jmillan commented on #316
👍

[2019-06-26 07:58] ChenZhaobin opened #317 "wss net::ERR_CONNECTION_REFUSED"
WebSocket connection to 'wss://yftconference.psocial.cn:4443/?roomId=ugifhmgu&peerId=pe1mdz6v' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

[2019-06-26 08:01] ibc commented on #317
Sorry, not here.

[2019-06-26 08:01] #317 closed, assigned to nobody

[2019-07-01 01:33] baiyfcu commented on #315
Beginner Mo Guai ,thank you for reminding.

[2019-07-02 22:13] kwindla opened #318 "Large number of 'layerschange' events (version 3.1.5)"
## Bug Report

Discourse thread: https://mediasoup.discourse.group/t/large-number-of-layerschange-events-with-mediasoup-3-1-5/118

When upgrading from 3.1.4 to 3.1.5, I am now seeing 10-20 'layerschange' events per second that affect only the temporalLayer, for every consumer with simulcast streams. There's a noticeable visual impact on video framerate as well.

**Iñaki indicates that this is happ

[2019-07-02 22:17] ibc commented on #318
Super thanks. Fixes in ca3166026f420c3dbe3c0e3e39aa2a9f13abe726.

Releasing 3.1.6 right now.

[2019-07-02 22:17] #318 closed, assigned to nobody

[2019-07-11 08:10] ibc opened #320 "Check SRTP news"
We haven't touched the mediasoup SRTP crypto stuff for years. There is some news we may have to consider:

* [AEAD GCM for SRTP](https://mailarchive.ietf.org/arch/msg/rtcweb/LDG-MKnEe64G-ReMsLv86TOnKRE)
  * [Related issue in libwebrtc](https://bugs.chromium.org/p/chromium/issues/detail?id=713701#c20)

[2019-07-11 08:29] ibc opened #321 "Armbian: error: unrecognized command line option ‘-m64’"
* Armbian based on Debian Buster release.

`npm install` fails:

[code]

Some related stuff:

* https://github.com/openssl/openssl/issues/7655
* https://github.com/Level/leveldown/issues/359
* https://github.com/Theano/Theano/commit/2cc4b74a0b0e176332b638152a30f65df72e6635

In addition we may need to modernize our GYP files to track new changes in Node ones (they do set "m64" in some places):

* h

[2019-07-11 14:15] #320 closed, assigned to ibc, jmillan

[2019-07-12 11:45] ibc commented on #10
And this is **done!!**:

Announcement: https://mediasoup.discourse.group/t/datachannel-implemented/139

Test it at https://v3demo.mediasoup.org (can type `@bot xxxx` to interact with a Node.js SCTP bot).

[2019-07-12 11:45] #10 closed

[2019-07-15 00:27] ibc commented on #10
mediasoup and mediasoup-client 3.2.0 have been released in NPM with DataChannel support. Enjoy.

[2019-07-15 13:56] ibc commented on #321
BTW we have updated OpenSSL to 1.1.1c in mediasoup "v3" branch (no NPM version available yet). It would be great if somebody could check whether it fixes the issue described above.

[2019-07-15 17:28] prizemprov commented on #321
I have followed these steps and the error still exists.

$ git clone https://github.com/versatica/mediasoup.git
$ cd mediasoup
$ git checkout v3
$ cd worker
$ make

[2019-07-15 17:34] krishisola commented on #321
Hi Inaki,

I'm evaluating Amlogic S905x based boards. These are available as Android TV boxes in the market. Ex: X96 Android TV box. But, I've loaded Armbian Buster (Linux) O/S and working with Mediasoup based solution. Then found the reported error (-m64) while building the nodejs part of my application.

I did test the latest v3 commit and updated my findings in the above post (from prizemprov).

[2019-07-15 17:36] ibc commented on #321
Thanks. Can you please enter the mediasoup/worker/deps/openssl/openssl folder and compile openssl manually via configure, make etc?

And if it works, please paste some lines of the build process to see which gcc command line options are being applied.

[2019-07-15 18:15] krishisola commented on #321
[ms-ssl-make.txt](https://github.com/versatica/mediasoup/files/3393574/ms-ssl-make.txt)

Tried to build openssl and attached the build log. All looks fine except the last line as "Error". Was not sure. Hence attached the entire log.

The output of config is as follows:

[2019-07-15 18:19] ibc commented on #321
Can you tell me the exact configure/make calls you did? Just to test the same here.

[2019-07-15 18:58] ibc commented on #321
I'll ask for something else if you don't mind. May you clone [node.js](https://github.com/nodejs/node) master branch into your device and do the following?

* `cd node`

* Edit [configure.py](https://github.com/nodejs/node/blob/master/configure.py) and apply this patch:

[code]

* `./configure`

In my mac it prints:

[code]

Can you print it? I need to know which arch it's detecting.

[2019-07-16 05:32] krishisola commented on #321
abc@x96:~/node$ ./configure
1 ------------- host_arch_cc(): arm64
2 ------------- host_arch_cc(): arm64
3 ------------- target_arch: arm64
4 ------------- target_arch: arm64

[2019-07-16 07:21] krishisola commented on #321
From the script ../mediasoup/worker/scripts/configure.py
- platform.machine() returns "aarch64" which doesn't have a check in "def host_arch():"
- Hence, the -Dhost_arch='aarch64' and -Dtarget_arch='aarch64'
- This could be resulting in the -m64 error while compiling ssl related files

Is this a possible fix?

With above change, did a clean build of mediasoup/worker. Build is successful.

[2019-07-16 08:14] ibc commented on #321
I've read that, indeed, "aarch64" == "arm64" so looks good. I'll commit to v2 branch and let you know. Thanks!

[2019-07-16 08:38] ibc commented on #321
I've pushed to v3 branch. Can you please try this?

[code]

Please confirm that it works and I'll release 2.6.13 with the fix (and also in v3 branch).

[2019-07-16 08:49] ibc commented on #321
Let's reopen until confirmed by @krishisola

[2019-07-16 10:27] ibc commented on #321
Well, let's assume it's ok. Releases done (v2.6.13 and v3.2.1). If something is wrong please notify here :)

[2019-07-16 10:27] #321 closed, assigned to ibc, jmillan

[2019-07-16 11:27] krishisola commented on #321
Verified v2.6.13. All good.
Thank you for your quick fix.

[2019-07-16 11:34] ibc commented on #321
Great!

[2019-07-16 13:50] ibc commented on #321
And thank you for the fix above :)

[2019-07-16 13:54] jmillan commented on #321
Thanks @krishisola!

[2019-07-16 15:39] ibc commented on #312
I'm doing some tests with `RateCalculator rate{ /*windowSize*/ 2500 };` (instead of the default 1000 value) and it works fine. However I've never been able to reproduce the **problem**. Let me clarify what the problem is:

* Screen sharing with vp8 simulcast (`&handler=Chrome67` is required in the demo app as explained above).
* A viewer tab.
* There is no "RTP inactivity checks" since the demo ap

[2019-07-16 15:56] jmillan commented on #312
And were you able to reproduce the problem it with default window size value (1000ms)?

[2019-07-16 15:57] ibc commented on #312
No. Never. You did. No idea why or how you test it. But never seen that problem here.

[2019-07-16 15:59] jmillan commented on #312
I recall that the problem was fixed by enabling DTX.

[2019-07-16 16:00] ibc commented on #312
no no, you reproduced it after DTX. Sure. DTX just disables the "RTP inactivity check" (that we do not want on screen sharing).

[2019-07-16 19:19] ibc commented on #312
ok, confirmed that this happens with VP8 screen sharing with simulcast when sharing a static Chrome tab. I've added some logs to check how long the lack of RTP takes:

[code]

So this is 1120467128 - 1120466158 = 970, so ~1 second, right?

If so it makes sense that with `windowSize = 1000` it "fails".

[2019-07-16 19:23] ibc commented on #312
And confirmed that it does not happen if `windowSize = 2500`.

@jmillan any other consideration for this change coming to your mind?

[2019-07-16 19:35] jmillan commented on #312
No, apart from the possible minimal CPU increase in `RateCalculator` due to the window size increase. I think we can obviate that.

Would then this value get increased for `SimulcastConsumer` and `SvcConsumer`?

[2019-07-16 19:39] ibc commented on #312
The constructor of `RtpDataCounter` does not even allow passing any value for its internal `RateCalculator` instance and, if so, such a `RateCalculator` instance should be allocated dynamically (pointer).

Anyway, we must be consistent. If we calculate bitrate based on a 2500ms window for one type of consumer the same should apply to any other IMHO.

[2019-07-16 19:41] ibc commented on #312
NOTE: I've been told that other SFUs use a window size of 2 or 3 seconds.

[2019-07-16 21:04] ibc commented on #316
So we'll create a standalone RTP probator to fix this scenario.

[2019-07-16 21:06] ibc commented on #313
Closing issue since we already handle this [libwebrtc bug](https://bugs.chromium.org/p/webrtc/issues/detail?id=10746) in mediasoup by parsing both H264 frame marking and codec payload to detect key frames.

[2019-07-16 21:06] #313 closed, assigned to ibc, jmillan

[2019-07-17 07:44] ibc commented on #312
BTW the only thing I've changed is the this:

[code]

[2019-07-17 08:03] ibc commented on #312
NOTE: We are mixing two different concepts here, that may be spliited into two different APIs (or not):

1. A way to calculate a stream bitrate, which obviously needs a "window" of `X` ms.
2. A way to know whether there have been RTP packets in the latest `Y` ms in a specific stream.

Right now we just use `stream->GetBitrate()` to check both, bitrate and RTP, so both `X` and `Y` are the same. How

[2019-07-17 13:15] jmillan commented on #312
I'm perfectly fine with 2-3 seconds window for the bitrate calculation, definitely

[2019-07-17 13:16] ibc commented on #312
Ok, will commit it then.

[2019-07-17 13:25] #312 closed, assigned to ibc, jmillan

[2019-08-03 09:23] ibc opened #325 "Leak in TcpConnection"
As @mariat-atg is investigating (in v2 but it's mostly the same) it seems to be a leak in `TcpConnection` class:

https://github.com/LivelyVideo/mediasoup/commit/b511177967306cf2d2276899a04a13424637387a

I've created a branch [tcp-connection-leak](https://github.com/versatica/mediasoup/tree/tcp-connection-leak) in v3 by adding global `num_rtc_tcp_connections` and `num_tcp_connections` counters tha

[2019-08-03 09:41] ibc commented on #325
NOTE: I'm adding more debug logs in the branch.

[2019-08-03 10:29] ibc commented on #325
I think I've fixed it in that branch.

[2019-08-03 15:26] ibc commented on #325
So the issue is fixed in mediasoup 3.2.5 and also in mediasoup 2.6.14 in this [commit](https://github.com/versatica/mediasoup/commit/3e98a74c01fa61a41165839839a9472864ffa0a9?ts=2).

@mariat-atg can you take a look at it? I'll close the issue for now.

[2019-08-03 15:26] #325 closed, assigned to ibc, jmillan

[2019-08-05 04:26] mariat-atg commented on #325
Apologies, I was not receiving github updates till now, will pick up the fix in the morning, looks like that's it.

[2019-08-05 05:25] ibc commented on #325
Don't worry, it was Sunday anyway :)

[2019-08-05 13:45] ibc commented on #177
Regarding the frequency of TransportFeedbacks that mediasoup must send to the remote sender:

* In [Bandwidth Estimation in WebRTC (and the new Sender Side BWE)
](http://www.rtcbits.com/2017/01/bandwidth-estimation-in-webrtc-and-new.html):

* In [draft-ietf-rmcat-gcc-02](https://tools.ietf.org/html/draft-ietf-rmcat-gcc-02#section-3):

   protocol as described in
   [I-D.holmer-rmcat-transport-wide

[2019-08-06 11:36] ibc opened #327 "Producer server stats: packetsLost: 4294967283"
Tested in v3demo.mediasoup.org. The spatial layer 2 (medium VP8 simulcast stream) gives this value in Producer's stats:

[code]

...which obviously is wrongly calculated.

I've been able to see it when starting the webcam producer. In less than 2 seconds, the "low" stream reports "packetsLost: 4294967254".

[2019-08-06 11:49] ibc commented on #327
Here in `RtpStreamRecv.cpp` we are never checking whether "expected" values are higher or less than current ones, so basically if a Receiver Report says something crazy we are honoring it:

[code]

[2019-08-06 15:36] mariat-atg commented on #325
Tested overnight in v2, it is doing fine in prod. Thank you for fixing!

[2019-08-06 16:29] ibc commented on #325
Great!

[2019-08-08 21:34] ibc commented on #177
We are not able to make our Transport-CC server side implementation work Chrome Canary full logs with this filter:

[code]

* In Google Meet:

[code]

* In mediasoup localhost:

[code]

[2019-08-08 21:38] ibc commented on #177
SDPs:

* In Google Meet:

<details>
LOCAL OFFER:

[code]

REMOTE ANSWER:

[code]
</details>

* In mediasoup localhost:

<details>
LOCAL OFFER:

[code]

REMOTE OFFER:

[code]
</details>

[2019-08-09 20:50] ibc commented on #177
Ok, we were not adding media ssrc to our feedback packets, so libwebrtc could not match them.

But BWE is extremely low. Some important issue that may be fixed in XX version:

* https://bugs.chromium.org/p/chromium/issues/detail?id=906027

And this is reporte by us:

* https://bugs.chromium.org/p/webrtc/issues/detail?id=10713

[2019-08-09 23:34] ibc commented on #177
OK, finally transport feedback generator fixed [here](https://github.com/versatica/mediasoup/commit/228100b52e8276cc32cf2ebd45f52cc1dfc60808?ts=2#diff-f79196a91fd2a208ad68c56cdcadc225R95)

HABEMUS TRANSPORT-CC SERVER SIDE!

[2019-08-09 23:35] ibc commented on #177
Thanks to @murillo128 and @ggarber for their help!

[2019-08-11 20:10] ibc commented on #327
Fixed in "devel" branch.

[2019-08-11 20:10] #327 closed, assigned to jmillan

[2019-08-13 12:18] ibc commented on #177
Regarding Transport-CC client (this is, mediasoup adding `wide-seq-number` extensions into RTP packets being sent to remote consumers), we must consider whether we should add `wide-seq-number` also in audio packets or not.

In theory this is negotiated at SDP level (in each m= section, which is a pain). And AFAIK old versions of libwebrtc may ignore `wide-seq-number` in audio packets, so it would

[2019-08-13 14:37] ibc commented on #177
Fuzzer reports in `FuzzerFeedbackRtpTransport`:

### Crash 1

[code]

### Crash 2

[code]

[2019-08-13 15:32] ibc commented on #177
Regarding **Crash 1** there is an important bug in the parser:

* `FeedbackRtpTransportPacket::Parse()` receives `len` as argument and does a super basic check with it.
* Then the `FeedbackRtpTransportPacket` constructor is called, which assumes that `len` is the one given by:

[code]

Such a `len` is not a trusted value at all, and hence the crash.

[2019-08-19 16:34] ibc commented on #177
It seems a bug in our Transport-CC packet parser. By enabling transport-wide-cc-01 exten, all TCC feedback packets received from Chrome have negative `referenceTime`. Our parsing:

[code]

In fact, Wireshark does not report the same but `reference time: 12408746 (0xbd57aa)`.

### UPDATE

The value parsed by Wireshark (12408746) is bigger than the maximum positive value in signed 24 bits XDDDD

* m

[2019-08-21 15:27] ibc opened #328 "Add TypeScript definitions"
We want to add TypeScript definitions to mediasoup (v3). Zero experience with TypeScript for now. By reading the docs, it seems that there are different approaches for doing it, for example this one:

[code]

Note that I've added `types/Transport.d.ts`. However `Transport` is an abstract class so I assume it must just define `interfaces` common to all transports and shared members and so on.

**So

[2019-08-22 03:31] micaelgallego commented on #328
Hi @ibc,

I think that it is better to create only one typings file index.d.ts for all the library. As the file only contains declarations (no implementations), it is reasonable. This also avoid any problem with reference between files.

On other side, as you are only defining types, all "classes" and "Dictionaries" will be defined as interfaces. Interfaces in TypeScript are a bit different the in

[2019-08-22 06:23] leaysgur commented on #328
No.

`tsconfig.json` is configuration for TypeScript Compiler(`tsc`).
Since you create typings by hand, nothing to configure.

I'm not sure but [typedoc](https://github.com/TypeStrong/typedoc) may help to generate something from your typings.

If it means you want to check it works correctly or NOT, I agree with @micaelgallego.
Just create another project and reference your typings is the best way

[2019-08-22 11:12] ibc commented on #328
Amazing thanks, guys! This is becoming faster than I can handle right now, so I'll be back to this topic in next days.

[2019-08-22 23:17] micaelgallego commented on #328
I've "completed" [mediasoup.d.ts file](https://github.com/micaelgallego/mediasoup-app/blob/master/customTypings/mediasoup.d.ts) in my repo.

It is very dirty right now. TODOs:
* Documentation is not correctly formatted.
* Lines are more than 80 characters lenght (due to copy and paste documentation for the web).
* Some type definitions can be improved.
* It is needed to port a more "standard" exam

[2019-08-23 08:48] ibc commented on #328
Amazing. Some points:

It may make sense but indeed they just share some members and methods. IMHO better consider them separate entities. Having them inherit from a single interface would be confusing IMHO.

In fact, in C++ we use [RTC::Media::Kind enum](https://github.com/versatica/mediasoup/blob/v3/worker/include/RTC/RtpDictionaries.hpp#L19), so having a `MediaKind` enum in TS would be nice.

T

[2019-08-23 10:57] erencay commented on #328
Hey, new mediasoup user here. I also wanted to have some ts typings. Since mediasoup has a nice documentation I was able to generate some semi-auto typings from docs. I wanted to share my typings file once I was sure it work as expected but I've yet to finish my project, so had no time to test  if they are actually ok.

Regardless, since you guys already working on the issue, i published a repo ht

[2019-08-23 11:20] ibc commented on #328
Thanks, @erencay. Somehow I like having separate TS files for each mediasoup entity, although @micaelgallego said that it's not necessary. Let's discuss!

BTW some points:

* May you use file naming as those that they represent? this is: `PipeTransport.d.ts` instead of `pipe-transport.d.ts`.

* In [https://github.com/erencay/mediasoup-typings/blob/master/mediasoup__3/pipe-transport.d.ts](pipe-tran

[2019-08-23 11:31] micaelgallego commented on #328
@ibc

It's fine.

Ok. But then, I ask you to include it in the official documentation as a "enum". In that way, official documentation is aligned with types found in typings. In any case, as TypeScript is really smart with types, it is not a problem if MediaKind is not "reified", because TS can check that values for "kind" attributes are "audio" or "video". Any other value will raise an error.

I

[2019-08-23 11:35] ibc commented on #328
Super fine with this. I'll add a **TODO** section above in the issue description including this. And will write it into the documentation next week.

Oh, then better use MediaSoup :)

[2019-08-23 11:36] micaelgallego commented on #328
As you will be the main maintainer of the files... let's do as you prefer ;)

The file have more types than only "main one". Maybe this is the reason in first place... but file name is not important at all.

I think because all are part of the same "namespace" in TypeScript... but I'm not sure.

[2019-08-23 11:39] ibc commented on #328
No please, just fight :)

Not sure if I understand. Which "more types" does such a file have? And, if naming is not important then there is no problem in naming it `PipeTransport.d.ts`, right? :)

Aha.

[2019-08-23 11:48] micaelgallego commented on #328
@erencay I've just confirmed that your typings files are not valid TypeScript files using tsc compiler. I've found some errors.

Do you plan to contribute right now to the project? If not, I kindly ask you to let me get your typings to include them in a sample project () and I'll fix them in that project. In that way, I can test at least typings used in the project are correct. When they looks mor

[2019-08-23 12:39] erencay commented on #328
Sure, use them as you like. I published them to help you in the first place and I would be happy if they are useful for you in any way. Also, Indeed those typings needed some provision since they were meant to be for personal usage.

True, if I were to publish those typing for general usage, I might have consider removing enums too. Still, I used enums because docs explicitly mentions them.
https:

[2019-08-24 00:45] micaelgallego commented on #328
I've updated typing files in this new repository: https://github.com/micaelgallego/mediasoup-sample-app

It can be used as an example of mediasoup app in TypeScript.

The server typings file has some pending TODOs at the beginning https://github.com/micaelgallego/mediasoup-sample-app/blob/master/server/customTypings/mediasoup.d.ts

I've put them here:
* Define MediaKind enum ("audio" | "video") if

[2019-08-25 22:11] ibc commented on #328
Hi, [MediaKind](https://mediasoup.org/documentation/v3/mediasoup/rtp-parameters-and-capabilities/#MediaKind) enum has been added to the documentation and now it's used (instead of "string") in mediasoup and mediasoup-client in every API that includes `kind`.

[2019-08-25 22:25] ibc commented on #328
It seems it getting really complete, great :)

Just a few things (I can do it when done):

* Can it use tabs instead of spaces?
* Can it uses the same syntax than mediasoup JS files? This is: `{` in new line and comments with just `// Description`.

Done in the docs :)

Good question. Can it be done or is it problematic?

What is the problem? can they just be defined as "interfaces" as usual?

Is

[2019-08-26 07:59] erencay commented on #328
Before, I was managing mediasoup related objects' meta-data in a separate struct but then switched to using `appData` instead and I found type-safe `appData` most useful since they helped me a lot during implementation/refactoring. I think one more likely need generics if they want to use `appData` extensively. Though, right now I'm using them in a stricter manner;

[code]

[2019-08-26 14:47] micaelgallego commented on #328
Hi all,

Please find below my comments.

You are welcome.

I'll try to find a formatter to do it.

I'll add it.

It can be done, but I don't know if it is a good idea to let mediasoup users to have methods to send events or they will be more "noise". I suppose it is better to add it for "completeness"

The definition is embedded into parameter list. It is needed to check how TypeDoc generates docu

[2019-08-26 14:56] ibc commented on #328
Users may just be interested in common EventEmitter methods such as `on()`, `once()`, etc, but no idea how to just set those.

Honestly I do not plan to rebuild the API documentation of the website. I may add a "Search" text input, but other than that it would be too hard to rewrite the entire documentation and rely on TypeDoc or any other autogenerator.

Oh, which one?

[2019-08-27 00:34] micaelgallego commented on #328
I've implemented some things mentioned in previous comments in mediasoup.d.ts:
* EventEmitter inherintance where applies
* New MediaKind enum
* Add new `inactive` enum constant in `direction` property
* Add type safety to appData in every place is used. Type definition is a bit complex:

Consumer interface:
```export interface Consumer<AppDataT extends Record<any,any> = Record<any,any>> extends Ev

[2019-08-27 12:26] ibc commented on #328
I can help on this. BTW: can the types file be linted with current eslint? I assume it's not possible, but had to try :)

At your convenience.

[2019-09-06 17:40] j1elo opened #330 "PlainRtpTransport has undefined tuple.localIP"
## Bug Report

### Your environment

- Operating system: Ubuntu 16.04 "Xenial"
- Node version: 8.16.1
- npm version: 6.11.2
- gcc/clang version: 9.1.0
- mediasoup version: 3.2.5
- mediasoup-client version: 3.2.4

### Issue description

When a PlainRtpTransport is created, its `transport.tuple.localIP` is `undefined`:

[code]

This also happens with the `String` version of the `listenIp` argument:

[2019-09-06 17:45] ibc commented on #330
The doc is (was) wrong. Fixed now. It's `tuple.localIp` and not `tuple.localIP`.

Thanks for reporting :)

[2019-09-06 17:45] #330 closed, assigned to nobody

[2019-09-06 17:53] j1elo commented on #330
That's the same :) I'll wait for the updated docs and see what you meant.
Thanks!

EDIT - Now I see it!! `/IP/Ip/g`

[2019-09-06 18:02] ibc commented on #330
The doc is already fixed and deployed. It said `listenIP` instead of `listenIp`:

https://github.com/versatica/mediasoup-website/commit/84febb8bffef73eefb07bad6218eae2ecf6b3a3d

1. Do you mean that `tuple.listenIp` is also `undefined`?
1. If so, please try by not passing `announcedIp: null` and check `tuple.listenIp` (so this would be indeed a bug).

[2019-09-06 18:02] ibc commented on #330
ah ok, so clear now :)

[2019-09-10 15:40] ibc commented on #177
Regarding sender side Transport-CC, we are working on a separate and private branch. It will be moved here to GitHub in the next weeks.

[2019-09-10 15:41] ibc commented on #316
This will be fixed once Transport-CC sender side is included (#177).

[2019-09-10 15:41] #316 closed, assigned to ibc, jmillan

[2019-09-25 11:04] ibc commented on #177
Note for the future:

* [NADA](https://tools.ietf.org/html/draft-ietf-rmcat-nada-13): It defines an algorithm to estimate available bandwidth and so on.
* [Comparison between NADA and GCC](https://c3lab.poliba.it/images/3/39/Med-conf-gcc.pdf) (another [link](https://github.com/versatica/mediasoup/files/3652451/Med-conf-gcc.pdf)).

[2019-09-30 09:36] ibc opened #331 "ICE restart fails for recvTransport using TCP"
### Scenario

* Using mediasoup-demo app.
* Using Chrome M76 with `Chrome70` handler in mediasoup-client v3.
* `&force=true&produce=false` in the second tab to just receive media and do it over TCP.
* Press "Restart ICE" button.
* The remote video freezes.

From the point of view of chrome://webrtc-internals and mediasoup everything is good:

* ICE disconnects and reconnects.
* ICE tag logs clearl

[2019-09-30 09:59] ibc commented on #331
It happens that, after ICE restart over TCP, `SimulcastConsumer::SendRtpPacket()` gets `IsActive() === false`. That's the problem. Let's see why.

`consumer->TransportDisconnected()` is called after ICE restart, however `consumer->TransportConnected()` is not later called. Umm...

[2019-09-30 10:31] ibc commented on #331
This is fixed in the incoming "devel" branch that will be soon merged into v3.

[2019-10-07 09:17] ibc opened #333 "Crash due to usage of TcpConnection after deallocated"
- Operating system: Linux (not seen yet in OSX)
- mediasoup version: 3.x.x

As described [here](https://mediasoup.discourse.group/t/error-worker-worker-process-died-unexpectedly/268) there is something wrong in the TCP stack of mediasoup v3. Sometimes it crashes because a deallocated `TcpConnection` is used to send data.

**UPDATE:** No longer related to just TCP.

[2019-10-07 20:51] ibc commented on #177
Wow, this is almost working in "devel" branch!

[2019-10-11 08:50] funnywwh commented on #82
Is it solved?